{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}16.2M{% endblock %}
{% block methodology_stat_2 %}244 TB{% endblock %}
{% block total_websites %}16 मिलियन से अधिक{% endblock %}
{% block dataset %}जुलाई 2025{% endblock %}
{% block almanacMonthDigit %}07{% endblock %}

{% block foreword %}
{#
<div>
  <p>
    TODO
  </p>

  <p>
    <em>
      —<a href="{{ url_for('contributors', year=year, lang=lang, _anchor='nrllh') }}">Nurullah Demir</a>, 2025 Web Almanac General Chair<br>
    </em>
  </p>
</div>
#}
{% endblock %}
