{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}16.2M{% endblock %}
{% block methodology_stat_2 %}244 TB{% endblock %}
{% block total_websites %}約1620万の{% endblock %}
{% block dataset %}2025年7{% endblock %}
{% block almanacMonthDigit %}07{% endblock %}

{% block foreword %}
<div>
  <p>
    ウェブは今日、私たちの現代デジタルインフラに不可欠な存在となっています。ウェブアプリケーションは、モバイルアプリから衛星通信で使われるエンドポイントまで、日常生活に関わるあらゆる技術環境で見られるようになりました。Web Almanacでは、ウェブのトレンドと進化を理解することを目指しています。ウェブを愛する者として、ウェブに関する主要な技術レポートの1つである2025 Web Almanacの第6版をお届けできることを嬉しく思います。
  </p>
  <p>
    Web Almanacはオープンソースプロジェクトであり、世界中の専門家（研究者、開発者、コンサルタント、編集者）によって貢献されています。今回もコミュニティの素晴らしい貢献を体験できた、素晴らしい版となりました。このレポートを可能にしたのは、コミュニティの皆さんの積極的な関与があってこそです。
  </p>
  <p>
    このコミュニティ主導のプロジェクトは1720万のウェブサイトを分析し、HTTP Archiveが提供する244TBのオープンソースデータを処理しています。本レポートでは、アクセシビリティ、パフォーマンス、セキュリティなどさまざまな側面を分析し、ウェブがどのように進化しているかを理解し、構造的・技術的・社会的な発展に関する洞察を深めます。
  </p>
  <p>
    このレポートがコミュニティのウェブの現状理解に役立つことを願っており、この広範な成果をぜひ探求していただければと思います。
  </p>
  <p>
    <em>
      —<a href="{{ url_for('contributors', year=year, lang=lang, _anchor='nrllh') }}">Nurullah Demir</a>, 2025 Web Almanac 編集長<br>
    </em>
  </p>
</div>
{% endblock %}
