{% extends "base/2019/table_of_contents.html" %}

{% block title %}Table des matières | Web Almanac 2020{% endblock %}

{% block description %}Table des matières du Web Almanac 2020, listant chaque section : Contenu des pages, Expérience utilisateur, Publication du contenu, Diffusion du contenu.{% endblock %}

{% block twitter_image_alt %}Méthodologie du Web Almanac {{ year }}{% endblock %}

{% block date_published %}2020-10-24T00:00:00.000Z{% endblock %}
{% block date_modified %}2020-11-03T00:00:00.000Z{% endblock %}
