version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
  - package-ecosystem: "npm"
    directory: "/src/"
    schedule:
      interval: "daily"
  - package-ecosystem: "pip"
    directory: "/src/"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
