{% extends "base/base_ebook.html" %}

{% block title %}El Web Almanac {{ year }} por HTTP Archive{% endblock %}

{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive, reporte anual sobre el <b>estado de la web</b>{% endblock %}

{% block about_title %}Acerca del Web Almanac{% endblock %}

{% block description %}Versión ebook del Web Almanac {{ year }}{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %}El Web Almanac {{ year }}{% endblock %}
