{% extends "base/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | {{ year }} | Web Almanac por HTTP Archive{% endblock %}

{% block description %}{{ metadata.get('description','Capítulo' + metadata.get('title') + ' del Web Almanac '+ year + " explorando el uso de " + metadata.get('description',metadata.get('title')) + ' en la web.') }}{% endblock %}

{% block twitter_image_alt %}Imagen del Capítulo {{ metadata.get('title') }} del Web Almanac {{ year }}{% endblock %}

{% block unedited %}[no corregido]{% endblock %}

{% block prev_next_title %}Navegación a capítulos anteriores y siguientes.{% endblock %}

{% block explore_the_results %}Explore los resultados{% endblock %}
{% block discuss_this_chapter %}Comenta este capítulo{% endblock %}
{% block comment %}comentar{% endblock %}
{% block comments %}comentarios{% endblock %}
{% block comments_fallback %}Comentarios{% endblock %}
{% block queries %}Ver consultas{% endblock %}
{% block results %}Ver resultados{% endblock %}
{% block figure_sql %}Ver consulta{% endblock %}
{% block figure_data %}Ver datos{% endblock %}
{% block figure_image %}Ver imagen{% endblock %}

{% block previous %}Capítulo anterior (presione 'p' o ','){% endblock %}
{% block next %}Capítulo siguiente (presione 'n' or '.'){% endblock %}
