{% extends "base/error.html" %}

{% block unknown_error %}Error desconocido{% endblock %}

{% 
  set localizedStatusCode = {
    400: "Solicitud incorrecta",
    404: "Página no encontrada",
    500: "Error de servidor interno",
    502: "Error temporal del servidor"
  }
%}
{% macro expandedTitle(errorTitle) %}Error: {{ errorTitle }}{% endmacro %}
{%
  set localizedErrorMessage = {
    "Unsupported year requested": "Solicitud de año no admitida",
    "Unsupported chapter requested": "Solicitud de capítulo no admitida",
    "Unsupported language requested": "Solicitud de idioma no admitida",
    "Not Found": "La URL solicitada no se encontró en el servidor. Si ingresó la URL manualmente, verifique su ortografía e intente nuevamente."
  }
%}
{% macro expandedErrorMessage(errorCode, errorDescription, errorMessage) %}
{{ errorCode }} <i lang="es">{{ errorDescription }}</i>: {{ errorMessage }}
{% endmacro %}
