{% extends "%s/2019/base.html" % lang %}

{% block featured_chapter%}2019 Web Almanac章节精选{% endblock %}
{% macro read_chapter(chapter) %}阅读 2019 <span class="featured-chapter-name">{{ chapter }}</span> 章节{% endmacro %}

{% block methodology_stat_1 %}7.5M{% endblock %}
{% block methodology_stat_2 %}31.3 TB{% endblock %}
{% block methodology_description %}
除非另有说明，在所有22章的Web Almanac网络年鉴的指标都来自HTTP Archive数据集。HTTP Archive是一个社区运行的项目，自2010年以来一直在跟踪web是如何构建的。使用WebPageTest和Lighthouse，每月测试超过750万个网站的元数据，并将其包含在一个公开的BigQuery数据库中进行分析。Web Almanac 网络年鉴使用了2020年8月的数据集作为度量的基础。有关更多信息，请参见方法论页面。
{% endblock %}

{% block foreword %}
{% endblock %}
