{% extends "base/index.html" %}

{% block title %}{{ year }} Web Almanac网络年鉴{% endblock %}
{% block description %}Web Almanac 网络年鉴是结合了网络社区的专业知识和HTTP Archive的数据和趋势的网络年度报告{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac网络年鉴{% endblock %}


{% block intro_title %}{{ self.coming_soon() }}{% endblock %}
{% block intro_sub_title %}{{ year }} <b>网络状态</b> 报告{% endblock %}

{% block mission %}
<p>
  来自网络社区的专家们目前正在努力地为{{ year }}版本的 Web Almanac 网络年鉴规划、分析和编写内容，预计将在今年年底发布。
</p>
{% endblock %}
