{% extends "%s/%s/base.html" % (lang, year) %}

{% block title %}{{ localizedStatusCode[error.code] if localizedStatusCode[error.code]|length else self.unknown_error() }}{% endblock %}

{% block styles %}
{{ super() }}
<style nonce="{{ csp_nonce() }}">
.main a.btn, .main a.btn:visited {
  color: #fff;
}
.main a.btn:hover, .main a.btn:focus, .main a.alt.btn {
  color: #1A2B49;
}
.main {
  position: relative;
  padding-bottom: 200px;
}
.error-message {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  font-style: italic;
}
.escape-hatch {
  margin: 50px 0;
}
.methodology-characters {
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 650px;
  max-width: 100%;
  height: auto;
}
</style>
{% endblock %}

{% block main %}
  <main class="main">
    <h1>
      {{ expandedTitle(self.title()) }}
    </h1>
    {% block custom %}
      <p class="error-message">
      {% if error.description|length %}
        {{ expandedErrorMessage(error.code, HTTP_STATUS_CODES[error.code], localizedErrorMessage[error.description] if localizedErrorMessage[error.description]|length else error.Description) }}
      {% else %}
        {{ error }}
      {% endif %}
      </p>
    {% endblock %}
    <div class="escape-hatch">
      <a href="{{ url_for('home', lang=lang, year=year) }}" class="btn">{{ self.home() }}</a>
    </div>
    <img class="methodology-characters" src="/static/images/methodology-characters.png" alt="" />
  </main>
  <script nonce="{{ csp_nonce() }}">
    gtag('event', '{{ HTTP_STATUS_CODES[error.code] }}', { 'event_category': 'error', 'event_label': '{{ request.path }}', 'value': 1 });
  </script>
{% endblock %}
