{% extends "base/base_ebook.html" %}

{% block title %} {{ year }} Web Almanac 精粹自 HTTP Archive{% endblock %}

{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive 的年度<br><b>網路狀態</b> 報告{% endblock %}

{% block about_title %}關於 Web Almanac{% endblock %}

{% block description %}電子書版 {{ year }} Web Almanac{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %} {{ year }} Web Almanac{% endblock %}
