{% extends "%s/2019/base.html" % lang %}

{% block featured_chapter %}Capítulo Destacadobr <br/>del Web Almanac 2019{% endblock %}
{% macro read_chapter(chapter) %}Lea el Capítulo: <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}

{% block methodology_stat_1 %}7.5M{% endblock %}
{% block methodology_stat_2 %}31.3 TB{% endblock %}
{% block methodology_description %}
A menos que se indique lo contrario, las métricas en los 22 capítulos del Web Almanac provienen del conjunto de datos del HTTP Archive. HTTP Archive es un proyecto administrado por la comunidad que ha estado rastreando cómo se construye la web desde 2010. Utilizando WebPageTest y Lighthouse bajo el capó, se prueban metadatos de más de 7.5 millones de sitios web mensualmente y se incluyen en una base de datos pública de BigQuery para su análisis. El conjunto de datos de Agosto de 2020 se utilizó como base para las métricas de Web Almanac. Para obtener más información, consulte la página de Metodología.
{% endblock %}

{% block foreword %}
{% endblock %}

{% set localizedContributors = {
  }
%}
  
  
