{% extends "base/index.html" %}

{% block title %}Web Almanac {{ year }}{% endblock %}
{% block description %}Web Almanac es un informe anual del estado la Web que combina la experiencia de la comunidad con los datos y tendencias del HTTP Archive.{% endblock %}

{% block twitter_image_alt %}Web Almanac {{ year }}{% endblock %}

{% block intro_title %}{{ self.coming_soon() }}{% endblock %}
{% block intro_sub_title %}El informe del <b>estado de la Web</b> de {{ year }}{% endblock %}

{% block mission %}
<p>
  Expertos de la comunidad web están trabajando duro ahora mismo, preparando, analizando y escribiendo contenido para la edición del Web Almanac de {{ year }}, cuya publicación está prevista pra finales de año.
</p>
{% endblock %}
