{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}16.9M{% endblock %}
{% block methodology_stat_2 %}83 TB{% endblock %}
{% block total_websites %}約840万の{% endblock %}
{% block dataset %}2024年6{% endblock %}

{% block foreword %}
{# TODO - translate #}<div lang="en">
  <p>
    この2年間で、世界では多くのことが変化したように感じられます。地域紛争の増加や、それが世界にもたらす広範な緊張など好ましくない変化もありますが、COVID-19パンデミックがほぼ収束し、持続可能なエネルギー発電が大きく成長するなど前向きな変化もありました。
  </p>

  <p>
    しかし、地球のほぼ隅々で、ウェブが何らかの形で生活の質に貢献している可能性は高いでしょう。この数年でウェブはより良くなったのでしょうか？その健全性を、私たちはどう考えればよいのでしょうか？
  </p>

  <p>
    2024 Web Almanacは、その問いに答えるためのデータを提供するためにあります。2023年の中断を経て、今年は情熱的な研究者のチームがデータを用いて現代のウェブの重要な側面を調査するために名乗りを上げました。多くの技術がそうであるように、ウェブも時とともに複雑さを増しており、Web Almanacは、今年新たに追加されたCookiesの章を含め、私たちが物事を理解するのを助けてくれます。
  </p>

  <p>
    今年は、Web Almanacが学術会議の組織モデルから着想を得て、よりコミュニティ主導のプロジェクトへと進化する重要な一歩となります。これまで献身的なHTTP Archiveチームによって維持されてきましたが、2024年のAlmanacでは、より広範な協力と包括性を育むために正式な組織委員会が導入されます。General Chair、Program Committee Chair、Event Chairといった主要な役割が、責任を合理化し多様な貢献者からの参加を促すために設置されました。この分散型のリーダーシップ構造は、Web Almanacをよりコミュニティ主導にするよう設計されており、ひいては、より幅広い声や視点を招き入れることで持続可能性を高め、Web Almanacをウェブコミュニティにとってより協力的なリソースにすることを目指しています。このコミュニティ主導モデルへの移行が、Web Almanacの基盤を強化し将来の多くの版につながることを願っています。
  </p>

  <p>
    若い博士課程の研究者から世界中のシニアエキスパートに至るまで、コミュニティの意欲と一体感を体験できたのは素晴らしいことでした。私たちは、各貢献者に心から感謝します。このオープンソースプロジェクトを可能にしているのは、彼らの多大な努力の賜物です。
  </p>

  <p>
    繁栄のエンジンとして、ウェブの何がうまく機能し、どこにさらなる支援が必要なのかを理解することは重要です。私たちは、2024 Web Almanacの詳細を探求し、議論し、共有することを推奨します。そうすることで、私たち全員にとってより良いものになるからです。これは、私たち全員に関わることなのです。
  </p>

  <p>
    <em>
      —<a href="{{ url_for('contributors', year=year, lang=lang, _anchor='nrllh') }}">Nurullah Demir</a>, 2024 Web Almanac General Co-Chair<br>
      —<a href="{{ url_for('contributors', year=year, lang=lang, _anchor='cqueern') }}">Caleb Queern</a>, 2024 Web Almanac General Co-Chair
    </em>
  </p>
</div>
{% endblock %}
