{% extends "%s/2019/base.html" % lang %}

{% block methodology_stat_1 %}7.5M{% endblock %}
{% block methodology_stat_2 %}31.3 TB{% endblock %}
{% block methodology_description %}
特に断りのない限り、Web Almanacの22章すべてのメトリクスは、HTTP Archiveのデータセットから取得しています。HTTP Archiveは、2010年以来、ウェブの構築方法を追跡してきたコミュニティが運営するプロジェクトです。WebPageTestとLighthouseをアンダーグラウンドに使用して、約750万のWebサイトに関するメタデータが毎月テストされ、分析のために公開されているBigQueryデータベースに含まれています。2020年8月のデータセットは、Web Almanacのメトリクスの基礎として使用されました。詳細については、方法論のページを参照してください。
{% endblock %}

{% block foreword %}
{% endblock %}
