{% extends "/2019/index.html" %}

{% block title %}Web Almanac за {{ year }} год{% endblock %}
{% block description %}Web Almanac — это ежегодный отчёт о состоянии веба на основе данных и тенденций, собранных HTTP Archive и с учётом мнения сообщества.{% endblock %}

{% block twitter_image_alt %}Web Almanac за {{ year }} год{% endblock %}

{% block intro_title %}{{ self.coming_soon() }}{% endblock %}
{% block intro_sub_title %}Ежегодный отчёт<br>HTTP Archive<br>о <b>состоянии веба</b>{% endblock %}

{% block mission %}
<p>
  Сейчас эксперты со всего веб-сообщества напряженно работают над планированием, анализом и написанием контента для отчёта Web Almanac {{ year }}, который будет опубликован в конце года.
</p>
{% endblock %}
