{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}5.8M{% endblock %}
{% block methodology_stat_2 %}20.9 TB{% endblock %}
{% block total_websites %}लगभग 6 मिलियन{% endblock %}
{% block dataset %}जुलाई 2019{% endblock %}

{% block foreword %}
<div>
  <p>
    खुला वेब प्रौद्योगिकियों का एक अद्भुत जटिल, विकसित नेटवर्क है। संपूर्ण उद्योग और करियर वेब पर निर्मित होते हैं और सफल होने के लिए इसके जीवंत पारिस्थितिकी तंत्र पर निर्भर करते हैं। वेब जितना महत्वपूर्ण है, यह समझना कि यह कैसे काम कर  रहा है, आश्चर्यजनक रूप से मायावी है। 2010 से, HTTP Archive परियोजना का मिशन इस पर नजर रखना है कि वेब कैसे बनाया गया है, और यह इस पर अद्भुत काम कर रहा है। हालांकि, एक अंतराल रहा है जो विशेष रूप से बंद करने के लिए चुनौतीपूर्ण रहा है: उस डेटा को अर्थ में लाना जो HTTP Archive परियोजना एकत्रित कर रही है और समुदाय को आसानी से समझने में सक्षम कर रही है कि वेब कैसा प्रदर्शन कर रहा है। और यहीं से Web Almanac की उत्पत्ति होती है।
  </p>

  <p>
    Web Almanac का मिशन इनसाइट्स के खजाने को निकलना,और इसे इस तरह से पैकेज करना है जो समझने में आसान हो, जो अन्यथा केवल डेटा विशेषज्ञों की पहुंच तक ही  सीमित था। यह विशेषज्ञों की मदद से संभव बनाया गया है जो डेटा को समझ सकते हैं और हमें बता सकते हैं कि इसका क्या मतलब है। Web Almanac में 20 अध्यायों में से प्रत्येक वेब के एक विशिष्ट पहलू पर केंद्रित है, और प्रत्येक को अपने क्षेत्र के विशेषज्ञों द्वारा लेखक और सहकर्मी की समीक्षा की गई है। Web Almanac को ताकत इसे लिखने वाले लोगों की विशेषज्ञता से प्राप्त होती है।
  </p>

  <p>
    Web Almanac के कई निष्कर्ष उत्सव के योग्य हैं, लेकिन यह उच्च गुणवत्ता वाले यूजर एक्सपीरियंस को वितरित करने के लिए आवश्यक कार्य की एक महत्वपूर्ण अनुस्मारक भी है। प्रत्येक अध्याय में डेटा-संचालित विश्लेषण एक बेहतर वेब विकसित करने के लिए हम सभी की जवाबदेही का एक रूप है। यह उन लोगों को शर्मसार करने के बारे में नहीं है जो इसे गलत कर रहे हैं, बल्कि सर्वोत्तम प्रथाओं के मार्ग पर एक मार्गदर्शक प्रकाश डालने के बारे में है ताकि हमारे पास चीजों को करने का एक स्पष्ट और सही तरीका हो। वेब समुदाय की निरंतर मदद से, हम इसे एक वार्षिक परंपरा बनाने की उम्मीद करते हैं, इसलिए प्रत्येक वर्ष हम अपनी प्रगति को ट्रैक कर सकते हैं और आवश्यकतानुसार सुधार कर सकते हैं।
  </p>

  <p>
    इस रिपोर्ट में सीखने के लिए बहुत कुछ है, इसलिए समुदाय के साथ अपने परिणामों और खोजों को साझा करना शुरू करें ताकि हम सामूहिक रूप से वेब की स्थिति के बारे में अपनी समझ को आगे बढ़ा सकें।
  </p>

  <p>— <em><a href="{{ url_for('contributors', year=year, lang=lang, _anchor='rviscomi') }}">Rick Viscomi</a>, Web Almanac के निर्माता</em></p>
</div>
{% endblock %}
