{% extends "base/2019/index.html" %}

{% block title %}{{ year }} Web Almanac{% endblock %}
{% block description %}Web Almanac वेब रिपोर्ट की एक वार्षिक स्थिति है जो वेब समुदाय की विशेषज्ञता को HTTP संग्रह के डेटा और रुझानों के साथ जोड़ती है।{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}

{% block date_published %}2019-11-04T12:00:00.000Z{% endblock %}
{% block date_modified %}2020-06-21T00:00:00.000Z{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive के वार्षिक<br> <b>वेब की स्थिति</b> की रिपोर्ट{% endblock %}
