{% extends "base/2019/base_ebook.html" %}

{% block title %}The {{ year }} Web Almanac by HTTP Archive{% endblock %}


{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive's annual<br><b>state of the web</b> report{% endblock %}

{% block about_title %}About The Web Almanac{% endblock %}

{% block description %}Ebook version of the {{ year }} Web Almanac{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %}The {{ year }} Web Almanac{% endblock %}
