{% extends "en/2019/base.html" %}

{% block title %}
{{ metadata.get('title') }} | 2019 | The Web Almanac by HTTP Archive
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/page.css">
<style>
img,
table,
figure {
  max-width: 100%;
}
figure img {
  border-radius: 8px;
  border: 1px solid #E5E5E5;
}
figure {
  overflow-x: scroll;
}
</style>
{% endblock %}

{% macro render_byline() %}
  <div id="byline">By
  {% for author in metadata.get('authors') %}
    {{ config.contributors[author].name if author in config.contributors else author }}
  {% endfor %}
{% endmacro %}
