{% extends "base/2019/base_ebook.html" %}

{% block title %}Ebook | 2019 | The Web Almanac by HTTP Archive{% endblock %}

{% block date_published %}2020-05-10T12:00:00.000Z{% endblock %}
{% block date_modified %}2020-05-10T00:00:00.000Z{% endblock %}

{% block intro_title %}The Web Almanac 2019{% endblock %}
{% block intro_sub_title %}HTTP Archive's annual state of the web report{% endblock %}

{% block description %}Ebook version of the 2019 Web Almanac{% endblock %}

{% block twitter_image_alt %}The {{ year }} Web Almanac{% endblock %}

{% block breadcrumb_name_2 %}The Web Almanac {{ year }} EBook{% endblock %}
