{# IMPORTANT!

- `chapter.html` is a "template for templates" used by the `generate_chapters.js` script, hence the strange template syntax (eg, mixing ejs and jinja syntax)
- if you want to modify `chapter.html`, you must also:
  - translate the corresponding language-specific templates (eg `src/templates/<lang>/<year>/chapter.html`)
  - run the generation script to update each chapter template
- if you want to modify the chapter templates (eg `src/templates/<lang>/<year>/chapters/<chapter>.html`):
  - make changes to the markdown content directly (`src/content/<lang>/<year>/<chapter>.md`) because any changes to the chapter templates will be overwritten by the generation script
#}
  
{% extends "en/2019/base_chapter.html" %}

{% set metadata = <%- JSON.stringify(metadata) %> %}

{% block main %}
<article id="chapter" class="main">
    <nav class="index">
        <div class="index-box floating-card">
            <h2 class="header">Index</h2>
            <h2 class="header-mobile">Index</h2>
            <%- include('toc.html', { headings: toc }) %>
        </div>
    </nav>
        
    <section class="content">
        <section class="body">
            <h1><div class="decorative-line"></div>{{ metadata.get('title') }}<div class="decorative-line-mobile"></div></h1>
            <img src="/static/images/2019/{{ get_chapter_image_dir(metadata) }}/hero_lg.jpg" class="content-banner">
            <%- body %>
        </section>
        <section class="authors">
            <h4>Authors :</h4>
            <ul>
                <li>
                    <img class="avatar" alt="Author name" src="https://www.gravatar.com/avatar/cf58fcc6995e15f35e42532c3775fed6.jpg?d=mp&s=200">
                    <div class="info">
                        <span class="name">Full Name</span>                        
                        <span class="social">
                            <a class="twitter" href="https://twitter.com/rick_viscomi">
                                <img src="/static/images/twitter.png" alt="Twitter account">
                            </a>
                        
                            <a class="github" href="https://github.com/rviscomi">
                                <img src="/static/images/github.png" alt="github account">
                            </a>
                        </span>
                    
                        <div class="tagline">
                            Tagline of contributor here
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <nav id="chapter-navigation">
            <a id="previous-chapter" href="#replace-with-url-to-chapter">
                <span class="arrow">&#8963;</span>
                <span class="chapter-no">
                    Chapter X
                </span>
                <span class="chapter-title">
                    Chapter title
                </span>
            </a>
    
            <a id="next-chapter" href="#replace-with-url-to-chapter">
                <span class="arrow">&#8963;</span>
                <span class="chapter-no">
                    Chapter X
                </span>
                <span class="chapter-title">
                    Chapter title
                </span>
            </a>
        </nav>
    </section>
</article>

{% endblock %}



  
