{% extends "en/2019/base_chapter.html" %}

<!--{# IMPORTANT!

- `chapter.html` is a "template for templates" used by the `generate_chapters.js` script, hence the strange template syntax (eg, mixing ejs and jinja syntax)
- if you want to modify `chapter.html`, you must also:
  - translate the corresponding language-specific templates (eg `src/templates/<lang>/<year>/chapter.html`)
  - run the generation script to update each chapter template
- if you want to modify the chapter templates (eg `src/templates/<lang>/<year>/chapters/<chapter>.html`):
  - make changes to the markdown content directly (`src/content/<lang>/<year>/<chapter>.md`) because any changes to the chapter templates will be overwritten by the generation script
#}-->

{% set metadata = <%- JSON.stringify(metadata) %> %}

{% block main %}
<article id="chapter" class="main">
    <nav class="index">
        <div class="index-box floating-card">
            <h2 class="header">Index</h2>
            <%- include('toc.html', { headings: toc }) %>
        </div>
    </nav>

    <section class="content">
        <section class="body">
            <h1 class="title">
                <div class="subtitle">Part {{ metadata.get('part_number') }} Chapter {{ metadata.get('chapter_number') }}</div>
                {{ metadata.get('title') }}
            </h1>
            <img src="/static/images/2019/{{ get_chapter_image_dir(metadata) }}/hero_lg.jpg" class="content-banner">
            {{ render_byline() }}
            <%- body %>
        </section>
        <section class="authors">
            <h4>Authors</h4>
            {{ render_authors() }}
        </section>

        <nav id="chapter-navigation">
            {{ render_prevnext() }}
        </nav>
    </section>
</article>

{% endblock %}




