{% extends "en/2019/base.html" %}

{% block title %}
2019 Contributors | The Web Almanac by HTTP Archive
{% endblock %}

{% block styles %}
{{ super() }}
<style>
.contributors {
  margin: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  margin-bottom: 30px;
}

.filter-container button {
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.2;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px;
  padding: 8px 16px;
  border: none;
  -webkit-font-smoothing: antialiased;
}

.contributor-grid {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contributor-grid:not([data-rendered='true']) .contributor {
  transform: translateY(30px);
  opacity: 0;
  will-change: opacity;
}

.contributor-grid[data-rendered='true'] .contributor {
  animation-name: fade-in;
  animation-duration: 750ms;
}
.contributor-grid[data-rendered='true'] .contributor:nth-of-type(0) {
  animation-duration: 250ms;
}
.contributor-grid[data-rendered='true'] .contributor:nth-of-type(1) {
  animation-duration: 350ms;
}
.contributor-grid[data-rendered='true'] .contributor:nth-of-type(2) {
  animation-duration: 450ms;
}
.contributor-grid[data-rendered='true'] .contributor:nth-of-type(3) {
  animation-duration: 600ms;
}

.contributor {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 16px 0 rgba(78, 85, 100, 0.2);
  padding: 24px 34px;
  width: 250px;
  margin: 15px;
}

.contributor-avatar {
  border-radius: 50px;
  background-color: #f7f779;
  margin-bottom: 10px;
  width: 100px;
  height: auto;
}

.contributor-name {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 10px;
}

.contributor-social {
  margin-bottom: 10px;
}

.contributor-social img {
  height: auto;
  width: 18px;
  margin: 0 6px;
}

.contributor-teams {
  text-align: center;
}

.contributor-team {
  font-size: 14px;
  color: #868686;
}
.contributor-team::after {
  content: ', ';
}
.contributor-team:last-child::after {
  content: '';
}

{% for id in config.teams.keys() %}
.contributors.{{ id }} .contributor.{{ id }} {
  display: flex;
}

.contributors.{{ id }} button.{{ id }} {
  background: #f7f779;
  color: #333;
}

@media (max-width: 600px) {
  .contributor {
    margin: 16px 8px;
    padding: 16px 8px;
    width: 140px;
  }

  .contributor-avatar {
    width: 60px;
    height: auto;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    }
}

{% endfor %}
</style>
{% endblock %}

{% block main %}
<section class="main">
  <h1>
    <span id="filtered-contributors">{{ config.contributors.items() | length }}</span>
    Contributors
  </h1>
  <div class="contributors {{ ' '.join(config.teams.keys()) }}">
    <div class="filter-container">
      <p>Filter by team</p>
    {% for id, team in config.teams.items() %}
      <button class="{{ id }}">{{ team.name }}</button>
    {% endfor %}
    </div>

    <div class="contributor-grid">
    {% for id, contributor in config.contributors.items() %}
      <div class="contributor {{ ' '.join(contributor.teams) }}">
        <img class="contributor-avatar" src="{% if contributor.avatar %}{{contributor.avatar}}&s=200{% else %}data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=
{% endif %}" height="100" width="100" alt="{{ contributor.name }} avatar">
        <div class="contributor-name">{{ contributor.name }}</div>
        {% if contributor.twitter or contributor.github %}
        <div class="contributor-social">
          {% if contributor.github %}
          <a href="https://github.com/{{ contributor.github }}" target="_blank"><img src="/static/images/github.png" alt="{{ contributor.github }}@ on GitHub"></a>
          {% endif %}
          {% if contributor.blog %}
          <a href="{{ contributor.blog }}" target="_blank"><img src="/static/images/blog.png" alt="{{ contributor.name }} website"></a>
          {% endif %}
        </div>
        {% endif %}
        <div class="contributor-teams">
          {% for id in contributor.teams | sort() %}
            <span class="contributor-team team-{{ id }}">{{ config.teams[id].name }}</span>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script nonce="{{ csp_nonce() }}">
var teams = ['{{ "','".join(config.teams.keys()) | safe }}'];
var buttons = document.querySelectorAll('.filter-container button');
var contributors = document.querySelector('.contributors');
var contributorsGrid = document.querySelector('.contributor-grid');
var counter = document.querySelector('#filtered-contributors');

contributorsGrid.setAttribute('data-rendered', true);

function getFilteredContributorCount() {
  return Array.from(document.querySelectorAll('.contributor')).filter(function(el) {
    return getComputedStyle(el).display != 'none';
  }).length;
}

for (var i = 0; i < buttons.length; i++) {
  var button = buttons[i];
  button.addEventListener('click', function(e) {
    var teamId = e.target.className;

    //on first filter, hide all except that one
    if(contributors.classList.length == (teams.length + 1)) {
        teams.forEach(function(team) {
            if(team === teamId) {
                return;
            }
            document.querySelector('.' + team).classList.toggle(team);
        });
    } else if (contributors.classList.length == 2 && contributors.classList.contains(teamId)) {
        teams.forEach(function(team) {
            contributors.classList.add(team);
        });
    } else {
        contributors.classList.toggle(teamId);
    }
    counter.innerText = getFilteredContributorCount();
  });
}

  </script>
{% endblock %}
