{% extends "en/2019/base.html" %}

{% block title %}
2019 Table of Contents | The Web Almanac by HTTP Archive
{% endblock %}

{% block styles %}
{{ super() }}
<style>
.part,
.part-name,
.chapter {
  border-bottom: 1px solid #eee;
  margin: 0;
}
.chapter:last-child {
  border-bottom: none;
}

.part-name,
.chapter {
  padding: 20px 0;
}

.chapters {
  padding: 0 20px;
}

.chapter .todo {
  color: #aaa;
}
.chapter a {
  text-decoration: none;
  color: #1A2B49;
}
.chapter a:hover {
  text-decoration: underline;
}
</style>
{% endblock %}

{% block main %}
<section class="main">
  <h1>Table of Contents</h1>
  {% for part_config in config.outline %}
    <section class="part">
      <h2 class="part-name">Part {{ part_config.part }}</h2>
      <div class="chapters">
        {% for chapter_config in part_config.chapters %}
          <div class="chapter">
            {% if chapter_config.todo %}
            <span class="todo">Chapter {{ chapter_config.chapter }}: {{ chapter_config.title }}</span>
            {% else %}
            <a href="{{ url_for('chapter', year=year, lang=lang, chapter=get_chapter_slug(chapter_config)) }}">
              Chapter {{ chapter_config.chapter }}: {{ chapter_config.title }}
            </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
</section>
{% endblock %}