{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}16.9 млн{% endblock %}
{% block methodology_stat_2 %}82.61 Тб{% endblock %}
{% block total_websites %}около 8,4 миллионов{% endblock %}
{% block dataset %}июнь 2024{% endblock %}

{% block foreword %}
<div lang="ru">
  <p>
    Кажется, что за последние два года в мире многое изменилось. Некоторые изменения носят негативный характер, например, рост числа региональных конфликтов и более широкая напряженность, которую они вызывают в глобальном масштабе. Но есть и позитивные изменения, например, пандемия COVID-19 осталась в основном позади, а также значительный рост производства устойчивой энергии.
  </p>

  <p>
    Однако практически в каждом уголке Земли web, скорее всего, так или иначе влияет на качество вашей жизни. Стал ли веб лучше за последние несколько лет? Как мы должны относиться к его "здоровью"?
  </p>

  <p>
    Web Almanac 2024 года предоставляет данные, чтобы ответить на эти вопросы. После перерыва в 2023 году команда увлечённых исследователей взялась за изучение современных аспектов web с помощью данных. Как и большинство технологий, web становится сложнее, и Web Almanac помогает в нём разобраться — в этом году добавлена новая глава о Cookies.
  </p>

  <p>
    В этом году мы сделали важный шаг к превращению Web Almanac в проект, управляемый сообществом, вдохновленного организационными моделями академических конференций. Раньше им занималась команда HTTP Archive, но в 2024 году введён формальный организационный комитет для расширения сотрудничества. Ключевые роли (генеральный председатель, председатель программного комитет) распределены для привлечения разнообразных участников. Эта модель управления укрепит фундамент Web Almanac и обеспечит его ежегодное издание.
  </p>

  <p>
    Было очень приятно ощущать мотивацию и вовлеченность сообщества - от молодых докторов наук до старших экспертов по всему миру. Мы искренне благодарим каждого из наших участников, именно благодаря их упорному труду этот open-source проект стал возможным.
  </p>

  <p>
    Как двигателю прогресса, нам важно понимать, что в Web работает хорошо, а что нуждается в дополнительной поддержке. Мы призываем вас изучать, обсуждать и делиться данными Web Almanac 2024, чтобы он мог лучше служить всем нам. Мы вместе в этом процессе.
  </p>

  <p>
    <em>
      —<a href="{{ url_for('contributors', year=year, lang=lang, _anchor='nrllh') }}">Nurullah Demir</a>, сопредседатель 2024 Web Almanac<br>
      —<a href="{{ url_for('contributors', year=year, lang=lang, _anchor='cqueern') }}">Caleb Queern</a>, сопредседатель 2024 Web Almanac
    </em>
  </p>
</div>
{% endblock %}
