{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}16.9 млн{% endblock %}
{% block methodology_stat_2 %}82.61 Тб{% endblock %}
{% block total_websites %}около 8,4 миллионов{% endblock %}
{% block dataset %}июнь 2024{% endblock %}

{% block foreword %}
{# TODO - translate #}<div lang="en"><p>It feels as if a lot has changed in the world in just the last two years. Some changes are negative, such as the increase in regional conflicts and the broader tension they raise globally. Some changes are positive though, such as putting the COVID-19 pandemic mostly behind us and important growth in sustainable energy generation.</p>

<p>In just about every corner of the earth however, it’s likely that the web contributes to your quality of life in some way. Has the web gotten better over the last couple of years? How should we feel about its health?</p>

<p>The 2024 Web Almanac is here to provide you data to help answer that question. After a hiatus in 2023, a team of passionate researchers have stepped forward this year to investigate important aspects of the modern web using data. Like most technologies, the web grows more complex over time and the web grows more complex over time and the Web Almanac help us make sense of things, including a new chapter on Cookies this year.</p>

<p>This year marks a significant step in evolving the Web Almanac towards a more community-driven project, inspired by the organizational models of academic conferences. Previously maintained by the dedicated HTTP Archive team, the 2024 Almanac introduces a formal organizing committee to foster broader collaboration and inclusivity. Key roles, such as General Chair, Program Committee Chair, and Event Chair, have been established to streamline responsibilities and encourage participation from diverse contributors. This distributed leadership structure is designed to make the Web Almanac more community-driven, which in turn aims to enhance its sustainability by inviting a wider range of voices and perspectives, making the Web Almanac a more collaborative resource for the web community. We hope that this shift towards a community-driven model will strengthen the Web Almanac’s foundation and lead to many future editions.</p>

<p>It’s been great to experience the motivation and inclusion from the community—spanning young doctoral researchers to senior experts worldwide. We sincerely thank each of our contributors; it is their hard work that makes this open-source project possible.</p>

<p>As an engine of prosperity, it’s important that we understand what’s working well on the web and where it needs more support. We encourage you to explore, debate, and share the details in the 2024 Web Almanac so it can better serve us all. We are all in this together.</p>

<p>
  <em>
    —<a href="./contributors#nrllh">Nurullah Demir</a>, 2024 Web Almanac General Co-Chair<br>
    —<a href="./contributors#cqueern">Caleb Queern</a>, 2024 Web Almanac General Co-Chair
  </em>
</p></div>
{% endblock %}
