{% extends "%s/2019/base_chapter.html" % lang %}

<!--{# IMPORTANT!

- `chapter.html` is a "template for templates" used by the `generate_chapters.js` script, hence the strange template syntax (eg, mixing ejs and jinja syntax)
- if you want to modify `chapter.html`, you must also:
  - translate the corresponding language-specific templates (eg `src/templates/<lang>/<year>/chapter.html`)
  - run the generation script to update each chapter template
- if you want to modify the chapter templates (eg `src/templates/<lang>/<year>/chapters/<chapter>.html`):
  - make changes to the markdown content directly (`src/content/<lang>/<year>/<chapter>.md`) because any changes to the chapter templates will be overwritten by the generation script
#}-->

{% set metadata = <%- JSON.stringify(metadata) %> %}

{% block index %}
  <%- include('toc.html', { headings: toc }) %>
{% endblock %}

{% block main_content %}
  <%- body %>
{% endblock %}
