{% extends "%s/%s/base.html" % (lang, year) %}

{% block title %}Methodology | The Web Almanac by HTTP Archive{% endblock %}

{% block description %}Describes how the 2019 Web Almanac was put together: The Datasets and Tools used and how the project was run.{% endblock %}

{% block date_published %}{{ get_file_date_info("%s/%s/%s" % (lang, year, "methodology"), "published_date") }}{% endblock %}
{% block date_modified %}{{ get_file_date_info("%s/%s/%s" % (lang, year, "methodology"), "last_updated_date") }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/page.css?v={{ get_file_date_info('static/css/page.css', 'hash') }}">
{% endblock %}

{% block main %}
<main id="methodology" class="main">
  <nav class="index">
    <div class="index-box floating-card">
      <h2 class="header">
        <button class="index-btn">{{ self.index_title() }}</button>
        <span class="no-button">{{ self.index_title() }}</span>
      </h2>
      {{ self.index() }}
    </div>
  </nav>

  <article id="maincontent" class="content">
    <h1 class="title title-lg">{{ self.methodology_title() }}</h1>
    {{ self.main_content() }}
  </article>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ self.index_menu_script() }}
<script src="/static/js/chapter.js?v={{ get_file_date_info('static/js/chapter.js', 'hash') }}" defer></script>
{% endblock %}
