{% extends "base/2019/error.html" %}

{% block unknown_error %}Erro desconhecido{% endblock %}

{% 
  set localizedStatusCode = {
    400: "Solicitação Incorreta",
    404: "Página Não Encontrada",
    500: "Erro interno do servidor",
    502: "Erro temporário do servidor"
  }
%}
{% macro expandedTitle(errorTitle) %}Error: {{ errorTitle }}{% endmacro %}
{%
  set localizedErrorMessage = {
    "Unsupported year requested": "Ano solicitado não suportado",
    "Unsupported chapter requested": "Capítulo solicitado não suportado",
    "Unsupported language requested": "Idioma solicitado não suportado",
    "Not Found": "O URL solicitado não foi encontrado no servidor. Se você inseriu o URL manualmente, verifique a ortografia e tente novamente."
  }
%}
{% macro expandedErrorMessage(errorCode, errorDescription, errorMessage) %}
{{ errorCode }} <i lang="en">{{ errorDescription }}: {{ errorMessage }}
{% endmacro %}
