{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}5.8M{% endblock %}
{% block methodology_stat_2 %}20.9 TB{% endblock %}
{% block total_websites %}大约600万个{% endblock %}
{% block dataset %}2019年7{% endblock %}

{% block foreword %}
<div>
  <p>
    开放的网络是一个复杂的、不断发展的技术网络。整个行业和职业都建立在网络之上，并依赖其充满活力的生态系统取得成功。和网络本身一样重要的是，要理解它是如何运作总是出乎意料难以捉摸。自2010年以来，HTTP Archive项目的任务就是跟踪网络是如何构建的，它在这方面做得非常出色。然而，存在一个特别具有挑战性的缺口:使HTTP Archive项目收集的数据具有意义，并使社区能够容易地理解网络是如何执行的。这就是Web Almanac网络年鉴的用兵之处。
  </p>

  <p>
    Web Almanac 网络年鉴的任务是获取见知的宝藏，并以易于理解的方式打包，否则这些见解只能由无畏的数据挖掘者才能得到。 在行业专家的帮助下这一切成为了可能，他们能够理解数据并告诉我们它的含义。Web Almanac 的20章中的每一章都集中在Web的一个特定方面，而且每一章都是由各自领域的专家编写和同行评审。Web Almanac 的力量直接来自于编写它的人的专业知识。
  </p>

  <p>
    Web Almanac网络年鉴中的许多发现都值得庆祝，但它也提醒我们，交付高质量的用户体验还需要做很多工作。每一章中以数据为依据的分析都要求我们去承担一个开发更好网络的使命责任。这不是要羞辱那些做错的人，而是要在最佳实践的道路上点亮一盏指路明灯，这样就有了一种清晰、正确的做事方式。在网络社区的持续帮助下，我们希望将其成为年度传统，这样我们每年都可以跟踪我们的进度并根据需要进行修正。
  </p>

  <p>
    在这份报告中有太需要学习的东西，所以开始探索并与社区分享你的见解吧，这样我们就可以共同推进我们对网络状态的理解。
  </p>

  <p>— <em><a href="{{ url_for('contributors', year=year, lang=lang, _anchor='rviscomi') }}">Rick Viscomi</a>, Web Almanac网络年鉴的创建者</em></p>
</div>
{% endblock %}
