{% extends "base/2019/base_ebook.html" %}

{% block title %}{{ year }} Web Almanac 源于 HTTP Archive{% endblock %}

{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive 的<br><b>web状态</b>报告{% endblock %}

{% block about_title %}关于Web Almanac{% endblock %}

{% block description %}{{ year }} Web Almanac Ebook版本{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %} {{ year }} Web Almanac网络年鉴{% endblock %}
