{% extends "base/2019/error.html" %}

{% block unknown_error %}未知错误{% endblock %}

{% 
  set localizedStatusCode = {
    400: "错误的请求",
    404: "页面未找到",
    500: "内部服务器错误",
    502: "临时服务器错误"
  }
%}
{% macro expandedTitle(errorTitle) %}错误: {{ errorTitle }}{% endmacro %}
{%
  set localizedErrorMessage = {
    "Unsupported year requested": "不支持的年份请求",
    "Unsupported chapter requested": "不支持的章节请求",
    "Unsupported language requested": "不支持的语言请求",
    "Not Found": "请求的 URL 在服务器上未找到。如果您是手动输入请检查拼写重试"
  }
%}
{% macro expandedErrorMessage(errorCode, errorDescription, errorMessage) %}
{{ errorCode }} {{ errorDescription }}: {{ errorMessage }}
{% endmacro %}
