{%- set featured_chapter = ("accessibility","performance") | random %}{#  Below is the full set of chapters. If all are translated then replace above line with this one.  Until then, add chapters to above first line as they are translated (min of two chapters so repeat if only one chapter)  {%- set featured_chapter = ("accessibility","caching","cdn","cms","compression","css","ecommerce","fonts","http2","javascript","markup","media","mobile-web","page-weight","performance","pwa","resource-hints","security","seo","third-parties") | random %}#}
{%- if featured_chapter == "javascript" %}
  {%- set featured_chapter_name = "JavaScript" %}
  {%- set featured_chapter_quote = "JavaScript是我们发送给浏览器的最昂贵的资源;必须下载、解析、编译，最后执行。尽管浏览器大大减少了解析和编译脚本的时间，但在web页面处理JavaScript时，下载和执行已经成为最昂贵的阶段。" %}
  {%- set featured_chapter_stats = {"stat1":"89%","label1":"第三方代码多于自有代码的站点","stat2":"83%","label2":"使用jQuery的站点","stat3":"4.6%","label3":"主页使用React"} %}
{%- elif featured_chapter == "css" %}
  {%- set featured_chapter_name = "CSS" %}
  {%- set featured_chapter_quote = "层叠样式表(CSS) 用于绘制、格式化和布局web页面。 它们的功能涵盖了从简单的文本颜色到3D透视图等概念。它还提供了钩子，使开发人员能够处理各种屏幕大小、查看上下文和打印。 CSS帮助开发人员处理内容，并确保其适当地适应用户。" %}
  {%- set featured_chapter_stats = {"stat1":"5%","label1":"使用自定义属性的页面","stat2":"2%","label2":"使用CSS Grid的站点","stat3":"780","label3":"最大Z索引值的位数"} %}
{%- elif featured_chapter == "markup" %}
  {%- set featured_chapter_name = "标记" %}
  {%- set featured_chapter_quote = "截止2019年7月, HTTP Archive 已经开始收集所有在DOM使用 <em>元素</em> 命名的大约440万个桌面版主页。还有大约530万个移动主页，我们现在可以开始研究和分析。这个爬取过程在这些页面中遇到了超过5000个不同的<em>非标准元素名称</em>, 因此我们将可计数元素的总数限制为'最多' 5,048个。" %}
  {%- set featured_chapter_stats = {"stat1":"11","label1":"超过90%的页面使用元素","stat2":"15%","label2":"包含已过时的元素页面","stat3":"65","label3":"发现轮播的变体"} %}
{%- elif featured_chapter == "media" %}
  {%- set featured_chapter_name = "媒体" %}
  {%- set featured_chapter_quote = "图像、动画和视频是网络体验的重要组成部分。它们之所以重要有很多原因:它们有助于讲述故事、吸引观众、提供艺术表达，而这些通常是其他网络技术无法轻易做到的。这些媒体资源的重要性可以通过两种方式来体现:页面下载所需的字节量，以及用媒体绘制的像素量。" %}
  {%- set featured_chapter_stats = {"stat1":"1 MB","label1":"主页的中位数","stat2":"60%","label2":"在图像中使用JPEG","stat3":"2%","label3":"使用 <code>&lt;picture&gt;</code> 元素"} %}
{%- elif featured_chapter == "third-parties" %}
  {%- set featured_chapter_name = "第三方" %}
  {%- set featured_chapter_quote = "开放的网络是从设计之初就是庞大，可链接，可以互操作的。要拥有抓取别人复杂的库并在您的站点上使用它的能力，只需一个单独的 <code>&lt;link&gt;</code> 或者 <code>&lt;script&gt;</code> 元素，这 极大地提高了开发人员的工作效率，并带来了卓越的全新网络体验;另一方面，少数第三方提供商的广泛流行引发了重要的性能和隐私问题。本章考察了2019年第三方代码在web上的流行和影响，导致第三方解决方案流行的web使用模式，以及对未来web性能和隐私的潜在影响。" %}
  {%- set featured_chapter_stats = {"stat1":"93%","label1":"有第三方内容的页面","stat2":"49%","label2":"第三方请求","stat3":"28%","label3":"第三方字节"} %}
{%- elif featured_chapter == "fonts" %}
  {%- set featured_chapter_name = "字体" %}
  {%- set featured_chapter_quote = "Web字体能够在Web上实现美观和功能的排版。使用网络字体不仅增强了设计能力，而且使设计的一个子集变得大众化，因为它让那些可能没有特别强的设计技能的人更容易接触到它。然而，尽管网络字体能带来很多好处，但如果加载不当，它们也会对网站的性能造成很大的损害。" %}
  {%- set featured_chapter_stats = {"stat1":"74.9%","label1":"第三方字体请求使用谷歌体","stat2":"29%","label2":"包含谷歌字体样式表链接的页面的百分比","stat3":"718","label3":"单个页面上的大多数字体请求"} %}
{%- elif featured_chapter == "performance" %}
  {%- set featured_chapter_name = "性能" %}
  {%- set featured_chapter_quote = "性能是用户体验的重要组成部分。对于许多网站来说，通过降低页面加载时间来改善用户体验与转化率的提高是一致的。相反，当性能不佳时，用户的转化率就不会像往常那样高，甚至还会在导致沮丧的页面观察到愤怒点击。" %}
  {%- set featured_chapter_stats = {"stat1":"13%","label1":"有快速FCP的站点","stat2":"42%","label2":"有缓慢TTFB的站点","stat3":"40%","label3":"有快速FID的站点"} %}
{%- elif featured_chapter == "security" %}
  {%- set featured_chapter_name = "安全" %}
  {%- set featured_chapter_quote = "随着web功能的增长并允许访问越来越多的敏感数据，开发人员采用web安全特性来保护其应用程序变得越来越重要。本章讨论的安全特性是构建在web平台本身的防御，每个web作者都可以使用。" %}
  {%- set featured_chapter_stats = {"stat1":"79%","label1":"Sites using HTTPS","stat2":"41%","label2":"使用TLSv1.3的站点","stat3":"4.43%","label3":"使用CSP的站点"} %}
{%- elif featured_chapter == "accessibility" %}
  {%- set featured_chapter_name = "无障碍可访问性" %}
  {%- set featured_chapter_quote = "互联网的无障碍可访问性对一个包容和公平的社会至关重要。随着我们的社会生活和工作生活越来越多地转移到网络世界，残障人士能够无障碍地参与所有在线互动就变得更加重要了。正如建筑设计师可以创建或省略无障碍功能，例如轮椅坡道，web开发人员可以帮助或阻碍用户依赖的辅助技术。" %}
  {%- set featured_chapter_stats = {"stat1":"22%","label1":"使用充分的色彩对比的网站","stat2":"50%","label2":"缺少图像alt属性的网站","stat3":"14%","label3":"使用跳过链接的网站"} %}
{%- elif featured_chapter == "seo" %}
  {%- set featured_chapter_name = "SEO" %}
  {%- set featured_chapter_quote = "搜索引擎优化(SEO)不仅仅是数字营销人员的业余爱好或兼职项目，它对网站的成功至关重要。SEO的主要目标是确保一个网站针对搜索引擎机器人需要抓取和索引它的页面，以及实际用户的浏览网站和消费它的内容做好了优化，。SEO影响着每一个在网站上工作的人，从建立网站的开发人员，到需要向新潜在客户推广网站的数字营销人员。" %}
  {%- set featured_chapter_stats = {"stat1":"346","label1":"页面中位数的字数","stat2":"11%","label2":"没有标题标签的页面","stat3":"15%","label3":"网站符合丰富的结果"} %}
{%- elif featured_chapter == "pwa" %}
  {%- set featured_chapter_name = "PWA" %}
  {%- set featured_chapter_quote = "渐进式 Web 应用(PWA)是一种新的Web应用程序，构建在平台原语(如Service Worker API)之上。Service Worker通过充当网络代理，拦截web应用程序发出的请求，并用编程或缓存的响应进行应答，从而允许应用程序支持独立于网络的加载。" %}
  {%- set featured_chapter_stats = {"stat1":"0.44%","label1":"注册了 service worker的站点","stat2":"15%","label2":"使用了Service Worker的Pageview","stat3":"57%","label3":"PWA使用了 <code>standalone</code> <code>display</code> property"} %}
{%- elif featured_chapter == "mobile-web" %}
  {%- set featured_chapter_name = "移动 Web" %}
  {%- set featured_chapter_quote = "自2007年以来，移动网络以爆炸式的速度增长。根据Akamai mPulse 2019年7月的数据，13年后的今天，移动搜索和网络流量分别占到了59%和58.7%。这不再是事后产生的想法，而是人们体验网络的主要方式。那么，考虑到移动设备的重要性，我们能为访问者提供什么样的体验呢?我们的不足之处在哪里?让我们找出答案。" %}
  {%- set featured_chapter_stats = {"stat1":"65%","label1":"站点加载期间中或大部分内容发生位移","stat2":"32%","label2":"禁用缩放的网站","stat3":"34%","label3":"具有足够大小的点击目标的站点"} %}
{%- elif featured_chapter == "ecommerce" %}
  {%- set featured_chapter_name = "电商" %}
  {%- set featured_chapter_quote = "在本次研究中，发现近10%的首页都位于电子商务平台上。 <em>电子商务平台</em> 是一套软件或服务，使您能够创建和运营在线商店， 包括付费服务，例如Shopify，软件平台，例如Magento开源，还有托管平台，例如Magento商务。" %}
  {%- set featured_chapter_stats = {"stat1":"3.98%","label1":"使用WooCommerce的网站是最受欢迎的电子商务平台","stat2":"116","label2":"检测到的电子商务平台数量","stat3":"1,517 KB","label3":"每个移动电商页面的图像字节中位数。"} %}
{%- elif featured_chapter == "cms" %}
  {%- set featured_chapter_name = "CMS" %}
  {%- set featured_chapter_quote = "通用术语内容管理系统(CMS)是指允许个人和组织创建、管理和发布内容的系统。具体来说，用于web内容的CMS是一种旨在创建、管理和发布内容以通过开放web消费和体验的系统。每个CMS都实现了一系列内容管理功能的一个子集，以及提供相应的机制使用户可以轻松有效地围绕内容构建网站。" %}
  {%- set featured_chapter_stats = {"stat1":"40%","label1":"Pages powered by a CMS","stat2":"74%","label2":"使用WordPress的CMS站点","stat3":"1,232 KB","label3":"每个CMS桌面页面加载的图像KB中位数。"} %}
{%- elif featured_chapter == "compression" %}
  {%- set featured_chapter_name = "压缩" %}
  {%- set featured_chapter_quote = "HTTP压缩是一种允许您使用比原始内容更少的比特数进行编码的技术。当用于交付web内容时，它使web服务器能够减少传输到客户机的数据量。这提高了客户机可用带宽的效率，减少了页面重量，并提高了web性能。" %}
  {%- set featured_chapter_stats = {"stat1":"38%","label1":"使用基于文本压缩的HTTP响应","stat2":"80%","label2":"使用gzip压缩","stat3":"56%","label3":"HTML响应没有使用压缩"} %}
{%- elif featured_chapter == "caching" %}
  {%- set featured_chapter_name = "缓存" %}
  {%- set featured_chapter_quote = "缓存是一种支持重复使用之前下载内容的技术。通过避免昂贵的网络请求，它提供了显著的性能优势，还通过减少对网站源站基础设施的流量来帮助扩展应用程序的范围。有句老话说， &quot;最快的请求就是你不用提出请求，&quot; 而缓存是避免发出请求的关键方法之一。" %}
  {%- set featured_chapter_stats = {"stat1":"27%","label1":"没有使用任何缓存头的响应","stat2":"39%","label2":"使用 <code>Vary</code> 头的响应","stat3":"82%","label3":"通过更好地优化缓存可以节省1Mb的站点"} %}
{%- elif featured_chapter == "cdn" %}
  {%- set featured_chapter_name = "CDN" %}
  {%- set featured_chapter_quote = "&quot;使用内容分发网络CDN&quot; 是Steve Souders最初用来提高网站加载速度的建议之一。这个建议在今天仍然有效，在Web Almanac网络年鉴的这一章我们将探索Steve的建议被广泛采纳的程度，站点如何使用内容分发网络(CDN), 以及它们使用的一些功能特性。" %}
  {%- set featured_chapter_stats = {"stat1":"20%","label1":"使用CDN的主页","stat2":"9.61%","label2":"使用最流行的 CDN (Cloudflare)的主页","stat3":"30%","label3":"使用谷歌的第三方CDN请求"} %}
{%- elif featured_chapter == "page-weight" %}
  {%- set featured_chapter_name = "页面重量" %}
  {%- set featured_chapter_quote = "关于为什么页面大小不再重要的常见争论是，由于高速互联网和我们更强的设备，我们可以为普通大众提供大量复杂的页面。这个假设是可行的，只要你愿意忽视那些无法访问高速互联网和更强设备的大量互联网用户。" %}
  {%- set featured_chapter_stats = {"stat1":"10%","label1":"网站发送超过6MB的数据","stat2":"434 KB","label2":"去年桌面尺寸增加的中位数","stat3":"69","label3":"每个主页请求的中位数"} %}
{%- elif featured_chapter == "resource-hints" %}
  {%- set featured_chapter_name = "资源提示" %}
  {%- set featured_chapter_quote = "资源提示向浏览器提供关于即将需要哪些资源的<em>提示</em>。浏览器由于收到此提示而采取的操作将根据资源提示的类型而有所不同。 不同的资源提示将启动不同的操作。 如果使用得当，它们可以通过提前采取重要的预期措施来提高页面性能。" %}
  {%- set featured_chapter_stats = {"stat1":"29%","label1":"使用 <code>dns-prefetch</code>的站点","stat2":"88%","label2":"资源提示 <code>作为</code> 属性使用。","stat3":"0.04%","label3":"优先级提示使用"} %}
{%- elif featured_chapter == "http2" %}
  {%- set featured_chapter_name = "HTTP/2" %}
  {%- set featured_chapter_quote = "HTTP/2是近20年来对web主要传输协议的第一次重大更新。它带来了丰富的期望:它承诺免费的性能提升而没有缺点。更重要的是，我们可以停止做所有 HTTP/1.1曾因为低效率的缘故，强迫我们叠加的入侵式解决方案。在HTTP/2世界中，绑定、弹跳、内联甚至分片域都将成为反模式，因为默认情况下会提供改进的性能。之前的优化技术Bundling, spriting, inlining,甚至域分片都会在HTTP/2 的世界中成为反模式, 因为它在默认情况就提供改进的性能。本章探讨了这种相对较新的技术在现实世界中的表现。" %}
  {%- set featured_chapter_stats = {"stat1":"95%","label1":"可以使用HTTP/2的用户","stat2":"27.83%","label2":"有HTTP/2优先级问题的请求","stat3":"8.38%","label3":"支持QUIC的站点"} %}
{%- endif %}
<section id="featured-chapter" class="featured-chapter">
  <div class="featured-chapter-content">
    <h2 class="title title-center">章节精选</h2>
    <h3>{{ featured_chapter_name }}</h3>
    <blockquote>
      {{ featured_chapter_quote|safe }}
    </blockquote>
    <div class="featured-chapter-content-data">
      {% if featured_chapter_stats.get('stat1') %}
      <div class="featured-chapter-content-data-item">
        <div>{{ featured_chapter_stats.get('stat1')|safe }}</div>
        <div>{{ featured_chapter_stats.get('label1')|safe }}</div>
      </div>
      {% endif %}
      {% if featured_chapter_stats.get('stat2') %}
      <div class="featured-chapter-content-data-item">
        <div>{{ featured_chapter_stats.get('stat2')|safe }}</div>
        <div>{{ featured_chapter_stats.get('label2')|safe }}</div>
      </div>
      {% endif %}
      {% if featured_chapter_stats.get('stat3') %}
      <div class="featured-chapter-content-data-item">
        <div>{{ featured_chapter_stats.get('stat3')|safe }}</div>
        <div>{{ featured_chapter_stats.get('label3')|safe }}</div>
      </div>
      {% endif %}
    </div>
    <a href="{{ url_for('chapter', year=year, chapter=featured_chapter, lang=lang) }}" class="btn">
      阅读 {{ featured_chapter_name }} 章节
    </a>
  </div>
</section>