{% extends "base/2019/index.html" %}

{% block title %}{{ year }} Web Almanac 网络年鉴{% endblock %}
{% block description %}Web Almanac是结合了网络社区的专业知识和HTTP Archive的数据和趋势的网络年度报告，{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac网络年鉴{% endblock %}

{% block date_published %}2019-11-04T12:00:00.000Z{% endblock %}
{% block date_modified %}2020-06-21T00:00:00.000Z{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive的年度报告<br> <b>网络状态</b>报告{% endblock %}

{% block featured_chapter%}章节精选{% endblock %}
{% macro readChapter(chapter) %}阅读 <span class="featured-chapter-name">{{ chapter }}</span> 本章{% endmacro %}
