{% extends "base/base.html" %}

{% block description %}Web Almanacは、Webコミュニティの専門知識とHTTP Archiveのデータやトレンドを組み合わせた、毎年恒例のWeb状況のレポートです。{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}

{% block skip_navigation %}ナビゲーションをスキップ{% endblock %}

{% block organization %}HTTP ArchiveによるWeb Almanac{% endblock %}
{% block web_almanac_logo %}
  <span class="ha line-group">HTTP Archive</span>

  <span class="pre">による</span>
  <span class="wa">Web Almanac</span>

{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archiveの年次報告書<br> <b>ウェブの状態</b>レポート{% endblock %}

{% block mission %}
<p>
私たちの使命は、HTTP Archiveの生の統計やトレンドを、ウェブコミュニティの専門知識と組み合わせることです。Web Almanacは、実際のデータと信頼できるウェブの専門家に裏付けられた、ウェブの状態に関する包括的なレポートです。{{ year }}年版は、ページコンテンツ、ユーザー体験、パブリッシング、配布などの側面を網羅した{{ supported_chapters | length }}の章で構成されています。
</p>
{% endblock %}

{% block read_last_years_almanac %}{{ year | int - 1 }} Web Almanacを読む{% endblock %}

{% block http_archive_link %}HTTP ArchiveによるWeb Almanac{% endblock %}

{% block page_navigation %}ページナビゲーション{% endblock %}

{% block help_translate %}翻訳ヘルプ{% endblock %}
{% block translation_not_available %}英語-日本語では使用できません{% endblock %}
{% block in_english %}(英語){% endblock %}
{% block language_switcher %}言語ピッカー{% endblock %}
{% block year_switcher %}年ピッカー{% endblock %}
{% block table_of_contents_switcher %}年ピッカー{% endblock %}

{% block home %}ホームページ{% endblock %}
{% block table_of_contents_title %}目次{% endblock %}
{% block contributors_title %}貢献者{% endblock %}
{% block methodology_title %}方法論{% endblock %}
{% block search_title %}検索{% endblock %}

{% block part %}部{% endblock %}
{% block chapter %}章{% endblock %}

{% block start_exploring %}探索を開始{% endblock %}

{% block menu_title %}ページメニュー{% endblock %}
{% block open_the_menu %}メニューを開く{% endblock %}
{% block close_the_menu %}メニューを閉じる{% endblock %}

{% block index_nav_title %}章の目次{% endblock %}
{% block index_title %}インデックス{% endblock %}
{% block open_the_index %}目次を開く{% endblock %}
{% block close_the_index %}目次を閉じる{% endblock %}

{% block and %} と {% endblock %}
{% block comma %}、{% endblock %}
{% block oxford_comma %}{% endblock %}

{% block open %}開く{% endblock %}
{% block close %}閉じる{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}図{{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}図{{ figure_id(metadata, chapter_config, id) }}の説明を表示{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}図{{ figure_id(metadata, chapter_config, id) }}の説明を非表示{% endmacro %}

{% block written_by_before %}{% endblock %}
{% block reviewed_by_before %}{% endblock %}
{% block translated_by_before %}{% endblock %}
{% block analysis_by_before %}{% endblock %}
{% block edited_by_before %}{% endblock %}
{% block reviewed_and_analyzed_by_before %}{% endblock %}
{% block analysis_and_editing_by_before %}{% endblock %}
{% block written_by_after %}によって書かれた。{% endblock %}
{% block reviewed_by_after %}によってレビュ。{% endblock %}
{% block translated_by_after %}によって翻訳された。{% endblock %}
{% block analysis_by_after %}による分析。{% endblock %}
{% block edited_by_after %}編集。{% endblock %}
{% block reviewed_and_analyzed_by_after %}によってレビュ と による分析。{% endblock %}
{% block analysis_and_editing_by_after %}による分析 と 編集。{% endblock %}

{% block unedited %}[未編集]{% endblock %}

{% block author %}著者{% endblock %}
{% block authors %}著者{% endblock %}

{% macro onTwitter(twitterHandle) %}Twitterの@{{twitterHandle}}{% endmacro %}
{% macro onGitHub(gitHubHandle) %}GitHubの{{gitHubHandle}}{% endmacro %}
{% macro onLinkedIn(authorName) %}LinkedInの{{authorName}}{% endmacro %}
{% macro website(authorName) %}{{authorName}} ウェブサイト{% endmacro %}

{% macro edition(year) %}{{ year }} 版{% endmacro %}

{% block footer_title %}フッターナビゲーション{% endblock %}
{% block copyright %}© Web Almanac. Licensed under <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}アクセシビリティに関する声明{% endblock %}

{% block featured_chapter %}注目の章{% endblock %}
{% block featured_chapter_last_year %}{{ year|int -1 }} Web Almanac<br />注目の章{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}<span class="featured-chapter-name">{{ chapter }}</span>の章を読む{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %}<span class="featured-chapter-name">{{ chapter }}</span>の章を読む{{ year|int -1 }}{% endmacro %}
{% endif %}

{% block contributors_description %}
Web Almanacは、ウェブ・コミュニティの努力によって実現しています。{{ year }} Web Almanac々は、企画、調査、執筆、制作の段階で{{ self.contributors() }}人が数え切れないほどの時間をボランティアで費やしてきました。
{% endblock %}
{% block contributors_link %}投稿者を見る{% endblock %}

{% block methodology_stat_1_title %}テストしたウェブサイト{% endblock %}
{% block methodology_stat_2_title %}処理されたデータ{% endblock %}
{% block methodology_link %}方法論についてはこちらをご覧ください。{% endblock %}
{% block methodology_description %}
特に断りのない限り、{{ year }} Web Almanacの{{ supported_chapters | length }}章すべてのメトリクスは、HTTP Archiveのデータセットから取得しています。HTTP Archiveは、2010年以来、ウェブの構築方法を追跡してきたコミュニティが運営するプロジェクトです。WebPageTestとLighthouseをアンダーグラウンドに使用して、{{ self.total_websites() }}Webサイトに関するメタデータが毎月テストされ、分析のために公開されているBigQueryデータベースに含まれています。{{ self.dataset() }}月のデータセットは、{{ year }} Web Almanacのメトリクスの基礎として使用されました。詳細については、方法論のページを参照してください。
{% endblock %}

{% block introduction %}導入{% endblock %}

{% block foreword_title %}序章{% endblock %}

{% block coming_soon %}もうすぐです！{% endblock %}

{% block appendix %}付属資料{% endblock %}
{% block appendices %}付属資料{% endblock %}

{% block ebook_title %}電子ブック{% endblock %}
{% block ebook_download_short %}電子ブックPDF（{{ ebook_size_in_mb }}MB）{% endblock %}
{% block ebook_download %} {{ year }} Web AlmanacのPDFファイルをダウンロードする（{{ ebook_size_in_mb }}MB）{% endblock %}
{% block ebook_download_note %}（<a href="https://www.princexml.com/">www.princexml.com</a>で生成）{% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. ページコンテンツ",
    "II. User Experience": "II. ユーザー体験",
    "III. Content Publishing": "III. コンテンツ公開",
    "IV. Content Distribution": "IV. コンテンツ配信"
  }
%}

{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "markup": "マークアップ",
    "media": "メディア",
    "third-parties": "サードパーティ",
    "fonts": "フォント",
    "performance": "パフォーマンス",
    "security": "セキュリティ",
    "accessibility": "アクセシビリティ",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "モバイルウェブ",
    "ecommerce": "Eコマース",
    "cms": "CMS",
    "compression": "圧縮",
    "caching": "キャッシング",
    "cdn": "CDN",
    "page-weight": "Page Weight",
    "resource-hints": "リソースのヒント",
    "http": "HTTP",
    "privacy": "プライバシー",
    "capabilities": "能力",
    "jamstack": "Jamstack",
    "webassembly": "WebAssembly",
    "structured-data": "構造化データ"
  }
%}
{% if (year == "2019" or year == "2020") %}
{% set _dummy = localizedChapterTitles.__setitem__("http", "HTTP/2") %}
{% endif %}

{% set localizedTeamNames = {
  "analysts": "分析者",
  "authors": "著作者",
  "brainstormers": "ブレインストーマー",
  "designers": "デザイナー",
  "developers": "開発者",
  "editors": "編集者",
  "leads": "リーダー",
  "reviewers": "レビュワー",
  "translators": "翻訳者",
  }
%}
