{% extends "base/base_ebook.html" %}

{% block title %}{{ year }} HTTP ArchiveによるWeb Almanac{% endblock %}

{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archiveの年次報告書<br><b>ウェブの状態</b>レポート{% endblock %}

{% block about_title %}Web Almanacについて{% endblock %}

{% block description %}{{ year }} Web Almanacの電子書籍版{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}
