{% extends "base/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | {{ year }} | HTTP ArchiveによるWeb Almanac{% endblock %}
{% block citation_title %}{{ year }} Web Almanac: {{ metadata.get('title') }}{% endblock %}
{% block citation_journal_title %}{{ year }} Web Almanac{% endblock %}

{% block description %}{{ metadata.get('description',metadata.get('title') + ' の章 ' + year + ' Web Almanacの使用状況を調べる ' + metadata.get('title') + ' をウェブ上で公開しています。') }}{% endblock %}

{% block twitter_image_alt %}のチャプター画像 {{ metadata.get('title') }} の章 {{ year }} Web Almanac{% endblock %}

{% block prev_next_title %}前後の章のナビゲーション{% endblock %}

{% block explore_the_results %}結果を調べる{% endblock %}
{% block discuss_this_chapter %}この章について話し合う{% endblock %}
{% block comment %}コメント{% endblock %}
{% block comments %}コメント{% endblock %}
{% block comments_fallback %}コメント{% endblock %}
{% block queries %}クエリを表示{% endblock %}
{% block results %}結果を表示{% endblock %}
{% block suggest_edit %}編集を提案する{% endblock %}
{% block figure_sql %}クエリを表示{% endblock %}
{% block figure_data %}データを見る{% endblock %}
{% block figure_image %}画像を見る{% endblock %}

{% block previous %}前の章（ 'p'または ','を押す）{% endblock %}
{% block next %}次の章（ 'n'または '.'を押す）{% endblock %}
