{% extends "base/base.html" %}

{% block description %}Web Almanac网络年鉴是Web报告的年度状态，它结合了Web社区的专业知识和HTTP Archive的数据和趋势{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}

{% block skip_navigation %}跳过导航{% endblock %}

{% block organization %}Web Almanac 源于 HTTP Archive{% endblock %}
{% block web_almanac_logo %}
  <span class="wa">Web Almanac</span>
  <span class="line-group">
    <span class="pre">源于</span>
    <span class="ha">HTTP Archive</span>
  </span>
{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive的年度报告<br> <b>网络状态</b>报告{% endblock %}

{% block announcement_text -%}
{%- if year < DEFAULT_YEAR -%}
<p>
  您正在查看 Web 年鉴的上一版。
  查看 <a href="/{{ lang }}/{{ DEFAULT_YEAR }}/{% if chapter_lang_exists(lang, DEFAULT_YEAR, slug) or page_lang_exists(lang, DEFAULT_YEAR, slug) %}{{ slug }}{% endif %}">{{ DEFAULT_YEAR }} 年版！</a>.
</p>
{%- elif self.call_for_contributors_link() | trim | length > 0 -%}
<p>
  📣 <a hreflang="en" href="{{ self.call_for_contributors_link() }}"><b>贡献者招募</b></a>:
帮助创建 {{ now().year }} 年的 Web Almanac —— 成为塑造今年版本的团队一员！
</p>
{%- endif -%}
{% endblock %}

{% block mission %}
<p>
我们的任务是将HTTP Archive的原始统计数据和趋势与web社区的专业知识结合起来。Web Almanac网络年鉴是一个关于网络状态的综合报告，由真实的数据和可信的网络专家支持。{{ year }}年版包括{{ supported_chapters | length }}个章节组成，涵盖了页面内容、用户体验、发布和分发的各个方面。
</p>
{% endblock %}

{% block read_last_years_almanac %}阅读 {{ previous_year }} Web Almanac{% endblock %}

{% block http_archive_link %}HTTP Archive主页{% endblock %}

{% block page_navigation %}页面导航{% endblock %}

{% block help_translate %}帮助翻译{% endblock %}
{% block translation_not_available %}英语-中文不能使用{% endblock %}
{% block in_english %} (英语){% endblock %}
{% block language_switcher %}语言切换{% endblock %}
{% block year_switcher %}年份切换{% endblock %}
{% block table_of_contents_switcher %}目录切换{% endblock %}

{% block home %}主页{% endblock %}
{% block table_of_contents_title %}目录{% endblock %}
{% block contributors_title %}贡献者{% endblock %}
{% block methodology_title %}方法论{% endblock %}
{% block search_title %}搜索{% endblock %}

{% block part %}部分{% endblock %}
{% block chapter %}章{% endblock %}

{% block start_exploring %}开始探索{% endblock %}

{% block menu_title %}页面菜单{% endblock %}
{% block open_the_menu %}打开菜单{% endblock %}
{% block close_the_menu %}关闭菜单{% endblock %}

{% block index_nav_title %}章节目录{% endblock %}
{% block index_title %}索引{% endblock %}
{% block open_the_index %}打开目录{% endblock %}
{% block close_the_index %}关闭目录{% endblock %}

{% block and %}和{% endblock %}
{% block comma %}、{% endblock %}
{% block oxford_comma %}{% endblock %}

{% block open %}打开{% endblock %}
{% block close %}关闭{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}图 {{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}显示图像描述 {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}隐藏图像描述 {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}

{% block written_by_before %}作者： {% endblock %}
{% block reviewed_by_before %}审稿者： {% endblock %}
{% block translated_by_before %}翻译者： {% endblock %}
{% block analysis_by_before %}分析者： {% endblock %}
{% block edited_by_before %}编辑： {% endblock %}
{% block reviewed_and_analyzed_by_before %}审稿者和分析者：{% endblock %}
{% block analysis_and_editing_by_before %}分析者和编辑：{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}
{% block edited_by_after %}{% endblock %}
{% block reviewed_and_analyzed_by_after %}{% endblock %}
{% block analysis_and_editing_by_after %}{% endblock %}

{% block date_published %}发布日期：{% endblock %}
{% block date_updated %}更新日期：{% endblock %}

{% block unedited %}[未编辑]{% endblock %}

{% block author %}作者{% endblock %}
{% block authors %}作者{% endblock %}

{% block reaction %}个反应{% endblock %}
{% block reactions %}反应{% endblock %}
{% block reactionsTitle %}反应{% endblock %}
{% block reactionsAlt %}{% endblock %}
{% block source %}查看源代码{% endblock %}
{% block share %}分享{% endblock %}

{% block like %}喜欢{% endblock %}
{% block repost %}次转发{% endblock %}
{% block reply %}条回复{% endblock %}
{% block mention %}提及{% endblock %}
{% block likes %}个赞{% endblock %}
{% block reposts %}转帖{% endblock %}
{% block replies %}回复{% endblock %}
{% block mentions %}提及{% endblock %}
{% block likesAlt %}{% endblock %}
{% block repostsAlt %}{% endblock %}
{% block repliesAlt %}{% endblock %}
{% block mentionsAlt %}{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} 在 Twitter/X{% endmacro %}
{% macro onMastodon(mastodonHandle) %}{{mastodonHandle}} 在 Mastodon{% endmacro %}
{% macro onBluesky(blueskyHandle) %}{{blueskyHandle}} 在 Bluesky{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} 在 GitHub{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} 在 LinkedIn{% endmacro %}
{% macro website(authorName) %}{{authorName}} 网站{% endmacro %}

{% block citation %}引用{% endblock %}

{% macro edition(year) %}{{ year }} 版{% endmacro %}

{% block footer_title %}页脚导航{% endblock %}
{% block copyright %}© Web Almanac.的许可是基于 <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}无障碍可访问声明{% endblock %}
{% block rss_feed %}RSS Feed{% endblock %}

{% block featured_chapter %}章节精选{% endblock %}
{% block featured_chapter_last_year %}{{ previous_year }} Web Almanac<br>章节精选{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}阅读 <span class="featured-chapter-name">{{ chapter }}</span> 章节{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %}阅读 {{ previous_year }} <span class="featured-chapter-name">{{ chapter }}</span> 章节{% endmacro %}
{% endif %}

{% block contributors_description %}
是web社区的辛勤工作才让 Web Almanac 网络年鉴成为可能。 {{ self.contributors() }} 成员在计{{ year }} Web Almanac划、研究、写作和发布阶段奉献投入了难以估量的时间。
{% endblock %}
{% block contributors_link %}查看贡献者{% endblock %}

{% block methodology_stat_1_title %}测试的站点{% endblock %}
{% block methodology_stat_2_title %}处理的数据{% endblock %}
{% block methodology_link %}了解方法论{% endblock %}
{% block methodology_description %}
除非另有说明，在所有{{ supported_chapters | length }}章的{{ year }} Web Almanac网络年鉴的指标都来自HTTP Archive数据集。HTTP Archive是一个社区运行的项目，自2010年以来一直在跟踪web是如何构建的。使用WebPageTest和Lighthouse，每月测试{{ self.total_websites() }}网站的元数据，并将其包含在一个公开的BigQuery数据库中进行分析。{{ year }} Web Almanac 网络年鉴使用了{{ self.dataset() }}月的数据集作为度量的基础。有关更多信息，请参见方法论页面。
{% endblock %}

{% block introduction %}介绍{% endblock %}

{% block foreword_title %}前言{% endblock %}

{% block coming_soon %}即将到来！{% endblock %}

{% block appendix %}附录{% endblock %}
{% block appendices %}附录{% endblock %}

{% block ebook_title %}Ebook{% endblock %}
{% block ebook_download_short %}Ebook PDF ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download %}下载 {{ year }} Web Almanac网络年鉴 ：PDF 格式 ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download_note %}(使用 <a href="https://www.princexml.com/">www.princexml.com</a>生成){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. 页面内容",
    "II. User Experience": "II. 用户体验",
    "III. Content Publishing": "III. 内容发布",
    "IV. Content Distribution": "IV. 内容分发"
  }
%}

{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "cookies": "Cookies",
    "markup": "标记",
    "media": "媒体",
    "third-parties": "第三方",
    "fonts": "字体",
    "performance": "性能",
    "security": "安全",
    "accessibility": "无障碍可访问性",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "移动网络",
    "ecommerce": "电商",
    "cms": "CMS",
    "compression": "压缩",
    "caching": "缓存",
    "cdn": "CDN",
    "page-weight": "页面重量",
    "resource-hints": "资源提示",
    "http": "HTTP",
    "privacy": "隐私",
    "capabilities": "能力",
    "jamstack": "Jamstack",
    "webassembly": "WebAssembly",
    "structured-data": "Structured Data",
    "sustainability": "可持续性",
    "interoperability": "互操作性"
  }
%}
{% if (year == "2019" or year == "2020") %}
{% set _dummy = localizedChapterTitles.__setitem__("http", "HTTP/2") %}
{% endif %}

{% set localizedTeamNames = {
  "analysts": "分析者",
  "authors": "作者",
  "brainstormers": "头脑风暴者",
  "designers": "设计者",
  "developers": "开发者",
  "editors": "编辑",
  "leads": "领导者",
  "committee": "组织委员会",
  "reviewers": "审稿者",
  "translators": "翻译者",
  }
%}

{% set localizedTeamRole = {
  "analysts": "分析者",
  "authors": "作者",
  "brainstormers": "头脑风暴者",
  "designers": "设计者",
  "developers": "开发者",
  "editors": "编辑",
  "leads": "领导者",
  "committee": "组织委员会",
  "reviewers": "审稿者",
  "translators": "翻译者",
  }
%}
