{% extends "base/base.html" %}

{% block description %}Web Almanac, web topluluğunun uzmanlığını HTTP Archive verileri ve eğilimleri ile birleştiren yıllık bir web raporudur.{% endblock %}

{% block twitter_image_alt %}{{ year }}Web Almanac{% endblock %}

{% block skip_navigation %}Navigasyonu Atla{% endblock %}

{% block organization %}HTTP Archive&#8217;dan Web Almanac{% endblock %}
{% block web_almanac_logo %}
<span class="line-group">
  <span class="ha">HTTP Archive&#8217;</span>
  <span class="pre">dan</span>
</span>
<span class="wa">Web Almanac</span>
{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive&#8217;ın yıllık<br> <b>web durumu</b> raporu{% endblock %}

{% block announcement_text -%}
{%- if year < DEFAULT_YEAR -%}
<p>
  Web Almanac'ın önceki bir baskısını görüntülüyorsunuz.
  <a href="/{{ lang }}/{{ DEFAULT_YEAR }}/{% if chapter_lang_exists(lang, DEFAULT_YEAR, slug) or page_lang_exists(lang, DEFAULT_YEAR, slug) %}{{ slug }}{% endif %}">{{ DEFAULT_YEAR }} baskısına</a> göz atın!.
</p>
{%- elif self.call_for_contributors() | trim | length > 0 -%}
<p>
  📣 <a href="{{ self.call_for_contributors() }}">
  <b>Katkı sağlamak ister misiniz?</b></a> {{ now().year }} Web Almanac'ı oluşturmaya yardım edin— bu yılki baskıyı şekillendiren ekibin bir parçası olun!
</p>
{%- endif -%}
{% endblock %}

{% block mission %}
<p>
Misyonumuz, HTTP Archive&#8217;ın ham istatistiklerini ve eğilimlerini web topluluğunun uzmanlığı ile birleştirmektir. Web Almanac, gerçek veri ve güvenilir web uzmanları tarafından desteklenen, web durumu hakkındaki kapsamlı bir rapordur. {{ year }} baskısı sayfa içeriği, kullanıcı deneyimi, yayınlama ve dağıtım yönlerini kapsayan {{ supported_chapters | length }} bölümden oluşmuştur.
</p>
{% endblock %}

{% block read_last_years_almanac %} {{ previous_year }} Web Almanac&#8217;ı Oku{% endblock %}

{% block http_archive_link %}HTTP Archive Ana Sayfa{% endblock %}

{% block page_navigation %}Sayfa navigasyonu{% endblock %}

{% block help_translate %}Çeviriye yardımı edin{% endblock %}
{% block translation_not_available %}İngilizce - İngilizce olarak mevcut değil{% endblock %}
{% block in_english %} (İngilizce){% endblock %}
{% block language_switcher %}Dil Değiştirici{% endblock %}
{% block year_switcher %}Yıl Değiştirici{% endblock %}
{% block table_of_contents_switcher %}İçindekiler Tablosu Değiştiricisi{% endblock %}

{% block home %}Ana Sayfa{% endblock %}
{% block table_of_contents_title %}İçindekiler Tablosu{% endblock %}
{% block contributors_title %}Katkıda Bulunanlar{% endblock %}
{% block methodology_title %}Metodoloji{% endblock %}
{% block search_title %}Arama{% endblock %}

{% block part %}Kısım{% endblock %}
{% block chapter %}Bölüm{% endblock %}

{% block start_exploring %}Keşfetmeye başlayın{% endblock %}

{% block menu_title %}Sayfa menüsü{% endblock %}
{% block open_the_menu %}Menüyü açın{% endblock %}
{% block close_the_menu %}Menüyü kapatın{% endblock %}

{% block index_nav_title %}İçindekiler tablosu bölümü{% endblock %}
{% block index_title %}İndeks{% endblock %}
{% block open_the_index %}İçindekiler Tablosunu Açın{% endblock %}
{% block close_the_index %}İçindekiler Tablosunu Kapatın{% endblock %}

{% block and %} ve {% endblock %}
{% block comma %}, {% endblock %}
{% block oxford_comma %}, {% endblock %}

{% block open %}Açık{% endblock %}
{% block close %}Kapalı{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}Figure {{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}Şekil açıklamasını gösterin {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}Şekil açıklamasını gizleyin {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}

{% block written_by_before %}Yazan{% endblock %}
{% block reviewed_by_before %}Gözden geçiren{% endblock %}
{% block translated_by_before %}Çeviren{% endblock %}
{% block analysis_by_before %}Analiz eden{% endblock %}
{% block edited_by_before %}Düzenleyen{% endblock %}
{% block reviewed_and_analyzed_by_before %}Gözden geçiren ve analiz eden{% endblock %}
{% block analysis_and_editing_by_before %}Analiz eden ve düzenleyen{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}
{% block edited_by_after %}{% endblock %}
{% block reviewed_and_analyzed_by_after %}{% endblock %}
{% block analysis_and_editing_by_after %}{% endblock %}

{% block date_published %}Yayınlanma tarihi: {% endblock %}
{% block date_updated %}Güncellenme tarihi: {% endblock %}

{% block unedited %}[Düzenlenmiş olan]{% endblock %}

{% block author %}Yazar{% endblock %}
{% block authors %}Yazarlar{% endblock %}

{% block reaction %}reaksiyon{% endblock %}
{% block reactions %}reaksiyonlar{% endblock %}
{% block reactionsTitle %}Reaksiyonlar{% endblock %}
{% block reactionsAlt %}{% endblock %}
{% block source %}Kaynağı görüntüle{% endblock %}
{% block share %}Share{% endblock %}

{% block like %}beğenisi{% endblock %}
{% block repost %}yayınlamak{% endblock %}
{% block reply %}yanıtı{% endblock %}
{% block mention %}anma{% endblock %}
{% block likes %}beğenileri{% endblock %}
{% block reposts %}gönderileri{% endblock %}
{% block replies %}yanıtları{% endblock %}
{% block mentions %}bahseder{% endblock %}
{% block likesAlt %}{% endblock %}
{% block repostsAlt %}{% endblock %}
{% block repliesAlt %}{% endblock %}
{% block mentionsAlt %}{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}}Twitter/X üzerinde{% endmacro %}
{% macro onMastodon(mastodonHandle) %}{{mastodonHandle}}Mastodon üzerinde{% endmacro %}
{% macro onBluesky(blueskyHandle) %}{{blueskyHandle}}Bluesky üzerinde{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}}GitHub üzerinde {% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} LinkedIn üzerinde {% endmacro %}
{% macro website(authorName) %}{{authorName}} website{% endmacro %}

{% block citation %}Alıntı{% endblock %}

{% macro edition(year) %}{{ year }} Baskısı{% endmacro %}

{% block footer_title %}Footer navigasyon{% endblock %}
{% block copyright %}© Web Almanac. <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a> altında lisanslanmıştır.{% endblock %}
{% block accessibility_statement %}Erişilebilirlik Bildirimi{% endblock %}
{% block rss_feed %}RSS Feed{% endblock %}

{% block featured_chapter %}Öne Çıkan Bölüm{% endblock %}
{% block featured_chapter_last_year %}{{ previous_year }} Web Almanac'tan <br>Öne Çıkan Bölüm{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}<span class="featured-chapter-name">{{ chapter }}</span> Bölümünü Okuyun{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %} {{ previous_year }} <span class="featured-chapter-name">{{ chapter }}</span> Bölümünü Okuyun{% endmacro %}
{% endif %}

{% block contributors_description %}
Web Almanac, web topluluğunun sıkı çalışmasıyla mümkün olmuştur. {{ self.contributors() }} kişi {{ year }} Web Almanak'ın planlama, araştırma, yazma ve üretim aşamalarında sayısız saatler gönüllü oldular.
{% endblock %}
{% block contributors_link %}Katkıda bulunanları görün{% endblock %}

{% block methodology_stat_1_title %}Test Edilen Web Siteleri{% endblock %}
{% block methodology_stat_2_title %}İşlenen Veriler{% endblock %}
{% block methodology_link %}Metodolojimiz hakkında bilgi edinin{% endblock %}
{% block methodology_description %}
Aksi belirtilmedikçe, {{ year }} Web Almanac&#8217;ın tüm {{ supported_chapters | length }} bölümlerindeki metrikler, HTTP Archive veri kümesinden elde edilir. HTTP Archive, 2010'dan beri web'in nasıl oluşturulduğunu izleyen, topluluk tarafından yürütülen bir projedir. WebPageTest ve Lighthouse örtüsü altında, {{ self.total_websites() }} web siteleri hakkındaki metadata aylık olarak test edilir ve analiz için herkese açık bir BigQuery veritabanına dahil edilir. {{ self.dataset() }} veri kümesi {{ year }} Web Almanac&#8217;ın metrikleri için temel olarak kullanıldı.  Daha fazla bilgi için, Methodoloji sayfasını görün.
{% endblock %}

{% block introduction %}Giriş{% endblock %}

{% block foreword_title %}Önsöz{% endblock %}

{% block coming_soon %}Yakında geliyor!{% endblock %}

{% block appendix %}Ek{% endblock %}
{% block appendices %}Ekler{% endblock %}

{% block ebook_title %}E-kitap{% endblock %}
{% block ebook_download_short %}E-kitap PDF ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download %}Tüm {{ year }} Web Almanac&#8217;ı PDF formatında ({{ ebook_size_in_mb }}MB) indirin{% endblock %}
{% block ebook_download_note %}(<a href="https://www.princexml.com/">www.princexml.com</a> ile oluşturulmuştur){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. Sayfa İçeriği",
    "II. User Experience": "II. Kullanıcı Deneyimi",
    "III. Content Publishing": "III. İçerik Yayınlama",
    "IV. Content Distribution": "IV. İçerik Dağıtımı"
  }
%}

{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "cookies": "Cookies",
    "markup": "Markup",
    "media": "Media",
    "third-parties": "Üçüncü Partiler",
    "fonts": "Yazı tipleri",
    "performance": "Performans",
    "security": "Güvenlik",
    "accessibility": "Erişilebilirlik",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "Mobil Web",
    "ecommerce": "Eticaret",
    "cms": "CMS",
    "compression": "Sıkıştırma",
    "caching": "Önbelleğe Alma",
    "cdn": "CDN",
    "page-weight": "Sayfa Ağırlığı",
    "resource-hints": "Kaynak İpuçları",
    "http": "HTTP",
    "privacy": "Gizlilik",
    "capabilities": "Yetenekler",
    "jamstack": "Jamstack",
    "webassembly": "WebAssembly",
    "structured-data": "Structured Data",
    "sustainability": "Sürdürülebilirlik",
    "interoperability": "Birlikte çalışabilirlik"
  }
%}
{% if (year == "2019" or year == "2020") %}
{% set _dummy = localizedChapterTitles.__setitem__("http", "HTTP/2") %}
{% endif %}

{% set localizedTeamNames = {
  "analysts": "Analistler",
  "authors": "Yazarlar",
  "brainstormers": "Fikir Üretenler",
  "designers": "Tasarımcılar",
  "developers": "Geliştiriciler",
  "editors": "Editorler",
  "leads": "Proje Liderleri",
  "committee": "Düzenleme Komitesi",
  "reviewers": "Gözden Geçirenler",
  "translators": "Çevirmenler",
  }
%}

{% set localizedTeamRole = {
  "analysts": "Analist",
  "authors": "Yazar",
  "brainstormers": "Fikir Üreten",
  "designers": "Tasarımcı",
  "developers": "Geliştirici",
  "editors": "Editor",
  "leads": "Proje Lider",
  "committee": "Düzenleme Komitesi",
  "reviewers": "Gözden Geçiren",
  "translators": "Çevirmen",
  }
%}
