{% extends "base/base.html" %}

{% block description %}Le Web Almanac est un rapport annuel sur l’état du Web qui combine l’expertise de la communauté Web avec les données et tendances de HTTP Archive.{% endblock %}

{% block twitter_image_alt %}Web Almanac {{ year }}{% endblock %}

{% block skip_navigation %}Sauter la navigation{% endblock %}

{% block organization %}Web Almanac par HTTP Archive{% endblock %}
{% block web_almanac_logo %}
  <span class="wa">Web Almanac</span>
  <span class="line-group">
    <span class="pre">Par</span>
    <span class="ha">HTTP Archive</span>
  </span>
{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}Rapport annuel<br>de HTTP Archive sur<br><b>l’état du Web</b>{% endblock %}

{% block announcement_text %}
<p lang="en">
  Join our live stream for this year's edition on Tuesday, 10th December 2024 on
  <a href="https://www.youtube.com/live/cdYR0ZmplIM">YouTube</a>,
  or save the <a href="/static/live-stream.ics">calendar event</a>!
</p>
{% endblock %}

{% block mission %}
<p>
Notre mission est de combiner les statistiques brutes et les tendances de HTTP Archive avec l’expertise de la communauté web. Le Web Almanac est un rapport complet sur l’état du Web, soutenu par des données réelles et des experts du Web. L’édition {{ year }} se compose de {{ supported_chapters | length }} chapitres couvrant l’expérience utilisateur, le contenu des pages, leur publication et leur distribution.
</p>
{% endblock %}

{% block read_last_years_almanac %}Lire le Web Almanac {{ previous_year }}{% endblock %}

{% block http_archive_link %}HTTP Archive home{% endblock %}

{% block page_navigation %}Page navigation{% endblock %}

{% block help_translate %}Aidez à traduire{% endblock %}
{% block translation_not_available %}en anglais - non disponible en français{% endblock %}
{% block in_english %} (en anglais){% endblock %}
{% block language_switcher %}Sélecteur de langue{% endblock %}
{% block year_switcher %}Sélecteur d’année{% endblock %}
{% block table_of_contents_switcher %}Sélecteur de table des matières{% endblock %}

{% block home %}Accueil{% endblock %}
{% block table_of_contents_title %}Table des matières{% endblock %}
{% block contributors_title %}Contributeurs et contributrices{% endblock %}
{% block methodology_title %}Méthodologie{% endblock %}
{% block search_title %}Rechercher{% endblock %}

{% block part %}Partie{% endblock %}
{% block chapter %}Chapitre{% endblock %}

{% block start_exploring %}Commencer l’exploration{% endblock %}

{% block menu_title %}Menu de la page{% endblock %}
{% block open_the_menu %}Ouvrez le menu{% endblock %}
{% block close_the_menu %}Fermez le menu{% endblock %}

{% block index_nav_title %}Table des matières du chapitre{% endblock %}
{% block index_title %}Index{% endblock %}
{% block open_the_index %}Ouvrir la table des matières{% endblock %}
{% block close_the_index %}Fermer la table des matières{% endblock %}

{% block and %} et {% endblock %}
{% block comma %}, {% endblock %}
{% block oxford_comma %}{% endblock %}

{% block open %}Ouvrez{% endblock %}
{% block close %}Fermez{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}Figure {{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}Afficher la description de la figure {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}Masquer la description de la figure  {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}

{% block written_by_before %}Écrit par{% endblock %}
{% block reviewed_by_before %}Relu par{% endblock %}
{% block translated_by_before %}Traduit par{% endblock %}
{% block analysis_by_before %}Analysé par{% endblock %}
{% block edited_by_before %}Edité par{% endblock %}
{% block reviewed_and_analyzed_by_before %}Relu et analysé par{% endblock %}
{% block analysis_and_editing_by_before %}Analysé et edité par{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}
{% block edited_by_after %}{% endblock %}
{% block reviewed_and_analyzed_by_after %}{% endblock %}
{% block analysis_and_editing_by_after %}{% endblock %}

{% block date_published %}Date de publication : {% endblock %}
{% block date_updated %}Date de mise à jour : {% endblock %}

{% block unedited %}[non corrigé]{% endblock %}

{% block author %}Auteur·ice{% endblock %}
{% block authors %}Auteur·ice·s{% endblock %}

{% block reaction %}réaction{% endblock %}
{% block reactions %}réactions{% endblock %}
{% block reactionsTitle %}Réactions{% endblock %}
{% block reactionsAlt %}{% endblock %}
{% block source %}Voir la source{% endblock %}
{% block share %}Partager{% endblock %}

{% block like %}j’aime{% endblock %}
{% block repost %}républication{% endblock %}
{% block reply %}réponse{% endblock %}
{% block mention %}mention{% endblock %}
{% block likes %}j’aimes{% endblock %}
{% block reposts %}républications{% endblock %}
{% block replies %}réponses{% endblock %}
{% block mentions %}mentions{% endblock %}
{% block likesAlt %}{% endblock %}
{% block repostsAlt %}{% endblock %}
{% block repliesAlt %}{% endblock %}
{% block mentionsAlt %}{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} sur Twitter/X{% endmacro %}
{% macro onMastodon(mastodonHandle) %}{{mastodonHandle}} sur Mastodon{% endmacro %}
{% macro onBluesky(blueskyHandle) %}{{blueskyHandle}} sur Bluesky{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} sur GitHub{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} sur LinkedIn{% endmacro %}
{% macro website(authorName) %}site web de {{authorName}}{% endmacro %}

{% block citation %}Citation{% endblock %}

{% macro edition(year) %}Édition {{ year }}{% endmacro %}

{% block footer_title %}Navigation dans le pied de page{% endblock %}
{% block copyright %}© Web Almanac. Sous licence <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}Déclaration d’accessibilité{% endblock %}
{% block rss_feed %}RSS Feed{% endblock %}

{% block featured_chapter %}Focus sur le chapitre…{% endblock %}
{% block featured_chapter_last_year %}Focus sur le chapitre<br>du Web Almanac {{ previous_year }}{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}Lire le chapitre&nbsp;: <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %}Lire le chapitre {{ previous_year }}&nbsp;: <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}
{% endif %}

{% block contributors_description %}
Le Web Almanac a été rendu possible grâce au travail acharné de la communauté Web. {{ self.contributors() }} personnes ont consacré bénévolement d’innombrables heures à planifier, faire des recherches, rédiger et mettre à votre disposition l'édition {{ year }} du Web Almanac.
{% endblock %}
{% block contributors_link %}Voir les contributeurs et contributrices{% endblock %}

{% block methodology_stat_1_title %}Sites Web testés{% endblock %}
{% block methodology_stat_2_title %}Données traitées{% endblock %}
{% block methodology_link %}En savoir plus sur la Méthodologie{% endblock %}
{% block methodology_description %}
Sauf indication contraire, les statistiques des {{ supported_chapters | length }} chapitres du Web Almanac {{ year }} proviennent du jeu de données HTTP Archive, un projet communautaire qui suit l’évolution de la construction du web depuis 2010. Grâce à WebPageTest et Lighthouse, HTTP Archive collecte chaque mois les métadonnées de {{ self.total_websites() }} de sites Web et les insère dans une base de données publique BigQuery pour les analyser. Le jeu de données de {{ self.dataset() }} a servi de base aux mesures du Web Almanac {{ year }}. Pour plus d’informations, consultez la page Méthodologie.
{% endblock %}

{% block introduction %}Introduction{% endblock %}

{% block foreword_title %}Avant-propos{% endblock %}

{% block coming_soon %}Bientôt disponible&nbsp;!{% endblock %}

{% block appendix %}Annexe{% endblock %}
{% block appendices %}Annexes{% endblock %}

{% block ebook_title %}Ebook{% endblock %}
{% block ebook_download_short %}Ebook PDF ({{ ebook_size_in_mb }}&nbsp;Mo){% endblock %}
{% block ebook_download %}Télécharget tout le Web Almanac {{ year }} au format PDF ({{ ebook_size_in_mb }}&nbsp;Mo){% endblock %}
{% block ebook_download_note %}(produit par <a href="https://www.princexml.com/">www.princexml.com</a>){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. Contenu des pages",
    "II. User Experience": "II. Expérience Utilisateur·ice",
    "III. Content Publishing": "III. Publication de contenu",
    "IV. Content Distribution": "IV. Diffusion du contenu"
  }
%}

{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "cookies": "Cookies",
    "markup": "Balisage Web",
    "media": "Média",
    "third-parties": "Tierces Parties",
    "fonts": "Polices d’écriture",
    "performance": "Performance",
    "security": "Sécurité",
    "accessibility": "Accessibilité",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "Web Mobile",
    "ecommerce": "E-commerce",
    "cms": "CMS",
    "compression": "Compression",
    "caching": "Mise en cache",
    "cdn": "CDN",
    "page-weight": "Poids des pages",
    "resource-hints": "Indices de Ressources",
    "http": "HTTP",
    "privacy": "Vie Privée",
    "capabilities": "Capacités",
    "jamstack": "Jamstack",
    "webassembly": "WebAssembly",
    "structured-data": "Structured Data",
    "sustainability": "Durabilité",
    "interoperability": "Interopérabilité"
  }
%}
{% if (year == "2019" or year == "2020") %}
{% set _dummy = localizedChapterTitles.__setitem__("http", "HTTP/2") %}
{% endif %}

{% set localizedTeamNames = {
  "analysts": "Analyse",
  "authors": "Rédaction",
  "brainstormers": "Réflexion",
  "designers": "Design",
  "developers": "Développement",
  "editors": "Édition",
  "leads": "Gestion de projet",
  "committee": "Comité d'organisation",
  "reviewers": "Relecture",
  "translators": "Traduction",
  }
%}

{% set localizedTeamRole = {
  "analysts": "Analyse",
  "authors": "Rédaction",
  "brainstormers": "Réflexion",
  "designers": "Design",
  "developers": "Développement",
  "editors": "Édition",
  "leads": "Gestion de projet",
  "committee": "Comité d'organisation",
  "reviewers": "Relecture",
  "translators": "Traduction",
  }
%}
