{% extends "base/2019/index.html" %}

{% block title %}{{ year }} Web Almanac{% endblock %}
{% block description %}Web Almanac वेब रिपोर्ट की एक वार्षिक स्थिति है जो वेब समुदाय की विशेषज्ञता को HTTP संग्रह के डेटा और रुझानों के साथ जोड़ती है।{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}

{% block date_published %}2020-07-06T00:00:00.000Z{% endblock %}
{% block date_modified %}2020-11-03T00:00:00.000Z{% endblock %}

{% block intro_title %}{{ self.coming_soon() }}{% endblock %}
{% block intro_sub_title %}{{ year }} <b>वेब की स्थिति</b> की रिपोर्ट{% endblock %}

{% block mission %}
<p>
  वेब समुदाय के विशेषज्ञ वर्तमान में Web Almanac के {{ year }} संस्करण के लिए कार्य योजना, विश्लेषण, और लेखन सामग्री पर कार्य कर रहे हैं, जो वर्ष के अंत में प्रकाशित होने के लिए ट्रैक पर है।
</p>
{% endblock %}