{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}5.8M{% endblock %}
{% block methodology_stat_2 %}20.9 TB{% endblock %}
{% block total_websites %}yaklaşık 6 milyon{% endblock %}
{% block dataset %}Temmuz 2019{% endblock %}

{% block foreword %}
<div>
  <p>
    Açık web, inanılmaz derecede karmaşık, gelişen bir teknoloji ağıdır. Tüm endüstriler ve kariyerler web üzerine kuruludur ve başarılı olmak için onun canlı ekosistemine bağlıdır. Web eleştirel olduğu kadar, onun nasıl çalıştığını anlamak şaşırtıcı derecede zordur. 2010&#8217;dan beri, HTTP Archive projesinin misyonu, web&#8217;in nasıl inşa edildiğini ve harika bir iş çıkardığını izlemek. Ancak, kapatılması özellikle zor olan bir boşluk var: HTTP Archive projesinin topladığı veriye anlam getirmek ve web&#8217;in nasıl performans gösterdiğinin kolayca anlaşılması için topluluğa imkan sağlamak. Bu Web Almanac&#8217;ın devreye girdiği yerdir.
  </p>

  <p>
    Web Almanac&#8217;ın misyonu, aksi takdirde yalnızca cesur veri madencileri tarafından erişilebilecek içgörü hazinesini almak ve anlaşılması kolay bir şekilde paketlemektir. Bu, veriyi anlamlandırabilen ve bize ne anlama geldiğini söyleyebilen endüstri uzmanlarının yardımıyla mümkün olur. Web Almanac&#8217;taki 20 bölümün her biri web&#8217;in belirli bir yönüne odaklanır, ve her bir bölüm kendi alanındaki uzmanlar tarafından yazılmış ve kendi meslekdaşları tarafından gözden geçirilmiştir. Web Almanac&#8217;ın gücü doğrudan onu yazan kişilerin uzmanlığından gelir.
  </p>

  <p>
    Web Almanac&#8217;taki bulguların çoğu kutlanmaya değer, ama yüksek kaliteli kullanıcı deneyimleri sunmak için hâlâ gereken çalışmanın önemli bir hatırlatıcısıdır. Her bölümdeki veriye dayalı analizler, daha iyi bir web geliştirmek için hepimizin paylaştığı bir sorumluluk biçimidir. Bu onu yanlış anlayanları utandırmakla ilgili değil, ama en iyi uygulamalara giden yolda yol gösterici bir ışığın parlaması ile ilgilidir, öyleyse işleri yapmanın açık ve doğru bir yolu vardır. Web topluluğunun sürekli yardımı ile, bunu yıllık bir gelenek haline getirmeyi umuyoruz, böylece her yıl ilerlememizi takip edebilir ve gerektiğinde kurs düzeltmelerini yapabiliriz.
  </p>

  <p>
    Bu raporda öğrenilecek çok şey var, öyleyse keşfetmeye başlayın ve öğrendiklerinizi toplulukla paylaşın, böylece web&#8217;in durumuna ilişkin anlayışımızı toplu olarak ilerletebiliriz.
  </p>

  <p>— <em><a href="{{ url_for('contributors', year=year, lang=lang, _anchor='rviscomi') }}">Rick Viscomi</a>, Web Almanac Genel Yayın Sorumlusu</em></p>
</div>
{% endblock %}
