/* Google Fonts downloaded locally for performance reasons */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'),
       local('Lato-Italic'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) */
       url('/static/fonts/Lato-Italic-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'),
       local('Lato-Italic'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) */
       url('/static/fonts/Lato-Italic.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'),
       local('Lato-BoldItalic'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) */
       url('/static/fonts/Lato-BoldItalic-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'),
       local('Lato-BoldItalic'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) */
       url('/static/fonts/Lato-BoldItalic.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'),
       local('Lato-Regular'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) */
       url('/static/fonts/Lato-Regular-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'),
       local('Lato-Regular'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) */
       url('/static/fonts/Lato-Regular.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'),
       local('Lato-Bold'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) */
       url('/static/fonts/Lato-Bold-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'),
       local('Lato-Bold'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) */
       url('/static/fonts/Lato-Bold.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'),
       local('Lato-Black'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) */
       url('/static/fonts/Lato-Black-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'),
       local('Lato-Black'),
       /* url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) */
       url('/static/fonts/Lato-Black.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'),
       local('Poppins-Light'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z11lFd2JQEl8qw.woff2) */
       url('/static/fonts/Poppins-Light-devanagari.woff2')
       format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'),
       local('Poppins-Light'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) */
       url('/static/fonts/Poppins-Light-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'),
       local('Poppins-Light'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) */
       url('/static/fonts/Poppins-Light.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'),
       local('Poppins-Regular'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) */
       url('/static/fonts/Poppins-Regular-devanagari.woff2')
       format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'),
       local('Poppins-Regular'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) */
       url('/static/fonts/Poppins-Regular-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'),
       local('Poppins-Regular'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) */
       url('/static/fonts/Poppins-Regular.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'),
       local('Poppins-Bold'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) */
       url('/static/fonts/Poppins-Bold-devanagari.woff2')
       format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'),
       local('Poppins-Bold'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) */
       url('/static/fonts/Poppins-Bold-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'),
       local('Poppins-Bold'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) */
       url('/static/fonts/Poppins-Bold.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black'),
       local('Poppins-Black'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5Z11lFd2JQEl8qw.woff2) */
       url('/static/fonts/Poppins-Black-devanagari.woff2')
       format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black'),
       local('Poppins-Black'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5Z1JlFd2JQEl8qw.woff2) */
       url('/static/fonts/Poppins-Black-ext.woff2')
       format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black'),
       local('Poppins-Black'),
       /* url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5Z1xlFd2JQEk.woff2) */
       url('/static/fonts/Poppins-Black.woff2')
       format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Browser elements */
body {
  font-family: 'Lato', sans-serif;
  color: #1A2B49;
  margin: 0;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.4em;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .subtitle {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2em;
}

b {
  font-weight: bold;
}

select {
  -webkit-appearance: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

/* The main wrapper, center aligned */
.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

/* Main title, subtitle and modifiers */
.title,
.subtitle {
  margin-top: 20px;
}

.subtitle {
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}

.title::before,
.subtitle::before {
  display: block;
  content: '';
  margin-bottom: 15px;
  border-bottom: solid 1px #a8caba;
  width: 80px;
}

.subtitle + .title {
  margin-top: 0;
}

.subtitle + .title::before {
  content: normal;
}

.title .chapter-unedited {
  font-family: monospace;
  text-transform: uppercase;
  color: red;
  vertical-align: super;
  font-size: .5em;
}

.title-lg {
  font-size: 48px;
}

.title-alt::before {
  border-bottom-color: #f7f779;
}

.title-center {
  text-align: center;
}

.title-center::before {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {  
  .title-lg {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .title-alt::before {
    margin-left: auto;
    margin-right: auto;
  }
}

h2.header {
  font-size: 25px;
  margin: 14px;
}

.btn {
  border: 1px solid #1A2B49;
  border-radius: 50px;
  padding: 15px 30px;
  background: #1A2B49;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}
.btn:hover,
.btn:focus,
.alt.btn {
  background: #FFFFFF;
  color: #1A2B49;
}
.alt.btn:hover,
.alt.btn:focus {
  background: #1A2B49;
  color: #FFFFFF;
}

.alt-bg {
  background-color: #5C687D;
  color: white;
}

a.navigation-logo {
  color: white;
}
a.navigation-logo img:hover,
a.navigation-logo:focus img {
  filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(4357%) hue-rotate(16deg) brightness(136%) contrast(94%);
}

header.alt-bg a:hover, footer.alt-bg a:hover,
header.alt-bg a:focus, footer.alt-bg a:focus {
  color: #F7F779;
}
.alt-bg .btn {
  border-color: #F7F779;
  background-color: #F7F779;
  color: #1A2B49;
}
.alt-bg .btn:hover,
.alt-bg .btn:focus,
.alt-bg .alt.btn {
  background-color: transparent;
  color: #F7F779;
}
.alt-bg .alt.btn:hover,
.alt-bg .alt.btn:focus {
  background-color: #F7F779;
  color: #1A2B49;
}

.top-header, footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.top-header, footer .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul, footer nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding-inline-start: 0;
}

header nav li, footer nav li {
  display: flex;
  line-height: 1.4em;
}

header nav {
  display: flex;
  align-items: center;
  margin: 0;
}

header nav > ul > li > * {
  margin-right: 50px;
}
header nav > ul > li:last-child  > * {
  margin-right: 0;
}
nav a {
  text-decoration: none;
  color: #F2F2F2;
}

header .cta {
  display: flex;
  min-width: 205px;
  flex-direction: row-reverse;
}

header .btn + .language-switcher {
  margin-left: 20px;
}

.language-switcher .flag {
  margin-right: 14px;
}

.language-switcher,
.year-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.language-switcher select,
.year-switcher select {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 20px;
  background: none;
  color: inherit;
  cursor: pointer;
  border-color: #f2f2f2;
}

.language-switcher option,
.year-switcher option {
  color: #1A2B49;
}

.language-switcher select:focus,
.year-switcher select:focus {
  border-color: #f2f2f2;
}

.language-switcher img:last-of-type,
.year-switcher img:last-of-type {
  position: absolute;
  right: 0px;
  pointer-events: none;
}

.not-translated {
  font-style: italic;
  font-size: 0.9em;
}

.dropdown-arrow {
  filter: invert(100%) sepia(0%) saturate(953%) hue-rotate(229deg) brightness(116%) contrast(100%);
}

.menu-btn,
#menu,
.menu {
  display: none;
}

.main {
  margin: 0px auto;
  font-size: 17px;
}

.main a,
.main a:visited {
  color: #0b1423;
}

h2, h3, h4 {
  margin-top: 2em;
}
h2 code,
h3 code,
h4 code {
  font-size: inherit;
}

p, td, th, code, li {
  font-size: 17px;
  line-height: 1.5em;
}

pre {
  margin: 0;
}

hr {
  opacity: 0.2;
}

blockquote {
  position: relative;
  font-style: italic;
  font-size: 19px;
}

blockquote::before {
  content: '"' / "";
  position: absolute;
  z-index: -1;
  top: -4rem;
  left: -7rem;
  opacity: .05;
  font-size: 20rem;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
}

/* Footer */
footer {
  display: grid;
  grid-template-areas:
    'home-logo nav-items nav-items nav-items'
    'hr hr hr hr'
    'copyright copyright ha-logo social-media';
  grid-template-columns: 400px 1fr 1fr 120px 0 0;
  /* 20px same as .container padding */
  padding-left: 20px;
  padding-right: 20px;
}

footer .home-logo {
  grid-area: home-logo;
  display: flex;
  justify-content: start;
  align-items: center;
}
footer .nav-items {
  grid-area: nav-items;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .ha-logo {
  grid-area: ha-logo;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .nav-items ul li > * {
  margin-left: 50px;
}
footer .language-switcher {
  grid-area: language-switcher;
}
footer .copyright {
  grid-area: copyright;
  display: block;
  align-items: center;
}
footer .social-media {
  grid-area: social-media;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer ul {
  margin-block-start: 0;
  margin-block-end: 0;
}
footer hr {
  grid-area: hr;
  width: 100%;
  margin: 40px 0px 20px 0;
}
footer hr:last-of-type {
  grid-area: hr-last;
  display: none;
}

p.copyright {
  margin: 0;
  font-size: 16px;
  color: #F2F2F2;
}
p.copyright a {
  color: white;
}

.social-media div {
  padding: 0 20px;
}

.social-media li:first-child a {
  margin-right: 30px;
}

.social-media li {
  display: flex;
}
.social-media img {
  height: auto;
  width: 18px;
}

.social-media img {
  filter: brightness(0) saturate(100%) invert(66%) sepia(3%) saturate(1296%) hue-rotate(179deg) brightness(91%) contrast(90%);
}
.social-media img:hover,
.social-media a:focus img {
  filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(4357%) hue-rotate(16deg) brightness(136%) contrast(94%);
}

@media (max-width: 900px) and (min-width: 601px) {
  header .cta {
    display: none;
  }

  footer {
    display: grid;
    grid-template-areas:
      'home-logo home-logo language-switcher language-switcher'
      'hr hr hr hr'
      'nav-items nav-items nav-items nav-items'
      'hr-last hr-last hr-last hr-last'
      'copyright copyright ha-logo social-media';
    grid-template-columns: 3fr 1fr 1fr 120px 0 0;
    grid-template-rows: 60px auto auto;
  }
  footer .nav-items {
    grid-area: nav-items;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .nav-items ul li > * {
    margin-left: 0;
    margin: 20px 0px;
    font-size: 16px;
  }
  footer hr {
    margin: 20px 0px;
  }
  footer hr:last-of-type {
    display: block;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

#skiptocontent a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #f7f779;
  color: #333;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100;
}

#skiptocontent a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  outline-color: transparent;
  -webkit-transition: top .1s ease-in;
  transition: top .1s ease-in;
}

/* Mobile View */
@media (max-width: 600px) {
   body, p, td, th, code, li {
     font-size: 16px;
   }
  /* Header */
  .top-header, footer {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  header nav:first-of-type,
  header .cta {
    display: none;
  }
  header nav > ul > li > * {
    margin: 0;
  }
  header nav > ul > li > a {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.4em
  }
  header nav > ul > li:last-child {
    margin: 0;
  }
  header .social-media li {
    display: inline;
  }

  #menu {
    display: block;
  }
  .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    /* overcome the parent container's 20px side padding */    
    left: -20px;
    right: -20px;
    border-top: 1px solid rgba(242, 242, 242, 0.2);
    padding: 60px 30px 30px;
    background-color: #677486;
    box-shadow: 0 0 16px 0 rgba(78, 85, 100, 1);
    z-index: 1;
  }

  .menu-btn {
    background: none;
    border: 0;
    display: block;
    cursor: pointer;
  }

  .menu-open .menu {
    display: flex;
  }
  .menu-open header {
    background-color: #667384;
  }
  .menu .misc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  /* Footer */
  footer {
    grid-template-areas:
      'home-logo language-switcher'
      'hr hr'
      'nav-items nav-items'
      'ha-logo  social-media'
      'hr-last hr-last'
      'copyright copyright';
    grid-template-columns: 1fr 120px 0 0;
    grid-template-rows: auto;
  }
  footer .home-logo {
    grid-area: home-logo;
    margin: 20px 0px;
  }
  footer .home-logo > img {
    max-width: 40vw;
  }
  footer .ha-logo {
    grid-area: ha-logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
  }
  footer .nav-items {
    grid-area: nav-items;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .nav-items ul li > * {
    margin-left: 0;
    margin: 20px 0px;
    font-size: 16px;
  }
  footer .language-switcher {
    grid-area: language-switcher;
  }
  p.copyright {
    font-size: 12px;
  }
  footer .copyright {
    grid-area: copyright;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  footer .social-media {
    grid-area: social-media;
  }
  footer hr {
    margin: 20px 0px;
  }
  footer hr:last-of-type {
    display: block;
  }
}
