/* Browser elements */
body {
  font-family: 'Lato', sans-serif;
  color: #1A2B49;
  margin: 0;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.4em;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .subtitle {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2em;
}

b {
  font-weight: bold;
}

select {
  -webkit-appearance: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

/* Main title, subtitle and modifiers */
.title,
.subtitle {
  margin-top: 20px;
}

.subtitle {
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}

.title::before,
.subtitle::before {
  display: block;
  content: '';
  margin-bottom: 15px;
  border-bottom: solid 1px #a8caba;
  width: 80px;
}

.subtitle + .title {
  margin-top: 0;
}

.subtitle + .title::before {
  content: normal;
}

.title .chapter-unedited {
  font-family: monospace;
  text-transform: uppercase;
  color: red;
  vertical-align: super;
  font-size: .5em;
}

.title-lg {
  font-size: 48px;
}

.title-alt::before {
  border-bottom-color: #f7f779;
}

.title-center {
  text-align: center;
}

.title-center::before {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {  
  .title-lg {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .title-alt::before {
    margin-left: auto;
    margin-right: auto;
  }
}

h2.header {
  font-size: 25px;
  margin: 14px;
}

.btn {
  border: 1px solid #1A2B49;
  border-radius: 50px;
  padding: 15px 30px;
  background: #1A2B49;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}
.btn:hover,
.btn:focus,
.alt.btn {
  background: #FFFFFF;
  color: #1A2B49;
}
.alt.btn:hover,
.alt.btn:focus {
  background: #1A2B49;
  color: #FFFFFF;
}

.alt-bg {
  background: #5C687D;
  color: white;
}

a.navigation-logo {
  color: white;
}
a.navigation-logo img:hover,
a.navigation-logo:focus img {
  filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(4357%) hue-rotate(16deg) brightness(136%) contrast(94%);
}

header.alt-bg a:hover, footer.alt-bg a:hover,
header.alt-bg a:focus, footer.alt-bg a:focus {
  color: #F7F779;
}
.alt-bg .btn {
  border-color: #F7F779;
  background-color: #F7F779;
  color: #1A2B49;
}
.alt-bg .btn:hover,
.alt-bg .btn:focus,
.alt-bg .alt.btn {
  background-color: transparent;
  color: #F7F779;
}
.alt-bg .alt.btn:hover,
.alt-bg .alt.btn:focus {
  background-color: #F7F779;
  color: #1A2B49;
}

header, footer {
  padding: 40px 60px;
}
article.main {
  max-width: 1324px;
}
header, footer .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
}

header nav > * {
  margin-right: 50px;
}
header nav > *:last-child {
  margin-right: 0;
}
nav a {
  text-decoration: none;
  color: #F2F2F2;
}

header .cta {
  display: flex;
  min-width: 205px;
  flex-direction: row-reverse;
}

header .btn + .language-switcher {
  margin-left: 20px;
}

.language-switcher .flag {
  margin-right: 14px;
}

.language-switcher,
.year-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.language-switcher select,
.year-switcher select {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 20px;
  background: none;
  color: inherit;
  cursor: pointer;
}

.language-switcher option,
.year-switcher option {
  color: #1A2B49;
}

.language-switcher select:focus,
.year-switcher select:focus {
  border-color: #f2f2f2;
}

.language-switcher img:last-of-type,
.year-switcher img:last-of-type {
  position: absolute;
  right: 0px;
  pointer-events: none;
}

.dropdown-arrow {
  filter: invert(100%) sepia(0%) saturate(953%) hue-rotate(229deg) brightness(116%) contrast(100%);
}

.menu-btn,
.menu {
  display: none;
}

.main {
  margin: 0px auto;
  font-size: 17px;
}
.content, section.main {
  max-width: 1024px;
}

.main a,
.main a:visited {
  color: #0b1423;
}

h2, h3, h4 {
  margin-top: 2em;
}
h2 code,
h3 code,
h4 code {
  font-size: inherit;
}

p, td, th, code, li {
  font-size: 17px;
  line-height: 1.5em;
}

pre {
  margin: 0;
}

hr {
  opacity: 0.2;
}

blockquote {
  position: relative;
  font-style: italic;
  font-size: 19px;
}

blockquote::before {
  content: '"';
  position: absolute;
  z-index: -1;
  top: -4rem;
  left: -7rem;
  opacity: .05;
  font-size: 20rem;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
}

/* Footer */
footer {
  display: grid;
  grid-template-areas:
    'home-logo nav-items nav-items nav-items'
    'hr hr hr hr'
    'copyright copyright ha-logo social-media';
  grid-template-columns: 300px 1fr 1fr 120px 0 0;
}

footer .home-logo {
  grid-area: home-logo;
  display: flex;
  justify-content: start;
  align-items: center;
}
footer .nav-items {
  grid-area: nav-items;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .ha-logo {
  grid-area: ha-logo;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .nav-items > * {
  margin-left: 50px;
}
footer .language-switcher {
  grid-area: language-switcher;
}
footer .copyright {
  grid-area: copyright;
  display: flex;
  align-items: center;
}
footer .social-media {
  grid-area: social-media;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer hr {
  grid-area: hr;
  width: 100%;
  margin: 40px 0px 20px 0;
}
footer hr:last-of-type {
  grid-area: hr-last;
  display: none;
}

p.copyright {
  margin: 0;
  font-size: 12px;
  color: #F2F2F2;
}

.social-media div {
  padding: 0 20px;
}

.social-media a:first-child {
  margin-right: 30px;
}
.social-media img {
  height: auto;
  width: 18px;
}

.social-media img {
  filter: brightness(0) saturate(100%) invert(66%) sepia(3%) saturate(1296%) hue-rotate(179deg) brightness(91%) contrast(90%);
}
.social-media img:hover,
.social-media a:focus img {
  filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(4357%) hue-rotate(16deg) brightness(136%) contrast(94%);
}

@media (max-width: 900px) and (min-width: 601px) {
  header .cta {
    display: none;
  }
  .main {
    margin: 0px 30px;
  }

  footer {
    display: grid;
    grid-template-areas:
      'home-logo  home-logo  language-switcher'
      'hr hr hr'
      'nav-items nav-items nav-items'
      'hr-last hr-last hr-last'
      'copyright ha-logo social-media';
    grid-template-columns: 1fr 1fr 120px 0 0;
    grid-template-rows: 60px auto auto;
  }
  footer .nav-items {
    grid-area: nav-items;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .nav-items > * {
    margin-left: 0;
    margin: 20px 0px;
    font-size: 16px;
  }
  footer hr {
    margin: 20px 0px;
  }
  footer hr:last-of-type {
    display: block;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

/* Mobile View */
@media (max-width: 600px) {
   body, p, td, th, code, li {
     font-size: 16px;
   }
  /* Header */
  header, footer {
    position: relative;
    padding: 30px;
  }
  .main {
    margin: 0px 30px;
  }
  header nav:first-of-type,
  header .cta {
    display: none;
  }
  header nav > * {
    margin: 0;
  }
  header nav > a{
    margin-bottom: 50px;
    font-size: 16px;
  }
  header nav > a:last-child {
    margin: 0;
  }
  .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
    border-top: 1px solid rgba(242, 242, 242, 0.2);
    width: 100%;
    padding: 60px 30px 30px;
    background-color: #677486;
    box-shadow: 0 0 16px 0 rgba(78, 85, 100, 0.2);
    opacity: 0.95;
    z-index: 1;
  }
  .menu-btn {
    background: none;
    border: 0;
    display: block;
    cursor: pointer;
  }

  .menu-open .menu {
    display: flex;
  }
  .menu-open header {
    background-color: #667384;
  }
  .menu .misc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  /* Footer */
  footer {
    grid-template-areas:
      'home-logo language-switcher'
      'hr hr'
      'nav-items nav-items'
      'ha-logo  social-media'
      'hr-last hr-last'
      'copyright copyright';
    grid-template-columns: 1fr 120px 0 0;
    grid-template-rows: auto;
  }
  footer .home-logo {
    grid-area: home-logo;
    margin: 20px 0px;
  }
  footer .home-logo > img {
    max-width: 40vw;
  }
  footer .ha-logo {
    grid-area: ha-logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
  }
  footer .nav-items {
    grid-area: nav-items;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .nav-items > * {
    margin-left: 0;
    margin: 20px 0px;
    font-size: 16px;
  }
  footer .language-switcher {
    grid-area: language-switcher;
  }
  footer .copyright {
    grid-area: copyright;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  footer .social-media {
    grid-area: social-media;
  }
  footer hr {
    margin: 20px 0px;
  }
  footer hr:last-of-type {
    display: block;
  }
}
