#title .title {
  color: white;
}

#title {
  background: #5c687d;
  background: transparent linear-gradient(#5c687d 70%, transparent 30%);
  /* background: transparent url("/static/images/intro-background-fit.svg") bottom left / 100% 100% no-repeat; */
  background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjEyNTAiIHZpZXdCb3g9IjAgMCAxOTIwIDEyNTAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8ZGVmcz4NCiAgICA8c3R5bGU+DQogICAgICBzdmd7YmFja2dyb3VuZDojZmZmfQ0KICAgICAgLmNscy0xe2ZpbGw6I2E4Y2FiYTtmaWxsLXJ1bGU6ZXZlbm9kZDtvcGFjaXR5Oi4wNX0NCiAgICA8L3N0eWxlPg0KICA8L2RlZnM+DQogIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTS0yMzEgODloMjA4OHY2NTFsLTIwODggMzYwVjg5eiIvPg0KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0tNDcwIDIzOWgyMDg4djY1MWwtMjA4OCAzNjBWMjM5eiIvPg0KICA8cGF0aCBkPSJNLTE0NC0xOWgyMDg4djY1MUwtMTQ0IDk5MlYtMTl6IiBmaWxsPSIjMWEyYjQ5IiBvcGFjaXR5PSIuNzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0tNDcwLTgzaDIwODh2NjUxTC00NzAgOTI4Vi04M3oiLz4NCiAgPHBhdGggZD0iTS0yMzItNDhoMjA4OHY2NTFMLTIzMiA5NjNWLTQ4eiIgZmlsbD0iI2YyZjJmMiIgb3BhY2l0eT0iLjA1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4NCjwvc3ZnPg0K");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro-year {
  margin: 0;
  width: auto;
  color: #f7f779;
  font-size: 160px;
  font-size: 10rem;
  line-height: 100%;
  font-weight: bold;
}

#title h1.title::before {
  border-bottom: none;
}

#title h1.title {
  font-size: 80px;
  font-size: 5rem;
  font-weight: 700;
}

#title h2.title {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
}

#title.no-color .intro-year,
#title.no-color h1.title,
#title.no-color h2.title {
  color: #5c687d;
}

.intro-image {
  border-radius: 10px;
  display: block;
  margin: 20px 0;
  width: 80%;
  height: auto;
}

#title img {
  margin: 0 auto;
}

.byline {
  font-style: italic;
}

.byline.authors {
  font-weight: bold;
  border-bottom: none;
}

.table-wrap-container {
  margin: 0;
}

.table-wrap {
  padding: 0;
}

.large-table td {
  padding: 0.2rem;
  line-height: 1.5em;
}

th {
  padding: 0.75rem;
  text-align: center;
}

td {
  padding: 0.625rem;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#toc ul {
  list-style-type: none;
}

#toc a {
  color: inherit;
  text-decoration: none;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
}

.team img {
  height: 80px;
  height: 5rem;
  width: 80px;
  width: 5rem;
}

.contributors {
  padding: 0;
  columns: 2;
  column-gap: 30px;
  margin: 15px 0 0 0;
  margin: 1.5rem 0 0 0;
}

.contributor {
  padding-top: 15px;
  padding-top: 1.5rem;
  width: 600px;
  max-width: 100%;
  vertical-align: middle;
  display: flex;
}

.contributor-avatars {
  min-width: 5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.contributor-avatar {
  border-radius: 50px;
  background-color: #f7f779;
  width: 5rem;
  transition-duration: 0.3s;
  flex: 1;
}

.contributor-social .info {
  max-width: 25vw;
}

.contributor-social a {
  display: flex;
  align-items: center;
  line-height: 12px;
  color: #757575;
}

.contributor-social svg,
.authors .social svg {
  height: 1em;
  width: 1em;
  margin-right: 4px;
  margin-right: 0.25rem;
}

.contributor-teams {
  line-height: 1;
  color: #757575;
  font-size: 8px;
  font-size: 0.8rem;
}

.contributor-team,
.contributor-social,
.contributor-social a,
.contributor-social a:visited {
  color: #757575;
  font-size: 8px;
  font-size: 0.8rem;
}

.authors .social,
.authors .social a,
.authors .social a:visited {
  font-size: 8px;
  font-size: 0.8rem;
}

.contributor-team {
  white-space: nowrap;
}

.content ul li::before {
  content: none;
}

.content ul li {
  list-style: disc;
}

.content ul li.contributor {
  list-style: none;
  break-inside: avoid;
}

pre {
  overflow: visible;
  white-space: pre-wrap;
}

section.chapter {
  prince-pdf-tag-type: Art;
}

.fn {
  display: none;
}

@prince-pdf {
  prince-pdf-display-doc-title: true;
}

@page {
  margin: 4.7rem;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 8px;
  font-size: 0.8rem;
  size: A5;

  @top-left {
    width: 100%;
    margin: 30px 0 10px 0;
    margin: 2rem 0 1rem 0;
    border-bottom: 0.5px solid #666;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }

  @top-right {
    width: 100%;
    margin: 30px 0 10px 0;
    margin: 2rem 0 1rem 0;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }

  @bottom-left {
    width: 100%;
    margin: 10px 0 30px 0;
    margin: 1rem 0 2rem 0;
    border-top: 0.5px solid #666;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }

  @bottom-right {
    width: 100%;
    margin: 1rem 0 2rem 0;
    border-top: 0.25px solid #666;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
}

@page :blank {
  @top-left {
    content: '';
  }

  @top-right {
    content: '';
  }
}

.no-header-or-footer {
  page: no-header-or-footer;
}

@page no-header-or-footer {
  @top-left {
    content: '';
  }

  @top-right {
    content: '';
  }

  @bottom-left {
    content: '';
    border: none;
  }

  @bottom-right {
    content: '';
    border: none;
  }
}

#toc,
#foreword {
  page: front-matter;
}

@page :first {
  background: #5c687d;
  background: transparent linear-gradient(#5c687d 70%, transparent 30%);
  /* background: transparent url("/static/images/intro-background-fit.svg") bottom left / 100% 100% no-repeat; */
  background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjEyNTAiIHZpZXdCb3g9IjAgMCAxOTIwIDEyNTAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8ZGVmcz4NCiAgICA8c3R5bGU+DQogICAgICBzdmd7YmFja2dyb3VuZDojZmZmfQ0KICAgICAgLmNscy0xe2ZpbGw6I2E4Y2FiYTtmaWxsLXJ1bGU6ZXZlbm9kZDtvcGFjaXR5Oi4wNX0NCiAgICA8L3N0eWxlPg0KICA8L2RlZnM+DQogIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTS0yMzEgODloMjA4OHY2NTFsLTIwODggMzYwVjg5eiIvPg0KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0tNDcwIDIzOWgyMDg4djY1MWwtMjA4OCAzNjBWMjM5eiIvPg0KICA8cGF0aCBkPSJNLTE0NC0xOWgyMDg4djY1MUwtMTQ0IDk5MlYtMTl6IiBmaWxsPSIjMWEyYjQ5IiBvcGFjaXR5PSIuNzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0tNDcwLTgzaDIwODh2NjUxTC00NzAgOTI4Vi04M3oiLz4NCiAgPHBhdGggZD0iTS0yMzItNDhoMjA4OHY2NTFMLTIzMiA5NjNWLTQ4eiIgZmlsbD0iI2YyZjJmMiIgb3BhY2l0eT0iLjA1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4NCjwvc3ZnPg0K");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* stylelint-disable-line at-rule-descriptor-no-unknown */

  @top-left {
    content: '';
    border-bottom: none;
  }

  @top-right {
    content: '';
  }

  @bottom-left {
    content: '';
    border: none;
  }

  @bottom-right {
    content: '';
    border: none;
  }
}

@media print {
  body {
    color: black;
  }

  .content a,
  .content a:visited {
    color: black;
  }

  .contributor-social a,
  .contributor-social a:visited {
    color: #757575;
  }

  #title {
    background: none;
  }

  :root {
    font-size: 10px;
  }

  /** We have some big tables that can't be force to break
    * So we cheat and make them small enough to fit on a page
    */
  figure table td,
  figure table td li,
  figure table td p {
    font-size: 12px;
    font-size: 0.85rem;
  }

  .content {
    margin: 0;
  }

  .content > section {
    break-after: always;
  }

  #toc a::after {
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    content: leader('.') target-counter(attr(href), page);
  }

  section h1 {
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    string-set: chapter-title content();
  }

  section div.subtitle {
    string-set: chapter-subtitle "";
  }

  section.chapter div.subtitle {
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    string-set: chapter-subtitle content() " : ";
  }

  /* Work around due to flex bug. */
  /* See: https://www.princexml.com/forum/topic/4525/image-flex-bug-in-prince-14?p=1#22775 */
  figure {
    margin: 0 auto;
    display: block;
  }

  /* Work around due to flex bug. */
  /* See: https://www.princexml.com/forum/topic/4525/image-flex-bug-in-prince-14?p=1#22775 */
  .table-wrap {
    margin: 0 auto;
    display: block;
  }

  figure,
  figure a,
  figure div,
  figure img,
  figcaption {
    max-width: 100%;
    text-align: center;
    break-inside: avoid;
  }

  figure .code-block {
    text-align: left;
  }

  figure .anchor-link {
    text-decoration: none;
  }

  figcaption {
    width: 1000px;
  }

  figure iframe.video-embed {
    display: none;
  }

  figure .video-fallback-image {
    display: block;
  }

  table {
    display: table;
    border-spacing: 2px;
    border-color: grey;
    break-inside: avoid;
  }

  h2 {
    font-size: 1.5em;
  }

  /* For some reason this is breaking the spine on the cover and can't override it, so scope it */
  .chapter h3 {
    font-size: 1.17em;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    break-after: avoid;
    break-inside: avoid;
  }

  h1 + p,
  h2 + p,
  h3 + p {
    break-before: avoid;
  }

  .authors li {
    break-inside: avoid;
  }

  .authors .avatar {
    height: auto;
    width: 60px;
    width: 4.29rem;
  }

  .content .authors li {
    display: flex;
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }

  .authors .avatar-link {
    flex-basis: 60px;
    flex-shrink: 0;
  }

  .fn {
    display: inline;
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    float: footnote;
    counter-increment: footnote;
    font-size: 10px;
    font-size: 0.625rem;
    font-style: italic;
    text-align: left;
    margin: 0 0 0 18px;
    margin: 0 0 0 1.5rem;
    line-height: normal;
  }

  .fn::footnote-call {
    content: counter(footnote);
    font-size: 6px;
    font-size: 0.375rem;
    vertical-align: super;
  }

  .fn::footnote-marker {
    text-align: left;
    font-size: 10px;
    font-size: 0.625rem;
    font-weight: normal;
    min-width: 18px;
  }
}

.content section.authors li {
  display: flex;
}

.content section.authors li *:first-child {
  flex: 0 0 76px;
}

#front-cover {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  bottom: 0;
}

#front-cover .title {
  color: white;
}

#front-cover .intro-year {
  margin: 0;
  width: auto;
  color: #f7f779;
  font-size: 80px;
  font-size: 8rem;
  line-height: 100%;
  font-weight: bold;
}

#front-cover h1.title::before {
  border-bottom: none;
}

#front-cover h1.title {
  font-size: 40px;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
}

#front-cover h2.title {
  font-size: 16px;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

#front-cover .intro-image-wrapper {
  text-align: center;
}

#front-cover .intro-image {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  padding-top: 40px;
  width: 80%;
  height: auto;
}

#front-cover img {
  margin: 0 auto;
}

#front-cover .ha-logo-wrapper {
  position: absolute;
  bottom: 12.5mm;
  right: 1rem;
  margin: 0 auto 4rem;
  padding: 10px;
}

#front-cover .ha-logo-wrapper svg {
  width: 100%;
  height: auto;
}

#spine {
  position: absolute;
  top: 0;
  bottom: 0;
}

#spine .spine-author {
  fill: #fff;
  width: 100%;
  font-weight: 300;
}

#spine .spine-year {
  margin: 0;
  color: #f7f779;
  line-height: 100%;
  font-weight: bold;
  font-size: 10rem;
  width: 100%;
}

.spine-year svg {
  fill: #f7f779;
  width: 100%;
}

#spine .intro-image {
  display: block;
  padding: 10px;
  width: 100%;
  height: auto;
}

#spine .title-wrapper {
  position: relative;
}

#spine .title {
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  font-size: 40px;
  font-size: 4rem;
  font-weight: 700;
  overflow: visible;
  width: 0;
  margin: 0 auto;
  vertical-align: middle;
  white-space: nowrap;
}

#spine .title .intro-year {
  font-size: 4rem;
  vertical-align: middle;
  padding-right: 1rem;
}

#spine .title br {
  display: none;
}

#spine .title::before {
  margin: 0 auto;
  border-bottom: initial;
  content: '';
}

#spine .ha-logo-wrapper {
  position: absolute;
  bottom: 12.5mm;
  margin: 0 auto 4rem;
  padding: 10px;
}

#spine .ha-logo-wrapper svg {
  width: 100%;
  height: auto;
}

#back-cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

#back-cover .description {
  position: absolute;
  margin: 4rem 4rem;
}

#back-cover .description p {
  color: #fff;
  font-size: 1.5rem;
}

#back-cover .description img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#back-cover .methodology-data {
  display: block;
  margin: 1.5rem 0;
  color: #fff;
}

#back-cover .websites-tested,
#back-cover .data-processed {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem 0;
}

#back-cover .websites-tested div,
#back-cover .data-processed div {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
}

#back-cover .websites-tested div:last-of-type,
#back-cover .data-processed div:last-of-type {
  font-size: 3rem;
  line-height: 3rem;
}

#back-cover .ha-logo-wrapper {
  position: absolute;
  bottom: 12.5mm;
  left: 1rem;
  margin: 0 auto 4rem;
  padding: 10px;
}

#back-cover .ha-logo-wrapper svg {
  width: 100%;
  height: auto;
  filter: brightness(0) invert(1);
}
