#title .title {
  color: white;
}

#title {
  background: #5c687d;
  background: transparent linear-gradient(#5c687d 70%, transparent 30%);
  /* background: transparent url(/static/images/intro-background-fit.svg) bottom left / 100% 100% no-repeat; */
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjEyNTAiIHZpZXdCb3g9IjAgMCAxOTIwIDEyNTAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8ZGVmcz4NCiAgICA8c3R5bGU+DQogICAgICBzdmd7YmFja2dyb3VuZDojZmZmfQ0KICAgICAgLmNscy0xe2ZpbGw6I2E4Y2FiYTtmaWxsLXJ1bGU6ZXZlbm9kZDtvcGFjaXR5Oi4wNX0NCiAgICA8L3N0eWxlPg0KICA8L2RlZnM+DQogIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTS0yMzEgODloMjA4OHY2NTFsLTIwODggMzYwVjg5eiIvPg0KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0tNDcwIDIzOWgyMDg4djY1MWwtMjA4OCAzNjBWMjM5eiIvPg0KICA8cGF0aCBkPSJNLTE0NC0xOWgyMDg4djY1MUwtMTQ0IDk5MlYtMTl6IiBmaWxsPSIjMWEyYjQ5IiBvcGFjaXR5PSIuNzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0tNDcwLTgzaDIwODh2NjUxTC00NzAgOTI4Vi04M3oiLz4NCiAgPHBhdGggZD0iTS0yMzItNDhoMjA4OHY2NTFMLTIzMiA5NjNWLTQ4eiIgZmlsbD0iI2YyZjJmMiIgb3BhY2l0eT0iLjA1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4NCjwvc3ZnPg0K);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro-year {
  margin: 0;
  width: auto;
  color: #f7f779;
  font-size: 160px;
  font-size: 10rem;
  line-height: 100%;
  font-weight: bold;
}

#title h1.title::before {
  border-bottom: none;
}

#title h1.title {
  font-size: 80px;
  font-size: 5rem;
  font-weight: 700;
}

#title h2.title {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
}

.intro-image {
  border-radius: 10px;
  display: block;
  margin: 20px 0;
  padding-left: 10.5%;
  width: 80%;
  height: auto;
}

#title img {
  margin: 0 auto;
}

.byline {
  font-style: italic;
}

.byline.authors {
  font-weight: bold;
  border-bottom: none;
}

.table-wrap-container {
  margin: 0;
}

th, td {
  padding: 5px;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#toc ul {
  list-style-type: none;
}

#toc a {
  color: inherit;
  text-decoration: none;
}

.content a, .content a:visited {
  color: #0b1423;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
}

.team img {
  height: 80px;
  width: 80px;
}

.contributors {
  padding: 0;
  columns: 2;
  column-gap: 30px;
  margin: 50px 0 0 0;
}

.contributor {
  margin-bottom: 20px;
  width: 600px;
  max-width: 100%;
  vertical-align: middle;
  overflow: auto;
  min-height: 70px;
}

.contributor-avatar {
  border-radius: 50px;
  background-color: #f7f779;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 50px;
  height: auto;
  transition-duration: 0.3s;
  float: left;
}

.contributor-social a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.contributor-teams {
  margin-top: 5px;
}

.contributor-team {
  font-size: 14px;
  font-size: 0.875rem;
  color: #757575;
}

.contributor-team::after {
  content: ', ';
}

.contributor-team:last-child::after {
  content: '';
}

.social-icon {
  height: 15px;
  width: 15px;
}

.content ul li::before {
  content: none;
}

.content ul li {
  list-style: disc;
}

.content ul li.contributor {
  list-style: none;
  page-break-inside: avoid;
}

.code-block pre {
  overflow: visible;
  white-space: pre-wrap;
}

section.chapter {
  prince-pdf-tag-type: Art;
}

.fn {
  display: none;
}

@prince-pdf {
  prince-pdf-display-doc-title: true;
}

@page {
  margin: 2.5cm;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  size: A4;

  @top-left {
    width: 100%;
    margin: 30pt 0 10pt 0;
    border-bottom: 0.5pt solid #666;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }

  @top-right {
    width: 100%;
    margin: 30pt 0 10pt 0;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }

  @bottom-left {
    width: 100%;
    margin: 10pt 0 30pt 0;
    border-top: 0.5pt solid #666;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }

  @bottom-right {
    width: 100%;
    margin: 10pt 0 30pt 0;
    border-top: 0.25pt solid #666;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
}

@page :blank {
  @top-left {
    content: '';
  }

  @top-right {
    content: '';
  }
}

.no-header-or-footer {
  page: no-header-or-footer;
}

@page no-header-or-footer {
  @top-left {
    content: '';
  }

  @top-right {
    content: '';
  }

  @bottom-left {
    content: '';
    border: none;
  }

  @bottom-right {
    content: '';
    border: none;
  }
}

#toc, #foreword {
  page: front-matter;
}

@page :first {
  background: #5c687d;
  background: transparent linear-gradient(#5c687d 70%, transparent 30%);
  /* background: transparent url(/static/images/intro-background-fit.svg) bottom left / 100% 100% no-repeat; */
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjEyNTAiIHZpZXdCb3g9IjAgMCAxOTIwIDEyNTAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8ZGVmcz4NCiAgICA8c3R5bGU+DQogICAgICBzdmd7YmFja2dyb3VuZDojZmZmfQ0KICAgICAgLmNscy0xe2ZpbGw6I2E4Y2FiYTtmaWxsLXJ1bGU6ZXZlbm9kZDtvcGFjaXR5Oi4wNX0NCiAgICA8L3N0eWxlPg0KICA8L2RlZnM+DQogIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTS0yMzEgODloMjA4OHY2NTFsLTIwODggMzYwVjg5eiIvPg0KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0tNDcwIDIzOWgyMDg4djY1MWwtMjA4OCAzNjBWMjM5eiIvPg0KICA8cGF0aCBkPSJNLTE0NC0xOWgyMDg4djY1MUwtMTQ0IDk5MlYtMTl6IiBmaWxsPSIjMWEyYjQ5IiBvcGFjaXR5PSIuNzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0tNDcwLTgzaDIwODh2NjUxTC00NzAgOTI4Vi04M3oiLz4NCiAgPHBhdGggZD0iTS0yMzItNDhoMjA4OHY2NTFMLTIzMiA5NjNWLTQ4eiIgZmlsbD0iI2YyZjJmMiIgb3BhY2l0eT0iLjA1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4NCjwvc3ZnPg0K);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @top-left {
    content: '';
    border-bottom: none;
  }

  @top-right {
    content: '';
  }

  @bottom-left {
    content: '';
    border: none;
  }

  @bottom-right {
    content: '';
    border: none;
  }
}

@media print {
  #title {
    background: none;
  }

  :root {
    font-size: 14px;
  }

  /* We have some big tables that can't be force to break
   * So we cheat and make them small enough to fit on a page
   */
  figure table td, figure table td li, figure table td p {
    font-size: 12px;
    font-size: 0.85rem;
  }

  .content {
    margin: 0;
  }

  .content > section {
    page-break-after: always;
  }

  #toc a::after {
    content: leader('.') target-counter(attr(href), page);
  }

  section h1 {
    string-set: chapter-title content();
  }

  section div.subtitle {
    string-set: chapter-subtitle "";
  }

  section.chapter div.subtitle {
    string-set: chapter-subtitle content() " : ";
  }

  figure {
    margin: 0;
  }

  figure,
  figure a,
  figure div,
  figure img,
  figcaption {
    max-width: 100%;
    text-align: center;
    page-break-inside: avoid;
  }

  figure .anchor-link {
    text-decoration: none;
  }

  figure img {
    max-height: 800px;
  }

  figcaption {
    width: 1000px;
  }

  figure iframe.video-embed {
    display: none;
  }

  figure .video-fallback-image {
    display: block;
  }

  table {
    display: table;
    border-spacing: 2px;
    border-color: grey;
    page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5 {
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1 + p, h2 + p, h3 + p {
    page-break-before: avoid;
  }

  .authors li {
    page-break-inside: avoid;
  }

  .fn {
    display: inline;
    float: footnote;
    counter-increment: footnote;
    font-size: 10px;
    font-size: 0.625rem;
    font-style: italic;
    text-align: left;
    margin: 0 0 0 18px;
    line-height: normal;
  }

  .fn::footnote-call {
    content: counter(footnote);
    font-size: 6px;
    font-size: 0.375rem;
    vertical-align: super;
    line-height: none;
  }

  .fn::footnote-marker {
    text-align: left;
    font-size: 10px;
    font-size: 0.625rem;
    font-weight: normal;
    min-width: 18px;
  }
}

.content section.authors li {
  display: flex;
}

.content section.authors li *:first-child {
  flex: 0 0 76px;
}
