.byline {
    font-style: italic;
}

.byline.authors {
    font-weight: bold;
}

@page {
  margin: 30px 30px 20px 30px;
  padding: 0;
}

@media print {
  .content > section {
    page-break-after: always;
  }  
}
