body {
  background-image: url(/static/images/intro-background-fit.png);
  background-repeat: no-repeat;
  background-size: 100% 910px;
}
header.alt-bg {
  background-color: initial;
}

#home {
  overflow: hidden;
  display: grid;
  grid-template-areas:
    'intro'
    'chapter'
    'contributors'
    'methodology';
}

#home section {
  max-width: 100vw;
  position: relative;
}

.featured-chapter,
.methodology-container {
  display: flex;
  justify-content: center;
  margin-top: 58px;
}

.intro h1 {
  letter-spacing: 5px;
}
.intro .decorative-line {
  position: relative;
  top: -10px;
}

.intro h1,
.contributors h1,
.methodology h1 {
  font-size: 3rem;
  font-weight: bold;
}
.methodology .decorative-line-center{
  position: relative;
  top: -10px;
}

.intro h2 {
  font-weight: 300;
}

.intro h2,
.contributors h2 {
  font-size: 30px;
}

p {
  margin-bottom: 40px;
}

.intro-container {
  color: #FFFFFF;
  grid-area: intro;
  position: relative;
  display: grid;
  grid-template-areas:
    'intro image';
  justify-content: space-between;
  padding: 0 60px;
}

.intro {
  grid-area: intro;
  width: 100%;
  max-width: 420px;
}

.intro-year {
  grid-area: year;
  display: none;
  font-family: 'Poppins', sans-serif;
}

.intro-image {
  grid-area: image;
  display: none;
}

.intro-image-2019 {
  grid-area: image;
  max-height: 470px;
  max-width: 100%;
  height: auto;
  margin-bottom: -90px;
}

.intro .btn {
  border-color: #F7F779;
  background-color: #F7F779;
  color: #1A2B49;
}
.intro .btn:hover,
.intro .btn:focus {
  background-color: transparent;
  color: #F7F779;
}

/* Featured Chapter */
.featured-chapter {
  grid-area: chapter;
  padding: 120px 0;
}

.featured-chapter h1 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
}

.featured-chapter h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}
.featured-chapter .decorative-line-center{
  position: relative;
  top: -10px;
}

.featured-chapter-content {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-chapter-content > div,
.featured-chapter-content button {
  margin-bottom: 40px;
}

.featured-chapter-content-data {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.featured-chapter-content-data-item div:first-of-type {
  font-size: 2rem;
  font-weight: bold;
}

/* Contributors */
.contributors .decorative-line {
  position: relative;
  top: -10px;
  border-bottom: solid 1px #c6dcd2;
}
.contributors-container {
  grid-area: contributors;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/static/images/rectangles.png");
  background-position: -250px center;
  background-repeat: no-repeat;
  padding-left: 180px;
}

.people {
  position: relative;
  height: 400px;
}

.people .character {
  width: 140px;
  height: auto;
}

#character-markup {
  position: absolute;
  top: -210px;
  right: 100px;
}

#character-star {
  position: absolute;
  bottom: 0;
  left: 200px;
}

#character-hat {
  position: absolute;
  bottom: 0;
  right: 0;
}

.people-number {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-size: 600px;
  font-weight: bold;
  letter-spacing: 50px;
  overflow: visible;
  top: -100px;
  position: relative;
  pointer-events: none;
}

/* Methodology */
.methodology-container {
  grid-area: methodology;
  padding: 0 60px;
}

.methodology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.methodology-data {
  display: flex;
  margin: 20px 0 30px 0;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #f6f7f9;
}

.websites-tested {
  display: flex;
  align-items: center;
  margin-right: 40px;
  text-transform: uppercase;
}

.data-processed {
  display: flex;
  align-items: center;
  margin-left: 40px;
  text-transform: uppercase;
}

.websites-tested div,
.data-processed div {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 10px;
}

.websites-tested div:last-of-type,
.data-processed div:last-of-type {
  font-size: 3rem;
}

.methodology-info {
  width: 700px;
  margin-bottom: 30px;
}

.methodology button {
  background: none;
  border: 1px solid #1b2c4a;
  color: #1b2c4a;
  margin-bottom: 30px;
}

.methodology-characters {
  margin-bottom: -3px;
  width: 650px;
  max-width: 100%;
  height: auto;
  z-index: -1;
  background: linear-gradient(180deg,
    rgba(0,0,0,0) calc(70% - 1px),
    rgb(192, 192, 192) calc(50%),
    rgba(0,0,0,0) calc(70% + 1px)
  );
}


@media (min-width: 2048px) {
  body {
    background-size: 100% 1110px;
  }
}


@media (max-width: 1280px) and (min-width: 901px) {
  .people {
    height: auto;
  }
  .people-number {
    font-size: 300px;
    overflow: visible;
    line-height: 400px;
    top: 50px;
    position: relative;
    left: 50px;
  }
  .people .character {
    width: 8vw;
    height: auto;
  }
  #character-markup {
    position: absolute;
    top: auto;
    right: 10%;
    bottom: 65%;
  }
  #character-star {
    position: absolute;
    bottom: 0;
    left: 30%;
  }
  #character-hat {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  body {
    background-size: auto;
  }
  .intro-container {
    grid-template-areas:
      'year'
      'intro'
      'image';
    justify-items: center;
    justify-content: center;
    padding: 40px 60px;
  }
  .intro {
    margin: 0;
    width: auto;
    text-align: center;
  }
  .intro-year {
    display: block;
    margin: 0;
    width: auto;
    color: #F7F779;
    font-size: 190px;
    line-height: 160px;
    font-weight: bold;
  }

  .intro-image {
    display: block;
    max-width: 100%;
    margin-top: 80px;
    margin-right: -46px;
  }
  .intro-image-2019 {
    display: none;
  }

  .featured-chapter,
  .featured-chapter-content-data {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contributors-container {
    background-image: none;
    flex-direction: column;
    background-image: none;
    padding-left: 0;
    padding: 40px 60px;
  }

  .rectangles {
    display: none;
  }

  .contributors {
    width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contributors div {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contributors .decorative-line {
    border-bottom: solid 1px #F7F779;
  }

  .people {
    height: auto;
  }
  .people-number {
    font-size: 300px;
    overflow: visible;
    line-height: 400px;
    top: 50px;
    position: relative;
    left: 50px;
  }

  #character-markup {
    width: 80px;
    height: auto;
    top: 25px;
    right: 50px;
  }

  #character-star {
    width: 80px;
    height: auto;
    bottom: 60px;
    left: 150px;
  }

  #character-hat {
    width: 80px;
    height: auto;
    bottom: 60px;
  }

  .methodology-data {
    flex-direction: column;
  }

  .methodology-info {
    width: initial;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .methodology-characters {
    width: 350px;
  }

  .websites-tested,
  .data-processed {
    flex-direction: column;
    margin: 0;
  }

  .websites-tested div:last-of-type,
  .data-processed div:last-of-type {
    font-size: 5rem;
  }
}

/* Mobile View */
@media (max-width: 600px) {
  body {
    background-size: auto;
  }
  .intro-container .menu li {
    list-style: none;
    margin: 30px;
  }

  .intro-container .menu a {
    text-decoration: none;
    color: #f2f2f2;
  }

  .intro-container .menu > div {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 40px 0px 40px 0px;
  }

  .intro-container {
    grid-template-areas:
      'year'
      'intro'
      'image';
    justify-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .intro-container .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .intro button {
    margin-bottom: 20px;
  }
  .intro-image-container {
    display: flex;
    justify-content: center;
  }

  .intro-year {
    display: block;
    margin: 0;
    width: auto;
    color: #F7F779;
    font-size: 40vw;
    line-height: 100%;
    font-weight: bold;
  }

  .intro-image {
    display: block;
    margin-top: 60px;
    margin-right: -46px;
    width: 350px;
  }

  .intro-image-2019 {
    display: none;
  }

  /* Featured Chapter */
  .featured-chapter,
  .featured-chapter-content-data {
    flex-direction: column;
    align-items: center;
  }

  .featured-chapter h1 {
    font-size: 2rem;
  }

  .featured-chapter div {
    margin-left: 20px;
    margin-right: 20px;
  }

  .featured-chapter-content {
    width: auto;
  }

  .featured-chapter-content-data-item {
    margin: 10px;
  }

  /* Contributors */
  .contributors-container {
    flex-direction: column;
    background-image: none;
    padding: 0 60px 300px;
  }

  .rectangles {
    display: none;
  }

  .contributors {
    width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contributors div {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contributors .decorative-line {
    border-bottom: solid 1px #F7F779;
  }

  .people {
    position: absolute;
    bottom: 0;
    height: auto;
  }
  .people-number {
    font-size: 300px;
    letter-spacing: 27px;
    line-height: 240px;
    overflow: visible;
    top: 40px;
    position: relative;
    left: 25px;
  }
  .people .character {
    width: 80px;
  }
  #character-markup {
    top: -55px;
    right: 60px
  }
  #character-star {
    bottom: -20px;
    left: 130px;
  }
  #character-hat {
    right: 0px;
    bottom: -15px;
  }

  /* Methodology */
  .methodology-data {
    flex-direction: column;
  }

  .methodology-info {
    width: initial;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .methodology-characters {
    width: 350px;
  }

  .websites-tested,
  .data-processed {
    flex-direction: column;
    margin: 0;
  }
}
