#methodology {
  margin-top: 32px;
  overflow: visible;
  display: grid;
  grid-template-areas: 'index content';
  grid-template-columns: 300px auto;
}

#methodology p,
#methodology li {
  font-size: 17px;
  line-height: 30px;
}
.floating-card {
  border-radius: 16px;
  box-shadow: 0 0 16px 0 rgba(78, 85, 100, 0.2);
}
.code-block {
  margin: 8px 0;
  padding: 16px;
}
.code-block .divider {
  position: relative;
  border: 1px solid #1A2B490A;
  width: calc(100% + 32px);
  left: -16px;
}
.code-block pre {
  overflow-y: hidden;
  overflow-x: scroll;
}
.code-block code {
  width: 100%;
}
.code-comment {
  color: #838689;
}
.code-keyword {
  color: #4A3244;
}
.code-function {
  color: #1A2B49;
}
.code-string {
  color: #2C4A73;
}
.code-number {
  color: #A8CABA;
}

.index {
  grid-area: index;
}
.index .index-box {
  margin: 8px;
  padding: 8px 16px;
}
.index .header {
  display: #1A2B49;
}
#methodology .index ul {
  width: 100%;
  margin: 0px;
  padding-left: 0px;
  border-top: 1px solid #1A2B490A;
}
#methodology .index li{
  font-weight: 900;
  list-style-type: none;
  line-height: 64px;
  padding-left: 16px;
  border-bottom: 1px solid #1A2B490A;
}
#methodology .index li a {
  color: #1A2B49;
}
#methodology .index li li {
  font-weight: 600;
  border-bottom: 1px solid #FFFFFFFF;
}
#methodology .index li li li {
  font-weight: normal;
  border-bottom: 1px solid #FFFFFFFF;
}
#methodology .index li:before{
  content: "";
  width: 8px;
  height: 28px;
  display:  inline-block;
  position: relative;
  top: 8px;
  left: -6px;
}
#methodology .index li.active:before{
  background-color: #a9cbbb;
}


.content {
  grid-area: content;
  margin: 8px;
  padding: 16px;
  min-width: 320px;
}
.content > section {
  margin-bottom: 64px;
}
.content p {
  font-size: 1.4rem;
}
.content li {
  list-style: none;;
}
.content li::before {
  content: "•";
  font-size: 16px;
  color: #a9cbbb;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.methodology-banner {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}

@media (max-width: 900px) {
  #methodology {
    padding: 0;
    grid-template-areas:
      'index'
      'content';
    grid-template-columns: auto;
  }
  #methodology .content {
    margin: 0;
    padding: 0;
  }
  #methodology .index .index-box {
    margin: 0px;
  }
  #methodology .index-box .header {
    display: flex;
    justify-content: space-between;
  }
  #methodology .index-box  h2.header::after {
    font-weight: normal;
    content: '+';
  }
  #methodology .index-box.show  h2.header::after {
    content: '-';
  }

  #methodology .index-box ul {
    max-height: 0;
    border-top: 0px solid #FFFFFFFF;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
  #methodology .index-box.show ul {
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid #1A2B490A;
    max-height: 100%;
    transition: max-height 0.25s ease-in;
  }
}
