.main {
  display: grid;
  grid-template-areas: 'index content';
  grid-template-columns: 300px auto;
}
.table-wrap-container,
.floating-card {
  border-radius: 16px;
  box-shadow: 0 0 16px 0 rgba(78, 85, 100, 0.2);
}
.table-wrap {
  display: flex;
  margin: 0 auto;
  padding: 16px;
  max-width: 100%;
  justify-content: center;
}
.table-wrap-container {
  overflow: auto;
  display: inline-block;
  margin: 0 -16px;
}

.code-block, pre {
  margin: 8px 0;
  padding: 24px;
}
.code-block .divider {
  position: relative;
  border: 1px solid #1A2B490A;
  width: calc(100% + 32px);
  left: -24px;
}
.code-block, pre {
  overflow-y: hidden;
  overflow-x: scroll;
}
.code-block code {
  width: 100%;
}

.index {
  grid-area: index;
}
.index .index-box {
  margin: 20px 0;
  padding: 8px 16px;
}
.index .header {
  color: #1A2B49;
}
.index-box .index-btn {
  padding: 14px;
  width: 100%;
  border: 0;
  background: none;
  display: none;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
}
.index .header-mobile {
  display: none;
}
.index ul {
  width: 100%;
  margin: 0px;
  padding-left: 0px;
  border-top: 1px solid rgba(26, 43, 73, 0.1);
}
.index ul ul:first-child {
  border-top: none;
}
.index li {
  position: relative;
  font-weight: 900;
  list-style-type: none;
  border-bottom: 1px solid rgba(26, 43, 73, 0.1);
}
.index ul:last-child li:last-child {
  border-bottom: none;
}
.index li a {
  display: block;
  padding: 24px 16px;
  line-height: 24px;
  color: #1A2B49;
}
.index li li {
  font-weight: 700;
  border-bottom: 1px solid rgba(26, 43, 73, 0.1);
}
.index li li a {
  padding-left: 32px;
}
.index li li:last-child {
  border-bottom: none;
}
.index li li li {
  font-weight: normal;
  border-bottom: 1px solid rgba(26, 43, 73, 0.1);
}
.index li li li a {
  padding-left: 48px;
}
.index li:before{
  content: "";
  width: 8px;
  display: inline-block;
  position: absolute;
  top: 24px;
  bottom: 24px;
}
.index li.active:before{
  background-color: #A8CABA;
}

.content {
  grid-area: content;
  margin-left: 30px;
  min-width: 320px;
}
.content > section, .content > article {
  margin-bottom: 32px;
}
.content ul li {
  list-style: none;
}
.content ul li::before {
  position: absolute;
  content: "\2022";
  font-size: 16px;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.content-banner {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
}

.byline {
  font-weight: bold;
  font-style: italic;
}
.byline.reviewers, .byline.translators {
  font-weight: normal;
}

.chapter_links .btn {
  display: inline-block;
  margin: 10px;
}

.chapter_links img {
  margin-right: 10px;
  vertical-align: top;
}
.chapter_links a:hover img,
.chapter_links a:focus img {
  filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(4357%) hue-rotate(16deg) brightness(136%) contrast(94%);
}
#num_comments {
  line-height: 24px;
}
[data-translation] {
  display: none;
}

.authors h2{
  padding: 16px 0;
}
.authors,.authors h2{
  border-bottom: 1px solid #1A2B490A;
  font-size: 17px;
}
.content .authors ul{
  margin:16px 0;
  padding:0;
}

.content .authors li::before{
  content: none;
  width: 0;
  margin-left: 0;
}

.content .authors li{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  overflow: visible;
  display: grid;
  grid-template-areas: 'avatar info';
  grid-template-columns: 76px auto;
}
.authors .name{
  font-size: 24px;
}

.authors .tagline{
  font-size: 16px;
}

.authors .avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.authors .social {
  display: inline-block;
  vertical-align: top;
}
.authors .social img{
  width: auto;
  height: 18px;
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}

#chapter-navigation{
  padding:50px 36px;
  border:1px solid #1A2B490A;
  margin: 20px 0;
  overflow: hidden;
}

#chapter-navigation>a{
  color:#1A2B49;
  width:50%;
  display:inline-block;
  position:relative;
}

#chapter-navigation span{
  display:block;
}

#chapter-navigation .chapter-no{
  font-size:22px;
  font-weight:bold;
  font-style: italic
}

#chapter-navigation .chapter-title{
  font-size:18px;
}

#chapter-navigation .arrow{
  position:absolute;
  font-size:24px;
  top:12px;
}

#previous-chapter .arrow{
  transform: rotate(-90deg);
  left:-24px;
}

#next-chapter{
  text-align:right;
  float:right;
}

#next-chapter .arrow{
  transform: rotate(90deg);
  right:-24px;
}

aside, .note {
  font-style: italic;
}

table,
figure {
  max-width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  display: flex;
  flex-direction: column;
  margin: 15px -8px;
  padding: 8px;
  font-style: italic;
  overflow-x: auto;
}
figure > p {
  display: inline-block;
}
figure > a {
  margin: 0 auto;
}
figure img {
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
}
figure iframe {
  display: block;
  margin: 0 auto;
}
figure .code-block {
  margin: 10px auto;
}
figcaption {
  margin-top: 8px;
  text-align: center;
}
table {
  margin: 0 auto;
  max-width: 100%;
  border-collapse: collapse;
}
thead {
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #eee;
}
th, td {
  padding: 10px;
}
th.numeric, td.numeric {
  text-align: right;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f280;
}
figure .big-number {
  text-align: center;
  font: bold 8rem/1em Poppins, sans-serif;
  color: #62718b;
}
figure .fig-mobile {
  display: none;
}
figure .fig-desktop {
  display: block;
}

.bio {
  margin-top: 10px;
}

@media (max-width: 900px) {
  .main {
    grid-template-areas:
      'index'
      'content';
    grid-template-columns: auto;
  }
  .main .content {
    margin-left: 0;
  }
  .index {
    margin: 30px 0;
  }
  .index-box .header {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .index-box .index-btn {
    display: block;
  }
  .index-box .no-button {
    display: none;
  }
  .index-box .index-btn::after {
    font-weight: normal;
    float: right;
    content: "+";
    content: "+" / "";
  }
  .index-box.show .index-btn::after {
    content: "-";
    content: "-" / "";
  }

  .index-box ul {
    max-height: 0;
    display: none;
    border-top: 0px solid #FFFFFFFF;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
  .index-box.show ul {
    margin-top: 2px;
    border-top: 1px solid #1A2B490A;
    max-height: 100%;
    display: block;
    transition: max-height 0.25s ease-in;
  }
  .table-wrap {
    justify-content: left;
  }
  table {
    font-size: .8em;
  }
}

@media (max-width: 600px) {
  figure .big-number {
    font-size: 5rem;
  }
  figure iframe {
    display: none;
  }
  figure .fig-mobile {
    display: block;
    max-width: 100%;
    height: auto;
  }

}

/* Code highlighting */
.code-block {
  margin: 8px 0;
  padding: 16px;
}
.code-block .divider {
  position: relative;
  border: 1px solid #1A2B490A;
  width: calc(100% + 32px);
  left: -16px;
}
.code-block pre {
  overflow-y: hidden;
  overflow-x: scroll;
}
.code-block code {
  width: 100%;
}
.code-comment {
  color: #006400;
}
.code-keyword {
  color: #4A3244;
}
.code-function {
  color: #1A2B49;
}
.code-string {
  color: #2C4A73;
}
.code-number {
  color: #0000ff;
}
