.main {
  padding-top: 32px;
  display: grid;
  grid-template-areas: 'index content';
  grid-template-columns: 300px auto;
}
.table-wrap-container,
.floating-card {
  border-radius: 16px;
  box-shadow: 0 0 16px 0 rgba(78, 85, 100, 0.2);
}
.table-wrap {
  display: flex;
  margin: 0 auto;
  padding: 16px;
  max-width: 100%;
  justify-content: center;
}
.table-wrap-container {
  overflow: auto;
  display: inline-block;
  margin: 0 -16px;
}

.code-block, pre {
  margin: 8px 0;
  padding: 24px;
}
.code-block .divider {
  position: relative;
  border: 1px solid #1A2B490A;
  width: calc(100% + 32px);
  left: -24px;
}
.code-block, pre {
  overflow-y: hidden;
  overflow-x: scroll;
}
.code-block code {
  width: 100%;
}

.index {
  grid-area: index;
}
.index .index-box {
  margin: 0 8px 8px;
  padding: 8px 16px;
}
.index .header {
  color: #1A2B49;
}
.index .header-mobile {
  display: none;
}
.index ul {
  width: 100%;
  margin: 0px;
  padding-left: 0px;
  border-top: 1px solid rgba(26, 43, 73, 0.1);
}
.index ul ul:first-child {
  border-top: none;
}
.index li {
  position: relative;
  font-weight: 900;
  list-style-type: none;
  border-bottom: 1px solid rgba(26, 43, 73, 0.1);
}
.index ul:last-child li:last-child {
  border-bottom: none;
}
.index li a {
  display: block;
  padding: 24px 16px;
  line-height: 24px;
  color: #1A2B49;
}
.index li li {
  font-weight: 700;
  border-bottom: 1px solid rgba(26, 43, 73, 0.1);
}
.index li li a {
  padding-left: 32px;
}
.index li li:last-child {
  border-bottom: none;
}
.index li li li {
  font-weight: normal;
  border-bottom: 1px solid rgba(26, 43, 73, 0.1);
}
.index li li li a {
  padding-left: 48px;
}
.index li:before{
  content: "";
  width: 8px;
  display: inline-block;
  position: absolute;
  top: 24px;
  bottom: 24px;
}
.index li.active:before{
  background-color: #A8CABA;
}

.content {
  grid-area: content;
  margin: 8px;
  padding: 16px;
  margin-top: 0;
  padding-top: 0;
  min-width: 320px;
}
.content > section {
  margin-bottom: 64px;
}
.content .intro p {
  font-weight: bold;
}
.content ul li {
  list-style: none;
}
.content ul li::before {
  content: "•";
  font-size: 16px;
  color: #a9cbbb;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.content-banner {
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
}

.byline {
  font-weight: bold;
  font-style: italic;
}
.byline.reviewers {
  font-weight: normal;
}

.authors h4{
  padding: 16px 0;
}
.authors,.authors h4{
  border-bottom: 1px solid #1A2B490A;
}
.content .authors ul{
  margin:16px 0;
  padding:0;
}

.content .authors li::before{
  content: none;
  width: 0;
  margin-left: 0;
}

.content .authors li{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  overflow: visible;
  display: grid;
  grid-template-areas: 'avatar info';
  grid-template-columns: 76px auto;
}
.authors .name{
  font-size: 24px;
}

.authors .tagline{
  font-size: 16px;
}

.authors .avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.authors .social {
  display: inline-block;
  vertical-align: top;
}
.authors .social img{
  width: auto;
  height: 18px;
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}

#chapter-navigation{
  padding:50px 36px;
  border:1px solid #1A2B490A;
  margin: 20px 0;
  overflow: auto;
}

#chapter-navigation>a{
  color:#1A2B49;
  width:50%;
  display:inline-block;
  position:relative;
}

#chapter-navigation span{
  display:block;
}

#chapter-navigation .chapter-no{
  font-size:22px;
  font-weight:bold;
  font-style: italic
}

#chapter-navigation .chapter-title{
  font-size:18px;
}

#chapter-navigation .arrow{
  position:absolute;
  font-size:24px;
  top:12px;
}

#previous-chapter .arrow{
  transform: rotate(-90deg);
  left:-24px;
}

#next-chapter{
  text-align:right;
  float:right;
}

#next-chapter .arrow{
  transform: rotate(90deg);
  right:-24px;
}

img,
table,
figure {
  max-width: 100%;
}
figure {
  display: flex;
  flex-direction: column;
  margin: 15px -8px;
  padding: 8px;
  font-style: italic;
  overflow-x: auto;
}
figure > p {
  display: inline-block;
}
figure > a {
  margin: 0 auto;
}
figure img {
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
}
figure iframe {
  display: block;
  margin: 0 auto;
}
figcaption {
  margin-top: 8px;
  text-align: center;
}
table {
  margin: 0 auto;
  max-width: 100%;
  border-collapse: collapse;
}
thead {
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #eee;
}
th, td {
  padding: 10px;
}
th.numeric, td.numeric {
  text-align: right;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f280;
}
figure .big-number {
  text-align: center;
  font: bold 8rem/1em Poppins, sans-serif;
  color: #a8caba;
}
.bio {
  margin-top: 10px;
}

@media (max-width: 900px) {
  .main {
    grid-template-areas:
      'index'
      'content';
    grid-template-columns: auto;
  }
  .main .content {
    margin: 0;
    padding: 0;
  }
  .main .content .intro h1 {
    font-size: 10vw;
  }
  .decorative-line {
    display: none;
  }
  .decorative-line-mobile {
    display: block;
    width: 74px;
    border-bottom: solid 1px #c6dcd2;
    position: relative;
    top: 12px;
  }
  .index {
    margin-bottom: 45px;
  }
  .index .index-box {
    margin: 0px;
  }
  .index-box .header {
    display: flex;
    justify-content: space-between;
  }
  .index-box  h2.header::after {
    font-weight: normal;
    content: '+';
  }
  .index-box.show  h2.header::after {
    content: '-';
  }

  .index-box ul {
    max-height: 0;
    border-top: 0px solid #FFFFFFFF;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
  .index-box.show ul {
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid #1A2B490A;
    max-height: 100%;
    transition: max-height 0.25s ease-in;
  }
  .table-wrap {
    justify-content: left;
  }
  table {
    font-size: .8em;
  }
}

@media (max-width: 600px) {
  figure .big-number {
    font-size: 5rem;
  }
}
