.main {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'index content';
  -ms-grid-columns: 300px calc(100% - 300px);
  grid-template-columns: 300px auto;
  grid-template-columns: min(18.75rem, 20vw) calc(100% - min(18.75rem, 25vw)); /* auto sometimes not set correctly on font zoom */
}

.table-wrap-container,
.floating-card {
  border-radius: 16px;
  border-radius: 1rem;
  box-shadow: 0 0 16px 0 rgb(78, 85, 100, 0.2);
  box-shadow: 0 0 1rem 0 rgb(78, 85, 100, 0.2);
}

.table-wrap {
  display: flex;
  margin: 0 auto;
  padding: 16px;
  padding: 1rem;
  max-width: 100%;
  justify-content: center;
  position: relative;
}

.table-wrap-container {
  overflow: auto;
  display: inline-block;
  margin: 0 -16px;
  margin: 0 -1rem;
}

.width-20 {
  width: 20%;
}

.width-45 {
  width: 45%;
}

.index {
  grid-area: index;
  -ms-grid-column: 1;
}

.index .index-box {
  margin: 20px 0;
  margin: 1.25rem 0;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  top: 0;
}

.index .index-box.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.page-height {
  max-height: 100vh;
  overflow: auto;
}

.index .header {
  color: #1a2b49;
}

.index-box .index-btn {
  padding: 14px;
  padding: 0.875rem;
  width: 100%;
  border: 0;
  background: none;
  display: none;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
}

.index .header-mobile {
  display: none;
}

.index ul {
  width: 100%;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid rgb(26, 43, 73, 0.1);
}

.index ul ul:first-child {
  border-top: none;
}

.index li {
  position: relative;
  font-weight: 900;
  list-style-type: none;
  border-bottom: 1px solid rgb(26, 43, 73, 0.1);
}

.index ul:last-child li:last-child {
  border-bottom: none;
}

.index li a {
  display: block;
  padding: 24px 16px;
  padding: 1.5rem 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #1a2b49;
}

.index li li {
  font-weight: 700;
  border-bottom: 1px solid rgb(26, 43, 73, 0.1);
}

.index li li a {
  padding-left: 32px;
  padding-left: 2rem;
}

.index li li:last-child {
  border-bottom: none;
}

.index li li li {
  font-weight: normal;
  border-bottom: 1px solid rgb(26, 43, 73, 0.1);
}

.index li li li a {
  padding-left: 48px;
  padding-left: 3rem;
}

.index li li li li a {
  padding-left: 64px;
  padding-left: 4rem;
}

.index li li li li li a {
  padding-left: 80px;
  padding-left: 5rem;
}

.index li::before {
  content: "";
  width: 8px;
  width: 0.5rem;
  display: inline-block;
  position: absolute;
  top: 24px;
  top: 1.5rem;
  bottom: 24px;
  bottom: 1.5rem;
}

.index li.active::before {
  background-color: #a8caba;
}

.content {
  grid-area: content;
  -ms-grid-column: 2;
  margin-left: 40px;
}

.content > section,
.content > article {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.title {
  margin: 10px 0;
}

.content ul li {
  list-style: none;
}

.content ul li::before {
  position: absolute;
  content: "\2022";
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.content-banner {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border-radius: 0.5rem;
  border: 1px solid #e5e5e5;
}

.byline {
  font-weight: bold;
  font-style: italic;
}

.byline.reviewers,
.byline.translators,
.byline.analysts,
.byline.editors {
  font-weight: normal;
}

.article-dates {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  font-style: italic;
  margin-bottom: 10px;
}

.article-dates time {
  white-space: nowrap;
}

.btn.chapter-cta > svg {
  margin: -6px 3px;
}

#cta-container.invisible {
  opacity: 0;
}

#cta-container {
  display: flex;
  height: 0;
  flex-direction: row;
  align-items: flex-end;
  position: sticky;
  bottom: 1.25rem;
  z-index: 1;
  justify-content: flex-end;
  opacity: 1;
  transition: opacity 1000ms;
}

.chapter-cta {
  border: none;
  box-shadow: 0 0 1rem 0 rgb(78, 85, 100, 0.2);
  padding: 10px 12px;
  margin-top: 1em;
  margin-left: 1em;
}

.chapter-links .btn {
  display: inline-block;
  margin: 10px;
}

.chapter-links svg {
  margin-right: 10px;
  margin-right: 0.625rem;
  vertical-align: middle;
}

#num-comments {
  line-height: 24px;
  line-height: 1.5rem;
}

.share-cta {
  line-height: 1.6em;
}

.share-cta:hover svg,
.share-cta:focus svg {
  fill: white;
}

[data-translation] {
  display: none;
}

.authors h2,
.chapter-links h2,
.webmentions h2 {
  padding: 16px 0;
  padding: 1rem 0;
}

.authors,
.citation-box h2,
.authors h2,
.chapter-links,
.chapter-links h2,
.webmentions,
.webmentions h2 {
  border-bottom: 1px solid #1a2b490a;
  font-size: 17px;
  font-size: 1.0625rem;
}

.content .authors {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

.content .authors ul {
  margin: 16px 0;
  margin: 1rem 0;
  padding: 0;
}

.content .authors li::before {
  content: none;
  width: 0;
  margin-left: 0;
}

.content .authors li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-top: 2rem;
  overflow: auto;
  display: grid;
  grid-template-areas: 'avatar info';
  grid-template-columns: 76px auto;
  grid-template-columns: 4.75rem auto;
  grid-template-columns: 4.75rem calc(100% - 4.75rem); /* auto sometimes not set correctly on font zoom */
}

.authors .name {
  font-size: 24px;
  font-size: 1.5rem;
  margin-right: 16px;
  margin-right: 1rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  display: inline-block;
}

.authors .tagline {
  font-size: 16px;
  font-size: 1rem;
}

.authors .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.authors .social {
  font-size: 0.9em;
}

.authors .social a {
  margin: 0.25rem 1rem 0.25rem 0;
  overflow-wrap: break-word;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.authors .social a:last-child {
  margin-right: 0;
}

.authors .social a:hover,
.authors .social a:focus {
  text-decoration: underline;
}

.authors .social svg {
  width: 1.5em;
  height: auto;
  margin-right: 4px;
  margin-right: 0.25rem;
}

.citation-box pre {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1);
  font-family: monospace;
  background-color: #f9f9f9;
  overflow-x: auto;
  white-space: pre-wrap; /* Allow wrapping of long lines */
  margin: 0;
}

#chapter-navigation {
  padding: 16px 36px 50px 36px;
  padding: 1rem 2.25rem 3.125rem 2.25rem;
  border: 1px solid #1a2b490a;
  margin: 20px 0;
  margin: 1.25rem 0;
  overflow: hidden;
}

#chapter-navigation > a {
  color: #1a2b49;
  width: 50%;
  min-width: 100px;
  min-width: 6.25rem;
  display: inline-block;
  position: relative;
}

#chapter-navigation span {
  display: block;
}

#chapter-navigation .chapter-no {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
  font-style: italic;
}

#chapter-navigation .chapter-title {
  font-size: 18px;
  font-size: 1.125rem;
}

#chapter-navigation .arrow {
  position: absolute;
  font-size: 24px;
  font-size: 1.5rem;
  top: 12px;
  top: 0.75em;
}

#previous-chapter .arrow {
  transform: rotate(-90deg);
  left: -24px;
  left: -1.5rem;
}

#next-chapter {
  text-align: right;
  float: right;
}

#next-chapter .arrow {
  transform: rotate(90deg);
  right: -24px;
  right: -1.5rem;
}

table,
figure {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.anchor-link {
  text-decoration: none;
  padding-left: 30px;
  margin-left: -30px;
}

figure .anchor-link {
  text-decoration: underline;
}

.anchor-link:hover::before,
.anchor-link:focus::before {
  content: url('/static/images/link.svg');
  content: url('/static/images/link.svg') / '';
  left: -25px;
  position: relative;
  float: left;
  width: 0;
  height: 0;
}

.fig-description-button {
  margin: 5px auto 0;
  margin: 0.3125rem auto 0;
  font-size: 12px;
  font-size: 0.75rem;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  border-radius: 0.25rem;
  padding: 5px;
  padding: 0.3125rem;
}

.fig-description {
  border: 1px solid;
  border-radius: 10px;
  border-radius: 0.625rem;
  margin-top: 10px;
  margin-top: 0.625rem;
  padding: 10px;
  padding: 0.625rem;
  background-color: #e5e5e5;
}

figure {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 22.4px;
  margin: 1.4rem;
  padding: 8px;
  padding: 0.5rem;
  font-style: italic;
}

figure > p {
  display: inline-block;
}

figure > a {
  margin: 0 auto;
}

figure img {
  margin: 0 auto;
  border-radius: 8px;
  border-radius: 0.5rem;
  border: 1px solid #e5e5e5;
}

.height-16vw-122px {
  max-height: 122px;
  height: 122px;
  height: 16vw;
}

figure iframe {
  display: block;
  margin: 0 auto;
}

.figure-block {
  display: block;
}

figure .code-block {
  margin: 10px auto;
  margin: 0.625rem auto;
}

figcaption {
  margin: 8px auto 0;
  margin: 0.5rem auto 0;
  text-align: center;
  max-width: 100%;
}

.figure-wrapper {
  position: relative;
  margin: 0 auto;
}

.figure-dropdown {
  position: absolute;
  top: -10px;
  right: -50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.table-wrap .figure-dropdown {
  top: 0;
}

.figure-dropdown button {
  opacity: 0.5;
  border: none;
  padding: 0.5rem;
  color: #0b1423;
}

.figure-dropdown button:focus,
.figure-dropdown button:hover {
  opacity: 1;
  color: inherit;
}

.figure-dropdown-list.nav-dropdown-list {
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 16px;
  border-radius: 1rem;
  overflow: hidden;
}

.figure-dropdown-list li {
  display: flex;
}

.figure-dropdown-list a {
  text-decoration: none;
  padding: 15px 20px;
}

.figure-dropdown-list a:hover,
.figure-dropdown-list a:focus {
  text-decoration: underline;
  background-color: #5c687d;
  color: white;
}

.figure-dropdown svg {
  pointer-events: none;
}

.figure-dropdown .nav-dropdown-btn::after {
  display: none;
}

.figure-dropdown .nav-dropdown-btn.dropdown-open {
  background-color: transparent;
  border: none;
}

.figure-dropdown .nav-dropdown-list {
  background-color: white;
  border-color: #5c687d;
}

table {
  margin: 0 auto;
  max-width: 100%;
  border-collapse: collapse;
}

thead {
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #eee;
}

th,
td {
  padding: 10px;
  padding: 0.625rem;
}

th.numeric,
td.numeric {
  text-align: right;
}

.numeric-good {
  color: #38761d;
}

.numeric-bad {
  color: #b60000;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f280;
}

figure .big-number {
  text-align: center;
  font: bold 128px/1em 'Poppins', sans-serif;
  font: bold 8rem/1em 'Poppins', sans-serif;
  color: #62718b;
  /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
  word-break: break-word;
  overflow-wrap: break-word;
  margin: 0.1em 0;
}

figure .medium-number {
  text-align: center;
  font: bold 48px/1em 'Poppins', sans-serif;
  font: bold 3rem/1em 'Poppins', sans-serif;
  color: #62718b;
  /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
  word-break: break-word;
  overflow-wrap: break-word;
}

figure .really-big-number {
  text-align: center;
  font: bold 24px/1em 'Poppins', sans-serif;
  font: bold 1.5rem/1em 'Poppins', sans-serif;
  color: #62718b;
  /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
  word-break: break-word;
  overflow-wrap: break-word;
}

figure .fig-mobile {
  display: none;
}

figure object {
  max-width: 100%;
  height: auto;
}

figure .fig-desktop {
  display: block;
}

.video-embed {
  display: block;
}

.video-fallback-image {
  display: none;
}

.bio {
  margin-top: 10px;
  margin-top: 0.625rem;
}

@media (max-width: 56.25em) {
  .main {
    -ms-grid-columns: 1fr;
    grid-template-areas:
      'index'
      'content';
    grid-template-columns: auto;
    grid-template-columns: 100%; /* auto sometimes not set correctly on font zoom */
  }

  .main .content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    margin-left: 0;
  }

  .index {
    -ms-grid-row: 1;
    margin: 30px 0;
    margin: 1.875rem 0;
  }

  .index-box .header {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .index-box .index-btn {
    display: block;
  }

  .index-box .no-button {
    display: none;
  }

  .index-box .index-btn::after {
    font-weight: normal;
    float: right;
    content: "+";
    content: "+" / "";
  }

  .index-box.show .index-btn::after {
    content: "-";
    content: "-" / "";
  }

  .index-box ul {
    max-height: 0;
    display: none;
    border-top: 0 solid #fff;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }

  .index-box.show ul {
    margin-top: 2px;
    border-top: 1px solid #1a2b490a;
    max-height: 100%;
    display: block;
    transition: max-height 0.25s ease-in;
  }

  .index li.active::before {
    background-color: transparent;
  }

  .table-wrap {
    justify-content: left;
  }

  table {
    font-size: 0.8em;
  }

  figure {
    margin: 0 15px;
    margin: 0 0.9375rem;
  }

  .figure-dropdown {
    right: -2rem;
  }

  figure .big-number {
    font-size: 80px;
    font-size: 5rem;
  }

  figure iframe {
    display: none;
  }

  figure .fig-mobile {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .fig-description-button {
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    font-size: 16px;
    font-size: 1rem;
  }

  .index .sticky {
    position: static;
  }

  .index .index-box {
    max-height: 100%;
  }

  .content .authors li {
    grid-template-areas:
      'avatar avatar'
      'info info';
  }

  .content .authors li .info {
    grid-area: info;
  }

  .anchor-link {
    padding-left: 0;
    margin-left: 0;
  }

  .anchor-link:hover::before,
  .anchor-link:focus::before {
    content: '';
  }

  .content ul li {
    padding: 5px 0;
  }
}

/* Mobile View */
@media (max-width: 37.5em) {
  .article-dates {
    display: block;
  }
}

/* Code highlighting */
.code-block {
  margin: 8px 0;
  margin: 0.5rem 0;
  padding: 16px;
  padding: 1rem;
}

.code-block .divider {
  position: relative;
  border: 1px solid #1a2b490a;
  width: calc(100% + 32px);
  width: calc(100% + 2rem);
  left: -16px;
  left: -1rem;
}

.code-block,
pre {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 8px 0;
  margin: 0.5rem 0;
  padding: 24px;
  padding: 1.5rem;
}

.code-block code {
  width: 100%;
}

/* Webmention code */
.reaction-tabs [role="tab"][aria-selected="true"] {
  z-index: 3;
  font-weight: bold;
  border-bottom: 0.5rem solid #a8caba;
}

.reaction-tabs [role="tab"] {
  position: relative;
  z-index: 1;
  background: white;
  border: 0;
  padding: 0.6rem 0.75rem 0.6rem;
}

.reactions [role="tabpanel"] {
  margin-top: 1.5rem;
}

.reaction-tabs > button > span {
  pointer-events: none;
}

.no-reactions {
  display: none;
}

.webmention-likes,
.webmention-reposts {
  display: flex;
  flex-wrap: wrap;
}

.webmentions .reactions ul {
  padding: 0;
}

.webmentions .reactions ul > li {
  margin-right: 1rem;
}

.webmentions .reactions ul > li::before {
  display: none;
}

.webmentions a.webmention-author {
  text-decoration: none;
}

.webmentions a.webmention-author:hover {
  text-decoration: underline;
}

.webmention-author .webmention-author-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  background: grey;
  display: block;
}

.webmention-meta {
  font-size: 0.875rem;
  color: #515660;
}

.webmention-meta a.webmention-source {
  color: #515660;
}

.webmentions .reactions .webmention-replies-item,
.webmentions .reactions .webmention-mentions-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 0 1rem 60px;
}

.webmention-replies-item .webmention-author .webmention-author-avatar,
.webmention-mentions-item .webmention-author .webmention-author-avatar {
  position: absolute;
  top: 1rem;
  left: 0;
}

/* Needed for Safari to hide the index properly */
@media print {
  .main {
    grid-template-areas: 'content';
    grid-template-columns: auto;
  }

  .figure-dropdown {
    display: none;
  }
}
