/* Browser elements */
body {
	font-family: 'Poppins', sans-serif;
	color: #444;
	margin: 0;
}

h2 {
	font-weight: inherit;
}

button {
	background: #f7f879;;
}

select {
	-webkit-appearance: none;
}

button, select {
	border: 0;
	outline: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	padding: 12px 20px;
}

/* Shared */
#home {
	display: grid;
	grid-template-rows: 2fr 1fr 1fr 2fr 1fr;
	height: 100vh;
}

header,
footer,
.contributors-container {
	background: #677485;
	color: white;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.nav-items {
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.nav-items li {
	list-style: none;
	margin-left: 50px;
}

.nav-items a {
	font-size: 14px;
	text-decoration: none;
	color: white;
}

.featured-chapter,
.methodology-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.intro h1,
.contributors h1,
.methodology h1 {
	font-size: 40px;
	font-weight: bold;
}

.intro h2,
.contributors h2 {
	font-size: 30px;
}

.intro div,
.contributors div {
	font-size: 14px;
	margin-bottom: 40px;
}

.explore button,
.contributors button {
	background: none;
	border: 1px solid #f7f879;
	color: #f7f879;
}

/* Header */
.logo,
.explore {
	flex-shrink: 0;
}

.intro {
	width: 400px;
	margin: 0 0 50px 200px;
}

.explore {
	display: flex;
	justify-content: center;
	align-items: center;
}

.explore button, select {
	margin-left: 20px;
}

/* Mobile Web */
.mobile-web {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobile-web > div,
.mobile-web button {
	margin-bottom: 40px;
}

.mobile-web-data {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.mobile-web-data-item div:first-of-type {
	font-size: 2rem;
	font-weight: bold;
}

/* Contributors */
.contributors {
	width: 400px;
	margin: 100px 0 50px 200px;
}

/* Methodology */
.methodology {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.methodology img:first-of-type {
	margin-top: 20px;
	height: 180px;
	width: 250px;
}

.methodology-data {
	display: flex;
	margin: 20px 0 30px 0;
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 0 0 5px 5px #f6f7f9;
}

.websites-tested {
	display: flex;
	align-items: center;
	margin-right: 40px;
	text-transform: uppercase;
}

.data-processed {
	display: flex;
	align-items: center;
	margin-left: 40px;
	text-transform: uppercase;
}

.websites-tested div,
.data-processed div {
	font-size: 14px;
	font-weight: bold;
	margin: 0 10px;
}

.websites-tested div:last-of-type,
.data-processed div:last-of-type {
	font-size: 3rem;
}

.methodology-info {
	width: 700px;
	margin-bottom: 30px;
}

.methodology button {
	background: none;
	border: 1px solid #1b2c4a;
	color: #1b2c4a;
	margin-bottom: 30px;
}

.methodology img:last-of-type {
	height: 180px;
	width: 1000px;
	margin-bottom: 30px;
}

/* Footer */
.footer-container {
	margin: 0 200px;
}

.misc {
	display: flex;
	padding: 30px 20px 40px 20px;
	justify-content: space-between;
}

.social-media {
	display: flex;
}

.social-media div {
	padding: 0 20px;
}
