{% extends "base/base.html" %}

{% block description %}Web Almanac é um estado anual do relatório da Web que combina a experiência da comunidade da Web com os dados e as tendências do HTTP Archive.{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}

{% block skip_navigation %}Pular navegação{% endblock %}

{% block organization %}Web Almanac por HTTP Archive{% endblock %}
{% block web_almanac_logo %}
<span class="wa">Web Almanac</span>
<span class="line-group">
  <span class="pre">Por</span>
  <span class="ha">HTTP Archive</span>
</span>
{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive relatório annual do <br> <b>estado da web</b>{% endblock %}

{% block mission %}
<p>
Nossa missão é combinar as estatísticas brutas e as tendências do HTTP Archive com a experiência da comunidade web. O Web Almanac é um relatório abrangente sobre o estado da Web, apoiado por dados reais e especialistas confiáveis da Web. A edição de {{ year }} é composta por {{ supported_chapters | length }} capítulos que abrangem aspectos do conteúdo da página, experiência do usuário, publicação e distribuição.
</p>
{% endblock %}

{% block read_last_years_almanac %}Leia o  {{ previous_year }} Web Almanac{% endblock %}

{% block http_archive_link %}Página inicial HTTP Archive{% endblock %}

{% block page_navigation %}Navegação de página{% endblock %}

{% block help_translate %}Ajudar traduzir{% endblock %}
{% block translation_not_available %}Inglês - não disponível em Português{% endblock %}
{% block in_english %} (Inglês){% endblock %}
{% block language_switcher %}Selecione o Idioma{% endblock %}
{% block year_switcher %}Selecione o Ano{% endblock %}
{% block table_of_contents_switcher %}Selecione o Tabela de Conteúdos{% endblock %}

{% block home %}Início{% endblock %}
{% block table_of_contents_title %}Tabela de Conteúdos{% endblock %}
{% block contributors_title %}Contribuintes{% endblock %}
{% block methodology_title %}Metodologia{% endblock %}
{% block search_title %}Pesquisa{% endblock %}

{% block part %}Parte{% endblock %}
{% block chapter %}Capítulo{% endblock %}

{% block start_exploring %}Comece a explorar{% endblock %}

{% block menu_title %}Menu da Página{% endblock %}
{% block open_the_menu %}Abra o menu{% endblock %}
{% block close_the_menu %}Feche o menu{% endblock %}

{% block index_nav_title %}Chapter table of contents{% endblock %}
{% block index_title %}Index{% endblock %}
{% block open_the_index %}Abrir índice de conteúdos{% endblock %}
{% block close_the_index %}Fechar índice de conteúdos{% endblock %}

{% block and %}e{% endblock %}
{% block comma %}, {% endblock %}
{% block oxford_comma %}{% endblock %}

{% block open %}Abrir{% endblock %}
{% block close %}Fechar{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}Figura {{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}Mostrar descrição da figura {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}Ocultar descrição da figura {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}

{% block written_by_before %}Escrito por{% endblock %}
{% block reviewed_by_before %}Revisado por{% endblock %}
{% block translated_by_before %}Traduzido por{% endblock %}
{% block analysis_by_before %}Análise por{% endblock %}
{% block edited_by_before %}Editado por{% endblock %}
{% block reviewed_and_analyzed_by_before %}Revisado e análise por{% endblock %}
{% block analysis_and_editing_by_before %}Análise e Editado por{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}
{% block edited_by_after %}{% endblock %}
{% block reviewed_and_analyzed_by_after %}{% endblock %}
{% block analysis_and_editing_by_after %}{% endblock %}

{% block date_published %}Data de publicação: {% endblock %}
{% block date_updated %}Data atualizada: {% endblock %}

{% block unedited %}[Não editado]{% endblock %}

{% block author %}Autor(a){% endblock %}
{% block authors %}Autores{% endblock %}

{% block reaction %}reação{% endblock %}
{% block reactions %}reações{% endblock %}
{% block reactionsTitle %}Reações{% endblock %}
{% block reactionsAlt %}{% endblock %}
{% block source %}Ver fonte{% endblock %}
{% block share %}Compartilhar{% endblock %}

{% block like %}curtir{% endblock %}
{% block repost %}repostagem{% endblock %}
{% block reply %}resposta{% endblock %}
{% block mention %}menção{% endblock %}
{% block likes %}curtidas{% endblock %}
{% block reposts %}repostagens{% endblock %}
{% block replies %}respostas{% endblock %}
{% block mentions %}menções{% endblock %}
{% block likesAlt %}{% endblock %}
{% block repostsAlt %}{% endblock %}
{% block repliesAlt %}{% endblock %}
{% block mentionsAlt %}{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} no Twitter/X{% endmacro %}
{% macro onMastodon(mastodonHandle) %}{{mastodonHandle}} on Mastodon{% endmacro %}
{% macro onBluesky(blueskyHandle) %}{{blueskyHandle}} on Bluesky{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} no GitHub{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} no LinkedIn{% endmacro %}
{% macro website(authorName) %}{{authorName}} website{% endmacro %}

{% macro edition(year) %}{{ year }} Edição{% endmacro %}

{% block footer_title %}Navegação no rodapé{% endblock %}
{% block copyright %}© Web Almanac. Licenciado sob <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}Declaração de acessibilidade{% endblock %}
{% block rss_feed %}RSS Feed{% endblock %}

{% block featured_chapter %}Capítulo em Destaque{% endblock %}
{% block featured_chapter_last_year %}Capítulo em Destaque<br>do Web Almanac {{ previous_year }}{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}Leia o capítulo: <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %}Leia o {{ previous_year }} capítulo: <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}
{% endif %}

{% block contributors_description %}
O Web Almanac só foi possível graças ao trabalho árduo da comunidade web. {{ self.contributors() }} pessoas ofereceram inúmeras horas nas fases de planejamento, pesquisa, redação e produção do Web Almanac {{ year }}.
{% endblock %}
{% block contributors_link %}Veja os colaboradores{% endblock %}

{% block methodology_stat_1_title %}Sites testados{% endblock %}
{% block methodology_stat_2_title %}Dados processados{% endblock %}
{% block methodology_link %}Conheça nossa Metodologia{% endblock %}
{% block methodology_description %}
Salvo indicação em contrário, as métricas em todos os {{ supported_chapters | length }} capítulos do Web Almanac {{ year }} são originárias do conjunto de dados do HTTP Archive. O HTTP Archive é um projeto administrado pela comunidade que acompanha como a Web é criada desde 2010. Usando o WebPageTest e o Lighthouse, os metadados de {{ self.total_websites() }} de sites são testados mensalmente e incluídos em um banco de dados público do BigQuery para análise. O conjunto de dados de {{ self.dataset() }} foi usado como base para as métricas do Web Almanac {{ year }}. Para mais informações, consulte a página Metodologia.
{% endblock %}

{% block introduction %}Introdução{% endblock %}

{% block foreword_title %}Prefácio{% endblock %}

{% block coming_soon %}Em breve!{% endblock %}

{% block appendix %}Apêndice{% endblock %}
{% block appendices %}Apêndices{% endblock %}

{% block ebook_title %}Ebook{% endblock %}
{% block ebook_download_short %}Ebook PDF ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download %}Faça o download do Web Almanac {{ year }} completo em formato PDF ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download_note %}(gerado em <a href="https://www.princexml.com/">www.princexml.com</a>){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. Conteúdo da Página",
    "II. User Experience": "II. Experiência de usuário",
    "III. Content Publishing": "III. Publicação de conteúdo",
    "IV. Content Distribution": "IV. Distribuição de Conteúdo"
  }
%}

{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "markup": "Marcação",
    "media": "Mídia",
    "third-parties": "Terceiros",
    "fonts": "Fontes",
    "performance": "Desempenho",
    "security": "Segurança",
    "accessibility": "Acessibilidade",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "Web móvel",
    "ecommerce": "Comércio eletrônico",
    "cms": "CMS",
    "compression": "Compressão",
    "caching": "Armazenamento em Cache",
    "cdn": "CDN",
    "page-weight": "Peso da página",
    "resource-hints": "Dicas de Recursos",
    "http": "HTTP",
    "privacy": "Privacidade",
    "capabilities": "Capacidades",
    "jamstack": "Jamstack",
    "webassembly": "WebAssembly",
    "structured-data": "Structured Data",
    "sustainability": "Sustentabilidade",
    "interoperability": "Interoperabilidade"
  }
%}
{% if (year == "2019" or year == "2020") %}
{% set _dummy = localizedChapterTitles.__setitem__("http", "HTTP/2") %}
{% endif %}

{% set localizedTeamNames = {
  "analysts": "Analistas",
  "authors": "Autores",
  "brainstormers": "Pensadores",
  "designers": "Designers",
  "developers": "Desenvolvedores",
  "editors": "Editores",
  "leads": "Lider",
  "reviewers": "Revisores",
  "translators": "Tradutores",
  }
%}

{% set localizedTeamRole = {
  "analysts": "Analista",
  "authors": "Autor",
  "brainstormers": "Pensador",
  "designers": "Designer",
  "developers": "Desenvolvedor",
  "editors": "Editor",
  "leads": "Lider",
  "reviewers": "Revisor",
  "translators": "Tradutor",
  }
%}
