{% extends "%s/2019/base.html" % lang %}

{% block featured_chapter %}Capítulo em Destaque<br />do Web Almanac 2019{% endblock %}
{% macro read_chapter(chapter) %}Leia o 2019 Capítulo: <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}

{% block methodology_stat_1 %}7.5M{% endblock %}
{% block methodology_stat_2 %}31.3 TB{% endblock %}
{% block methodology_description %}
Salvo indicação em contrário, as métricas em todos os 22 capítulos do Web Almanac são originárias do conjunto de dados do HTTP Archive. O HTTP Archive é um projeto administrado pela comunidade que acompanha como a Web é criada desde 2010. Usando o WebPageTest e o Lighthouse, os metadados de mais de 7.5 milhões de sites são testados mensalmente e incluídos em um banco de dados público do BigQuery para análise. O conjunto de dados de agosto de 2020 foi usado como base para as métricas do Web Almanac. Para mais informações, consulte a página Metodologia.
{% endblock %}

{% block foreword %}
{% endblock %}
