{% extends "base/2019/index.html" %}

{% block title %}Web Almanac {{ year }} {% endblock %}
{% block description %}Web Almanac é um relatório anual sobre o estado da web que combina a experiência da comunidade da web com os dados e tendências do HTTP Archive.{% endblock %}

{% block twitter_image_alt %}Web Almanac {{ year }} {% endblock %}

{% block date_published %}2020-07-06T00:00:00.000Z{% endblock %}
{% block date_modified %}2020-08-16T00:00:00.000Z{% endblock %}

{% block intro_title %}{{ self.coming_soon() }}{% endblock %}
{% block intro_sub_title %}O relatório do <b>estado da web</b> de {{ year }}{% endblock %}

{% block mission %}
<p>
  Especialistas de toda a comunidade da web estão atualmente trabalhando arduamente para planejar, analisar e escrever o conteúdo para a edição de {{ year }} do Web Almanac, que está prestes a ser publicado no final do ano.
</p>
{% endblock %}
