{% extends "base/index.html" %}

{% block title %}Web Almanac {{ year }} {% endblock %}
{% block description %}Web Almanac é um relatório anual sobre o estado da web que combina a experiência da comunidade da web com os dados e tendências do HTTP Archive.{% endblock %}

{% block twitter_image_alt %}Web Almanac {{ year }} {% endblock %}


{% block intro_title %}{{ self.coming_soon() }}{% endblock %}
{% block intro_sub_title %}O relatório do <b>estado da web</b> de {{ year }}{% endblock %}

{% block mission %}
<p>
  Especialistas de toda a comunidade da web estão atualmente trabalhando arduamente para planejar, analisar e escrever o conteúdo para a edição de {{ year }} do Web Almanac, que está prestes a ser publicado no final do ano.
</p>
{% endblock %}
