{% extends "%s/2019/base_chapter.html" % lang %}

<!--{# IMPORTANT!

- `chapter.html` is a "template for templates" used by the `generate_chapters.js` script, hence the strange template syntax (eg, mixing ejs and jinja syntax)
- if you want to modify `chapter.html`, you must also:
  - translate the corresponding language-specific templates (eg `src/templates/<lang>/<year>/chapter.html`)
  - run the generation script to update each chapter template
- if you want to modify the chapter templates (eg `src/templates/<lang>/<year>/chapters/<chapter>.html`):
  - make changes to the markdown content directly (`src/content/<lang>/<year>/<chapter>.md`) because any changes to the chapter templates will be overwritten by the generation script
#}-->

{% set metadata = {"part_number":"I","chapter_number":6,"title":"フォント","description":"フォントがどこから読み込まれるか、フォントのフォーマット、フォントの読み込み性能、可変フォント、カラーフォントを網羅した2019年Web AlmanacのFontsの章。","authors":["zachleat"],"reviewers":["hyperpress","AymenLoukil"],"translators":["ksakae"],"discuss":"1761","results":"https://docs.google.com/spreadsheets/d/108g6LXdC3YVsxmX1CCwrmpZ3-DmbB8G_wwgQHX5pn6Q/","queries":"06_Fonts","published":"2019-11-11T00:00:00.000Z","last_updated":"2020-06-30T00:00:00.000Z","chapter":"fonts"} %} {% block index %}
<ul>
  <li>
    <a href="#序章">序章</a>
  </li>

  <li>
    <a href="#そのウェブフォントはどこで手に入れたの？">そのウェブフォントはどこで手に入れたの？</a>

    <ul>
      <li>
        <a href="#フォントは同じホストでホストされているのか、それとも別のホストでホストされているのか？">フォントは同じホストでホストされているのか、それとも別のホストでホストされているのか？</a>
      </li>

      <li>
        <a href="#最も人気のあるサードパーティ製のホストは何ですか？">最も人気のあるサードパーティ製のホストは何ですか？</a>
      </li>

      <li>
        <a href="#サードパーティホスティングの高速化">サードパーティホスティングの高速化</a>
      </li>

      <li>
        <a href="#最も人気のある書体">最も人気のある書体</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#どのようなフォント形式を使用していますか？">どのようなフォント形式を使用していますか？</a>

    <ul>
      <li>
        <a href="#woff2専用">WOFF2専用</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#見えない文字との戦い">見えない文字との戦い</a>
  </li>

  <li>
    <a href="#ウェブフォントの数が多すぎる？">ウェブフォントの数が多すぎる？</a>

    <ul>
      <li>
        <a href="#この賞を受賞したくない">この賞を受賞したくない</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#unicode-rangeを使うとより正確なマッチングが可能になります">Unicode-rangeを使うとより正確なマッチングが可能になります</a>
  </li>

  <li>
    <a href="#システムフォントが存在する場合、ウェブフォントを要求しないようにする">システムフォントが存在する場合、ウェブフォントを要求しないようにする</a>
  </li>

  <li>
    <a href="#縮約されたフォントとfont-stretch">縮約されたフォントとfont-stretch</a>
  </li>

  <li>
    <a href="#可変フォントは未来のもの">可変フォントは未来のもの</a>
  </li>

  <li>
    <a href="#カラーフォントも未来かも？">カラーフォントも未来かも？</a>
  </li>

  <li>
    <a href="#結論">結論</a>
  </li>
</ul>

{% endblock %} {% block main_content %}
<h2 id="序章"><a href="#序章" class="anchor-link">序章</a></h2>
<p>ウェブフォントは、ウェブ上で美しく機能的なタイポグラフィを可能にします。ウェブフォントを使用することは、デザインに力を与えるだけでなく、デザインのサブセットを民主化します。しかし、どんなに良いことがあってもウェブフォントが適切に読み込まれていないと、サイトのパフォーマンスに大きな悪影響を及ぼすこともあります。</p>
<p>それらはウェブにとってプラスになるのか？　それらは害よりも多くの利益を提供しているか?　Web標準の牛道は、デフォルトでWebフォントの読み込みのベストプラクティスを奨励するために十分に舗装されているだろうか？　そうでない場合、何を変える必要があるのでしょうか？　今日のウェブ上でウェブフォントがどのように使用されているかを調べることで、これらの疑問に答えられるかどうかをデータ駆動型で覗いてみましょう。</p>
<h2 id="そのウェブフォントはどこで手に入れたの？"><a href="#そのウェブフォントはどこで手に入れたの？" class="anchor-link">そのウェブフォントはどこで手に入れたの？</a></h2>
<p>最初の、そして最も顕著な問題は、パフォーマンスです。<a href="./performance">パフォーマンス</a>に特化した章がありますが、ここではフォント固有のパフォーマンスの問題について少し掘り下げてみましょう。</p>
<p>ホストされたWebフォントを使用すると、実装やメンテナンスが容易になりますが、セルフホスティングは最高のパフォーマンスを提供します。Webフォントはデフォルトで、Webフォントの読み込み中にテキストを非表示にする（<a href="https://css-tricks.com/fout-foit-foft/">Flash of Invisible Text</a>、またはFOITとしても知られています）ことを考えると、Webフォントのパフォーマンスは画像のような非ブロッキング資産よりも重要になる可能性があります。</p>
<h3 id="フォントは同じホストでホストされているのか、それとも別のホストでホストされているのか？"><a href="#フォントは同じホストでホストされているのか、それとも別のホストでホストされているのか？" class="anchor-link">フォントは同じホストでホストされているのか、それとも別のホストでホストされているのか？</a></h3>
<p>サードパーティのホスティングに対するセルフホスティングの差別化は、<a href="./http2">HTTP/2</a>の世界ではますます重要になってきています。同一ホストのリクエストには、ウォーターフォール内の他の同一ホストのリクエストに対して優先順位をつける可能性が高いという大きな利点があります。</p>
<p>別のホストからウェブフォントを読み込む際のパフォーマンスコストを軽減するための推奨事項としては、<code>preconnect</code>、<code>dns-prefetch</code>、<code>preload</code> <a href="./resource-hints">リソースのヒント</a>の使用がありますが、優先度の高いウェブフォントは、ウェブフォントのパフォーマンスへの影響を最小限に抑えるため、同一ホストからのリクエストにすべきです。これは視覚的に、非常に目立つコンテンツやページの大部分を占める本文コピーで使用されるフォントへ対して特に重要です。</p>
<figure id="fig-1">
  <a href="/static/images/2019/fonts/fig1.png">
    <img src="/static/images/2019/fonts/fig1.png" alt="図1. 人気のあるウェブフォントのホスティング戦略。" aria-labelledby="fig1-description" aria-describedby="fig1-caption" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-iframe="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDogXDb3BwZZHrBT39qccP_LJoCScD3QEi_FmjT_8VDPD_1Srpz-g7ZuuTUEb8pYXBpDmQzZ1hQh7q/pubchart?oid=1546332659&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig1-description" data-show-text="{{ show_description(1) }}" data-hide-text="{{ hide_description(1) }}">{{ show_description(1) }}</button>
  <div id="fig1-description" class="visually-hidden">ウェブフォントのサードパーティおよびセルフホスティング戦略の人気を示す棒グラフ。モバイルWebページの75%がサードパーティ製ホストを使用し、25%がセルフホストを使用しています。デスクトップのウェブサイトでも、同様の利用状況です。</div>
  <figcaption id="fig1-caption"><a href="#fig-1" class="anchor-link">図 1.</a> 人気のあるウェブフォントのホスティング戦略。font hosting strategies.</figcaption>
</figure>
<p>4分の3がホストされているという事実は、おそらく我々が議論するGoogle Fontsの優位性を考えると意外と知られていません<a href="#最も人気のあるサードパーティ製のホストは何ですか？">以下</a>。</p>
<p>Googleは<code>https://fonts.googleapis.com</code>でホストされているサードパーティのCSSファイルを使ってフォントを提供しています。開発者は、マークアップの<code>&lt;link&gt;</code>タグを使ってこれらのスタイルシートにリクエストを追加します。これらのスタイルシートはレンダーブロッキングされていますが、そのサイズは非常に小さいです。しかし、フォントファイルは<code>https://fonts.gstatic.com</code>という別のドメインでホストされています。2つの異なるドメインへの2つの別々のホップを必要とするモデルでは、CSSがダウンロードされるまで発見されない2つ目のリクエストには<code>preconnect</code>が最適な選択肢となります。</p>
<p><code>preload</code>はリクエストのウォーターフォールの上位にフォントファイルをロードするための素晴らしい追加機能ですが（<code>preconnect</code>は接続を設定するもので、ファイルの内容をリクエストするものではないことを覚えておいてください）、<code>preload</code>はGoogle Fontsではまだ利用できません。Google Fontsはフォントファイル用のユニークなURLを生成します<a href="https://github.com/google/fonts/issues/1067">これは変更される可能性があります</a>。</p>
<h3 id="最も人気のあるサードパーティ製のホストは何ですか？"><a href="#最も人気のあるサードパーティ製のホストは何ですか？" class="anchor-link">最も人気のあるサードパーティ製のホストは何ですか？</a></h3>
<figure id="fig-2">
  <div class="table-wrap">
    <div class="table-wrap-container">
      <table>
        <thead>
          <tr>
            <th>ホスト</th>
            <th>デスクトップ</th>
            <th>モバイル</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>fonts.gstatic.com</td>
            <td class="numeric">75.4%</td>
            <td class="numeric">74.9%</td>
          </tr>
          <tr>
            <td>use.typekit.net</td>
            <td class="numeric">7.2%</td>
            <td class="numeric">6.6%</td>
          </tr>
          <tr>
            <td>maxcdn.bootstrapcdn.com</td>
            <td class="numeric">1.8%</td>
            <td class="numeric">2.0%</td>
          </tr>
          <tr>
            <td>use.fontawesome.com</td>
            <td class="numeric">1.1%</td>
            <td class="numeric">1.2%</td>
          </tr>
          <tr>
            <td>static.parastorage.com</td>
            <td class="numeric">0.8%</td>
            <td class="numeric">1.2%</td>
          </tr>
          <tr>
            <td>fonts.shopifycdn.com</td>
            <td class="numeric">0.6%</td>
            <td class="numeric">0.6%</td>
          </tr>
          <tr>
            <td>cdn.shopify.com</td>
            <td class="numeric">0.5%</td>
            <td class="numeric">0.5%</td>
          </tr>
          <tr>
            <td>cdnjs.cloudflare.com</td>
            <td class="numeric">0.4%</td>
            <td class="numeric">0.5%</td>
          </tr>
          <tr>
            <td>use.typekit.com</td>
            <td class="numeric">0.4%</td>
            <td class="numeric">0.4%</td>
          </tr>
          <tr>
            <td>netdna.bootstrapcdn.com</td>
            <td class="numeric">0.3%</td>
            <td class="numeric">0.4%</td>
          </tr>
          <tr>
            <td>fast.fonts.net</td>
            <td class="numeric">0.3%</td>
            <td class="numeric">0.3%</td>
          </tr>
          <tr>
            <td>static.dealer.com</td>
            <td class="numeric">0.2%</td>
            <td class="numeric">0.2%</td>
          </tr>
          <tr>
            <td>themes.googleusercontent.com</td>
            <td class="numeric">0.2%</td>
            <td class="numeric">0.2%</td>
          </tr>
          <tr>
            <td>static-v.tawk.to</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.3%</td>
          </tr>
          <tr>
            <td>stc.utdstc.com</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.2%</td>
          </tr>
          <tr>
            <td>cdn.jsdelivr.net</td>
            <td class="numeric">0.2%</td>
            <td class="numeric">0.2%</td>
          </tr>
          <tr>
            <td>kit-free.fontawesome.com</td>
            <td class="numeric">0.2%</td>
            <td class="numeric">0.2%</td>
          </tr>
          <tr>
            <td>open.scdn.co</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.1%</td>
          </tr>
          <tr>
            <td>assets.squarespace.com</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.1%</td>
          </tr>
          <tr>
            <td>fonts.jimstatic.com</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.2%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <figcaption><a href="#fig-2" class="anchor-link">図 2.</a> リクエストの割合による上位20のフォントホスト。</figcaption>
</figure>
<p>ここでのGoogle Fontsの優位性は、同時に驚くべきことであると同時に意外性のないものであった。期待していたという点では予想外でしたが、サービスの圧倒的な人気の高さには驚きました。フォントリクエストの75％というのは驚異的だ。TypeKitは一桁台の遠い2位で、Bootstrapライブラリがさらに遠い3位を占めていました。</p>
<figure id="fig-3">
  <div class="big-number">29%</div>
  <figcaption><a href="#fig-3" class="anchor-link">図 3.</a> ドキュメント内にGoogle Fontsスタイルシートのリンクを含むページの割合 <code>&lt;head&gt;</code>。</figcaption>
</figure>
<p>ここでのGoogle Fontsの使用率の高さは非常に印象的だが、Google Fonts<code>&lt;link&gt;</code>要素を含むページが29％しかなかったことも注目に値する。これはいくつかのことを意味しているかもしれない。</p>
<ul>
  <li>ページがGoogle Fontsを使用する場合、彼らはGoogle Fontsを多く使用しています。それらは結局のところ、金銭的なコストなしで提供されています。おそらく、人気のあるWYSIWYGエディタで使われているのではないでしょうか？　これは非常に可能性の高い説明のように思えます。</li>
  <li>あるいは、もっとありそうにない話としては、多くの人が<code>&lt;link&gt;</code>の代わりに<code>@import</code>を使ってGoogle Fontsを使っているということかもしれません。</li>
  <li>
    あるいは、超ありえないシナリオにまで踏み込んでみたいのであれば、多くの人が代わりに<a href="https://developer.mozilla.org/ja/docs/Web/HTTP">HTTP <code>Link:</code>ヘッダー</a>を使ってGoogle Fontsを使っているということになるかもしれません。
  </li>
</ul>
<figure id="fig-4">
  <div class="big-number">0.4%</div>
  <figcaption><a href="#fig-4" class="anchor-link">図 4.</a> ドキュメントの最初の子としてGoogle Fontsスタイルシートのリンクを含むページの割合 <code>&lt;head&gt;</code>。</figcaption>
</figure>
<p>Google Fontsのドキュメントでは、Google Fonts CSSの<code>&lt;link&gt;</code>はページの<code>&lt;head&gt;</code>の最初の子として配置することを推奨しています。これは大きなお願いです！　実際、これは一般的でありません。全ページの半分のパーセント（約20,000ページ）しかこのアドバイスを受けていないので、これは一般的でありません。</p>
<p>さらに言えば、ページが<code>preconnect</code>や<code>dns-prefetch</code>を<code>&lt;link&gt;</code>要素として使用している場合、これらはいずれにしてもGoogle Fonts CSSの前へ来ることになります。これらのリソースのヒントについては、続きを読んでください。</p>
<h3 id="サードパーティホスティングの高速化"><a href="#サードパーティホスティングの高速化" class="anchor-link">サードパーティホスティングの高速化</a></h3>
<p>上述したように、サードパーティホストへのウェブフォント要求を高速化する超簡単な方法は、<code>preconnect</code><a href="./resource-hints">リソースヒント</a>を使用することです。</p>
<figure id="fig-5">
  <div class="big-number">1.7%</div>
  <figcaption><a href="#fig-5" class="anchor-link">図 5.</a> モバイルページがウェブフォントホストにプリコネクティングしている割合。</figcaption>
</figure>
<p>
  うわー！　2％未満のページが<a href="https://web.dev/uses-rel-preconnect"><code>preconnect</code></a
  >を使用している！　Google Fontsが75％であることを考えると、これはもっと高いはずです！　開発者の皆さん: Google Fontsを使うなら、<code>preconnect</code>を使いましょう！　Google Fonts:<code>preconnect</code>をもっと宣伝しよう！
</p>
<p>実際、もしあなたがGoogle Fontsを使っているのであれば、<code>&lt;head&gt;</code>にこれを追加してください。</p>
<p><code>&lt;link rel="preconnect" href="https://fonts.gstatic.com/"&gt;</code></p>
<h3 id="最も人気のある書体"><a href="#最も人気のある書体" class="anchor-link">最も人気のある書体</a></h3>
<figure id="fig-6">
  <div class="table-wrap">
    <div class="table-wrap-container">
      <table>
        <thead>
          <tr>
            <th>ランク</th>
            <th>フォントファミリー</th>
            <th>デスクトップ</th>
            <th>モバイル</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="numeric">1</td>
            <td>Open Sans</td>
            <td class="numeric">24%</td>
            <td class="numeric">22%</td>
          </tr>
          <tr>
            <td class="numeric">2</td>
            <td>Roboto</td>
            <td class="numeric">15%</td>
            <td class="numeric">19%</td>
          </tr>
          <tr>
            <td class="numeric">3</td>
            <td>Montserrat</td>
            <td class="numeric">5%</td>
            <td class="numeric">4%</td>
          </tr>
          <tr>
            <td class="numeric">4</td>
            <td>Source Sans Pro</td>
            <td class="numeric">4%</td>
            <td class="numeric">3%</td>
          </tr>
          <tr>
            <td class="numeric">5</td>
            <td>Noto Sans JP</td>
            <td class="numeric">3%</td>
            <td class="numeric">3%</td>
          </tr>
          <tr>
            <td class="numeric">6</td>
            <td>Lato</td>
            <td class="numeric">3%</td>
            <td class="numeric">3%</td>
          </tr>
          <tr>
            <td class="numeric">7</td>
            <td>Nanum Gothic</td>
            <td class="numeric">4%</td>
            <td class="numeric">2%</td>
          </tr>
          <tr>
            <td class="numeric">8</td>
            <td>Noto Sans KR</td>
            <td class="numeric">3%</td>
            <td class="numeric">2%</td>
          </tr>
          <tr>
            <td class="numeric">9</td>
            <td>Roboto Condensed</td>
            <td class="numeric">2%</td>
            <td class="numeric">2%</td>
          </tr>
          <tr>
            <td class="numeric">10</td>
            <td>Raleway</td>
            <td class="numeric">2%</td>
            <td class="numeric">2%</td>
          </tr>
          <tr>
            <td class="numeric">11</td>
            <td>FontAwesome</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">12</td>
            <td>Roboto Slab</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">13</td>
            <td>Noto Sans TC</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">14</td>
            <td>Poppins</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">15</td>
            <td>Ubuntu</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">16</td>
            <td>Oswald</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">17</td>
            <td>Merriweather</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">18</td>
            <td>PT Sans</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">19</td>
            <td>Playfair Display</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
          <tr>
            <td class="numeric">20</td>
            <td>Noto Sans</td>
            <td class="numeric">1%</td>
            <td class="numeric">1%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <figcaption><a href="#fig-6" class="anchor-link">図 6.</a> 全フォント宣言に占める上位20のフォントファミリーの割合。</figcaption>
</figure>
<p>ここでの上位のエントリが<a href="https://fonts.google.com/?sort=popularity">Google Fontsの人気順フォント一覧</a>と非常によく似ていることは驚くに値しません。</p>
<h2 id="どのようなフォント形式を使用していますか？"><a href="#どのようなフォント形式を使用していますか？" class="anchor-link">どのようなフォント形式を使用していますか？</a></h2>
<p>今日のブラウザでは<a href="https://caniuse.com/#feat=woff2">WOFF2はかなりサポートされています</a>。Google FontsはWOFF2というフォーマットを提供していますが、これは前身のWOFFよりも圧縮率が向上したフォーマットで、それ自体はすでに他の既存のフォントフォーマットよりも改善されていました。</p>
<figure id="fig-7">
  <a href="/static/images/2019/fonts/fig7.png">
    <img src="/static/images/2019/fonts/fig7.png" alt="図7. ウェブフォントのMIMEタイプの普及率" aria-labelledby="fig7-caption" aria-describedby="fig7-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-iframe="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDogXDb3BwZZHrBT39qccP_LJoCScD3QEi_FmjT_8VDPD_1Srpz-g7ZuuTUEb8pYXBpDmQzZ1hQh7q/pubchart?oid=998584594&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig7-description" data-show-text="{{ show_description(7) }}" data-hide-text="{{ hide_description(7) }}">{{ show_description(7) }}</button>
  <div id="fig7-description" class="visually-hidden">ウェブフォントのMIMEタイプの人気を示す棒グラフ。フォントの74%でWOFF2が使用されており、次いでWOFFが13%、octet-streamが 6%、TTFが3%、plainが2%、HTMLが1%、SFNTが1%、その他のすべてのタイプが1%未満となっています。デスクトップとモバイルでは、同様の分布となっています。</div>
  <figcaption id="fig7-caption"><a href="#fig-7" class="anchor-link">図 7.</a> ウェブフォントのMIMEタイプの普及率</figcaption>
</figure>
<p>私から見れば、ここでの結果を見て、WebフォントはWOFF2オンリーにした方がいいという意見もあるかもしれません。二桁台のWOFF使用率はどこから来ているのでしょうか？　もしかして、まだWebフォントをInternet Explorerに提供している開発者がいるのでしょうか？</p>
<p>第3位の<code>octet-stream</code>(およびもう少し下の<code>plain</code>)は、多くのウェブサーバが不適切に設定されており、ウェブフォントファイルのリクエストで誤ったMIMEタイプを送信していることを示唆しているように見えます。</p>
<p>もう少し深く掘り下げて、<code>@font-face</code>宣言の<code>src:</code>プロパティで使われている<code>format()</code>の値を見てみましょう。</p>
<figure id="fig-8">
  <a href="/static/images/2019/fonts/fig8.png">
    <img src="/static/images/2019/fonts/fig8.png" alt="図8. <code>@font-face</code>宣言におけるフォントフォーマットの人気度。" aria-labelledby="fig8-caption" aria-describedby="fig8-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-iframe="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDogXDb3BwZZHrBT39qccP_LJoCScD3QEi_FmjT_8VDPD_1Srpz-g7ZuuTUEb8pYXBpDmQzZ1hQh7q/pubchart?oid=700778025&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig8-description" data-show-text="{{ show_description(8) }}" data-hide-text="{{ hide_description(8) }}">{{ show_description(8) }}</button>
  <div id="fig8-description" class="visually-hidden">フォントフェイス宣言で使用されるフォーマットの人気を示す棒グラフ。デスクトップページの@font-face宣言の 69%がWOFF2形式を指定しており、11%がWOFF、10%がTrueType、8%がSVG、2%がEOT、1%未満でOpenType、TTF、OTFを指定しています。モバイルページの分布も同様です。</div>
  <figcaption id="fig8-caption"><a href="#fig-8" class="anchor-link">図 8.</a> <code>@font-face</code>宣言におけるフォントフォーマットの人気度。</figcaption>
</figure>
<p><a href="https://caniuse.com/#feat=svg-fonts">SVGフォント</a>が衰退しているのを見て期待していたのですが。バグだらけだし、Safari以外のブラウザでは実装が削除されている。そろそろ捨ててしまおうか。</p>
<p>ここのSVGデータポイントを見ると、どのMIMEタイプでSVGフォントを提供しているのか気になります。図7のどこにも<code>image/svg+xml</code>は見当たりません。とにかく、それを修正することは気にしないで、ただそれらを取り除くだけです！</p>
<h3 id="woff2専用"><a href="#woff2専用" class="anchor-link">WOFF2専用</a></h3>
<figure id="fig-9">
  <div class="table-wrap">
    <div class="table-wrap-container">
      <table>
        <thead>
          <tr>
            <th>ランク</th>
            <th>フォーマットの組み合わせ</th>
            <th>デスクトップ</th>
            <th>モバイル</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="numeric">1</td>
            <td>woff2</td>
            <td class="numeric">84.0%</td>
            <td class="numeric">81.9%</td>
          </tr>
          <tr>
            <td class="numeric">2</td>
            <td>svg, truetype, woff</td>
            <td class="numeric">4.3%</td>
            <td class="numeric">4.0%</td>
          </tr>
          <tr>
            <td class="numeric">3</td>
            <td>svg, truetype, woff, woff2</td>
            <td class="numeric">3.5%</td>
            <td class="numeric">3.2%</td>
          </tr>
          <tr>
            <td class="numeric">4</td>
            <td>eot, svg, truetype, woff</td>
            <td class="numeric">1.3%</td>
            <td class="numeric">2.9%</td>
          </tr>
          <tr>
            <td class="numeric">5</td>
            <td>woff, woff2</td>
            <td class="numeric">1.8%</td>
            <td class="numeric">1.8%</td>
          </tr>
          <tr>
            <td class="numeric">6</td>
            <td>eot, svg, truetype, woff, woff2</td>
            <td class="numeric">1.2%</td>
            <td class="numeric">2.1%</td>
          </tr>
          <tr>
            <td class="numeric">7</td>
            <td>truetype, woff</td>
            <td class="numeric">0.9%</td>
            <td class="numeric">1.1%</td>
          </tr>
          <tr>
            <td class="numeric">8</td>
            <td>woff</td>
            <td class="numeric">0.7%</td>
            <td class="numeric">0.8%</td>
          </tr>
          <tr>
            <td class="numeric">9</td>
            <td>truetype</td>
            <td class="numeric">0.6%</td>
            <td class="numeric">0.7%</td>
          </tr>
          <tr>
            <td class="numeric">10</td>
            <td>truetype, woff, woff2</td>
            <td class="numeric">0.6%</td>
            <td class="numeric">0.6%</td>
          </tr>
          <tr>
            <td class="numeric">11</td>
            <td>opentype, woff, woff2</td>
            <td class="numeric">0.3%</td>
            <td class="numeric">0.2%</td>
          </tr>
          <tr>
            <td class="numeric">12</td>
            <td>svg</td>
            <td class="numeric">0.2%</td>
            <td class="numeric">0.2%</td>
          </tr>
          <tr>
            <td class="numeric">13</td>
            <td>eot, truetype, woff</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.2%</td>
          </tr>
          <tr>
            <td class="numeric">14</td>
            <td>opentype, woff</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.1%</td>
          </tr>
          <tr>
            <td class="numeric">15</td>
            <td>opentype</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.1%</td>
          </tr>
          <tr>
            <td class="numeric">16</td>
            <td>eot</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.1%</td>
          </tr>
          <tr>
            <td class="numeric">17</td>
            <td>opentype, svg, truetype, woff</td>
            <td class="numeric">0.1%</td>
            <td class="numeric">0.0%</td>
          </tr>
          <tr>
            <td class="numeric">18</td>
            <td>opentype, truetype, woff, woff2</td>
            <td class="numeric">0.0%</td>
            <td class="numeric">0.0%</td>
          </tr>
          <tr>
            <td class="numeric">19</td>
            <td>eot, truetype, woff, woff2</td>
            <td class="numeric">0.0%</td>
            <td class="numeric">0.0%</td>
          </tr>
          <tr>
            <td class="numeric">20</td>
            <td>svg, woff</td>
            <td class="numeric">0.0%</td>
            <td class="numeric">0.0%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <figcaption><a href="#fig-9" class="anchor-link">図 9.</a> フォントフォーマットの組み合わせトップ20</figcaption>
</figure>
<p>このデータセットは、大多数の人がすでに<code>@font-face</code>ブロックでWOFF2のみを使っていることを示唆しているように見える。しかし、このデータセットにおけるGoogle Fontsの優位性についての以前の議論によれば、もちろんこれは誤解を招くものです。Google Fontsは合理化されたCSSファイルを提供するためにいくつかのスニッフィングメソッドを実行しており、最新の<code>format()</code>のみを含んでいる。当然のことながら、WOFF2がここでの結果を支配しているのはこの理由によるもので、WOFF2に対するブラウザのサポートは以前からかなり広くなっている。</p>
<p>重要なのは、この特定のデータはまだWOFF2オンリーのケースを支持しているわけではないということですが、魅力的なアイデアであることに変わりはありません。</p>
<h2 id="見えない文字との戦い"><a href="#見えない文字との戦い" class="anchor-link">見えない文字との戦い</a></h2>
<p>デフォルトのWebフォントの読み込み動作である「読み込み中は見えない」(FOITとしても知られています)に対抗するため持っている第一のツールは<code>font-display</code>です。<code>font-display: swap</code>を<code>@font-face</code>ブロックに追加すると、ウェブフォントが読み込まれている間にフォールバックテキストを表示するようにブラウザに指示する簡単な方法です。</p>
<p><a href="https://caniuse.com/#feat=mdn-css_at-rules_font-face_font-display">ブラウザ対応</a>もいいですね。Internet ExplorerやChromium以前のEdgeではサポートされていませんが、Webフォントが読み込まれたときにデフォルトでフォールバックテキストをレンダリングしてくれます（ここではFOITは使えません）。Chromeのテストでは、<code>font-display</code>はどのくらいの頻度で使われているのでしょうか？</p>
<figure id="fig-10">
  <div class="big-number">26%</div>
  <figcaption><a href="#fig-10" class="anchor-link">図 10.</a> <code>font-display</code>スタイルを利用しているモバイルページの割合。</figcaption>
</figure>
<p>
  私はこれが時間の経過とともに忍び寄ってくることを想定しています、特に今は<a href="https://www.zachleat.com/web/google-fonts-display/">Google Fontsがすべての新しいコードスニペットに <code>font-display</code> を追加しています</a>が彼らのサイトからコピーされています。
</p>
<p>Google Fontsを使っているなら、スニペットを更新しよう！　Google Fontsを使っていない場合は、<code>font-display</code>を使いましょう！ <code>font-display</code>についての詳細は <a href="https://developer.mozilla.org/ja/docs/Web/CSS/@font-face/font-display">MDN</a> を参照してください。</p>
<p>どのような<code>font-display</code>値が人気あるのか見てみましょう。</p>
<figure id="fig-11">
  <a href="/static/images/2019/fonts/fig11.png">
    <img src="/static/images/2019/fonts/fig11.png" alt="図11. `font-display'の値の使用法。" aria-labelledby="fig11-caption" aria-describedby="fig11-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-iframe="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDogXDb3BwZZHrBT39qccP_LJoCScD3QEi_FmjT_8VDPD_1Srpz-g7ZuuTUEb8pYXBpDmQzZ1hQh7q/pubchart?oid=1988783738&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig11-description" data-show-text="{{ show_description(11) }}" data-hide-text="{{ hide_description(11) }}">{{ show_description(11) }}</button>
  <div id="fig11-description" class="visually-hidden">フォント表示スタイルの利用状況を示す棒グラフ。モバイルページの2.6％がこのスタイルを「swap」、1.5％が「auto」、0.7％が「block」、0.4％が「fallback」、0.2％が「optional」、0.1％が引用符で囲んだ「swap」に設定しているが、これは無効である。デスクトップの分布は、「swap」の利用率が0.4％ポイント低く、「auto」の利用率が0.1％ポイント高くなっている以外は似ている。</div>
  <figcaption id="fig11-caption"><a href="#fig-11" class="anchor-link">図 11.</a> <code>font-display</code>の値の使用法。</figcaption>
</figure>
<p>ウェブフォントの読み込み中にフォールバックテキストを表示する簡単な方法として、<code>font-display: swap</code>が最も一般的な値として君臨しています。<code>swap</code>は新しいGoogle Fontsのコードスニペットでもデフォルト値として使われています。いくつかの著名な開発者のエバンジェリストがこれを求めてちょっとした働きかけをしていたので、ここでは<code>optional</code>(キャッシュされた場合にのみレンダリングする)がもう少し使われることを期待していたのですが、駄目でした。</p>
<h2 id="ウェブフォントの数が多すぎる？"><a href="#ウェブフォントの数が多すぎる？" class="anchor-link">ウェブフォントの数が多すぎる？</a></h2>
<p>ある程度のニュアンスが必要な質問です。フォントはどのように使われているのか？　ページ上のコンテンツの量は？　そのコンテンツはレイアウトのどこにあるのか？　フォントはどのようにレンダリングされているのか？　しかし、ニュアンスの代わりに、リクエスト数を中心とした大まかで重い分析に飛び込んでみましょう。</p>
<figure id="fig-12">
  <a href="/static/images/2019/fonts/fig12.png">
    <img src="/static/images/2019/fonts/fig12.png" alt="図12. ページあたりのフォント要求の分布。" aria-labelledby="fig12-caption" aria-describedby="fig12-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-iframe="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDogXDb3BwZZHrBT39qccP_LJoCScD3QEi_FmjT_8VDPD_1Srpz-g7ZuuTUEb8pYXBpDmQzZ1hQh7q/pubchart?oid=451821825&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig12-description" data-show-text="{{ show_description(12) }}" data-hide-text="{{ hide_description(12) }}">{{ show_description(12) }}</button>
  <div id="fig12-description" class="visually-hidden">ページごとのフォント要求の分布を示す棒グラフ。デスクトップでの10、25、50、75、90パーセンタイルは以下の通りです。0、1、3、6、9のフォント要求があります。モバイルの分布は75パーセンタイルと90パーセンタイルまでは同じで、モバイルページでは要求されるフォントが1つ少なくなっています。</div>
  <figcaption id="fig12-caption"><a href="#fig-12" class="anchor-link">図 12.</a> ページあたりのフォント要求の分布。</figcaption>
</figure>
<p>中央値のウェブページでは、3つのウェブフォントをリクエストしています。90パーセンタイルでは、モバイルとデスクトップでそれぞれ6つと9つのウェブフォントをリクエストしています。</p>
<figure id="fig-13">
  <a href="/static/images/2019/fonts/fig13.png">
    <img src="/static/images/2019/fonts/fig13.png" alt="図13. ページあたりに要求されたウェブフォントのヒストグラム。" aria-labelledby="fig13-description" aria-describedby="fig13-caption" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-iframe="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDogXDb3BwZZHrBT39qccP_LJoCScD3QEi_FmjT_8VDPD_1Srpz-g7ZuuTUEb8pYXBpDmQzZ1hQh7q/pubchart?oid=1755200484&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig13-description" data-show-text="{{ show_description(13) }}" data-hide-text="{{ hide_description(13) }}">{{ show_description(13) }}</button>
  <div id="fig13-description" class="visually-hidden">ページあたりのフォントリクエスト数の分布を示すヒストグラム。最も人気のあるフォントリクエスト数は0で、デスクトップページの22%を占めています。この分布は、1つのフォントを持つページの9%まで落ち込み、2～4つのフォントでは10%で頂点に達し、フォント数が増えるにつれて落ち込んでいきます。デスクトップとモバイルの分布は似ていますが、モバイルの分布はページあたりのフォント数が少ない方にわずかに傾いています。</div>
  <figcaption id="fig13-caption"><a href="#fig-13" class="anchor-link">図 13.</a> ページあたりに要求されたウェブフォントのヒストグラム。</figcaption>
</figure>
<p>
  Webフォントのリクエストがデスクトップとモバイルの間でかなり安定しているように見えるというのは非常に興味深いことです。私は、<a href="https://css-tricks.com/snippets/css/using-font-face/#article-header-id-6"><code>@media</code>クエリの中の<code>@font-face</code>ブロックを隠すことを推奨すること</a>が流行らなかったのを見てうれしく思います (何も考えないでください)。
</p>
<p>しかし、モバイルデバイスでのフォントのリクエストはわずかに多い。ここでの私の勘は、モバイルデバイスで利用できる書体が少ないということはGoogle Fonts CSSでの<code>local()</code>のヒット数が少ないということであり、ネットワークからのフォントリクエストに戻ってしまうのではないかと考えています。</p>
<h3 id="この賞を受賞したくない"><a href="#この賞を受賞したくない" class="anchor-link">この賞を受賞したくない</a></h3>
<figure id="fig-14">
  <div class="big-number">718</div>
  <figcaption><a href="#fig-14" class="anchor-link">図 14.</a> 1ページで最も多くのWebフォントのリクエストがあった。</figcaption>
</figure>
<p>最も多くのウェブフォントをリクエストしたページの賞は、<strong>718</strong>のウェブフォントをリクエストしたサイトに贈られます！</p>
<p>コードに飛び込んだ後、それらの718のリクエストのすべてがGoogle Fontsに向かっています！　どうやらWordPress用の「ページの折り返しの上に」最適化プラグインが誤作動して、このサイトで不正を行い、すべてのGoogle Fonts-oopsにリクエストしている（DDoS-ing？）。</p>
<p>パフォーマンス最適化プラグインは、あなたのパフォーマンスをはるかに悪化させることができることを皮肉っています！</p>
<h2 id="unicode-rangeを使うとより正確なマッチングが可能になります">
  <a href="#unicode-rangeを使うとより正確なマッチングが可能になります" class="anchor-link"><code>Unicode-range</code>を使うとより正確なマッチングが可能になります</a>
</h2>
<figure id="fig-15">
  <div class="big-number">56%</div>
  <figcaption><a href="#fig-15" class="anchor-link">図 15.</a> <code>unicode-range</code>プロパティでWebフォントを宣言しているモバイルページの割合。</figcaption>
</figure>
<p>
  <a href="https://developer.mozilla.org/ja/docs/Web/CSS/@font-face/unicode-range"><code>unicode-range</code></a
  >は、ブラウザに、ページがフォントファイルで使用したいコードポイントを具体的に知らせるための優れたCSSプロパティです。<code>@font-face</code>宣言に<code>unicode-range</code>がある場合、ページ上のコンテンツは、フォントが要求される前に、その範囲内のコードポイントのいずれかにマッチしなければなりません。これは非常に良いことです。
</p>
<p>Google FontsはそのCSSのほとんど（すべてではないにしても）で<code>unicode-range</code>を使用しているので、これもGoogle Fontsの使用状況によって偏っていると予想される指標です。ユーザーの世界でこれはあまり一般的でないと思いますが、Web Almanacの次の版ではGoogle Fontsのリクエストをフィルタリングして除外することが可能かもしれません。</p>
<h2 id="システムフォントが存在する場合、ウェブフォントを要求しないようにする"><a href="#システムフォントが存在する場合、ウェブフォントを要求しないようにする" class="anchor-link">システムフォントが存在する場合、ウェブフォントを要求しないようにする</a></h2>
<figure id="fig-16">
  <div class="big-number">59%</div>
  <figcaption><a href="#fig-16" class="anchor-link">図 16.</a> <code>local()</code>プロパティでWebフォントを宣言しているモバイルページの割合。</figcaption>
</figure>
<p><code>local()</code>は<code>@font-face</code>、<code>src</code>のシステムフォントを参照するための良い方法です。もし <code>local()</code>フォントが存在するならば、ウェブフォントを要求する必要は全くありません。これはGoogle Fontsによって広く使われており、論争の的にもなっているのでユーザの土地からパターンを得ようとしているのであれば、これも歪んだデータの一例になるでしょう。</p>
<p>ここでは、私よりも賢い人々(TypeKitのBram Stein氏) が、<a href="https://bramstein.com/writing/web-font-anti-patterns-local-fonts.html">インストールされているフォントのバージョンが古くて信頼性は低い場合があるため、<code>local()</code>を使うことは予測不可能である可能性がある</a>と述べていることにも注目しておきましょう。</p>
<h2 id="縮約されたフォントとfont-stretch">
  <a href="#縮約されたフォントとfont-stretch" class="anchor-link">縮約されたフォントと<code>font-stretch</code></a>
</h2>
<figure id="fig-17">
  <div class="big-number">7%</div>
  <figcaption><a href="#fig-17" class="anchor-link">図 17.</a> <code>font-stretch</code> プロパティを持つスタイルを含むデスクトップページとモバイルページの割合。</figcaption>
</figure>
<p>歴史的に、<code>font-stretch</code>はブラウザのサポートが悪く、よく知られた<code>@font-face</code>プロパティではありませんでした。詳しくは<a href="https://developer.mozilla.org/ja/docs/Web/CSS/font-stretch">MDNの<code>font-stretch</code>について</a> を参照してください。しかし、<a href="https://caniuse.com/#feat=css-font-stretch">ブラウザのサポート</a>は広がっています。</p>
<p>小さいビューポートで凝縮されたフォントを使用することで、より多くのテキストを表示できるようになることが示唆されていますが、このアプローチは一般的には使用されていません。とはいえ、このプロパティがモバイルよりもデスクトップで半パーセントポイント多く使われているというのは予想外で、7％というのは私が予想していたよりもはるかに高いと思えます。</p>
<h2 id="可変フォントは未来のもの"><a href="#可変フォントは未来のもの" class="anchor-link">可変フォントは未来のもの</a></h2>
<p><a href="https://developer.mozilla.org/ja/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide">可変フォント</a>では、1つのフォントファイルに複数のフォントの太さやスタイルを含めることができます。</p>
<figure id="fig-18">
  <div class="big-number">1.8%</div>
  <figcaption><a href="#fig-18" class="anchor-link">図 18.</a> 可変フォントを含むページの割合</figcaption>
</figure>
<p>1.8％でさえ、これは予想よりも高かったが、これがうまくいくのを見て興奮している。<a href="https://developers.google.com/fonts/docs/css2">Google Fonts v2</a>には可変フォントのサポートがいくつか含まれています。</p>
<figure id="fig-19">
  <a href="/static/images/2019/fonts/fig19.png">
    <img src="/static/images/2019/fonts/fig19.png" alt="図19. 'font-variation-settings'軸の使用法。" aria-labelledby="fig19-caption" aria-describedby="fig19-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-iframe="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDogXDb3BwZZHrBT39qccP_LJoCScD3QEi_FmjT_8VDPD_1Srpz-g7ZuuTUEb8pYXBpDmQzZ1hQh7q/pubchart?oid=699343351&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig19-description" data-show-text="{{ show_description(19) }}" data-hide-text="{{ hide_description(19) }}">{{ show_description(19) }}</button>
  <div id="fig19-description" class="visually-hidden">font-variation-settingsプロパティの使用状況を示す棒グラフ。デスクトップページのプロパティの42%が"opsz"の値に設定されており、32%が"wght"、16%が"wdth"、2%以下が"roun"、"crsb"、"slnt"、"inln"などに設定されています。デスクトップページとモバイルページで顕著な違いは、"opsz"の使用率が26％、"wght"の使用率が38％、"wdth"の使用率が23％となっており、"wght"の使用率は、"wght"の使用率と"wght"の使用率の差が大きい。</div>
  <figcaption id="fig19-caption"><a href="#fig-19" class="anchor-link">図 19.</a> <code>font-variation-settings</code>軸の使用法。</figcaption>
</figure>
<p>この大規模なデータセットのレンズを通して見ると、これらの結果は非常に低いサンプルサイズであることがわかります。しかし、デスクトップページで最も一般的な軸として<code>opsz</code>が注目され、<code>wght</code>と<code>wdth</code>が後に続く。私の経験では、可変フォントの入門デモはたいていウェイトベースです。</p>
<h2 id="カラーフォントも未来かも？"><a href="#カラーフォントも未来かも？" class="anchor-link">カラーフォントも未来かも？</a></h2>
<figure id="fig-20">
  <div class="big-number">117</div>
  <figcaption><a href="#fig-20" class="anchor-link">図 20.</a> カラーフォントを含むデスクトップウェブページの数。</figcaption>
</figure>
<p>これらのここでの使用法は基本的に存在しませんが、詳細については<a href="https://www.colorfonts.wtf/">カラーフォント！　WTF?</a>という優れたリソースをチェックできます。フォント用のSVGフォーマット(これは良くないし消えていく)に似ていますが(全くそうではありません)、これを使うとOpenTypeファイルの中にSVGを埋め込むことができ、これは素晴らしくクールです。</p>
<h2 id="結論"><a href="#結論" class="anchor-link">結論</a></h2>
<p>ここでの最大の収穫は、Google Fontsがウェブフォントの議論を支配しているということだ。彼らが取ったアプローチは、ここで記録したデータに大きく影響している。ここでのポジティブな点はウェブフォントへのアクセスが容易であること、優れたフォントフォーマット（WOFF2）であること、そして自由な<code>unicode範囲</code>の設定が可能であることだ。ここでの欠点はサードパーティのホスティング、異なるホストからのリクエスト、および<code>preload</code>にアクセスできないことでパフォーマンスが低下することです。</p>
<p>私は、将来的には「バリアブルフォントの台頭」を見ることになるだろうと完全に予想しています。バリアブルフォントは複数の個々のフォントファイルを1つの合成フォントファイルに結合するので、これはウェブフォントのリクエストの減少と対になっているはずです。しかし歴史が示しているように、ここで通常起こることは、あるものを最適化してその空所を埋めるためにさらに多くのものを追加してしまうことです。</p>
<p>カラーフォントの人気が高まるかどうかは非常に興味深いところです。私は、これらは可変フォントよりもはるかにニッチなものになると予想していますが、アイコンフォントのスペースに生命線を見ることができるかもしれません。</p>
<p>フォントを凍らせるなよ。</p>
{% endblock %}
