{% extends "%s/2019/base_chapter.html" % lang %}

<!--{# IMPORTANT!

- `chapter.html` is a "template for templates" used by the `generate_chapters.js` script, hence the strange template syntax (eg, mixing ejs and jinja syntax)
- if you want to modify `chapter.html`, you must also:
  - translate the corresponding language-specific templates (eg `src/templates/<lang>/<year>/chapter.html`)
  - run the generation script to update each chapter template
- if you want to modify the chapter templates (eg `src/templates/<lang>/<year>/chapters/<chapter>.html`):
  - make changes to the markdown content directly (`src/content/<lang>/<year>/<chapter>.md`) because any changes to the chapter templates will be overwritten by the generation script
#}-->

{% set metadata = {"part_number":"II","chapter_number":7,"title":"パフォーマンス","description":"コンテンツの初回ペイント（FCP）、最初のバイトまでの時間（TTFB）、初回入力遅延（FID）を取り扱う2019 Web Almanac パフォーマンスの章。","authors":["rviscomi"],"reviewers":["JMPerez","obto","sergeychernyshev","zeman"],"translators":["MSakamaki"],"discuss":"1762","results":"https://docs.google.com/spreadsheets/d/1zWzFSQ_ygb-gGr1H1BsJCfB7Z89zSIf7GX0UayVEte4/","queries":"07_Performance","published":"2019-11-11T00:00:00.000Z","last_updated":"2020-03-02T00:00:00.000Z","chapter":"performance"} %} {% block index %}
<ul>
  <li>
    <a href="#導入">導入</a>
  </li>

  <li>
    <a href="#パフォーマンスの状態">パフォーマンスの状態</a>

    <ul>
      <li>
        <a href="#コンテンツの初回ペイントfirst-contentful-paint">コンテンツの初回ペイント(First Contentful Paint)</a>

        <ul>
          <li>
            <a href="#デバイス毎のfcp">デバイス毎のFCP</a>
          </li>

          <li>
            <a href="#有効な接続タイプ毎のfcp">有効な接続タイプ毎のFCP</a>
          </li>

          <li>
            <a href="#地理によるfcp">地理によるFCP</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#最初のバイトまでの時間time-to-first-byte-ttfb">最初のバイトまでの時間(Time to First Byte) (TTFB)</a>

        <ul>
          <li>
            <a href="#ttfb-by-geo">TTFB by geo</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#初回入力遅延（first-input-delay）">初回入力遅延（First Input Delay）</a>

        <ul>
          <li>
            <a href="#デバイス毎のfid">デバイス毎のFID</a>
          </li>

          <li>
            <a href="#有効な接続タイプ別のfid">有効な接続タイプ別のFID</a>
          </li>

          <li>
            <a href="#fid-by-geo">FID by geo</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    <a href="#結論">結論</a>
  </li>
</ul>

{% endblock %} {% block main_content %}
<h2 id="導入"><a href="#導入" class="anchor-link">導入</a></h2>
<p>パフォーマンスはユーザー体験で大切なものの一つです。 多くのWebサイトでは、ページの読み込み時間を早くする事によるユーザー体験の向上と、コンバージョン率の上昇は一致しています。 逆に、パフォーマンスが低い場合、ユーザーはコンバージョンを達成せず、不満を持ち、ページをクリックすると怒りを覚えることさえあります。</p>
<p>Webのパフォーマンスを定量化する方法は色々とあります。 ここで一番大切なのは、ユーザーにとって特に重要な点を計測することです。 ただ、<code>onload</code>や<code>DOMContentLoaded</code>などのイベントはユーザーが実際に目で見て体験できているものとは限りません。 例えば、電子メールクライアントを読み込んだ時、受信トレイの内容が非同期に読み込まれる間、画面全体を覆うようなプログレスバーが表示される事があります。 ここでの問題は<code>onload</code>イベントが受信ボックスの非同期読み込みの完了まで待機しないことです。 この例において、ユーザーの一番大切にするべき計測値とは「受信トレイが使えるようになるまでの時間」であり、<code>onload</code>イベントに着目するのは誤解を招く可能性があります。 そのために、この章ではユーザーが実際にページをどのように体験しているかを把握し、よりモダンで広く使える描画、読み込み、および対話性の計測を検討します。</p>
<p>パフォーマンスデータにはラボとフィールドの２種類があります。 合成テストや実ユーザー測定（またはRUM）でそれらを聞いたことがあるかもしれません。 ラボでパフォーマンスを測定すると、各Webサイトが共通の条件でテストされ、ブラウザー、接続速度、物理的な場所、キャッシュ状態などの状態は常に同じになります。 この一貫性が保証されることで、それぞれのWebサイトを比較することができます。 その反面、フィールドのパフォーマンス測定は、ラボでは決して行うことのできない無限に近い条件の組み合わせで、現実に近いユーザーのWeb体験を計測することを可能にします。 この章の目的と実際のユーザー体験を理解するために、今回はフィールドデータを見ていきます。</p>
<h2 id="パフォーマンスの状態"><a href="#パフォーマンスの状態" class="anchor-link">パフォーマンスの状態</a></h2>
<p>Web Almanacにある他のほとんどの章は、<a href="https://httparchive.org/">HTTP Archive</a>のデータに基づいています。 ただ、実際のユーザーがWebをどのように体験するかを取得するには、違うデータセットが必要になります。 このセクションでは、<a href="http://bit.ly/chrome-ux-report">Chrome UXレポート</a>（CrUX）を使用しています。この情報はHTTP Archiveとすべて同じウェブサイトで構成されるGoogleの公開データセットとなっており、Chromeを使うユーザーの実際の体験を集約しています。そして体験は次のように分類されます。</p>
<ul>
  <li>
    ユーザーデバイスのフォームファクタ
    <ul>
      <li>デスクトップ</li>
      <li>携帯電話</li>
      <li>タブレット</li>
    </ul>
  </li>
  <li>
    モバイル用語で言うユーザーの有効な接続タイプ(ECT)
    <ul>
      <li>オフライン</li>
      <li>遅い2G</li>
      <li>2G</li>
      <li>3G</li>
      <li>4G</li>
    </ul>
  </li>
  <li>ユーザーの地理的な位置</li>
</ul>
<p>体験は描画、読み込み、そして対話性の定量化を含めて毎月測定されます。 最初に私達が見るべき指標は<a href="https://developers.google.com/web/fundamentals/performance/user-centric-performance-metrics#first_paint_and_first_contentful_paint">コンテンツの初回ペイント(First Contentful Paint)</a>(FCP)です。 これはページや画像やテキストなど、ユーザーが画面として見るために必要なものが表示されるのを待つ時間です。 次は、読み込み時間の指標である<a href="https://developer.mozilla.org/en-US/docs/Glossary/time_to_first_byte">最初のバイトまでの時間(Time to First Byte)</a> (TTFB)です。 これはユーザーがナビゲーションを行ってから、Webページのレスポンスの最初のバイトを受信するまでにかかった時間を計測したものです。 そして最後に確認するフィールドの指標は<a href="https://developers.google.com/web/updates/2018/05/first-input-delay">初回入力遅延(First Input Delay)</a> (FID)です。 これは比較的新しい指標で、読み込み以外のパフォーマンスUXの一部を表すものです。 ユーザーがページのUIを操作できるようになるまでの時間、つまり、ブラウザのメインスレッドがイベント処理の準備が整うまでの時間を測定したものです。</p>
<p>では、それによってどのような洞察ができるのかを見てきましょう。</p>
<h3 id="コンテンツの初回ペイントfirst-contentful-paint"><a href="#コンテンツの初回ペイントfirst-contentful-paint" class="anchor-link">コンテンツの初回ペイント(First Contentful Paint)</a></h3>
<figure id="fig1">
  <a href="/static/images/2019/performance/fig1.png">
    <img src="/static/images/2019/performance/fig1.png" alt="図1. Webサイトの高速、適度、および低速のFCPパフォーマンスの分布。" aria-labelledby="fig1-caption" aria-describedby="fig1-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=115935793&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig1-description" data-show-text="{{ show_description(1) }}" data-hide-text="{{ hide_description(1) }}">{{ show_description(1) }}</button>
  <div id="fig1-description" class="visually-hidden">Webサイト1000個から見た、FCPが高速、適度、低速の分布。FCPが早いサイトの分布は100%から0%までが線形になっているように見えます。</div>
  <figcaption id="fig1-caption"><a href="#fig1" class="anchor-link">図 1.</a> Webサイトの高速、適度、および低速のFCPパフォーマンスの分布。</figcaption>
</figure>
<p>図1では、FCPの体験がWeb全体でどのように分散しているかを見ることができます。 このチャートは、CrUXデータセット内にある数百万のWebサイト分布を1,000個のWebサイトに圧縮しており、図の縦線一つ一つはWebサイトを表しています。 このグラフは、１秒未満の高速なFCP体験、３秒以上かかる遅い体験、その中間にある適度な体験（以前は平均と言われていた）の割合で並べられています。 グラフには、ほぼ100%高速な体験を備えたWebサイトと、ほぼ100%低速な体験となっているWebサイトが存在しています。 その中間にある、高速、適度、及び低速のパフォーマンスが混じり合ったWebサイトは、低速よりも適度か高速に傾いており、良い結果になっています。</p>
<p class="note">注意：ユーザー体験の低下があった場合、その理由が何であるか突き止めるのは難しいでしょう。 Webサイト自体が不十分で非効率な構築がされている可能性があるかもしれませんが、ユーザーの通信速度が遅い可能性やキャッシュが空など、他の環境要因がある可能性があります。そのため、このフィールドデータを見てユーザー体験が悪いとわかっても、理由は必ずしもWebサイトにあるとは言えません。</p>
<p>Webサイトが十分に<strong>高速</strong>かどうかを分類するために、新しい方法論である PageSpeed Insights (PSI)を使います。 この方法はWebサイトのFCP体験の少なくとも75%が１秒未満でなければなりません。 同様に、FCP体験がとても<strong>低速</strong>となる25%のWebサイトでは３秒以上かかっています。 どちらの条件も満たさない場合、Webサイトのパフォーマンスは<strong>適度</strong>です。</p>
<figure id="fig2">
  <a href="/static/images/2019/performance/fig2.png">
    <img src="/static/images/2019/performance/fig2.png" alt="図2. 高速、適度、低速のFCPラベルが貼られたWebサイトの分布。" aria-labelledby="fig2-caption" aria-describedby="fig2-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=36103372&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig2-description" data-show-text="{{ show_description(2) }}" data-hide-text="{{ hide_description(2) }}">{{ show_description(2) }}</button>
  <div id="fig2-description" class="visually-hidden">Webサイトの13%が高速なFCPで、66%が適度のFCP、20%が低速のFCPを示す棒グラフ。</div>
  <figcaption id="fig2-caption"><a href="#fig2" class="anchor-link">図 2.</a> 高速、適度、低速のFCPラベルが貼られたWebサイトの分布。</figcaption>
</figure>
<p>図2の結果は、Webサイトの13％だけが高速と判断されています。 これはまだ改善の余地があるようですが、多くのWebサイトで意味を持つコンテンツを素早く一貫して描画できています。 Webサイトの３分の２は適度のFCP体験となっているようです。</p>
<p>デバイス毎にFCPのユーザー体験がどの様になっているかを知るために、フォームファクタ別に分類してみましょう。</p>
<h4 id="デバイス毎のfcp"><a href="#デバイス毎のfcp" class="anchor-link">デバイス毎のFCP</a></h4>
<figure id="fig3">
  <a href="/static/images/2019/performance/fig3.png">
    <img src="/static/images/2019/performance/fig3.png" alt="図3. 「デスクトップ向け」Webサイトの高速、適度、低速のFCPパフォーマンスの分布。" aria-labelledby="fig3-caption" aria-describedby="fig3-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=1231764008&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig3-description" data-show-text="{{ show_description(3) }}" data-hide-text="{{ hide_description(3) }}">{{ show_description(3) }}</button>
  <div id="fig3-description" class="visually-hidden">1,000個のデスクトップWebサイトの高速、適度、低速のFCP分布、高速なFCPの分布は100%から0%までが線形となっており、中央で少し膨らんでいます。</div>
  <figcaption id="fig3-caption"><a href="#fig3" class="anchor-link">図 3.</a> <em>デスクトップ</em>Webサイトの高速、適度、低速のFCPパフォーマンスの分布。</figcaption>
</figure>
<figure id="fig4">
  <a href="/static/images/2019/performance/fig4.png">
    <img src="/static/images/2019/performance/fig4.png" alt="図4. 「携帯電話向け」Webサイトの高速、適度、低速のFCPパフォーマンスの分布。" aria-labelledby="fig4-caption" aria-describedby="fig4-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=167423587&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig4-description" data-show-text="{{ show_description(4) }}" data-hide-text="{{ hide_description(4) }}">{{ show_description(4) }}</button>
  <div id="fig4-description" class="visually-hidden">1,000個の携帯電話向けWebサイトの高速、適度、低速のFCP分布、高速なFCPの分布は100%から0%までに膨らみが無く、線形に見えます。</div>
  <figcaption id="fig4-caption"><a href="#fig4" class="anchor-link">図 4.</a> <em>携帯電話向け</em>Webサイトの高速、適度、低速のFCPパフォーマンスの分布。</figcaption>
</figure>
<p>上の図3と図4は、FCPの分布をデスクトップと携帯電話で分類しています。 微妙な差ですが、デスクトップFCP分布の胴部は携帯電話ユーザーの分布よりも凸型となっているように見えます。 この視覚的な近似が示すのは、デスクトップユーザーが高速なFCPにおいて全体的に割合が高いことを示しています。 これを検証するために、PSIという方法を各分布に適用していきます。</p>
<figure id="fig5">
  <a href="/static/images/2019/performance/fig5.png">
    <img src="/static/images/2019/performance/fig5.png" alt="図5.高速、適度、低速FCPのラベルが付けられたWebサイトの分布。デバイスの種類で分類されています。" aria-labelledby="fig5-caption" aria-describedby="fig5-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=486448175&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig5-description" data-show-text="{{ show_description(5) }}" data-hide-text="{{ hide_description(5) }}">{{ show_description(5) }}</button>
  <div id="fig5-description" class="visually-hidden">デスクトップとモバイルのFCP分布を示す棒グラフ。デスクトップは高速、適度、低速が17%、67%、16%となっており、モバイルは11%、66%、23%となっています。</div>
  <figcaption id="fig5-caption"><a href="#fig5" class="anchor-link">図 5.</a>高速、適度、低速FCPのラベルが付けられたWebサイトの分布。デバイスの種類で分類されています。</figcaption>
</figure>
<p>PSIの分類によると、モバイルユーザーの11%と比べて、デスクトップユーザーは17%に対して高速なFCP体験が全体的に提供されています。 全体的な分布を見ると、デスクトップのほうが体験が少しだけ高速に偏っていますが、低速のWebサイトは少なく高速と適度のカテゴリーが多くなっています。</p>
<p>Webサイトでデスクトップユーザーが高確率で携帯電話のユーザーより高速なFCP体験をするのは何故でしょう？ それは結局、このデータセットはWebがどのように機能しているかという答えでしかなく必ずそう動いていると言った話では無いからです。 ただ、デスクトップユーザーはキャリアの通信ではなく、WiFiのような高速で信頼性の高いネットワークでインターネット接続をしていると推測できます。 この疑問に答えるために、ECTでユーザー体験がどのように違うかを調べることもできます。</p>
<h4 id="有効な接続タイプ毎のfcp"><a href="#有効な接続タイプ毎のfcp" class="anchor-link">有効な接続タイプ毎のFCP</a></h4>
<figure id="fig6">
  <a href="/static/images/2019/performance/fig6.png">
    <img src="/static/images/2019/performance/fig6.png" alt="図6. 高速、適度、低速のFCPでラベル付けされたWebサイトの分布。ECTで分類されています。" aria-labelledby="fig6-caption" aria-describedby="fig6-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=1987967547&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig6-description" data-show-text="{{ show_description(6) }}" data-hide-text="{{ hide_description(6) }}">{{ show_description(6) }}</button>
  <div id="fig6-description" class="visually-hidden">有効な接続タイプ毎のFCP分布棒グラフ。4Gの高速、適度、低速：14％、67％、19％。 3G：1％、38％、61％。 2G：0％、9％、90％。 低速な2G：0％、1％、99％。</div>
  <figcaption id="fig6-caption"><a href="#fig6" class="anchor-link">図 6.</a> 高速、適度、低速のFCPでラベル付けされたWebサイトの分布。<abbr title="effective connection type">ECT</abbr>で分類されています。</figcaption>
</figure>
<p>上の図6にあるFCP体験は、ユーザーの体験するECT毎にグループ化されています。 興味深いことに、ECTの速度と高速FCPを提供するWebサイトの割合との間には相関関係があります。 ECTの速度が低下すると、高速な体験の割合はゼロに近づきます。 ECTが4Gのユーザーにサービスを提供しているWebサイトの14％は高速なFCPエクスペリエンスを提供していますが、そのWebサイトの19％は低速な体験を提供しています。 61％のWebサイトは、ECTが3Gのユーザーに低速のFCPを提供し、ECTが2Gだと90％に、ETCが低速の2Gだと99％となっています。 これらの事実から、4Gより遅い接続を持つユーザーには、Webサイトがほぼ一貫して高速のFCPを提供できていないことを示しています。</p>
<h4 id="地理によるfcp"><a href="#地理によるfcp" class="anchor-link">地理によるFCP</a></h4>
<figure id="fig7">
  <a href="/static/images/2019/performance/fig7.png">
    <img src="/static/images/2019/performance/fig7.png" alt="図7. 高速、適度、低速FCPでラベル付を行ったWebサイトの分布を地域別に分類したもの。" aria-labelledby="fig7-caption" aria-describedby="fig7-description" width="600" height="940" data-width="600" data-height="940" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=792398959&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig7-description" data-show-text="{{ show_description(7) }}" data-hide-text="{{ hide_description(7) }}">{{ show_description(7) }}</button>
  <div id="fig7-description" class="visually-hidden">最も人気があるトップ23地域のFCP分布棒グラフです。韓国は36%で最も早いWebサイトを持っています。そこから高速なWebサイトの割合は、日本28%、台湾26％、オランダ21%となり、そこから他の地域は急速に減少しています。</div>
  <figcaption id="fig7-caption"><a href="#fig7" class="anchor-link">図 7.</a> 高速、適度、低速FCPでラベル付を行ったWebサイトの分布を地域別に分類したもの。</figcaption>
</figure>
<p>最後にユーザーの地理（geo）でFCPを切り分けてみましょう。 上記のグラフは、個別に多くのWebサイトを持っているトップ23の地域を表しています。これはオープンWeb全体での人気の計測です。 アメリカのWebユーザーは、1,211,002の最も際立ったWebサイトにアクセスします。 十分に高速なFCP体験のWebサイトの割合で地理をソートしましょう。リストのトップ3には<a href="https://en.wikipedia.org/wiki/Asia-Pacific">アジアパシフィック</a>(APAC)が入っています。それは韓国、台湾、日本です。 この結果から、<a href="https://en.wikipedia.org/wiki/List_of_countries_by_Internet_connection_speeds">これらの地域では非常に高速なネットワーク接続</a>が使われていることが説明できます。 韓国では高速のFCP基準を満たすウェブサイトが36％あり、低速と評価されているのはわずか7%です。 高速/適度/低速のウェブサイトの世界的な分布はおおよそ13/66/20であり、韓国がかなり良い意味で外れ値となっています。</p>
<p>他のAPAC地域の話をしましょう。タイ、ベトナム、インドネシア、インドの高速Webサイトは、ほぼ10％未満です。 そして、これらの地域は韓国の3倍以上低速なWebサイトと言う割合になっています。</p>
<h3 id="最初のバイトまでの時間time-to-first-byte-ttfb"><a href="#最初のバイトまでの時間time-to-first-byte-ttfb" class="anchor-link">最初のバイトまでの時間(Time to First Byte) (TTFB)</a></h3>
<p><a href="https://web.dev/time-to-first-byte">最初のバイトまでの時間</a>は、ユーザーがWebページにナビゲーションしてからレスポンスの最初のバイトを受信するまでにかかった時間の測定値です。</p>
<figure id="fig8">
  <a href="/static/images/2019/performance/nav-timing.png">
    <img src="/static/images/2019/performance/nav-timing.png" alt="図8.ページナビゲーションのイベントとNavigation Timing API の図表。" aria-labelledby="fig8-caption" aria-describedby="fig8-description" width="2580" height="868" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig8-description" data-show-text="{{ show_description(8) }}" data-hide-text="{{ hide_description(8) }}">{{ show_description(8) }}</button>
  <div id="fig8-description" class="visually-hidden">ページの読み込みにおけるネットワークフェーズのシーケンスを示す図：startTime（promptForUnload）、リダイレクト、AppCache、DNS、TCP、リクエスト、レスポンス、処理、読み込み。</div>
  <figcaption id="fig8-caption"><a href="#fig8" class="anchor-link">図 8.</a>ページナビゲーションのイベントとNavigation Timing API の図表。</figcaption>
</figure>
<p>TTFBとそれに影響する多くの要因を説明するために、<a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigation_timing_API">Navigation Timing APIの仕様</a>から図を借りました。 上の図8は<code>startTime</code>から<code>responseStart</code>までの間を表しており、<code>unload</code>、<code>redirects</code>、<code>AppCache</code>、<code>DNS</code>、<code>SSL</code>、<code>TCP</code>などのサーバー側のリクエスト処理に費やす全てを含んでいます。 このようなコンテキストを考慮して、ユーザーがこの数値をどのように体験しているかを見てみましょう。</p>
<figure id="fig9">
  <a href="/static/images/2019/performance/fig9.png">
    <img src="/static/images/2019/performance/fig9.png" alt="図9. WebサイトのTTFBパフォーマンス、高速、適度、低速の分布。" aria-labelledby="fig9-caption" aria-describedby="fig9-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=444630188&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig9-description" data-show-text="{{ show_description(9) }}" data-hide-text="{{ hide_description(9) }}">{{ show_description(9) }}</button>
  <div id="fig9-description" class="visually-hidden">Webサイト1,000個の高速、適度、低速のTTFBの配布。 高速TTFBの分布は、10番目まで早い割合で、そして約90％から50％に急速に低下します。 その後分布は50％から0％に徐々に減少し、最後の1割は底辺を這います。</div>
  <figcaption id="fig9-caption"><a href="#fig9" class="anchor-link">図 9.</a> WebサイトのTTFBパフォーマンス、高速、適度、低速の分布。</figcaption>
</figure>
<p>図1のFCPチャートと同様に、これは高速TTFB毎に並べられた代表的な1,000個の値のサンプルのビューです。 <a href="https://developers.google.com/speed/docs/insights/Server#recommendations">高速TTFB</a>は0.2秒（200ミリ秒）未満、低速TTFBは1秒以上、その間はすべて適度です。</p>
<p>高速の割合の曲がり方を見ると、形はFCPとかなり異なります。 75％を超える高速なTTFBを持つWebサイトは非常に少なく、25％を下回るWebサイトが半分以上となっています。</p>
<p>以前にFCPで使用したPSI方法論からインスピレーションを貰って、TTFB速度のラベルを各Webサイトに適用しましょう。 ウェブサイトが75％以上のユーザー体験に対して高速なTTFBを提供する場合、<strong>高速</strong>とラベル付けされます。 それ以外に、25％以上のユーザー体験に対して<strong>低速</strong> なTTFBを提供するものを、低速とします。 この条件のどちらでもないものを<strong>適度</strong>とします</p>
<figure id="fig10">
  <a href="/static/images/2019/performance/fig10.png">
    <img src="/static/images/2019/performance/fig10.png" alt="図10. TTFBが高速、適度、低速としてラベル付けされたWebサイトの分布。" aria-labelledby="fig10-caption" aria-describedby="fig10-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=926985367&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig10-description" data-show-text="{{ show_description(10) }}" data-hide-text="{{ hide_description(10) }}">{{ show_description(10) }}</button>
  <div id="fig10-description" class="visually-hidden">Webサイトの2%が高速なTTFBを、56%が適度のTTFBを、42%が低速なTTFBとなっていることを示す棒グラフ。</div>
  <figcaption id="fig10-caption"><a href="#fig10" class="anchor-link">図 10.</a> TTFBが高速、適度、低速としてラベル付けされたWebサイトの分布。</figcaption>
</figure>
<p>Webサイトの42%で低速のTTFB体験となっています。 TTFBは他のすべてのパフォーマンス値の妨げになるため、この値はとても重要です。 <em>定義上は、TTFBに1秒以上かかる場合、ユーザーは高速なFCPを体験できない可能性があります</em>。</p>
<h4 id="ttfb-by-geo"><a href="#ttfb-by-geo" class="anchor-link">TTFB by geo</a></h4>
<figure id="fig11">
  <a href="/static/images/2019/performance/fig11.png">
    <img src="/static/images/2019/performance/fig11.png" alt="図11. 高速、適度、低速のTTFBそれぞれでラベル付けされたWebサイトの分布。地域別に分類されています。" aria-labelledby="fig11-caption" aria-describedby="fig11-description" width="600" height="940" data-width="600" data-height="940" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=685447534&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig11-description" data-show-text="{{ show_description(11) }}" data-hide-text="{{ hide_description(11) }}">{{ show_description(11) }}</button>
  <div id="fig11-description" class="visually-hidden">最も人気のあるトップ23地域のTTFB分布の棒グラフ。韓国は14%で特に早いWebサイトを持っています。そこから、早いWebサイトの割合は台湾7%、日本5%、オランダ4%となり、他の地域では急速に減少していきます。</div>
  <figcaption id="fig11-caption"><a href="#fig11" class="anchor-link">図 11.</a> 高速、適度、低速のTTFBそれぞれでラベル付けされたWebサイトの分布。地域別に分類されています。</figcaption>
</figure>
<p>次に、さまざまな地域で、高速なTTFBをユーザーに提供しているWebサイトの割合を見てみましょう。 韓国、台湾、日本のようなAPAC地域は依然として世界のユーザーを上回っています。 しかし、どの地域も15%を超えてた高速なTTFBとなっているWebサイトはありません。 インドでは、高速TTFBとなっているWebサイトは1%未満で、低速なTTFBとなっているWebサイトは79%となっています。</p>
<h3 id="初回入力遅延（first-input-delay）"><a href="#初回入力遅延（first-input-delay）" class="anchor-link">初回入力遅延（First Input Delay）</a></h3>
<p>最後に確認するフィールド値は<a href="https://developers.google.com/web/updates/2018/05/first-input-delay">初回入力遅延(First Input Delay)</a>(FID)です。 この値は、ユーザーがページのUIを最初に操作してから、ブラウザのメインスレッドでイベントの処理が可能になるまでの時間です。 この時間には、アプリケーションへの実際の入力処理の時間は含まれないことに注意してください。 最悪の場合は、FIDが遅いとページが応答しなくなり、ユーザー体験は苛立たしいものとなってしまいます。</p>
<p>いくつかのしきい値を定義することから始めましょう。 新しいPSI手法によると、<strong>高速</strong>なFIDは100ミリ秒未満です。 これによりアプリケーションは、入力イベントを処理しユーザーへの応答の結果が瞬時に感じるのに十分な時間を与えることができます。 <strong>低速</strong>なFIDは300ミリ秒以上となっており、その間はすべて<strong>適度</strong>にあたります。</p>
<figure id="fig12">
  <a href="/static/images/2019/performance/fig12.png">
    <img src="/static/images/2019/performance/fig12.png" alt="図12. Webサイトの高速、適度、低速のFIDパフォーマンスの分布。" aria-labelledby="fig12-caption" aria-describedby="fig12-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=60679078&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig12-description" data-show-text="{{ show_description(12) }}" data-hide-text="{{ hide_description(12) }}">{{ show_description(12) }}</button>
  <div id="fig12-description" class="visually-hidden">Webサイト1,000個の高速、適度、低速のFID配布。75%を超える高速なFIDの分布は、4分の3でもWebサイトがあり、その後急速に0％に低下します。</div>
  <figcaption id="fig12-caption"><a href="#fig12" class="anchor-link">図 12.</a> Webサイトの高速、適度、低速のFIDパフォーマンスの分布。</figcaption>
</figure>
<p>貴方はいま難題を抱えています。 この表はWebサイトの高速、適度、低速のFID体験の分布を表しています。 これは以前のFCPとTTFBの表とは劇的に異なります。(<a href="#fig1">図1</a>と<a href="#fig9">図9</a>をそれぞれ見る). 高速FIDの曲線は100%から75%にゆるやかに下っていき、その後急降下します。 FIDの体験は、ほとんどのWebサイトでほぼ高速になっています。</p>
<figure id="fig13">
  <a href="/static/images/2019/performance/fig13.png">
    <img src="/static/images/2019/performance/fig13.png" alt="図13. 高速、適度、低速のTTFBでラベル付けされたWebサイトの分布。" aria-labelledby="fig13-caption" aria-describedby="fig13-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=1828752871&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig13-description" data-show-text="{{ show_description(13) }}" data-hide-text="{{ hide_description(13) }}">{{ show_description(13) }}</button>
  <div id="fig13-description" class="visually-hidden">40％のWebサイトが高速なFID、45％が適度のFID、15％が低速のFIDであることを示す棒グラフ。</div>
  <figcaption id="fig13-caption"><a href="#fig13" class="anchor-link">図 13.</a> 高速、適度、低速のTTFBでラベル付けされたWebサイトの分布。</figcaption>
</figure>
<p>十分に高速や低速のFIDとなるWebサイトのラベル付けを行うため、PSI方法論はFCPと少しだけ異なる方法を取ります。 <strong>高速</strong>なサイトと定義するのは、FID体験の95％以上を高速と定める必要があります。 遅いFID体験となる5％のサイトを<strong>遅い</strong>として、そのほかの体験を<strong>適度</strong>とします。</p>
<p>以前の測定と比較して、集計されたFIDパフォーマンスの分布は低速よりも高速および適度の体験に大きく偏っています。 Webサイトの40%でFIDが早く、FIDが遅いと言えるのは15%だけです。 FIDが対話性の計測であるという性質は、ネットワーク速度によって制限される読み込みの計測と違い、パフォーマンス特性の全く異なる方法になります。</p>
<h4 id="デバイス毎のfid"><a href="#デバイス毎のfid" class="anchor-link">デバイス毎のFID</a></h4>
<figure id="fig14">
  <a href="/static/images/2019/performance/fig14.png">
    <img src="/static/images/2019/performance/fig14.png" alt="図14.  「デスクトップ」 WebサイトのFIDパフォーマンスの高速、適度、低速の分布。" aria-labelledby="fig14-caption" aria-describedby="fig14-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=16379508&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig14-description" data-show-text="{{ show_description(14) }}" data-hide-text="{{ hide_description(14) }}">{{ show_description(14) }}</button>
  <div id="fig14-description" class="visually-hidden">デスクトップWebサイト1,000個の高速、適度、低速FIDの配布。 Webサイトの最速の4分の3で、高速FIDの分布は100％から90％にかけて非常にゆっくりと減少して、その後高速FIDは75％まで減少します。 ほぼすべてのデスクトップWebサイトは、75％以上の高速なFID体験を備えています。</div>
  <figcaption id="fig14-caption"><a href="#fig14" class="anchor-link">図 14.</a> <em>デスクトップ</em> WebサイトのFIDパフォーマンスの高速、適度、低速の分布。</figcaption>
</figure>
<figure id="fig15">
  <a href="/static/images/2019/performance/fig15.png">
    <img src="/static/images/2019/performance/fig15.png" alt="図15.  「携帯電話向け」WebサイトのFIDパフォーマンスの高速、適度、低速の分布。" aria-labelledby="fig15-caption" aria-describedby="fig15-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=519511409&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig15-description" data-show-text="{{ show_description(15) }}" data-hide-text="{{ hide_description(15) }}">{{ show_description(15) }}</button>
  <div id="fig15-description" class="visually-hidden">モバイルWebサイト1,000個の高速、適度、低速FIDの配布。 高速なFIDの分布は着実に減少していますが、デスクトップよりもはるかに速く減っています。 ウェブサイトの4分の3までが75％となる高速に達していますが、その後すぐに0％に低下します。</div>
  <figcaption id="fig15-caption"><a href="#fig15" class="anchor-link">図 15.</a> <em>携帯電話向け</em> WebサイトのFIDパフォーマンスの高速、適度、低速の分布。</figcaption>
</figure>
<p>FIDをデバイスで分類してみると、この2つはまったく別の話となるようです。 デスクトップユーザーの殆どは常に高速なFIDで楽しめているようです。 まれに遅い体験をさせられるWebサイトがあるかもしれませんが、結果としては圧倒的に高速となっています。 一方モバイルのユーザーは2種類の体験に大別できます。 かなり高速(デスクトップほどではないが)か、全く早くないのどちらかとなるようです。 後者はWebサイトの10%のみ体験しているようですが、これは大きな違いでしょう。</p>
<figure id="fig16">
  <a href="/static/images/2019/performance/fig16.png">
    <img src="/static/images/2019/performance/fig16.png" alt="図16. 高速、適度、低速FIDとしてラベル付けされたWebサイトの分布。デバイス種類別に分類されています。" aria-labelledby="fig16-caption" aria-describedby="fig16-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=1533541692&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig16-description" data-show-text="{{ show_description(16) }}" data-hide-text="{{ hide_description(16) }}">{{ show_description(16) }}</button>
  <div id="fig16-description" class="visually-hidden">デスクトップとモバイルFID分布の棒グラフ。 デスクトップは高速、適度、低速がそれぞれ82％、12％、5％。 モバイルの場合26％、52％、22％。</div>
  <figcaption id="fig16-caption"><a href="#fig16" class="anchor-link">図 16.</a> 高速、適度、低速FIDとしてラベル付けされたWebサイトの分布。デバイス種類別に分類されています。</figcaption>
</figure>
<p>PSIラベルをデスクトップと携帯電話の体験に適用してみると、差分が非常に明瞭になります。 デスクトップユーザーが経験するWebサイトの82％はFIDが高速であるのに対し、低速は5％だけです。 モバイルで体験するWebサイトは、26％が高速であり、22％が低速です。 フォームファクターは、FIDなどの対話性計測の成果に大きな役割を果たします。</p>
<h4 id="有効な接続タイプ別のfid"><a href="#有効な接続タイプ別のfid" class="anchor-link">有効な接続タイプ別のFID</a></h4>
<figure id="fig17">
  <a href="/static/images/2019/performance/fig17.png">
    <img src="/static/images/2019/performance/fig17.png" alt="図17. ECTによって分類された高速、適度、低速FIDとしてラベル付けされたWebサイトの分布" aria-labelledby="fig17-caption" aria-describedby="fig17-description" width="600" height="371" data-width="600" data-height="371" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=1173039776&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig17-description" data-show-text="{{ show_description(17) }}" data-hide-text="{{ hide_description(17) }}">{{ show_description(17) }}</button>
  <div id="fig17-description" class="visually-hidden">有効な接続タイプ毎のFID分布の棒グラフ。4G高速、適度、低速がそれぞれ41％、45％、15％。3G：22％、52％、26％。 2G：19％、58％、23％。 低速な2G：15％、58％、27％。</div>
  <figcaption id="fig17-caption"><a href="#fig17" class="anchor-link">図 17.</a> <abbr title="effective connection type">ECT</abbr>によって分類された高速、適度、低速FIDとしてラベル付けされたWebサイトの分布</figcaption>
</figure>
<p>一見、FIDはCPUの動作速度が影響するように思えます。 性能の悪いデバイスを使うと、ユーザーがWebページを操作しようとしたときに待ち状態になる可能性が高いと考えるのは自然でしょうか？</p>
<p>上記のECTの結果からは、接続速度とFIDパフォーマンスの間に相関関係があることが示されています。 ユーザーの有効な接続の速度が低下すると、高速なFIDを体験するWebサイトの割合も低下しています。 4GのECTを使うユーザーがアクセスするWebサイトの41%は高速なFIDで、3Gは22%、2Gは19%、低速な2Gは15%です。</p>
<h4 id="fid-by-geo"><a href="#fid-by-geo" class="anchor-link">FID by geo</a></h4>
<figure id="fig18">
  <a href="/static/images/2019/performance/fig18.png">
    <img src="/static/images/2019/performance/fig18.png" alt="図18. 高速、適度、低速FIDでラベル付けされたWebサイトの分布を地域別に分類したもの。" aria-labelledby="fig18-caption" aria-describedby="fig18-description" width="600" height="940" data-width="600" data-height="940" data-seamless="" data-frameborder="0" data-scrolling="no" data-src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSQlf3_ySLPB5322aTumUZhbVGdaUdkmi1Hs4bYuO3Z1kqM4xspx7REbwXukwPd_tsOSg6oImzpYLM9/pubchart?oid=11500240&amp;format=interactive" loading="lazy" />
  </a>
  <button hidden="" class="fig-description-button" aria-expanded="false" aria-controls="fig18-description" data-show-text="{{ show_description(18) }}" data-hide-text="{{ hide_description(18) }}">{{ show_description(18) }}</button>
  <div id="fig18-description" class="visually-hidden">最も人気のある上位23の地域のFID分布の棒グラフ。最速のWebサイトは韓国の69％です。そこから高速なWebサイトの割合は、オーストラリア55％、アメリカ合衆国52％、カナダ51％となり、他の地域で確実に減少しています。</div>
  <figcaption id="fig18-caption"><a href="#fig18" class="anchor-link">図 18.</a> 高速、適度、低速FIDでラベル付けされたWebサイトの分布を地域別に分類したもの。</figcaption>
</figure>
<p>この地理的な位置によるFIDの内訳では、韓国はまたもや他のすべてよりも抜きん出ています。 しかし、トップを占める地域にはいくつか新しい顔ぶれが現れています。次に現れるのはオーストラリア、米国、カナダとなっており、50％以上のWebサイトが高速なFIDとなっています。</p>
<p>他の地域固有の結果と同様に、ユーザー体験に影響を与える可能性のある要因は多数あるでしょう。 例えば、より裕福な地理的条件が揃う地域に住んでいる人々は、より高速なネットワーク・インフラを購入でき、デスクトップも携帯電話もお金をかけてハイエンドなものを持っている率は高くなる可能性があります。</p>
<h2 id="結論"><a href="#結論" class="anchor-link">結論</a></h2>
<p>Webページの読み込み速度を定量化することは、単一の計測では表すことのできない不完全な科学です。 従来の<code>onload</code>等を計測する計測する方法は、ユーザー体験とは関係のない部分まで計測してしまい、本当に抑えるべき点を見逃してしまう可能性があります。 FCPやFIDなどのユーザーの知覚に相当する計測は、ユーザーが見たり感じたりする内容を着実に伝達できます。 ただそれでも、どちらの計測も単独で見てはページ全体の読み込み体験が高速なのか低速かについての結論を導き出すことはできません。 多くの計測値を総合的に見ることでのみ、Webサイト個々のパフォーマンスとWebの状態を理解することができます。</p>
<p>この章で表されたデータから、高速なWebサイトとにするためには多くの設定されるべき目標と作業があることを示しています。 確かなフォームファクター、効果的な接続の種類、そして地理にはユーザー体験の向上と相関しますが、低いパフォーマンスとなる人口の統計も組み合わせる必要があることを忘れてはいけません。 殆どの場合、Webプラットフォームはビジネスで使われています。コンバージョン率を改善してより多くのお金を稼ぐことは、Webサイトを高速化する大きな動機になるでしょう。 最終的に、すべてのWebサイトのパフォーマンスとは、ユーザーの邪魔をしたり、イラつかせたり、怒らせたりしない方法で、ユーザーにより良い体験を提供することです。</p>
<p>Webがまた一つ古くなり、ユーザー体験を測定する能力が徐々に向上するにつれて、開発者がより総合的なユーザー体験を捉えて計測された値を身近に思えるようになることを楽しみにしています。 FCPは有用なコンテンツをユーザーに表示するタイムラインのほぼ最初部分であり、それ以外にも<a href="https://web.dev/largest-contentful-paint">Large Contentful Paint</a>（LCP）と呼ばれる新しい計測値が出現して、ページの読み込みがどのように認識されるかの可視性が向上しています。 <a href="https://web.dev/layout-instability-api">Layout Instability API</a>は、ページの読み込み以降でユーザーが不満を持つ体験がある事を新たに垣間見せてくれました。</p>
<p>こういった新しい計測が出来るようになった2020年のWebは、さらに透明性が高まって理解が深まり、開発者がパフォーマンスを改善するための有意義な進歩を遂げることで、より良いユーザー体験を提供できるでしょう。</p>
{% endblock %}
