{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}5,8&nbsp;млн{% endblock %}
{% block methodology_stat_2 %}20,9&nbsp;ТБ{% endblock %}
{% block total_websites %}майже 6 мільйонів{% endblock %}
{% block dataset %}липня 2019{% endblock %}

{% block foreword %}
<div>
  <p>
    Відкритий веб це неймовірно складна мережа технологій, що постійно розвивається. Цілі індустрії та кар’єри побудовані на вебі і залежать від того, наскільки успішною буде його тремтлива екосистема. Так само важливим, як і сам веб, розуміння того, як йдуть його справи, було на диво невловимим. З 2010 року метою HTTP Archive було відстежувати, як будується веб, і цей проект успішно справлявся зі своєю задачею. Однак була одна прогалина, яку було заповнити надзвичайно важко: надати зрозумілої форми даним, які збирав HTTP Archive, та дати змогу спільноті без зайвих зусиль зрозуміти, як працює веб. Ось тут і стає в нагоді Web Almanac.
  </p>

  <p>
    Місія Web Almanac полягає в тому, щоб взяти цей скарб прозрінь, який в інакшому разі залишиться доступним лише безстрашним шукачам даним, і перетворити його на зрозумілу кожному інформацію. Це все стає можливим з допомогою експертів індустрії, які можуть осмислити дані та пояснити нам, що вони означають. Кожен з 20 розділів у Web Almanac фокусується на специфічному аспекті вебу, і кожен був написаний та відредагований експертами у своїй справі. Web Almanac набирає сили від експертизи людей, які його створювали.
  </p>

  <p>
    Багато висновків у Web Almanac варті святкування, але також це важливе нагадування про роботу, яка потрібна для того, щоб досвід користування був найвищої якості. Аналіз даних у кожному розділі є певною формою відповідальності, яку ми всі розділяємо, створюючи кращий веб. Це зовсім не про цькування тих, хто робить щось неправильно, а, навпаки, про засвічення вказівного світла на шляху кращих практик, які показують простий, правильний спосіб робити речі. З подальшою допомогою веб спільноти ми сподіваємося зробити це щорічною традицією, щоб кожного року мати змогу відстежувати наш прогрес і коригувати курс за потреби.
  </p>

  <p>
    У цьому звіті надзвичайно багато повчального, тож починай вивчати і ділитися думками зі спільнотою, щоб ми разом могли вдосконалити наше розуміння про стан вебу.
  </p>

  <p>— <em><a href="{{ url_for('contributors', year=year, lang=lang, _anchor='rviscomi') }}">Rick Viscomi</a>, головний редактор Web Almanac</em></p>
</div>
{% endblock %}
