{% extends "base/2019/base_ebook.html" %}

{% block title %}Web Almanac за {{ year }} год от HTTP Archive{% endblock %}

{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}Ежегодный отчёт<br>HTTP Archive<br>о <b>состоянии веба</b>{% endblock %}

{% block about_title %}О проекте Web Almanac{% endblock %}

{% block description %}Web Almanac за {{ year }} год в формате электронной книги{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %}Web Almanac за {{ year }} год{% endblock %}
