{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}5.8 млн{% endblock %}
{% block methodology_stat_2 %}20.9 Тб{% endblock %}
{% block total_websites %}около 6 миллионов{% endblock %}
{% block dataset %}июль 2019{% endblock %}

{% block foreword %}
<div>
  <p>
    Открытый веб — это удивительно сложная и развивающаяся сеть технологий. Целые отрасли и карьеры создаются в вебе и для достижения успеха полагаются на его активную экосистему. Сложно понять веб, каким бы важным он не был. С момента своего запуска в 2010 году задачей проекта HTTP Archive является отслеживание развития веба, с чем он справляется до сих пор. Однако был один серьёзный недостаток: придать смысла набору данных, собранном проектом HTTP Archive, чтобы облегчить понимание сообществу того, как работает веб. Вот тогда зародилась идея нового проекта Web Almanac.
  </p>

  <p>
    Задача Web Almanac — собрать воедино сокровища данных, которые ранее были доступны только отважным датамайнерам, и представить их в лёгкой и понятой форме. Это стало возможным при помощи экспертов, специализирующихся в области обработки данных. Каждая из 20 глав в Web Almanac посвящена определённому аспекту веба, и написана и рецензирована экспертами в своей области. Успех Web Almanac напрямую зависит от опыта и знаний его авторов.
  </p>

  <p>
    Многие выводы, сделанные в Web Almanac, заслуживают внимания и похвалы, но они также напоминают нам о той работе, которую ещё предстоит проделать, чтобы обеспечить высокое качество функционирования веба для его пользователей. Представленный в каждой главе анализ на основе полученных данных указывает на то, что все мы одинаково разделяем идеи развития более лучшего веба. И в данном случае речь не о том, чтобы как-то показать пальцем на тех, кто делает что-то не так, а в том, чтобы указать путь к рекомендуемым практикам, чтобы составить понятный и правильный план действия. С постоянной помощью веб-сообщества мы надеемся сделать подобное ежегодной традицией, каждый год отслеживая прогресс и корректируя намеченный курс, если это нужно.
  </p>

  <p>
    Из этого отчёта можно многое почерпнуть для себя интересного, поэтому приступите к его изучению и поделитесь своими мыслями с сообществом, чтобы мы все вместе смогли лучше понять состояние веба.
  </p>

  <p>— <em><a href="{{ url_for('contributors', year=year, lang=lang, _anchor='rviscomi') }}">Рик Вискоми (Rick Viscomi)</a>, создатель Web Almanac</em></p>
</div>
{% endblock %}
