{% extends "/2019/error.html" %}

{% block unknown_error %}Неизвестная ошибка{% endblock %}

{%
  set localizedStatusCode = {
    400: "Неверный запрос",
    404: "Страница не найдена",
    500: "Внутренняя ошибка сервера",
    502: "Временная ошибка сервера"
  }
%}
{% macro expandedTitle(errorTitle) %}Ошибка: {{ errorTitle }}{% endmacro %}
{%
  set localizedErrorMessage = {
    "Unsupported year requested": "Запрошен несуществующий год",
    "Unsupported chapter requested": "Запрошен несуществующая глава",
    "Unsupported language requested": "Запрошен несуществующий язык",
    "Not Found": "Запрошенный вами URL-адрес не найден на сервере. Если вы ввели URL-адрес вручную, попробуйте проверить его на наличие ошибок.."
  }
%}
{% macro expandedErrorMessage(errorCode, errorDescription, errorMessage) %}
{{ errorCode }} {{ errorDescription }}: {{ errorMessage }}
{% endmacro %}
