{% extends "base/2019/table_of_contents.html" %}

{% block title %}Содержание | Web Almanac 2019{% endblock %}

{% block description %}Оглавление содержания Web Almanac от 2019 года: Контент страницы, Пользовательские ощущения, Публикация контента, Распространение контента.{% endblock %}

{% block twitter_image_alt %}Методология Web Almanac в {{ year }} году{% endblock %}

{% block date_published %}2020-10-24T00:00:00.000Z{% endblock %}
{% block date_modified %}2020-11-03T00:00:00.000Z{% endblock %}
