{% extends "base/2019/base.html" %}

{% block description %}Le Web Almanac est un rapport annuel sur l’état du Web qui combine l’expertise de la communauté Web avec les données et tendances de HTTP Archive.{% endblock %}

{% block twitter_image_alt %}Web Almanac {{ year }}{% endblock %}

{% block skip_navigation %}Sauter la navigation{% endblock %}

{% block organization %}Web Almanac par HTTP Archive{% endblock %}
{% block web_almanac_logo %}
  <span class="wa">Web Almanac</span>
  <span class="line-group">
    <span class="pre">Par</span>
    <span class="ha">HTTP Archive</span>
  </span>
{% endblock %}

{% block mission %}
Notre mission est de combiner les statistiques brutes et les tendances de HTTP Archive avec l’expertise de la communauté web. Le Web Almanac est un rapport complet sur l’état du Web, soutenu par des données réelles et des experts du Web. Il est composé de 20 chapitres couvrant l’expérience utilisateur, le contenu des pages, leur publication et leur distribution.
{% endblock %}

{% block http_archive_link %}HTTP Archive home{% endblock %}

{% block page_navigation %}Page navigation{% endblock %}

{% block help_translate %}Aidez à traduire{% endblock %}
{% block translation_not_available %}en anglais - non disponible en français{% endblock %}
{% block language_switcher %}Sélecteur de langue{% endblock %}
{% block year_switcher %}Sélecteur d’année{% endblock %}

{% block home %}Accueil{% endblock %}
{% block table_of_contents_title %}Table des matières{% endblock %}
{% block contributors_title %}Contributeurs et contributrices{% endblock %}
{% block methodology_title %}Méthodologie{% endblock %}

{% block part %}Partie{% endblock %}
{% block chapter %}Chapitre{% endblock %}

{% block start_exploring %}Commencer l’exploration{% endblock %}

{% block menu_title %}Menu de la page{% endblock %}
{% block open_the_menu %}Ouvrez le menu{% endblock %}
{% block close_the_menu %}Fermez le menu{% endblock %}

{% block index_nav_title %}Table des matières du chapitre{% endblock %}
{% block index_title %}Index{% endblock %}
{% block open_the_index %}Ouvrir la table des matières{% endblock %}
{% block close_the_index %}Fermer la table des matières{% endblock %}

{% block and %}et{% endblock %}
{% block comma %}, {% endblock %}

{% block open %}Ouvrez{% endblock %}
{% block close %}Fermez{% endblock %}

{% macro show_description(id) %}Afficher la description de la figure {{ id }}{% endmacro %}
{% macro hide_description(id) %}Masquer la description de la figure  {{ id }}{% endmacro %}

{% block written_by_before %}Écrit par{% endblock %}
{% block reviewed_by_before %}Relu par{% endblock %}
{% block translated_by_before %}Traduit par{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}

{% block author %}Auteur·ice{% endblock %}
{% block authors %}Auteur·ice·s{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} sur Twitter{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} sur GitHub{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} sur LinkedIn{% endmacro %}
{% macro website(authorName) %}site web de {{authorName}}{% endmacro %}

{% macro edition(year) %}Édition {{ year }}{% endmacro %}

{% block footer_title %}Navigation dans le pied de page{% endblock %}
{% block copyright %}© Web Almanac. Sous licence <a href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}Déclaration d’accessibilité{% endblock %}

{% block featured_chapter %}Focus sur le chapitre…{% endblock %}
{% macro readChapter(chapter) %}Lire le chapitre&nbsp;: <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}

{% block contributors_description %}
Le Web Almanac a été rendu possible grâce au travail acharné de la communauté Web. {{ self.contributors() }} personnes ont consacré bénévolement d’innombrables heures à le planifier, faire des recherches, le rédiger et le mettre à votre disposition.
{% endblock %}
{% block contributors_link %}Voir les contributeurs et contributrices{% endblock %}

{% block methodology_stat_1_title %}Sites Web testés{% endblock %}
{% block methodology_stat_1 %}5,8&nbsp;M{% endblock %}
{% block methodology_stat_2_title %}Données traitées{% endblock %}
{% block methodology_stat_2 %}20,9&nbsp;TB{% endblock %}
{% block methodology_description %}
Sauf indication contraire, les statistiques des 20 chapitres du Web Almanac proviennent du jeu de données HTTP Archive, un projet communautaire qui suit l’évolution de la construction du web depuis 2010. Grâce à WebPageTest et Lighthouse, HTTP Archive collecte chaque mois les métadonnées de près de 6 millions de sites Web et les insère dans une base de données publique BigQuery pour les analyser. Le jeu de données de juillet 2019 a servi de base aux mesures du Web Almanac. Pour plus d’informations, consultez la page Méthodologie.
{% endblock %}
{% block methodology_link %}En savoir plus sur la Méthodologie{% endblock %}

{% block introduction %}Introduction{% endblock %}

{% block foreword_title %}Avant-propos{% endblock %}

{% block foreword %}
    <p>
      Le Web ouvert est un réseau de technologies étonnamment complexe et évolutif. Des industries et des carrières entières sont bâties sur le Web et dépendent de son écosystème dynamique pour réussir. Aussi crucial que soit le Web, il a été étonnamment difficile de comprendre comment il fonctionne. Depuis 2010, la mission du projet HTTP Archive est de suivre comment le web est construit, et un travail incroyable a été accompli dans ce domaine. Cependant, une lacune s’est révélée particulièrement difficile à combler : donner un sens aux données que le projet HTTP Archive a collectées et permettre à la communauté de comprendre facilement les performances du Web. C’est là qu’intervient le Web Almanac.
    </p>

    <p>
      La mission du Web Almanac est de regrouper les trésors d’informations qui, autrement, ne seraient accessibles qu’aux intrépides explorateurs de données, de manière à ce qu’elles soient faciles à comprendre. Nous y sommes parvenu·e·s avec l’aide d’expert·e·s de l’industrie qui comprennent les données et nous informent sur ce qu’elles signifient. Chacun des 20 chapitres du Web Almanac se concentre sur un aspect spécifique du Web, et chacun d’entre eux a été rédigé et révisé par des expert·e·s dans leur domaine. La force du Web Almanac découle directement de l’expertise des personnes qui l’écrivent.
    </p>

    <p>
      Un grand nombre de résultats du Web Almanac méritent d’être salués, mais c’est aussi un rappel important du travail qu’il reste à faire pour offrir une expérience utilisateur de grande qualité. Les analyses fondées sur les données présentées dans chaque chapitre sont une forme de responsabilisation que nous partageons tous et toutes pour développer un meilleur Web. Il ne s’agit pas de faire honte à celles et ceux qui se trompent, mais de mettre en lumière le chemin menant aux bonnes pratiques pour qu’il y ait une façon claire et juste de faire les choses. Avec l’aide continue de la communauté Web, nous espérons en faire une tradition annuelle, de sorte que chaque année, nous puissions suivre nos progrès et faire des ajustements de cap si nécessaire.
    </p>

    <p>
      Il y a tant à apprendre dans ce rapport&nbsp; Nous vous invitons à l’explorer dès à présent et à partager vos découvertes avec la communauté afin que nous puissions collectivement améliorer notre compréhension de l’état du Web.
    </p>

    <p>— <em><a href="{{ url_for('contributors', year=year, lang=lang, _anchor='rviscomi') }}">Rick Viscomi</a>, créateur du Web Almanac</em></p>
{% endblock %}

{% block appendix %}Annexe{% endblock %}
{% block appendices %}Annexes{% endblock %}

{% block ebook_title %}Ebook{% endblock %}
{% block ebook_download %}Download the entire {{ year }} Web Almanac in PDF format (18MB){% endblock %}
{% block ebook_download_note %}(generated with <a href="https://www.princexml.com/">www.princexml.com</a>){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. Contenu des pages",
    "II. User Experience": "II. Expérience Utilisateur·ice",
    "III. Content Publishing": "III. Publication de contenu",
    "IV. Content Distribution": "IV. Diffusion du contenu"
  }
%}
{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "markup": "Balisage Web",
    "media": "Média",
    "third-parties": "Tierces Parties",
    "fonts": "Polices d’écriture",
    "performance": "Performance",
    "security": "Sécurité",
    "accessibility": "Accessibilité",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "Web Mobile",
    "ecommerce": "E-commerce",
    "cms": "CMS",
    "compression": "Compression",
    "caching": "Mise en cache",
    "cdn": "CDN",
    "page-weight": "Poids des pages",
    "resource-hints": "Indices de Ressources",
    "http2": "HTTP/2",
    "privacy": "Vie Privée",
    "capabilities": "Capacités",
    "jamstack": "Jamstack"
  }
%}

{% set localizedTeamNames = {
  "analysts": "Analyse",
  "authors": "Rédaction",
  "brainstormers": "Réflexion",
  "designers": "Design",
  "developers": "Développement",
  "editors": "Édition",
  "leads": "Gestion de projet",
  "reviewers": "Relecture",
  "translators": "Traduction",
  }
%}

{% set localizedContributors = {
  "kleinab": 'Abigail Klein est <i lang="en">Software Engineer</i> chez Google. Elle a travaillé sur l’accessibilité web de Google Docs, Sheets et Slides où elle a ajouté les <a href="https://www.blog.google/outreach-initiatives/accessibility/whats-you-say-present-captions-google-slides/">légendes automatiques de Google Slides</a>, ainsi que l’amélioration du lecteur d’écran, du braille, de la loupe d’écran et de la prise en charge du contraste élevé. Elle travaille actuellement sur l’accessibilité de Google Chrome et ChromeOS. Elle détient un baccalauréat et une maîtrise en informatique du MIT, où elle a cofondé un hackathon de technologie d’assistance et a été assistante de laboratoire et conférencière invitée de la classe de technologie d’assistance.',
  "argyleink": 'Adam Argyle est responsable des relations avec les développeurs et développeuses pour Google Chrome, avec un focus sur CSS&nbsp;; C’est un accro du web avec une soif insatiable de formidables UX &amp; UI; Retrouvez-le sur le web <a href="https://twitter.com/argyleink">@argyleink</a> ou visitez son site web <a href="https://nerdy.dev">https://nerdy.dev</a>.',
  "alankent": 'Alan Kent est <i lang="en">Developer Advocate</i> chez Google, spécialisé sur l’e-commerce et les écosystèmes de contenus. Il blogue sur <a href="https://alankent.me">alankent.me</a> et twitte en tant que <a href="https://twitter.com/akent99">@akent99</a>.',
  "amedina": 'Alberto Medina est <i lang="en">Developer Advocate</i> dans l’équipe Écosystèmes de Contenus Web chez Google, spécialisé dans la progression de la qualité des contenus sur le web via des technologies innovantes comme Amp, et l’usage d’APIS web modernes. Le travail actuel d’Alberto se focalise sur les systèmes de gestion de contenus puisqu’il dirige une équipe au sein des Écosystèmes de Contenus appellée Relation avec les Équipe de Développement CMS.',
  "andydavies": 'Andy Davies est un consultant indépendant spécilisé en Performance. Il a aidé certains des plus grands détaillants, journaux et sociétés de services financiers du Royaume-Uni à rendre leurs sites plus rapides. Il a écrit "The Pocket Guide to Web Performance", est co-auteur de "Using WebPageTest" et est également l’organisateur du meetup London Web Performance. Retrouvez Andy sur Twitter <a href="https://twitter.com/andydavies">@AndyDavies</a>, où sur le blog où il écrit occasionellement <a href="https://andydavies.me">https://andydavies.me</a>',
  "arturjanc": 'Artur Janc est ingénieur en sécurité de l’information chez Google. Il travaille à la conception et à l’adoption de mécanismes de sécurité pour les plates-formes web de Google et du web en général. Il discute avec les gens sur Internet en tant que <a href="https://twitter.com/arturjanc">@arturjanc sur Twitter</a>.',
  "bazzadp": 'Barry Pollard est développeur et auteur du livre <a href="https://www.manning.com/books/http2-in-action">HTTP/2 in Action</a> (Manning ). Il pense que le web est incroyable mais veut le rendre encore meilleur. Vous pouvez le trouver en train de tweeter <a href="https://twitter.com/tunetheweb">@tunetheweb</a> et de blogger sur <a href="https://www.tunetheweb.com">www.tunetheweb.com</a>.',
  "bkardell": 'Brian Kardell est <i lang="en">Developer Advocate</i> chez <a href="https://igalia.com">Igalia</a>, contributeur des standards du web, <a href="https://bkardell.com">blogueur</a>, et est actuellement le représentant du comité consultatif du W3C pour la <a href="https://openjsf.org/" lang="en">Open JS Foundation</a>. Il a fondé <i lang="en">l’Extensible Web Community Group</i> et est co-auteur du <a href="https://extensiblewebmanifesto.org" lang="en">The Extensible Web Manifesto</a>.',
  "colinbendell": 'Colin fait partie du <i lang="en">CTO Office</i> de <a href="https://cloudinary.com/">Cloudinary</a> et est co-auteur du livre O’Reilly <a href="https://www.oreilly.com/library/view/high-performance-images/9781491925799/" lang="en">High Performance Images</a>. Il passe une grande partie de son temps à l’intersection des données à haut volume, des médias, des navigateurs et des standards. Vous le trouverez twittant en tant que <a href="https://twitter.com/colinbendell">@colinbendell</a> et sur son blog <a href="https://bendell.ca/">https://bendell.ca</a>.',
  "obto": 'David Fox est <i lang="en">lead usability researcher</i> et fondateur de LookZook, une entreprise obsédée par tout ce qu’il y a à savoir sur la création d’expériences Web qui répondent aux attentes des utilisateurs. Il est un psychologue de sites Web qui fouille dans ces derniers pour apprendre non seulement avec quels problèmes les utilisateurs se débattent, mais pourquoi et comment améliorer au mieux leur expérience. Il est également un contributeur, un conférencier et un fournisseur de Google Chromium de webinaires et de formations UX.',
  "dougsillars": 'Doug Sillars est un nomade numérique indépendant qui travaille à l’intersection de la performance et des médias. Il tweete sous <a href="https://twitter.com/dougsillars">@dougsillars</a>, et blogue régulièrement sur <a href="https://dougsillars.com">dougsillars.com</a>.',
  "housseindjirdeh": 'Houssein est <i lang="en">Developer Advocate</i> chez Google. Il travaille sur la vitesse, la performance et l’écosystème des frameworks web. Il tweete sur <a href="https://twitter.com/hdjirdeh">@hdjirdeh</a> et blogue sur <a href="https://houssein.me/">https://houssein.me/</a>.',
  "jeffposnick": 'Jeff Posnick est membre de l’équipe chargée des relations avec les équipes de développement web de Google, basée à New York. Il se concentre sur <a href="https://developers.google.com/web/tools/workbox/">Workbox</a>, un ensemble de bibliothèques de services pour les <i lang="en">Progressive Web Apps</i>. Il blogue sur <a href="https://jeffy.info">https://jeffy.info</a> et tweete en tant que <a href="https://twitter.com/jeffposnick">@jeffposnick</a>.',
  "khempenius": 'Katie Hempenius est ingénieur dans l’équipe Chrome où elle travaille à rendre le web plus rapide.',
  "AVGP": 'Martin Splitt est un DevRel au sein de l’équipe Écosystème Web chez Google, où il travaille à garder le Web découvrable.',
  "nektarios-paisios": 'Nektarios Paisios est un <i lang="en">software engineer</i> travaillant sur l’accessibilité de Chrome depuis 5 ans. Il se concentre principalement sur la compatibilité de Chrome avec les logiciels d’assistance tiers tels que les lecteurs d’écran et les loupes d’écran. Avant de travailler sur l’accessibilité de Chrome, Nektarios a occupé divers autres postes au sein de l’entreprise, tels que l’accessibilité GSuite et les annonces publicitaires. Nektarios est titulaire d’un doctorat en informatique de l’Université de New York.',
  "patrickhulce": 'Patrick Hulce est un ancien ingénieur de Chrome, fondateur de <a href="https://eris.ventures/">Eris Ventures</a>, membre de l’équipe principale de <a href="https://github.com/GoogleChrome/lighthouse">Lighthouse</a> et de <a href="https://github.com/GoogleChrome/lighthouse-ci">Lighthouse CI</a>, co-organisateur de la rencontre <a href="https://www.meetup.com/DallasJS/">DallasJS</a> et auteur du projet <a href="https://github.com/patrickhulce/third-party-web">third-party-web</a>.',
  "paulcalvano": 'Paul Calvano est architecte performance web chez <a href="https://www.akamai.com/">Akamai</a>, où il aide les entreprises à améliorer les performances de leurs sites web. Il est également co-responsable du projet HTTP Archive. Vous pouvez le retrouver en train de tweeter à l’adresse <a href="https://twitter.com/paulcalvano">@paulcalvano</a>, en bloguant sur <a href="https://paulcalvano.com">http://paulcalvano.com</a> et partager ses recherches HTTP Archive à <a href="https://discuss.httparchive.org">https://discuss.httparchive.org</a>.',
  "rachellcostello": 'Rachel Costello est technical SEO &amp; Content Manager chez <a href="https://www.deepcrawl.com/">DeepCrawl</a> et une conférencière internationale qui passe son temps à rechercher et à communiquer sur les derniers développements dans le SEO. Rachel gère actuellement la production de <a href="https://www.deepcrawl.com/knowledge/white-papers/">livres blancs sur les techniques de référencement </a> et des articles de recherche pour DeepCrawl, et est une chroniqueuse régulière pour <a href="https://www.searchenginejournal.com/author/rachel-costello/">Search Engine Journal</a>.',
  "ernee": 'Renee Johnson est consultante en développement et conception de produits web, passionnée de WordPress, et organisatrice et bénévole fréquente de WordCamp. Elle travaille actuellement avec l’équipe des relations avec les développeurs de systèmes de gestion de contenu chez Google en tant que spécialiste du support produit.',
  "rviscomi": 'Rick Viscomi est ingénieur senior en développement de programmes chez Google. Il travaille sur des projets de transparence du web comme HTTP Archive et Chrome UX Report, et étudie le rapport entre la façon dont les sites web sont construits et expérimentés. Rick est l’hôte de <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIBGvYSYO-VxOsaYQDw5rifJ" lang="en">The State of the Web</a> dans lequel des experts discutent de la façon dont le web évolue. Rick est le co-auteur de <a href="https://usingwpt.com" lang="en">Using WebPageTest</a>, un guide pour tester les performances web, et écrit fréquemment à propos du web sur <a href="https://dev.to/rick_viscomi">dev.to</a> et sur Twitter à <a href="https://twitter.com/rick_viscomi">@rick_viscomi</a>.',
  "samdutton": 'Sam Dutton travaille avec l’équipe Google Chrome en tant que <i lang="en">Developer Advocate</i> depuis 2011. Il a organisé et présenté un certain nombre d’événements, créé et enseigné plusieurs cours de développement web, et travaillé sur une série de vidéos, de <i lang="en">codelabs</i> et de conseils écrits couvrant les PWA, les performances, les médias, l’image et les initiatives "<i lang="en">Next Billion Users</i>". Il maintient <a href="https://simpl.info">simpl.info</a>, qui fournit les exemples les plus simples possibles de HTML, CSS et JavaScript. Sam a grandi dans le sud de l’Australie, a étudié à l’université de Sydney et vit depuis 1986 à Londres.',
  "ScottHelme": '<i lang="en">Scott Helme is a Security Researcher and founder of <a href="https://report-uri.com">report-uri.com</a> and <a href="https://securityheaders.com">securityheaders.com</a>. You can find him talking about security on Twitter <a href="https://twitter.com/Scott_Helme">@Scott_Helme</a> and blogging at <a href="https://scotthelme.co.uk">scotthelme.co.uk</a>.</i>',
  "tammyeverts": 'Tammy Everts a passé plus de deux décennies à étudier l’ergonomie et l’UX. Au cours des dix dernières années, elle s’est concentrée sur l’intersection entre les technologies de l’information et de la communication, les performances web et le monde des affaires. Elle est CXO de <a href="https://speedcurve.com/">SpeedCurve</a>, co-présidente de la conférence <a href="https://perfnow.nl/">performance.now()</a> et auteur du livre de O’Reilly <em><a href="http://shop.oreilly.com/product/0636920041450.do" lang="en">Time Is Money : The Business Value of Performance</a></em>.',
  "tomayac": 'Thomas Steiner est <i lang="en">Web Developer Advocate</i> chez Google Hambourg. Il s’occupe de rendre le Web meilleur par la standardisation, la création et le partage des bonnes pratiques et la recherche. Il blogue sur <a href="https://blog.tomayac.com/">blog.tomayac.com</a> et tweete en tant que <a href="https://twitter.com/tomayac">@tomayac</a>.',
  "una": 'Una Kravets est une conférencière internationale basée à Brooklyn, rédactrice technique et <i lang="en">Developer Advocate</i> pour <i lang="en">Material Design</i> chez Google. Una anime la série web <a href="https://www.youtube.com/watch?v=YK8GZBx3hpg" lang="en">Designing the Browser</a> et le podcast <a href="https://spec.fm/podcasts/toolsday" lang="en">Toolsday</a>developpeur. Retrouvez-la sur <a href="https://twitter.com/una">Twitter</a> pour découvrir ses réflexions sur les CSS créatifs, les expériences utilisateurs et les bonnes pratiques de développement web.',
  "ymschaap": 'Fondateur d’une agence de conseil en SEO technique <a href="https://build.amsterdam/">build.amsterdam</a>. Auparavant, il a fondé plusieurs sociétés Web qui ont atteint plus d’un milliard d’utilisateurs. Il blogue sur ses dernières aventures depuis 2005 sur <a href="https://yvoschaap.com/">yvoschaap.com</a>.',
  "zachleat": 'Zach est un développeur Web chez <a href="https://www.filamentgroup.com/">Filament Group</a>. Il est actuellement obsédé par les <a href="https://www.zachleat.com/web/fonts/">polices Web</a> et les <a href="https://www.zachleat.com/web/introducing-eleventy/">générateurs de sites statiques</a>. Il est déjà <a href="https://www.zachleat.com/web/speaking/">intervenu publiquement</a> dans huit pays différents lors d’événements comme JAMstack_conf, Beyond Tellerrand, Smashing Conference, CSSConf, et <a href="https://www.zachleat.com/web/whitehouse/">la Maison Blanche</a>. Il aide également à organiser la <a href="http://nejsconf.com/">NEJS CONF</a> et la rencontre <a href="http://nebraskajs.com">NebraskaJS</a>.',
  }
%}
