{% extends "base/2019/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | 2019 | Le Web Almanac par HTTP Archive{% endblock %}

{% block description %}{{ metadata.get('description','Chapitre' + metadata.get('title') + ' du Web Almanac'+ year + " explorant l’utilisation des " + metadata.get('description',metadata.get('title')) + ' sur le web.') }}{% endblock %}

{% block twitterImageAlt %}Image du chapitre {{ metadata.get('title') }} du Web Almanac {{ year }}{% endblock %}

{% block breadcrumbName2 %}{{ metadata.get('title') }}{% endblock %}

{% block unedited %}[non corrigé]{% endblock %}

{% block prevNextTitle %}Navigation vers les chapitres précédent et suivant{% endblock %}

{% block discussThisChapter %}Discuter de ce chapitre{% endblock %}
{% block comment %}commentaire{% endblock %}
{% block comments %}commentaires{% endblock %}
{% block writtenBy %}Écrit par{% endblock %}
{% block reviewedBy %}Relu par{% endblock %}
{% block translatedBy %}Traduit par{% endblock %}

{% block author %}Auteur·ice{% endblock %}
{% block authors %}Auteur·ice·s{% endblock %}

{% block previous %}Chapitre précédent (appuyez sur 'p' ou ','){% endblock %}
{% block next %}Chapitre suivant (appuyez sur 'n' or '.'){% endblock %}
