{% extends "base/2019/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | 2019 | Le Web Almanac par HTTP Archive{% endblock %}

{% block description %}{{ metadata.get('description','Chapitre' + metadata.get('title') + ' du Web Almanac'+ year + " explorant l’utilisation des " + metadata.get('description',metadata.get('title')) + ' sur le web.') }}{% endblock %}

{% block twitter_image_alt %}Image du chapitre {{ metadata.get('title') }} du Web Almanac {{ year }}{% endblock %}

{% block breadcrumb_name_2 %}{{ metadata.get('title') }}{% endblock %}

{% block unedited %}[non corrigé]{% endblock %}

{% block prev_next_title %}Navigation vers les chapitres précédent et suivant{% endblock %}

{% block discuss_this_chapter %}Discuter de ce chapitre{% endblock %}
{% block comment %}commentaire{% endblock %}
{% block comments %}commentaires{% endblock %}
{% block queries %}Afficher les requêtes{% endblock %}
{% block results %}Voir les résultats{% endblock %}
{% block written_by_before %}Écrit par{% endblock %}
{% block reviewed_by_before %}Relu par{% endblock %}
{% block translated_by_before %}Traduit par{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}

{% block author %}Auteur·ice{% endblock %}
{% block authors %}Auteur·ice·s{% endblock %}

{% block previous %}Chapitre précédent (appuyez sur 'p' ou ','){% endblock %}
{% block next %}Chapitre suivant (appuyez sur 'n' or '.'){% endblock %}
