{% extends "base/2019/base.html" %}

{% block description %}Le Web Almanac est un rapport annuel sur l’état du Web qui combine l’expertise de la communauté Web avec les données et tendances de HTTP Archive.{% endblock %}

{% block twitter_image_alt %}Web Almanac {{ year }}{% endblock %}

{% block skip_navigation %}Sauter la navigation{% endblock %}

{% block organization %}Web Almanac par HTTP Archive{% endblock %}
{% block web_almanac_logo %}
  <span class="wa">Web Almanac</span>
  <span class="line-group">
    <span class="pre">Par</span>
    <span class="ha">HTTP Archive</span>
  </span>
{% endblock %}

{% block mission %}
<p>
Notre mission est de combiner les statistiques brutes et les tendances de HTTP Archive avec l’expertise de la communauté web. Le Web Almanac est un rapport complet sur l’état du Web, soutenu par des données réelles et des experts du Web. Il est composé de 20 chapitres couvrant l’expérience utilisateur, le contenu des pages, leur publication et leur distribution.
</p>
{% endblock %}

{% block read_last_years_almanac %}Lire le Web Almanac {{ year | int - 1 }}{% endblock %}

{% block http_archive_link %}HTTP Archive home{% endblock %}

{% block page_navigation %}Page navigation{% endblock %}

{% block help_translate %}Aidez à traduire{% endblock %}
{% block translation_not_available %}en anglais - non disponible en français{% endblock %}
{% block language_switcher %}Sélecteur de langue{% endblock %}
{% block year_switcher %}Sélecteur d’année{% endblock %}

{% block home %}Accueil{% endblock %}
{% block table_of_contents_title %}Table des matières{% endblock %}
{% block contributors_title %}Contributeurs et contributrices{% endblock %}
{% block methodology_title %}Méthodologie{% endblock %}

{% block part %}Partie{% endblock %}
{% block chapter %}Chapitre{% endblock %}

{% block start_exploring %}Commencer l’exploration{% endblock %}

{% block menu_title %}Menu de la page{% endblock %}
{% block open_the_menu %}Ouvrez le menu{% endblock %}
{% block close_the_menu %}Fermez le menu{% endblock %}

{% block index_nav_title %}Table des matières du chapitre{% endblock %}
{% block index_title %}Index{% endblock %}
{% block open_the_index %}Ouvrir la table des matières{% endblock %}
{% block close_the_index %}Fermer la table des matières{% endblock %}

{% block and %}et{% endblock %}
{% block comma %}, {% endblock %}

{% block open %}Ouvrez{% endblock %}
{% block close %}Fermez{% endblock %}


{% macro figure_text(metadata, id) %}Figure {{ figure_id(metadata, id) }}.{% endmacro %}
{% macro show_description(metadata, id) %}Afficher la description de la figure {{ figure_id(metadata, id) }}{% endmacro %}
{% macro hide_description(metadata, id) %}Masquer la description de la figure  {{ figure_id(metadata, id) }}{% endmacro %}

{% block written_by_before %}Écrit par{% endblock %}
{% block reviewed_by_before %}Relu par{% endblock %}
{% block translated_by_before %}Traduit par{% endblock %}
{% block analysis_by_before %}Analysé par{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}

{% block author %}Auteur·ice{% endblock %}
{% block authors %}Auteur·ice·s{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} sur Twitter{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} sur GitHub{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} sur LinkedIn{% endmacro %}
{% macro website(authorName) %}site web de {{authorName}}{% endmacro %}

{% macro edition(year) %}Édition {{ year }}{% endmacro %}

{% block footer_title %}Navigation dans le pied de page{% endblock %}
{% block copyright %}© Web Almanac. Sous licence <a href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}Déclaration d’accessibilité{% endblock %}

{% block featured_chapter %}Focus sur le chapitre…{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}Lire le chapitre&nbsp;: <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}
{% endif %}

{% block contributors_description %}
Le Web Almanac a été rendu possible grâce au travail acharné de la communauté Web. {{ self.contributors() }} personnes ont consacré bénévolement d’innombrables heures à le planifier, faire des recherches, le rédiger et le mettre à votre disposition.
{% endblock %}
{% block contributors_link %}Voir les contributeurs et contributrices{% endblock %}

{% block methodology_stat_1_title %}Sites Web testés{% endblock %}
{% block methodology_stat_1 %}5,8&nbsp;M{% endblock %}
{% block methodology_stat_2_title %}Données traitées{% endblock %}
{% block methodology_stat_2 %}20,9&nbsp;TB{% endblock %}
{% block methodology_description %}
Sauf indication contraire, les statistiques des 20 chapitres du Web Almanac proviennent du jeu de données HTTP Archive, un projet communautaire qui suit l’évolution de la construction du web depuis 2010. Grâce à WebPageTest et Lighthouse, HTTP Archive collecte chaque mois les métadonnées de près de 6 millions de sites Web et les insère dans une base de données publique BigQuery pour les analyser. Le jeu de données de juillet 2019 a servi de base aux mesures du Web Almanac. Pour plus d’informations, consultez la page Méthodologie.
{% endblock %}
{% block methodology_link %}En savoir plus sur la Méthodologie{% endblock %}

{% block introduction %}Introduction{% endblock %}

{% block foreword_title %}Avant-propos{% endblock %}

{% block foreword %}
    <p>
      Le Web ouvert est un réseau de technologies étonnamment complexe et évolutif. Des industries et des carrières entières sont bâties sur le Web et dépendent de son écosystème dynamique pour réussir. Aussi crucial que soit le Web, il a été étonnamment difficile de comprendre comment il fonctionne. Depuis 2010, la mission du projet HTTP Archive est de suivre comment le web est construit, et un travail incroyable a été accompli dans ce domaine. Cependant, une lacune s’est révélée particulièrement difficile à combler : donner un sens aux données que le projet HTTP Archive a collectées et permettre à la communauté de comprendre facilement les performances du Web. C’est là qu’intervient le Web Almanac.
    </p>

    <p>
      La mission du Web Almanac est de regrouper les trésors d’informations qui, autrement, ne seraient accessibles qu’aux intrépides explorateurs de données, de manière à ce qu’elles soient faciles à comprendre. Nous y sommes parvenu·e·s avec l’aide d’expert·e·s de l’industrie qui comprennent les données et nous informent sur ce qu’elles signifient. Chacun des 20 chapitres du Web Almanac se concentre sur un aspect spécifique du Web, et chacun d’entre eux a été rédigé et révisé par des expert·e·s dans leur domaine. La force du Web Almanac découle directement de l’expertise des personnes qui l’écrivent.
    </p>

    <p>
      Un grand nombre de résultats du Web Almanac méritent d’être salués, mais c’est aussi un rappel important du travail qu’il reste à faire pour offrir une expérience utilisateur de grande qualité. Les analyses fondées sur les données présentées dans chaque chapitre sont une forme de responsabilisation que nous partageons tous et toutes pour développer un meilleur Web. Il ne s’agit pas de faire honte à celles et ceux qui se trompent, mais de mettre en lumière le chemin menant aux bonnes pratiques pour qu’il y ait une façon claire et juste de faire les choses. Avec l’aide continue de la communauté Web, nous espérons en faire une tradition annuelle, de sorte que chaque année, nous puissions suivre nos progrès et faire des ajustements de cap si nécessaire.
    </p>

    <p>
      Il y a tant à apprendre dans ce rapport&nbsp; Nous vous invitons à l’explorer dès à présent et à partager vos découvertes avec la communauté afin que nous puissions collectivement améliorer notre compréhension de l’état du Web.
    </p>

    <p>— <em><a href="{{ url_for('contributors', year=year, lang=lang, _anchor='rviscomi') }}">Rick Viscomi</a>, créateur du Web Almanac</em></p>
{% endblock %}

{% block coming_soon %}Bientôt disponible&nbsp;!{% endblock %}

{% block appendix %}Annexe{% endblock %}
{% block appendices %}Annexes{% endblock %}

{% block ebook_title %}Ebook{% endblock %}
{% block ebook_download %}Download the entire {{ year }} Web Almanac in PDF format ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download_note %}(generated with <a href="https://www.princexml.com/">www.princexml.com</a>){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. Contenu des pages",
    "II. User Experience": "II. Expérience Utilisateur·ice",
    "III. Content Publishing": "III. Publication de contenu",
    "IV. Content Distribution": "IV. Diffusion du contenu"
  }
%}
{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "markup": "Balisage Web",
    "media": "Média",
    "third-parties": "Tierces Parties",
    "fonts": "Polices d’écriture",
    "performance": "Performance",
    "security": "Sécurité",
    "accessibility": "Accessibilité",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "Web Mobile",
    "ecommerce": "E-commerce",
    "cms": "CMS",
    "compression": "Compression",
    "caching": "Mise en cache",
    "cdn": "CDN",
    "page-weight": "Poids des pages",
    "resource-hints": "Indices de Ressources",
    "http2": "HTTP/2",
    "privacy": "Vie Privée",
    "capabilities": "Capacités",
    "jamstack": "Jamstack"
  }
%}

{% set localizedTeamNames = {
  "analysts": "Analyse",
  "authors": "Rédaction",
  "brainstormers": "Réflexion",
  "designers": "Design",
  "developers": "Développement",
  "editors": "Édition",
  "leads": "Gestion de projet",
  "reviewers": "Relecture",
  "translators": "Traduction",
  }
%}
