{% extends "base/2019/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | {{ year }} | Le Web Almanac par HTTP Archive{% endblock %}

{% block description %}{{ metadata.get('description','Chapitre' + metadata.get('title') + ' du Web Almanac'+ year + " explorant l’utilisation des " + metadata.get('description',metadata.get('title')) + ' sur le web.') }}{% endblock %}

{% block twitter_image_alt %}Image du chapitre {{ metadata.get('title') }} du Web Almanac {{ year }}{% endblock %}

{% block unedited %}[non corrigé]{% endblock %}

{% block prev_next_title %}Navigation vers les chapitres précédent et suivant{% endblock %}

{% block discuss_this_chapter %}Discuter de ce chapitre{% endblock %}
{% block comment %}commentaire{% endblock %}
{% block comments %}commentaires{% endblock %}
{% block comments_fallback %}Commentaires{% endblock %}
{% block queries %}Afficher les requêtes{% endblock %}
{% block results %}Voir les résultats{% endblock %}

{% block previous %}Chapitre précédent (appuyez sur 'p' ou ','){% endblock %}
{% block next %}Chapitre suivant (appuyez sur 'n' or '.'){% endblock %}
