{% extends "base/2019/contributors.html" %}

{% block title %}Contributeurs et contributrices {{ year }} | Web Almanac par HTTP Archive{% endblock %}

{% block description %}Les {{ config.contributors.items() | length }} personnes ayant contribué au Web Almanac 2019 par leurs analyses, leurs écrits, leurs réflexions, leurs participations au design, leur code, leurs éditions, leurs relectures, ou leurs traductions.{% endblock %}

{% block twitterImageAlt %}Méthodologie du Web Almanac {{ year }}{% endblock %}

{% block datePublished %}2019-11-04T12:00:00+00:00:00{% endblock %}
{% block dateModified %}2019-11-04T12:00:00+00:00:00{% endblock %}

{% block breadcrumbName2 %}{{ year }} Contributeurs et contributrices{% endblock %}

{% block filterByTeam %}Filtrer par équipe&nbsp;:{% endblock %}

{% block joinTheTeamTitle %}Rejoignez les équipe Web Almanac{% endblock %}
{% block joinTheTeamText %}Rejoignez les équipe!{% endblock %}
