{% extends "base/error.html" %}


{% block unknown_error %}Erreur inconnue{% endblock %}

{% 
  set localizedStatusCode = {
    400: "Mauvaise Demande",
    404: "Page Non Trouvée",
    500: "Erreur Interne du Serveur",
    502: "Erreur de Serveur Temporaire"
  }
%}
{% macro expandedTitle(errorTitle) %}Erreur&nbsp;: {{ errorTitle }}{% endmacro %}
{%
  set localizedErrorMessage = {
    "Unsupported year requested": "Année non prise en charge demandée",
    "Unsupported chapter requested": "Chapitre non pris en charge demandé",
    "Unsupported language requested": "Langue non prise en charge demandée",
    "Not Found": "L'URL demandée est introuvable sur le serveur. Si vous avez entré l'URL manuellement, vérifiez l'orthographe et réessayez."
  }
%}

{% macro expandedErrorMessage(errorCode, errorDescription, errorMessage) %}
{{ errorCode }} <i lang="en">{{ errorDescription }}</i>&nbsp;: {{ errorMessage }}
{% endmacro %}
