{% extends "base/2019/table_of_contents.html" %}

{% block title %}Table des matières | Web Almanac 2019{% endblock %}

{% block description %}Table des matières du Web Almanac 2019, listant chaque section : Contenu des pages, Expérience utilisateur, Publication du contenu, Diffusion du contenu.{% endblock %}

{% block twitter_image_alt %}Méthodologie du Web Almanac {{ year }}{% endblock %}

{% block date_published %}2019-11-04T12:00:00.000Z{% endblock %}
{% block date_modified %}2020-02-01T00:00:00.000Z{% endblock %}

{% block breadcrumb_name_2 %}{{ year }} Table des matières{% endblock %}
