{% extends "base/2019/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | 2019 | HTTP ArchiveによるWeb年鑑{% endblock %}

{% block description %}{{ metadata.get('description',metadata.get('title') + ' chapter of the ' + year + ' Web Almanac probing into the use of ' + metadata.get('description',metadata.get('title')) + ' on the web.') }}{% endblock %}

{% block twitter_image_alt %}Chapter image for the {{ metadata.get('title') }} chapter of the {{ year }} Web Almanac{% endblock %}

{% block breadcrumb_name_2 %}{{ metadata.get('title') }}{% endblock %}

{% block unedited %}[未編集]{% endblock %}

{% block prev_next_title %}Previous and next chapter navigation{% endblock %}

{% block discuss_this_chapter %}この章について話し合う{% endblock %}
{% block comment %}コメント{% endblock %}
{% block comments %}コメント{% endblock %}
{% block queries %}クエリを表示{% endblock %}
{% block results %}結果を表示{% endblock %}
{% block written_by %}によって書かれた{% endblock %}
{% block reviewed_by %}によってレビュー{% endblock %}
{% block translated_by %}によって翻訳された{% endblock %}

{% block author %}著者{% endblock %}
{% block authors %}著者{% endblock %}

{% block previous %}前の章（ 'p'または ','を押す）{% endblock %}
{% block next %}次の章（ 'n'または '.'を押す）{% endblock %}
