{%- set featured_chapter = ("http2","http2") | random %}
{#
  Below is the full set of chapters. If all are translated then replace above line with this one.
  Other than add chapters to above first line as they are translated (min of two chapters so repeat if only one chapter)
  {%- set featured_chapter = ("accessibility","caching","cdn","cms","compression","css","ecommerce","fonts","http2","javascript","markup","media","mobile-web","page-weight","performance","pwa","resource-hints","security","seo","third-parties") | random %}
#}
{%- if featured_chapter == "javascript" %}
  {%- set featured_chapter_name = "JavaScript" %}
  {%- set featured_chapter_quote = "JavaScript is the most costly resource we send to browsers; having to be downloaded, parsed, compiled, and finally executed. Although browsers have significantly decreased the time it takes to parse and compile scripts, download and execution have become the most expensive stages when JavaScript is processed by a web page." %}
  {%- set featured_chapter_stats = {"stat1":"89%","label1":"Sites with more 3P code that 1P","stat2":"83%","label2":"Sites that use jQuery","stat3":"4.6%","label3":"Home pages using React"} %}
{%- elif featured_chapter == "css" %}
  {%- set featured_chapter_name = "CSS" %}
  {%- set featured_chapter_quote = "Cascading Style Sheets (CSS) は、Web ページのペイント、フォーマット、レイアウトに使用されます。その機能は、テキストの色から3Dパースペクティブと、シンプルな概念にまで及びます。また、さまざまな画面サイズ、表示コンテキスト、および印刷を処理するために開発者に力を与えるフックを持っています。CSS は、開発者がコンテンツを調整し、ユーザーに適切に適応することを確認するのに役立ちます。" %}
  {%- set featured_chapter_stats = {"統計1":"5%","ラベル1":"Pages using custom properties","統計2":"2%","ラベル2":CSS Gridを使用しているサイト"","統計3":"780","ラベル3":"Z-Indexの最大値の桁数"} %}
{%- elif featured_chapter == "markup" %}
  {%- set featured_chapter_name = "マークアップ" %}
  {%- set featured_chapter_quote = "2019年7月現在、HTTP Archiveは、約440万件のデスクトップホームページと約530万件のモバイルホームページについて、DOM内で使用されているすべての<em>要素</em>名の収集を開始しており、これにより調査と解剖を開始することができるようになりました。このクロールでは、これらのページで5,000以上の明確な<em>非標準要素名</em>に遭遇したので、私たちがカウントしている要素の合計の明確な数を「トップ」の5,048に制限しました。" %}
  {%- set featured_chapter_stats = {"統計1":"11","ラベル1":"90%以上のページで使用されている要素","統計2":"15%","ラベル2":"非推奨の要素を含むページ","統計3":"65","ラベル3":"カルーセルのバリエーションが見つかりました"} %}
{%- elif featured_chapter == "media" %}
  {%- set featured_chapter_name = "Media" %}
  {%- set featured_chapter_quote = "Images, animations, and videos are an important part of the web experience. They are important for many reasons: they help tell stories, engage audiences, and provide artistic expression in ways that often cannot be easily produced with other web technologies. The importance of these media resources can be demonstrated in two ways: by the sheer volume of bytes required to download for a page, and also the volume of pixels painted with media." %}
  {%- set featured_chapter_stats = {"stat1":"1 MB","label1":"Median size of home pages","stat2":"60%","label2":"JPEG use amongst images","stat3":"2%","label3":"Use of <code>&lt;picture&gt;</code> element"} %}
{%- elif featured_chapter == "third-parties" %}
  {%- set featured_chapter_name = "サードパーティ" %}
  {%- set featured_chapter_quote = "オープンウェブは広大で、リンク可能で、相互運用可能な設計になっています。他の誰かの複雑なライブラリを取得し、単一の <code>&lt;link&gt;</code> または <code>&lt;script&gt;</code> 要素を使用して自分のサイトで使用する能力は、開発者の生産性を高め、素晴らしい新しいウェブ体験を可能にしました。本章では、2019年のWebにおけるサードパーティコードの普及と影響、サードパーティソリューションの人気につながるWebの利用パターン、Webのパフォーマンスとプライバシーの将来に対する潜在的な影響を検証します。" %}
  {%- set featured_chapter_stats = {"統計1":"93%","ラベル1":"サードパーティを含むページ","統計2":"49%","ラベル2":"サードパーティのリクエスト","統計3":"28%","ラベル3":"サードパーティのバイト数"} %}
{%- elif featured_chapter == "fonts" %}
  {%- set featured_chapter_name = "Fonts" %}
  {%- set featured_chapter_quote = "Web fonts enable beautiful and functional typography on the web. Using web fonts not only empowers design, but it democratizes a subset of design, as it allows easier access to those who might not have particularly strong design skills. However, for all the good they can do, web fonts can also do great harm to your site's performance if they are not loaded properly." %}
  {%- set featured_chapter_stats = {"stat1":"74.9%","label1":"3P Font Requests that use Google Fonts","stat2":"29%","label2":"Percent of pages that include a Google Fonts stylesheet link","stat3":"718","label3":"Most font requests on a single page"} %}
{%- elif featured_chapter == "performance" %}
  {%- set featured_chapter_name = "パフォーマンス" %}
  {%- set featured_chapter_quote = "パフォーマンスはユーザー体験の内臓的な部分です。多くのウェブサイトでは、ページの読み込み時間を高速化してユーザー体験を向上させることは、コンバージョン率の向上につながります。逆に、パフォーマンスが悪いと、ユーザーは頻繁にコンバージョンしないし、不満でページを激怒してクリックしてしまうことさえ観察されています。" %}
  {%- set featured_chapter_stats = {"統計1":"13%","ラベル1":"Sites with fast FCP","統計2":"42%","ラベル2":"Sites with slow TTFB","統計3":"40%","ラベル3":"FIDが速いサイト"} %}
{%- elif featured_chapter == "security" %}
  {%- set featured_chapter_name = "セキュリティ" %}
  {%- set featured_chapter_quote = "Webの機能が向上し、より多くの機密データへのアクセスが可能になるにつれ、開発者が自社のアプリケーションを保護するためにWebセキュリティ機能を採用することがますます重要になってきています。この章で紹介するセキュリティ機能は、Webプラットフォーム自体に組み込まれた防御機能であり、すべてのWeb制作者が利用できます。" %}
  {%- set featured_chapter_stats = {"統計1":"79%","ラベル1":"HTTPSを使用しているサイト","統計2":"41%","ラベル2":"TLSv1.3を使用しているサイト","統計3":"4.43%","ラベル3":"CSPを使用しているサイト"} %}
{%- elif featured_chapter == "accessibility" %}
  {%- set featured_chapter_name = "アクセンシビリティ" %}
  {%- set featured_chapter_quote = "ウェブ上のアクセシビリティは、包括的で公平な社会にとって不可欠です。私たちの社会生活や仕事の多くがオンラインの世界に移行するにつれ、障害を持つ人々が障害なくすべてのオンライン上の交流に参加できることがさらに重要になってきています。建築家が車椅子用スロープなどのアクセシビリティ機能を作成したり省略したりできるように、ウェブ開発者はユーザーが利用する支援技術を支援したり、妨げたりすることができます。" %}
  {%- set featured_chapter_stats = {"統計1":"22%","ラベル1":"十分なカラーコントラストを使用しているサイト","統計2":"50%","ラベル2":"画像のalt属性がないサイト","統計3":"14%","ラベル3":"スキップリンクを使用しているサイト"} %}
{%- elif featured_chapter == "seo" %}
  {%- set featured_chapter_name = "SEO" %}
  {%- set featured_chapter_quote = "検索エンジン最適化（SEO）は、デジタルマーケッターの趣味やサイドプロジェクトではなく、ウェブサイトの成功に欠かせないものです。SEOの主な目標は、ウェブサイトが検索エンジンのボットに最適化されていることを確認し、ページをクロールしてインデックスを作成し、ウェブサイトをナビゲートしてコンテンツを消費するユーザーのために最適化することです。SEOは、それを構築している開発者から、新しい潜在的な顧客にそれを促進する必要がありますデジタルマーケッターまで、ウェブサイト上で働くすべての人に影響を与えます。" %}
  {%- set featured_chapter_stats = {"統計1":"346","ラベル1":"中央値ページの単語数","統計2":"11%","ラベル2":"見出しタグのないページ","統計3":"15%","ラベル3":"リッチな結果の対象となるサイト"} %}
{%- elif featured_chapter == "pwa" %}
  {%- set featured_chapter_name = "PWA" %}
  {%- set featured_chapter_quote = "プログレッシブウェブアプリ（PWA）は、サービスワーカーAPIのようなプラットフォームプリミティブの上に構築された新しいクラスのウェブアプリケーションです。サービスワーカーは、アプリケーションがネットワークプロキシとして動作し、ウェブアプリの送信要求を傍受し、プログラム的な応答またはキャッシュされた応答で応答することで、ネットワークに依存しないロードをサポートすることを可能にします。" %}
  {%- set featured_chapter_stats = {"統計1":"0.44%","ラベル1":"サービスワーカーを登録しているサイト","統計2":"15%","ラベル2":"サービスワーカーを利用したページビュー","統計3":"57%","ラベル3":"<code>standalone</code> <code>display</code>プロパティを使用するPWA"} %}
{%- elif featured_chapter == "mobile-web" %}
  {%- set featured_chapter_name = "モバイルウェブ" %}
  {%- set featured_chapter_quote = "2007年以降、モバイルウェブは爆発的な成長を遂げました。そして13年後の現在、2019年7月のAkamaimPulseのデータによると、モバイルはすべての検索の59%を占め、ウェブトラフィックの58.7%を占めています。モバイルはもはや余計なものではなく、人々がウェブを体験する主要な手段となっています。モバイルの重要性を考えると、当社は訪問者にどのような体験を提供しているのでしょうか？どこが不足しているのか？それを探ってみましょう。" %}
  {%- set featured_chapter_stats = {"統計1":"65%","ラベル1":"ロード中に中または大きくシフトするサイト","統計2":"32%","ラベル2":"ズームを無効にしているサイト","統計3":"34%","ラベル3":"十分なサイズのタップターゲットを持つサイト"} %}
{%- elif featured_chapter == "ecommerce" %}
  {%- set featured_chapter_name = "Eコマース" %}
  {%- set featured_chapter_quote = "この調査では、ホームページの10%近くがeコマース・プラットフォーム上にあることが判明しました。<em>eコマースプラットフォーム</em> は、オンラインストアを作成して運営することを可能にするソフトウェア ソフトウェアまたはサービスのセットです。Shopifyなどの有料サービス、Magentoオープンソースなどのソフトウェアプラットフォーム、およびMagento Commerceなどのホスト型プラットフォームなどが含まれます。" %}
  {%- set featured_chapter_stats = {"統計1":"3.98%","ラベル1":"WooCommerceを使用してサイト最も人気のあるEコマースプラットフォーム","統計2":"116","ラベル2":"検出されたEコマースプラットフォームの数","統計3":"1,517 KB","ラベル3":"モバイルEコマースページあたりの画像バイト数の中央値。"} %}
{%- elif featured_chapter == "cms" %}
  {%- set featured_chapter_name = "CMS" %}
  {%- set featured_chapter_quote = "一般的にコンテンツ管理システム（CMS）とは、個人や組織がコンテンツを作成、管理、公開するためのシステムのことを指します。特にウェブコンテンツのためのCMSとは、オープンウェブを介して消費され、体験されるコンテンツを作成、管理、公開することを目的としたシステムのことです。各CMSは、コンテンツ管理機能の一部を実装しており、ユーザーがコンテンツを中心としたウェブサイトを簡単かつ効果的に構築するための仕組みを提供しています。" %}
  {%- set featured_chapter_stats = {"統計1":"40%","ラベル1":"CMSを利用したページ","統計2":"74%","ラベル2":"WordPressを利用したCMSサイト","統計3":"1,232 KB","ラベル3":"デスクトップCMSページごとに読み込まれる画像KBの中央値。"} %}
{%- elif featured_chapter == "compression" %}
  {%- set featured_chapter_name = "圧縮" %}
  {%- set featured_chapter_quote = "JavaScriptは、ブラウザに送信するリソースの中で最もコストのかかるもので、ダウンロード、解析、コンパイル、そして最終的に実行されます。ブラウザはスクリプトの解析とコンパイルにかかる時間を大幅に短縮しましたが、ダウンロードと実行は、JavaScriptがウェブページで処理される際に最もコストのかかる段階となっています。" %}
  {%- set featured_chapter_stats = {"統計1":"38%","ラベル1":"テキストベースの圧縮を使用したHTTPレスポンス","統計2":"80%","ラベル2":"gzip圧縮の使用","統計3":"56%","ラベル3":"圧縮を使用していないHTMLレスポンス"} %}
{%- elif featured_chapter == "caching" %}
  {%- set featured_chapter_name = "キャッシング" %}
  {%- set featured_chapter_quote = "キャッシングは、以前にダウンロードしたコンテンツの再利用を可能にする技術です。高価なネットワークリクエストを回避することでパフォーマンスに大きなメリットがあり、また、ウェブサイトのオリジンインフラストラクチャへのトラフィックを減らすことでアプリケーションの拡張性を高めることができます。古いことわざに「最速のリクエストは、作る必要のないものである」というものがありますが、キャッシングはリクエストをしなくても済むようにするための重要な方法の一つです。" %}
  {%- set featured_chapter_stats = {"統計1":"27%","ラベル1":"キャッシングヘッダを使用していないレスポンス","統計2":"39%","ラベル2":"<code>Vary</code>ヘッダーを使用したレスポンス","統計3":"82%","ラベル3":"キャッシングを最適化することで1Mbを節約できるサイト"} %}
{%- elif featured_chapter == "cdn" %}
  {%- set featured_chapter_name = "CDN" %}
  {%- set featured_chapter_quote = "コンテンツデリバリネットワークを使用する&quot;は、Webサイトの読み込みを高速化するためのSteve Soudersのオリジナルの推奨事項の1つです。Web年鑑のこの章では、スティーブの推奨事項がどれだけ広く採用されているか、サイトがどのようにコンテンツデリバリネットワーク(CDN)を使用しているか、そして使用している機能のいくつかを探っていきます。" %}
  {%- set featured_chapter_stats = {"統計1":"20%","ラベル1":"CDNが提供するホームページ","統計2":"9.61%","ラベル2":"最も人気のあるCDN（Cloudflare）が提供するホームページ","統計3":"30%","ラベル3":"Googleを利用したサードパーティCDNリクエスト"} %}
{%- elif featured_chapter == "page-weight" %}
  {%- set featured_chapter_name = "Page Weight" %}
  {%- set featured_chapter_quote = "なぜページサイズはもう重要ではないのかという共通の議論は、高速インターネットとスープアップされたデバイスのおかげで、私たちは一般の人々に大規模で複雑な（そして大規模に複雑な）ページを提供することができるということです。この仮定は、あなたが言った高速インターネットとスープアップデバイスへのアクセスを持っていないインターネットユーザーの広大な範囲を無視して大丈夫だとしている限り、うまく動作します。" %}
  {%- set featured_chapter_stats = {"統計1":"10%","ラベル1":"6MB以上のデータを送信しているサイト","統計2":"434 KB","ラベル2":"昨年のデスクトップサイズ中央値の増加","統計3":"69","ラベル3":"ホームページあたりのリクエストの中央値"} %}
{%- elif featured_chapter == "resource-hints" %}
  {%- set featured_chapter_name = "Resource Hints" %}
  {%- set featured_chapter_quote = "Resource hints provide <em>hints</em> to the browser about what resources will be needed soon. The action that the browser takes as a result of receiving this hint will vary depending on the type of resource hint; different resource hints kick off different actions. When used correctly, they can improve page performance by giving a head start to important anticipated actions." %}
  {%- set featured_chapter_stats = {"stat1":"29%","label1":"Sites using <code>dns-prefetch</code>","stat2":"88%","label2":"Resource hints using the <code>as</code> attribute.","stat3":"0.04%","label3":"Usage of priority hints"} %}
{%- elif featured_chapter == "http2" %}
  {%- set featured_chapter_name = "HTTP/2" %}
  {%- set featured_chapter_quote = "HTTP/2は、ほぼ20年ぶりになるWebのメイン送信プロトコルの初となるメジャーアップデートでした。それは多くの期待を持って到来し、欠点なしで無料のパフォーマンス向上を約束しました。それ以上に、HTTP/1.1が非効率なため強制されていたすべてのハックや回避策をやめることができました。デフォルトでパフォーマンスが向上するため、ドメインのバンドル、分割、インライン化、さらにはシャーディングなどはすべてHTTP/2の世界でアンチパターンになります。" %}
  {%- set featured_chapter_stats = {"stat1":"95%","label1":"HTTP/2を使用できるグローバルユーザーの割合。","stat2":"27.83%","label2":"準最適なHTTP/2優先順位付けによるモバイル要求の割合。","stat3":"8.38%","label3":"QUICをサポートするモバイルサイトの割合。"} %}
{%- endif %}
<section class="featured-chapter">
  <div class="featured-chapter-content">
    <h2 class="title title-center">Featured Chapter</h2>
    <h3>{{ featured_chapter_name }}</h3>
    <blockquote>
      {{ featured_chapter_quote|safe }}
    </blockquote>
    <div class="featured-chapter-content-data">
      {% if featured_chapter_stats.get('stat1') %}
      <div class="featured-chapter-content-data-item">
        <div>{{ featured_chapter_stats.get('stat1')|safe }}</div>
        <div>{{ featured_chapter_stats.get('label1')|safe }}</div>
      </div>
      {% endif %}
      {% if featured_chapter_stats.get('stat2') %}
      <div class="featured-chapter-content-data-item">
        <div>{{ featured_chapter_stats.get('stat2')|safe }}</div>
        <div>{{ featured_chapter_stats.get('label2')|safe }}</div>
      </div>
      {% endif %}
      {% if featured_chapter_stats.get('stat3') %}
      <div class="featured-chapter-content-data-item">
        <div>{{ featured_chapter_stats.get('stat3')|safe }}</div>
        <div>{{ featured_chapter_stats.get('label3')|safe }}</div>
      </div>
      {% endif %}
    </div>
    <a href="{{ url_for('chapter', year=year, chapter=featured_chapter, lang=lang) }}" class="btn">
      Read the {{ featured_chapter_name }} Chapter
    </a>
  </div>
</section>
