{% extends "base/2019/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | 2019 | Web Almanac por HTTP Archive{% endblock %}

{% block description %}{{ metadata.get('description','Capítulo' + metadata.get('title') + ' del Web Almanac '+ year + " explorando el uso de " + metadata.get('description',metadata.get('title')) + ' en la web.') }}{% endblock %}

{% block twitter_image_alt %}Imagen del Capítulo {{ metadata.get('title') }} del Web Almanac {{ year }}{% endblock %}

{% block breadcrumb_name_2 %}{{ metadata.get('title') }}{% endblock %}

{% block unedited %}[no corregido]{% endblock %}

{% block prev_next_title %}Navegación a capítulos anteriores y siguientes.{% endblock %}

{% block discuss_this_chapter %}Comenta este capítulo{% endblock %}
{% block comment %}comentar{% endblock %}
{% block comments %}comentarios{% endblock %}
{% block queries %}Ver consultas{% endblock %}
{% block results %}Ver resultados{% endblock %}
{% block written_by_before %}Escrito por{% endblock %}
{% block reviewed_by_before %}Revisado por{% endblock %}
{% block translated_by_before %}Traducido por{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}

{% block author %}Autor(a){% endblock %}
{% block authors %}Autores{% endblock %}

{% block previous %}Capítulo anterior (presione 'p' o ','){% endblock %}
{% block next %}Capítulo siguiente (presione 'n' or '.'){% endblock %}
