{% extends "base/2019/error.html" %}

{% block home %}Página de inicio{% endblock %}

{% 
  set localizedErrorTitle = {
    400: "Error: Solicitud Incorrecta",
    404: "Error: Página no Encontrada",
    500: "Error de Servidor Interno",
    502: "Error Temporal del Servidor"
  }
%}
{%
  set localizedErrorDescription = {
    400: "<i lang=\"en\">Bad Request</i>",
    404: "<i lang=\"en\">Not Found</i>",
    500: "<i lang=\"en\">Internal Server Error</i>",
    502: "<i lang=\"en\">Temporary Server Error</i>"
  }
%}
{%
  set localizedErrorMessage = {
    "Unsupported year requested": "Año no Admitido Solicitado",
    "Unsupported chapter requested": "Capítulo no Admitido Solicitado",
    "Unsupported language requested": "Idioma no Admitido Solicitado",
    "Not Found": "La URL solicitada no se encontró en el servidor. Si ingresó la URL manualmente, verifique su ortografía e intente nuevamente."
  }
%}
