{% extends "base/2019/index.html" %}

{% block title %}Web Almanac {{ year }}{% endblock %}
{% block description %}Web Almanac es un estado anual de la web que combina las estadísticas y tendencias sin procesar del HTTP Archive con la experiencia de la comunidad web{% endblock %}

{% block twitter_image_alt %}Web Almanac {{ year }}{% endblock %}

{% block date_published %}2019-11-04T12:00:00.000Z{% endblock %}
{% block date_modified %}2020-02-01T00:00:00.000Z{% endblock %}

{% block breadcrumb_name_1 %}{{ year }} Home{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive informe del<br><b>estado de la web</b> anual{% endblock %}

{% block mission %}
Nuestra misión es combinar las estadísticas y tendencias sin procesar del HTTP Archive con la experiencia de la comunidad web. Web Almanac es un informe exhaustivo sobre el estado de la web, respaldado por datos reales y expertos web de confianza. Se compone de 20 capítulos que abarcan aspectos del contenido de la página, la experiencia del usuario, la publicación y la distribución.
{% endblock %}

{% block contributors_description %}
Web Almanac ha sido posible gracias al arduo trabajo de la comunidad web. {{ self.contributors() }} personas han ofrecido incontables horas en las fases de planificación, investigación, redacción y producción.
{% endblock %}
{% block contributors_link %}Ver los contribuidores{% endblock %}

{% block methodology_stat_1_title %}Sitios Web Analizados{% endblock %}
{% block methodology_stat_1 %}5,8M{% endblock %}
{% block methodology_stat_2_title %}Información Procesada{% endblock %}
{% block methodology_stat_2 %}20,9 TB{% endblock %}
{% block methodology_description %}
A menos que se indique lo contrario, las métricas en los 20 capítulos del Web Almanac provienen del conjunto de datos del HTTP Archive. HTTP Archive es un proyecto administrado por la comunidad que ha estado rastreando cómo se construye la web desde 2010. Utilizando WebPageTest y Lighthouse bajo el capó, se prueban metadatos de aproximadamente 6 millones de sitios web mensualmente y se incluyen en una base de datos pública de BigQuery para su análisis. El conjunto de datos de Julio de 2019 se utilizó como base para las métricas de Web Almanac. Para obtener más información, consulte la página de Metodología.
{% endblock %}
{% block methodology_link %}Conozca nuestra Metodología{% endblock %}
