{% extends "base/base_ebook.html" %}

{% block title %}De {{ year }} Web Almanac door HTTP Archive{% endblock %}

{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive's jaarlijkse<br><b>staat van het web</b> rapport{% endblock %}

{% block about_title %}Over De Web Almanac{% endblock %}

{% block description %}Ebook-versie van de {{ year }} Web Almanac{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %}De {{ year }} Web Almanac{% endblock %}
