{% extends "base/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | {{ year }} | De Web Almanac door HTTP Archive{% endblock %}
{% block citation_title %}De {{ year }} Web Almanac: {{ metadata.get('title') }}{% endblock %}
{% block citation_journal_title %}De {{ year }} Web Almanac{% endblock %}

{% block description %}{{ metadata.get('description',metadata.get('title') + ' hoofdstuk van de ' + year + ' Web Almanac waarin het gebruik van ' + metadata.get('description',metadata.get('title')) + ' op internet wordt onderzocht.') }}{% endblock %}

{% block twitter_image_alt %}Beeld voor het {{ metadata.get('title') }} hoofdstuk van de {{ year }} Web Almanac{% endblock %}

{% block prev_next_title %}Navigatie naar vorige en volgende hoofdstuk{% endblock %}

{% block explore_the_results %}Bekijk de resultaten{% endblock %}
{% block discuss_this_chapter %}Bespreek dit hoofdstuk{% endblock %}
{% block comment %}opmerking{% endblock %}
{% block comments %}opmerkingen{% endblock %}
{% block comments_fallback %}opmerkingen{% endblock %}
{% block queries %}Bekijk vragen{% endblock %}
{% block results %}Bekijk resultaten{% endblock %}
{% block suggest_edit %}Bewerking voorstellen{% endblock %}
{% block figure_sql %}Bekijk vraag{% endblock %}
{% block figure_data %}Bekijk gegevens{% endblock %}
{% block figure_image %}Bekijk beeld{% endblock %}

{% block previous %}Vorig hoofdstuk (druk op 'p' of ','){% endblock %}
{% block next %}Volgend hoofdstuk (druk op 'n' of '.'){% endblock %}
