{% extends "base//base.html" %}

{% block description %}Web Almanac — это ежегодный отчёт о состоянии веба на основе данных и тенденций, собранных HTTP Archive и с учётом мнения сообщества.{% endblock %}

{% block twitter_image_alt %}Web Almanac за {{ year }} год{% endblock %}

{% block skip_navigation %}Пропустить навигацию{% endblock %}

{% block organization %}Web Almanac от HTTP Archive{% endblock %}
{% block web_almanac_logo %}
  <span class="wa">Web Almanac</span>
  <span class="line-group">
    <span class="pre">От</span>
    <span class="ha">HTTP Archive</span>
  </span>
{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}Ежегодный отчёт<br>HTTP Archive<br>о <b>состоянии веба</b>{% endblock %}

{% block mission %}
<p>
Наша задача — объединить необработанные статистические данные и тенденции HTTP Archive вместе со знаниями веб-сообщества. Web Almanac — это всеобъемлющий отчёт о состоянии веба, подкреплённый реальными данными и подтверждённый авторитетными веб-экспертами. Издание {{ year }} года состоит из {{ supported_chapters | length }} {{ plural_ru(supported_chapters | length | int, ["главы", "глав", "глав"]) }}, охватывающих такие аспекты, как содержание страниц, пользовательские ощущения, публикация и распространение информации.
</p>
{% endblock %}

{% block read_last_years_almanac %}Прочитать отчёт Web Almanac за {{ previous_year }} год{% endblock %}

{% block http_archive_link %}Главная страница HTTP Archive{% endblock %}

{% block page_navigation %}Навигация по страницам{% endblock %}

{% block help_translate %}Помочь с переводом{% endblock %}
{% block translation_not_available %}На английском, нет перевода на русском{% endblock %}
{% block in_english %} (На английском){% endblock %}
{% block language_switcher %}Переключатель языка{% endblock %}
{% block year_switcher %}Переключатель года{% endblock %}
{% block table_of_contents_switcher %}Переключатель по содержимому{% endblock %}

{% block home %}Главная страница{% endblock %}
{% block table_of_contents_title %}Содержание{% endblock %}
{% block contributors_title %}Участники{% endblock %}
{% block methodology_title %}Методология{% endblock %}
{% block search_title %}Поиск{% endblock %}

{% block part %}Часть{% endblock %}
{% block chapter %}Глава{% endblock %}

{% block start_exploring %}Перейти к результатам{% endblock %}

{% block menu_title %}Меню страницы{% endblock %}
{% block open_the_menu %}Открыть меню{% endblock %}
{% block close_the_menu %}Закрыть меню{% endblock %}

{% block index_nav_title %}Глава содержания{% endblock %}
{% block index_title %}Указатель{% endblock %}
{% block open_the_index %}Открыть содержание{% endblock %}
{% block close_the_index %}Закрыть содержание{% endblock %}

{% block and %}и{% endblock %}
{% block comma %}, {% endblock %}
{% block oxford_comma %}{% endblock %}

{% block open %}Открыть{% endblock %}
{% block close %}Закрыть{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}График {{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}Показать описание графика {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}Скрыть описание графика {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}

{% block written_by_before %}Авторы:{% endblock %}
{% block reviewed_by_before %}Редакторы:{% endblock %}
{% block translated_by_before %}Переводчики:{% endblock %}
{% block analysis_by_before %}Аналитики:{% endblock %}
{% block edited_by_before %}Под редакцией:{% endblock %}
{% block reviewed_and_analyzed_by_before %}Редакторы и Аналитики:{% endblock %}
{% block analysis_and_editing_by_before %}Аналитики и Под редакцией:{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}
{% block edited_by_after %}{% endblock %}
{% block reviewed_and_analyzed_by_after %}{% endblock %}
{% block analysis_and_editing_by_after %}{% endblock %}

{% block date_published %}Дата публикации: {% endblock %}
{% block date_updated %}Дата обновления: {% endblock %}

{% block unedited %}[Неотредактированная версия]{% endblock %}

{% block author %}Автор{% endblock %}
{% block authors %}Авторы{% endblock %}

{% block reaction %}pеакция{% endblock %}
{% block reactions %}pеакции{% endblock %}
{% block reactionsTitle %}Реакции{% endblock %}
{% block reactionsAlt %}pеакций{% endblock %}
{% block source %}Посмотреть источник{% endblock %}
{% block share %}Поделиться{% endblock %}

{% block like %}лайк{% endblock %}
{% block repost %}репост{% endblock %}
{% block reply %}ответ{% endblock %}
{% block mention %}упоминание{% endblock %}
{% block likes %}лайков{% endblock %}
{% block reposts %}репостов{% endblock %}
{% block replies %}ответов{% endblock %}
{% block mentions %}упоминаний{% endblock %}
{% block likesAlt %}лайка{% endblock %}
{% block repostsAlt %}репоста{% endblock %}
{% block repliesAlt %}ответа{% endblock %}
{% block mentionsAlt %}упоминания{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} на Twitter/X{% endmacro %}
{% macro onMastodon(mastodonHandle) %}{{mastodonHandle}} on Mastodon{% endmacro %}
{% macro onBluesky(blueskyHandle) %}{{blueskyHandle}} on Bluesky{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} на GitHub{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} на LinkedIn{% endmacro %}
{% macro website(authorName) %}Сайт {{authorName}}{% endmacro %}

{% block citation %}Цитата{% endblock %}

{% macro edition(year) %}Издание от {{ year }} года{% endmacro %}

{% block footer_title %}Навигация по футеру{% endblock %}
{% block copyright %}© Web Almanac. Распространяется по лицензии <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}Информация о доступности{% endblock %}
{% block rss_feed %}RSS Feed{% endblock %}

{% block featured_chapter %}Лучшая глава{% endblock %}
{% block featured_chapter_last_year %}Лучшая глава<br>в Web Almanac из {{ previous_year }} года{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}Перейти к главе <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %}Перейти к главе <span class="featured-chapter-name">{{ chapter }}</span> от {{ previous_year }} года{% endmacro %}
{% endif %}

{% block contributors_description %}
Проект Web Almanac работает благодаря упорному труду веб-сообщества. {{ self.contributors() }} человек добровольно предложили свою помощь, посвятив бесчисленное количество часов планированию, исследованию, написанию и публикации контента Web Almanac {{ year }} года.
{% endblock %}
{% block contributors_link %}Посмотреть список всех участников{% endblock %}

{% block methodology_stat_1_title %}Количество проверенных сайтов{% endblock %}
{% block methodology_stat_2_title %}Размер обработанных данных{% endblock %}
{% block methodology_link %}Узнать подробнее про методологию{% endblock %}
{% block methodology_description %}
Если не указано иное, метрики во всех {{ supported_chapters | length }} {{ plural_ru(supported_chapters | length | int, ["глава", "главах", "главах"]) }} Web Almanac {{ year }} получены из набора данных HTTP Archive. HTTP Archive — это управляемый сообществом проект по исследованию веба с 2010 года. При помощи WebPageTest и Lighthouse ежемесячно проверяются метаданные {{ self.total_websites() }} сайтов, которые затем вносятся в общедоступную базу данных BigQuery для последующего анализа. В качестве основы для метрик Web Almanac {{ year }} был использован набор данных за {{ self.dataset() }} года. Дополнительную информацию смотрите на странице по методологии.
{% endblock %}

{% block introduction %}Введение{% endblock %}

{% block foreword_title %}Предисловие{% endblock %}

{% block coming_soon %}Уже скоро!{% endblock %}

{% block appendix %}Приложение{% endblock %}
{% block appendices %}Приложения{% endblock %}

{% block ebook_title %}Электронная книга{% endblock %}
{% block ebook_download_short %}Отчёт в формате PDF ({{ ebook_size_in_mb }} Мб){% endblock %}
{% block ebook_download %}Скачать полный отчёт Web Almanac за {{ year }} год в формате PDF ({{ ebook_size_in_mb }} Мб){% endblock %}
{% block ebook_download_note %}(сгенерировано с помощью <a href="https://www.princexml.com/">www.princexml.com</a>){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. Контент страницы",
    "II. User Experience": "II. Пользовательские ощущения",
    "III. Content Publishing": "III. Публикация контента",
    "IV. Content Distribution": "IV. Распространение контента"
  }
%}

{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "markup": "Разметка",
    "media": "Медиа",
    "third-parties": "Сторонний код",
    "fonts": "Шрифты",
    "performance": "Производительность",
    "security": "Безопасность",
    "accessibility": "Доступность",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "Мобильный веб",
    "ecommerce": "Электронная коммерция",
    "cms": "CMS",
    "compression": "Сжатие",
    "caching": "Кеширование",
    "cdn": "CDN",
    "page-weight": "Размер страницы",
    "resource-hints": "Ресурсные подсказки",
    "http": "HTTP",
    "privacy": "Приватность",
    "capabilities": "Возможности",
    "jamstack": "Jamstack",
    "webassembly": "WebAssembly",
    "structured-data": "Structured Data",
    "sustainability": "устойчивость",
    "interoperability": "Совместимость"
  }
%}
{% if (year == "2019" or year == "2020") %}
{% set _dummy = localizedChapterTitles.__setitem__("http", "HTTP/2") %}
{% endif %}

{% set localizedTeamNames = {
  "analysts": "Аналитики",
  "authors": "Авторы",
  "brainstormers": "Участники мозгового штурма",
  "designers": "Дизайнеры",
  "developers": "Разработчики",
  "editors": "Редакторы",
  "leads": "Руководители проекта",
  "reviewers": "Проверяющие",
  "translators": "Переводчики",
  }
%}

{% set localizedTeamRole = {
  "analysts": "Аналитик",
  "authors": "Автор",
  "brainstormers": "Участники мозгового штурма",
  "designers": "Дизайнер",
  "developers": "Разработчик",
  "editors": "Pедактор",
  "leads": "Руководители проекта",
  "reviewers": "Проверяющие",
  "translators": "Переводчик",
  }
%}
