{% extends "base//base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | {{ year }} | Web Almanac от HTTP Archive{% endblock %}

{% block description %}{{ 'Глава ' + metadata.get('description',metadata.get('title') + ' в Web Almanac за ' + year + ' год разбирает использование ' + metadata.get('description',metadata.get('title')) + ' в вебе.') }}{% endblock %}

{% block twitter_image_alt %}Изображение для главы {{ metadata.get('title') }} в Web Almanac за {{ year }} год{% endblock %}

{% block unedited %}[Неотредактированная версия]{% endblock %}

{% block prev_next_title %}Навигация по предыдущей и следующей главах{% endblock %}

{% block explore_the_results %}Результаты{% endblock %}
{% block discuss_this_chapter %}Обсудить эту главу{% endblock %}
{% block comment %}комментария{% endblock %}
{% block comments %}комментариев{% endblock %}
{% block comments_fallback %}Комментарии{% endblock %}
{% block queries %}Посмотреть запросы{% endblock %}
{% block results %}Посмотреть результаты{% endblock %}

{% block previous %}Предыдущая глава (нажмите 'p' или ','){% endblock %}
{% block next %}Следующая глава (нажмите 'n' или '.'){% endblock %}
