{% extends "base/base.html" %}

{% block description %}The Web Almanac is an annual state of the web report combining the expertise of the web community with the data and trends of the HTTP Archive.{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}

{% block skip_navigation %}Skip navigation{% endblock %}

{% block organization %}Web Almanac by HTTP Archive{% endblock %}
{% block web_almanac_logo %}
  <span class="wa">Web Almanac</span>
  <span class="line-group">
    <span class="pre">By</span>
    <span class="ha">HTTP Archive</span>
  </span>
{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive&#8217;s annual<br> <b>state of the web</b> report{% endblock %}

{% block mission %}
<p>
Our mission is to combine the raw stats and trends of the HTTP Archive with the expertise of the web community. The Web Almanac is a comprehensive report on the state of the web, backed by real data and trusted web experts. The {{ year }} edition is comprised of {{ supported_chapters | length }} chapters spanning aspects of page content, user experience, publishing, and distribution.
</p>
{% endblock %}

{% block read_last_years_almanac %}Read the {{ year | int - 1 }} Web Almanac{% endblock %}

{% block http_archive_link %}HTTP Archive home{% endblock %}

{% block page_navigation %}Page navigation{% endblock %}

{% block help_translate %}Help translate{% endblock %}
{% block translation_not_available %}English - not available in English{% endblock %}
{% block in_english %} (in English){% endblock %}
{% block language_switcher %}Language Switcher{% endblock %}
{% block year_switcher %}Year Switcher{% endblock %}
{% block table_of_contents_switcher %}Table of Contents Switcher{% endblock %}

{% block home %}Home{% endblock %}
{% block table_of_contents_title %}Table of Contents{% endblock %}
{% block contributors_title %}Contributors{% endblock %}
{% block methodology_title %}Methodology{% endblock %}
{% block search_title %}Search{% endblock %}

{% block part %}Part{% endblock %}
{% block chapter %}Chapter{% endblock %}

{% block start_exploring %}Start exploring{% endblock %}

{% block menu_title %}Page menu{% endblock %}
{% block open_the_menu %}Open the menu{% endblock %}
{% block close_the_menu %}Close the menu{% endblock %}

{% block index_nav_title %}Chapter table of contents{% endblock %}
{% block index_title %}Index{% endblock %}
{% block open_the_index %}Open the Table of Contents{% endblock %}
{% block close_the_index %}Close the Table of Contents{% endblock %}

{% block and %}and{% endblock %}
{% block comma %}, {% endblock %}
{% block oxford_comma %}, {% endblock %}

{% block open %}Open{% endblock %}
{% block close %}Close{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}Figure {{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}Show description of Figure {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}Hide description of Figure {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}

{% block written_by_before %}Written by{% endblock %}
{% block reviewed_by_before %}Reviewed by{% endblock %}
{% block translated_by_before %}Translated by{% endblock %}
{% block analysis_by_before %}Analyzed by{% endblock %}
{% block edited_by_before %}Edited by{% endblock %}
{% block reviewed_and_analyzed_by_before %}Reviewed and analyzed by{% endblock %}
{% block analysis_and_editing_by_before %}Analyzed and edited by{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}
{% block edited_by_after %}{% endblock %}
{% block reviewed_and_analyzed_by_after %}{% endblock %}
{% block analysis_and_editing_by_after %}{% endblock %}

{% block unedited %}[Unedited]{% endblock %}

{% block author %}Author{% endblock %}
{% block authors %}Authors{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} on Twitter{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} on GitHub{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} on LinkedIn{% endmacro %}
{% macro website(authorName) %}{{authorName}} website{% endmacro %}

{% macro edition(year) %}{{ year }} Edition{% endmacro %}

{% block footer_title %}Footer navigation{% endblock %}
{% block copyright %}© Web Almanac. Licensed under <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}Accessibility Statement{% endblock %}

{% block featured_chapter %}Featured Chapter{% endblock %}
{% block featured_chapter_last_year %}Featured Chapter<br/>from the {{ year|int -1 }} Web Almanac{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}Read the <span class="featured-chapter-name">{{ chapter }}</span> Chapter{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %}Read the {{ year|int-1 }} <span class="featured-chapter-name">{{ chapter }}</span> Chapter{% endmacro %}
{% endif %}

{% block contributors_description %}
The Web Almanac has been made possible by the hard work of the web community. {{ self.contributors() }} people have volunteered countless hours in the planning, research, writing and production phases of the {{ year }} Web Almanac.
{% endblock %}
{% block contributors_link %}See the contributors{% endblock %}

{% block methodology_stat_1_title %}Websites Tested{% endblock %}
{% block methodology_stat_2_title %}Data Processed{% endblock %}
{% block methodology_link %}Learn about our Methodology{% endblock %}
{% block methodology_description %}
Unless otherwise noted, the metrics in all of the {{ supported_chapters | length }} chapters of the {{ year }} Web Almanac are sourced from the HTTP Archive dataset. HTTP Archive is a community-run project that has been tracking how the web is built since 2010. Using WebPageTest and Lighthouse under the hood, metadata about {{ self.total_websites() }} websites are tested monthly and included in a public BigQuery database for analysis. The {{ self.dataset() }} dataset was used as the basis for the {{ year }} Web Almanac&#8217;s metrics. For more information, see the Methodology page.
{% endblock %}

{% block introduction %}Introduction{% endblock %}

{% block foreword_title %}Foreword{% endblock %}

{% block coming_soon %}Coming soon!{% endblock %}

{% block appendix %}Appendix{% endblock %}
{% block appendices %}Appendices{% endblock %}

{% block ebook_title %}Ebook{% endblock %}
{% block ebook_download_short %}Ebook PDF ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download %}Download the entire {{ year }} Web Almanac in PDF format ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download_note %}(generated with <a href="https://www.princexml.com/">www.princexml.com</a>){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. Page Content",
    "II. User Experience": "II. User Experience",
    "III. Content Publishing": "III. Content Publishing",
    "IV. Content Distribution": "IV. Content Distribution"
  }
%}
{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "markup": "Markup",
    "media": "Media",
    "third-parties": "Third Parties",
    "fonts": "Fonts",
    "performance": "Performance",
    "security": "Security",
    "accessibility": "Accessibility",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "Mobile Web",
    "ecommerce": "Ecommerce",
    "cms": "CMS",
    "compression": "Compression",
    "caching": "Caching",
    "cdn": "CDN",
    "page-weight": "Page Weight",
    "resource-hints": "Resource Hints",
    "http2": "HTTP/2",
    "privacy": "Privacy",
    "capabilities": "Capabilities",
    "jamstack": "Jamstack"
  }
%}

{% set localizedTeamNames = {
  "analysts": "Analysts",
  "authors": "Authors",
  "brainstormers": "Brainstormers",
  "designers": "Designers",
  "developers": "Developers",
  "editors": "Editors",
  "leads": "Project Leads",
  "reviewers": "Reviewers",
  "translators": "Translators",
  }
%}
