{% extends "base/2019/index.html" %}

{% block title %} {{ year }} Web Almanac{% endblock %}
{% block description %}Web Almanac 網路年鑑是網路狀態的年度報告，其集結網路社群的專業知識共同精萃HTTP Archive的數據與趨勢。{% endblock %}

{% block twitter_image_alt %} {{ year }} Web Almanac{% endblock %}

{% block date_published %}2019-11-04T12:00:00.000Z{% endblock %}
{% block date_modified %}2020-06-21T00:00:00.000Z{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive 網路年鑑是年度<br> <b>網路狀態的</b> 報告{% endblock %}
