{% extends "base/base.html" %}

{% block description %}Web Almanac - це щорічний звіт про стан вебу, який поєднує досвід веб-спільноти з даними і трендами від HTTP Archive.{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}

{% block skip_navigation %}Пропустити навігацію{% endblock %}

{% block organization %}Web Almanac від HTTP Archive{% endblock %}
{% block web_almanac_logo %}
  <span class="wa">Web Almanac</span>
  <span class="line-group">
    <span class="pre">від</span>
    <span class="ha">HTTP Archive</span>
  </span>
{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}Щорічний звіт HTTP&nbsp;Archive<br>про <b>стан вебу</b>{% endblock %}

{% block mission %}
<p>
Наша місія - поєднати суху статистику і тренди від HTTP Archive з досвідом веб-спільноти. Web Almanac - це всеосяжний звіт про стан вебу, підтриманий реальними даними та довіреними веб-експертами. Видання {{ year }} року складається з {{ supported_chapters | length }} {{ plural_ru(supported_chapters | length | int, ["розділу", "розділів", "розділів"]) }}, які охоплюють аспекти контенту сторінки, досвіду користування, публікації та розповсюдження.
</p>
{% endblock %}

{% block read_last_years_almanac %}Читати Web Almanac за {{ previous_year }} рік{% endblock %}

{% block http_archive_link %}HTTP Archive home{% endblock %}

{% block page_navigation %}Навігація сторінки{% endblock %}

{% block help_translate %}Допомогти з перекладом{% endblock %}
{% block translation_not_available %}англійською - переклад недоступний{% endblock %}
{% block in_english %} (англійською - переклад недоступний){% endblock %}
{% block language_switcher %}Змінити мову{% endblock %}
{% block year_switcher %}Змінити рік{% endblock %}
{% block table_of_contents_switcher %}Переключити зміст{% endblock %}

{% block home %}Головна{% endblock %}
{% block table_of_contents_title %}Зміст{% endblock %}
{% block contributors_title %}Контриб'ютори{% endblock %}
{% block methodology_title %}Методологія{% endblock %}
{% block search_title %}Пошук{% endblock %}

{% block part %}Частина{% endblock %}
{% block chapter %}Розділ{% endblock %}

{% block start_exploring %}Ознайомитися{% endblock %}

{% block menu_title %}Меню сторінки{% endblock %}
{% block open_the_menu %}Відкрити меню{% endblock %}
{% block close_the_menu %}Закрити меню{% endblock %}

{% block index_nav_title %}Розділ змісту{% endblock %}
{% block index_title %}Показчик{% endblock %}
{% block open_the_index %}Відкрити зміст{% endblock %}
{% block close_the_index %}Закрити зміст{% endblock %}

{% block and %}і{% endblock %}
{% block comma %}, {% endblock %}
{% block oxford_comma %}{% endblock %}

{% block open %}Відкрити{% endblock %}
{% block close %}Закрити{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}Рис. {{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}Показати пояснення до рис. {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}Сховати пояснення до рис. {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}

{% block written_by_before %}Автори: {% endblock %}
{% block reviewed_by_before %}Рецензенти: {% endblock %}
{% block translated_by_before %}Перекладачі: {% endblock %}
{% block analysis_by_before %}Аналітики: {% endblock %}
{% block edited_by_before %}Редактори: {% endblock %}
{% block reviewed_and_analyzed_by_before %}Рецензенти і Аналітики: {% endblock %}
{% block analysis_and_editing_by_before %}Аналітики і Редактори: {% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}
{% block edited_by_after %}{% endblock %}
{% block reviewed_and_analyzed_by_after %}{% endblock %}
{% block analysis_and_editing_by_after %}{% endblock %}

{% block date_published %}Дата публікації: {% endblock %}
{% block date_updated %}Дата оновлення: {% endblock %}

{% block unedited %}[Очікує корегування]{% endblock %}

{% block author %}Автор{% endblock %}
{% block authors %}Автори{% endblock %}

{% block reaction %}pеакція{% endblock %}
{% block reactions %}pеакції{% endblock %}
{% block reactionsTitle %}Pеакції{% endblock %}
{% block reactionsAlt %}pеакцій{% endblock %}
{% block source %}Переглянути джерело{% endblock %}
{% block share %}поділитися{% endblock %}

{% block like %}лайк{% endblock %}
{% block repost %}репост{% endblock %}
{% block reply %}відповідь{% endblock %}
{% block mention %}згадка{% endblock %}
{% block likes %}лайків{% endblock %}
{% block reposts %}репостів{% endblock %}
{% block replies %}відповідей{% endblock %}
{% block mentions %}згадок{% endblock %}
{% block likesAlt %}лайки{% endblock %}
{% block repostsAlt %}репости{% endblock %}
{% block repliesAlt %}відповіді{% endblock %}
{% block mentionsAlt %}згадки{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} у Twitter/X{% endmacro %}
{% macro onMastodon(mastodonHandle) %}{{mastodonHandle}} у Mastodon{% endmacro %}
{% macro onBluesky(blueskyHandle) %}{{blueskyHandle}} у Bluesky{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} на GitHub{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} у LinkedIn{% endmacro %}
{% macro website(authorName) %}вебсайт {{authorName}}{% endmacro %}

{% block citation %}Цитування{% endblock %}

{% macro edition(year) %}Видання {{ year }} року{% endmacro %}

{% block footer_title %}Підвальна навігація{% endblock %}
{% block copyright %}© Web Almanac. Ліцензія <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a>.{% endblock %}
{% block accessibility_statement %}Заява про доступність{% endblock %}
{% block rss_feed %}RSS Feed{% endblock %}

{% block featured_chapter %}Рекомендований розділ{% endblock %}
{% block featured_chapter_last_year %}Рекомендований розділ<br>з Web Almanac {{ previous_year }}{% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}Читати розділ <span class="featured-chapter-name">{{ chapter }}</span>{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %}Читати розділ <span class="featured-chapter-name">{{ chapter }}</span> {{ previous_year }} року{% endmacro %}
{% endif %}

{% block contributors_description %}
Створення Web Almanac стало можливим завдяки важкій роботі веб-спільноти. {{ self.contributors() }} надзвичайних людей вклали безліч години у планування, дослідження, написання та продакшен Web Almanac {{ year }}.
{% endblock %}
{% block contributors_link %}Переглянути список контриб'юторів{% endblock %}

{% block methodology_stat_1_title %}Протестовано сайтів{% endblock %}
{% block methodology_stat_2_title %}Оброблено даних{% endblock %}
{% block methodology_link %}Дізнатися про нашу Методологію{% endblock %}
{% block methodology_description %}
Якщо не вказано інше, метрики в усіх {{ supported_chapters | length }} {{ plural_ru(supported_chapters | length | int, ["розділі", "розділах", "розділах"]) }} Web Almanac {{ year }} взяті з датасету HTTP Archive. HTTP Archive – це громадський проект, що відслідковує, як будується веб з 2010 року. Метадата про {{ self.total_websites() }} вебсайтів тестується щомісяця, використовуючи WebPageTest та Lighthouse, і додається до публічної бази даних BigQuery для аналізу. Для метрик Web Almanac {{ year }} був використаний як базис набір даних від {{ self.dataset() }} року. Більше інформації на сторінці Методологія.
{% endblock %}

{% block introduction %}Вступ{% endblock %}

{% block foreword_title %}Передмова{% endblock %}

{% block coming_soon %}Незабаром!{% endblock %}

{% block appendix %}Додаток{% endblock %}
{% block appendices %}Додатки{% endblock %}

{% block ebook_title %}Електронна книга{% endblock %}
{% block ebook_download_short %}Електронна книга у PDF ({{ ebook_size_in_mb }}МБ){% endblock %}
{% block ebook_download %}Завантажити весь Web Almanac {{ year }} у форматі PDF ({{ ebook_size_in_mb }}МБ){% endblock %}
{% block ebook_download_note %}(згенеровано <a href="https://www.princexml.com/">www.princexml.com</a>){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. Контент сторінки",
    "II. User Experience": "II. Досвід користування",
    "III. Content Publishing": "III. Публікація контенту",
    "IV. Content Distribution": "IV. Розповсюдження контенту"
  }
%}

{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "markup": "Розмітка",
    "media": "Медіа",
    "third-parties": "Сторонні ресурси",
    "fonts": "Шрифти",
    "performance": "Швидкодія",
    "security": "Безпека",
    "accessibility": "Доступність",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "Мобільний веб",
    "ecommerce": "Електронна комерція",
    "cms": "CMS",
    "compression": "Компресія",
    "caching": "Кешування",
    "cdn": "CDN",
    "page-weight": "Розмір сторінки",
    "resource-hints": "Підказки для ресурсів",
    "http": "HTTP",
    "privacy": "Приватність",
    "capabilities": "Можливості",
    "jamstack": "Jamstack",
    "webassembly": "WebAssembly",
    "structured-data": "Structured Data",
    "sustainability": "Стійкість",
    "interoperability": "Cумісність"
  }
%}
{% if (year == "2019" or year == "2020") %}
{% set _dummy = localizedChapterTitles.__setitem__("http", "HTTP/2") %}
{% endif %}

{% set localizedTeamNames = {
  "analysts": "Аналітики",
  "authors": "Автори",
  "brainstormers": "Творча група",
  "designers": "Дизайнери",
  "developers": "Розробники",
  "editors": "Редактори",
  "leads": "Керівники проєкту",
  "organizing-committee": "Оргкомітет",
  "reviewers": "Рецензенти",
  "translators": "Перекладачі"
  }
%}

{% set localizedTeamRole = {
  "analysts": "Аналітик",
  "authors": "Автор",
  "brainstormers": "Творча група",
  "designers": "Дизайнер",
  "developers": "Розробник",
  "editors": "Редактор",
  "leads": "Керівник проєкту",
  "organizing-committee": "Оргкомітет",
  "reviewers": "Рецензент",
  "translators": "Перекладач"
  }
%}
