.idea/
.vscode/
node_modules/
templates/*/*/chapters/
templates/*/*/featured_chapters.html
templates/*/*/ebook.html
templates/*/rss.xml
templates/sitemap.xml
static/html/
static/js/web-vitals.js
.coverage
