###########################
## Linter GitHub Actions ##
###########################
#
# Documentation: https://github.com/super-linter/super-linter/
#
# Exception config files are in the .github/linters directory
#
name: Lint Code Base
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Set VALIDATE_ALL_CODEBASE variable to false
        # Only run the full workflow for manual runs or if upgrading the super linter
        if: |
            github.event_name != 'workflow_dispatch' &&
            startsWith(github.event.pull_request.title,'Bump super-linter/super-linter') != true
        run: |
          echo "VALIDATE_ALL_CODEBASE=false" >> $GITHUB_ENV
      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_BASH: true
          VALIDATE_CSS: true
          VALIDATE_EDITORCONFIG: true
          VALIDATE_HTML: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_JSON: true
          VALIDATE_MARKDOWN: true
          VALIDATE_PYTHON_PYLINT: true
          VALIDATE_PYTHON_FLAKE8: true
          VALIDATE_SQLFLUFF: true
          VALIDATE_YAML: true

  dependabot:
    name: Dependabot auto-merge
    runs-on: ubuntu-latest
    needs: lint
    if: |
      github.event.pull_request.user.login == 'dependabot[bot]' &&
      github.repository == 'HTTPArchive/almanac.httparchive.org'

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Enable auto-merge for Dependabot PRs
        if: |
          (
            steps.metadata.outputs.update-type == 'version-update:semver-patch' ||
            steps.metadata.outputs.update-type == 'version-update:semver-minor'
          ) && (
            contains(steps.metadata.outputs.dependency-names, 'prettier') ||
            contains(steps.metadata.outputs.dependency-names, 'sqlfluff') ||
            contains(steps.metadata.outputs.dependency-names, 'super-linter')
          )
        run: gh pr merge --admin --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
