###########################
## Linter GitHub Actions ##
###########################
#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#
# For the Web Almanac we have the following rule changes from the defaults:
#  * Markdown - we're a bit more relaxed about this since authors may be less technical
#  * Python - Only change from default is to set ignored-modules=flask, flask-talisman...etc.
#  * CSS - Tweaked to ignore some Prince/Normalise exceptions and some whitespace exceptions
#  * JS - default rules
#  * JSON - default rules
#  * YML - default rules
# Exception config files are in the .github/linters directory
#
name: Lint Code Base
on:
  - workflow_dispatch
  - push
  - pull_request
jobs:
  lint:
    name: Lint Code Base
    # Skip duplicate job for local branches
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Lint Code Base
        uses: docker://github/super-linter:v3.3.0
        env:
          VALIDATE_ALL_CODEBASE: false	
          DEFAULT_BRANCH: main
          VALIDATE_YAML: true
          VALIDATE_JSON: true
          VALIDATE_PYTHON: true
          VALIDATE_JAVASCRIPT_ES: true	
          VALIDATE_CSS: true	
          VALIDATE_MD: true	
          VALIDATE_HTML: true
