###########################
## Lint All SQL code
###########################
#
name: Lint SQL
on:
  workflow_dispatch:
  pull_request:
    paths:
      - src/requirements.txt
      - 'sql/**.sql'
jobs:
  lint:
    name: Lint SQL
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Lint SQL code
        run: |
          pip install -r src/requirements.txt -q
          if [ "${{ github.event_name }}" == "workflow_dispatch" ] || \
            [[ "${{ github.event.pull_request.title }}" == Bump\ sqlfluff* ]]; then
            # Lint all SQL files for workflow_dispatch or sqlfluff bumps
            sqlfluff lint sql -p 4
          else
            # Lint only changed SQL files
            git diff --name-only --diff-filter=ACMRT origin/${{ github.base_ref }}...HEAD \
              | grep '\.sql$' \
              | xargs -r sqlfluff lint
          fi


  dependabot:
    name: Dependabot auto-merge
    runs-on: ubuntu-latest
    needs: lint
    if: |
      github.event.pull_request.user.login == 'dependabot[bot]' &&
      github.repository == 'HTTPArchive/almanac.httparchive.org'

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Enable auto-merge for Dependabot PRs
        if: |
          (
            steps.metadata.outputs.update-type == 'version-update:semver-patch' ||
            steps.metadata.outputs.update-type == 'version-update:semver-minor'
          ) && contains(steps.metadata.outputs.dependency-names, 'sqlfluff')
        run: gh pr merge --admin --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
