######################################
## Custom Web Almanac GitHub action ##
######################################
#
# A pre-deploy script that must be run in GitHub Actions to:
# - Update timestamps and hashes
# - Generate the ebooks
# - Submit a Pull Request with the changes
#
# This should be run before every release
#
name: Predeploy script

env:
  # Update periodically from https://www.princexml.com/latest/
  PRINCE_PACKAGE: 'prince_20200728-1_ubuntu20.04_amd64.deb'

on:
  workflow_dispatch:

jobs:
  build:
    name: Update Timestamps and Generate Ebooks
    # Prince needs ubuntu 20 and ubuntu-latest is only on 18
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout branch
      uses: actions/checkout@v2.3.3
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v2.1.4
      with:
        version:  12.x
    - name: Set up Python 3.8
      uses: actions/setup-python@v2.1.4
      with:
        python-version: '3.8'
    - name: Install Asian Fonts
      run: |
        # Install Japanese san-serif font
        sudo apt-get install -y fonts-ipafont-gothic
        # Install Chinese san-serif font
        sudo apt-get install -y fonts-arphic-uming
        # Install Korean san-serif font
        sudo apt-get install -y fonts-unfonts-core
    - name: Install PrinceXML
      run: |
        wget https://www.princexml.com/download/${{ env.PRINCE_PACKAGE }} --directory-prefix=/tmp
        DEBIAN_FRONTEND=noninteractive sudo apt install -y /tmp/${{ env.PRINCE_PACKAGE }}
    - name: Install pdftk
      run: sudo apt install pdftk
    - name: Run the website
      run: ./src/tools/scripts/run_and_test_website.sh
    - name: Update timestamps
      run: |
        cd src
        npm run timestamps
    - name: Generating Ebooks
      run: |
        cd src
        npm run ebooks
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v3.5.2
      with:
        title: Pre-deploy Updates
        branch-suffix: timestamp
        commit-message: Update Timestamps and Generate Ebooks
        body: |
          Updated Timestamps and Regenerated Ebooks through GitHub action
          - Auto-generated by [create-pull-request][1] GitHub Action

          [1]: https://github.com/peter-evans/create-pull-request
        labels: generate chapters
    - name: Check outputs
      run: echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
