######################################
## Custom Web Almanac GitHub action ##
######################################
#
# This generates the chapters and tests the website when a pull request is
# opened (or added to) on the original repo
#
name: Test Website
on:
  workflow_dispatch:
  pull_request:
jobs:
  build:
    name: Build and Test Website
    runs-on: ubuntu-latest
    if: github.repository == 'HTTPArchive/almanac.httparchive.org'
    steps:
    - name: Checkout branch
      uses: actions/checkout@v2.3.2
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.4.2
      with:
        node-version: 12.x
    - name: Set up Python 3.7
      uses: actions/setup-python@v2.1.2
      with:
        python-version: '3.7'
    - name: Run the website
      run: ./src/tools/scripts/run_and_test_website.sh
    - name: Lint Generated HTML
      uses: github/super-linter@v3.10.0
      env:
        DEFAULT_BRANCH: main
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_HTML: true
