{% extends "base/base_chapter.html" %}

{% block title %}{{ metadata.get('title') }} | {{ year }} | HTTP Archive द्वारा Web Almanac{% endblock %}
{% block citation_title %}{{ year }} Web Almanac: {{ metadata.get('title') }}{% endblock %}
{% block citation_journal_title %}{{ year }} Web Almanac{% endblock %}

{% block description %}{{ metadata.get('description', 'Web Almanac ' + year + ' के ' + metadata.get('title') + ' अध्याय में ' + metadata.get('title') + ' को कवर किया गया है!') }}{% endblock %}

{% block twitter_image_alt %}Web Almanac {{ year }} के {{ metadata.get('title') }} अध्याय के लिए अध्याय छवि{% endblock %}

{% block prev_next_title %}पिछले और अगले अध्याय के लिए नेविगेशन{% endblock %}

{% block explore_the_results %}परिणाम का अवलोकन करें{% endblock %}
{% block discuss_this_chapter %}इस अध्याय पर चर्चा करें{% endblock %}
{% block comment %}टिप्पणी{% endblock %}
{% block comments %}टिप्पणियाँ{% endblock %}
{% block comments_fallback %}टिप्पणियाँ{% endblock %}
{% block queries %}सवाल देखें{% endblock %}
{% block results %}परिणाम देखें{% endblock %}
{% block suggest_edit %}सुझाव संपादित करें{% endblock %}
{% block figure_sql %}सवाल देखें{% endblock %}
{% block figure_data %}डेटा देखें{% endblock %}
{% block figure_image %}छवि देखें{% endblock %}

{% block previous %}पिछले अध्याय के लिए ('p' या ',' दबाएं){% endblock %}
{% block next %}अगले अध्याय के लिए ('n' या '.' दबाएं){% endblock %}
