{% extends "base/base_ebook.html" %}

{% block title %}HTTP Archive द्वारा {{ year }}  Web Almanac{% endblock %}

{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive द्वारा वार्षिक<br><b>वेब की स्थिति</b> पर रिपोर्ट{% endblock %}

{% block about_title %}Web Almanac के बारे में{% endblock %}

{% block description %}{{ year }} Web Almanac का ई-पुस्तक संस्करण{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}
