{% extends "base/base.html" %}

{% block description %}Web Almanac वेब रिपोर्ट की एक वार्षिक स्थिति है जो वेब समुदाय की विशेषज्ञता को HTTP संग्रह के डेटा और रुझानों के साथ जोड़ती है।{% endblock %}

{% block twitter_image_alt %}{{ year }} Web Almanac{% endblock %}

{% block skip_navigation %}नेविगेशन स्किप करें{% endblock %}

{% block organization %}Web Almanac HTTP Archive के द्वारा{% endblock %}
{% block web_almanac_logo %}
  <span class="wa">Web Almanac</span>
  <span class="line-group">
    <span class="ha">HTTP Archive</span>
    <span class="pre">के द्वारा</span>
  </span>
{% endblock %}

{% block intro_title %}Web Almanac{% endblock %}
{% block intro_sub_title %}HTTP Archive के वार्षिक<br> <b>वेब की स्थिति</b> की रिपोर्ट{% endblock %}

{% block mission %}
<p>
हमारा उद्देश्य वेब समुदाय की विशेषज्ञता के साथ HTTP Archive के कच्चे आँकड़ों और रुझानों को जोड़ना है। Web Almanac वेब की स्थिति पर एक व्यापक रिपोर्ट है, जो वास्तविक डेटा और विश्वसनीय वेब विशेषज्ञों द्वारा समर्थित है। यह पृष्ठ सामग्री, यूजर एक्सपीरियंस, प्रकाशन, {{ year }} संस्करण वितरण के पहलुओं को फैलाने वाले {{ supported_chapters | length }} अध्यायों से युक्त है।
</p>
{% endblock %}

{% block read_last_years_almanac %}{{ previous_year }} Web Almanac को पढ़िए{% endblock %}

{% block http_archive_link %}HTTP Archive होम{% endblock %}

{% block page_navigation %}पेज नेविगेशन{% endblock %}

{% block help_translate %}अनुवाद में मदद करें{% endblock %}
{% block translation_not_available %}अंग्रेजी - हिन्दी में उपलब्ध नहीं है{% endblock %}
{% block in_english %} (अंग्रेजी){% endblock %}
{% block language_switcher %}भाषा परिवर्तन करें{% endblock %}
{% block year_switcher %}वर्ष परिवर्तन करें{% endblock %}
{% block table_of_contents_switcher %}विषय सूची परिवर्तन करें{% endblock %}

{% block home %}होम{% endblock %}
{% block table_of_contents_title %}विषय सूची{% endblock %}
{% block contributors_title %}योगदानकर्ता{% endblock %}
{% block methodology_title %}कार्यप्रणाली{% endblock %}
{% block search_title %}खोज{% endblock %}

{% block part %}भाग{% endblock %}
{% block chapter %}अध्याय{% endblock %}

{% block start_exploring %}खोज शुरू करें{% endblock %}

{% block menu_title %}पृष्ठ सूची{% endblock %}
{% block open_the_menu %}मेनू को खोलें{% endblock %}
{% block close_the_menu %}मेनू को बंद करें{% endblock %}

{% block index_nav_title %}अध्याय विषय सूची{% endblock %}
{% block index_title %}निर्देशिका{% endblock %}
{% block open_the_index %}विषय सूची को खोलें{% endblock %}
{% block close_the_index %}विषय सूची को बंद करें{% endblock %}

{% block and %}और{% endblock %}
{% block comma %}, {% endblock %}
{% block oxford_comma %}{% endblock %}

{% block open %}खोलें{% endblock %}
{% block close %}बंद करें{% endblock %}

{% macro figure_text(metadata, chapter_config, id) %}खंड {{ figure_id(metadata, chapter_config, id) }}.{% endmacro %}
{% macro show_description(metadata, chapter_config, id) %}खंड का विवरण देखें {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}
{% macro hide_description(metadata, chapter_config, id) %}खंड का विवरण छिपाएँ {{ figure_id(metadata, chapter_config, id) }}{% endmacro %}

{% block written_by_before %}द्वारा लिखित{% endblock %}
{% block reviewed_by_before %}द्वारा समीक्षित{% endblock %}
{% block translated_by_before %}द्वारा अनुवादिद्त{% endblock %}
{% block analysis_by_before %}द्वारा विश्लेषित{% endblock %}
{% block edited_by_before %}द्वारा संपादित{% endblock %}
{% block reviewed_and_analyzed_by_before %}द्वारा समीक्षित और विश्लेषित{% endblock %}
{% block analysis_and_editing_by_before %}द्वारा विश्लेषित और संपादित{% endblock %}
{% block written_by_after %}{% endblock %}
{% block reviewed_by_after %}{% endblock %}
{% block translated_by_after %}{% endblock %}
{% block analysis_by_after %}{% endblock %}
{% block edited_by_after %}{% endblock %}
{% block reviewed_and_analyzed_by_after %}{% endblock %}
{% block analysis_and_editing_by_after %}{% endblock %}

{% block date_published %}प्रकाशित होने की तिथि: {% endblock %}
{% block date_updated %}अद्यतन तिथि: {% endblock %}

{% block unedited %}[अप्रकाशित]{% endblock %}

{% block author %}लेखक{% endblock %}
{% block authors %}लेखकों{% endblock %}

{% block reaction %}प्रतिक्रिया{% endblock %}
{% block reactions %}प्रतिक्रियाओं{% endblock %}
{% block reactionsTitle %}प्रतिक्रियाओं{% endblock %}
{% block reactionsAlt %}{% endblock %}
{% block source %}प्रतिक्रियाओं{% endblock %}
{% block share %}शेयर करना{% endblock %}

{% block like %}पसंद{% endblock %}
{% block repost %}पोस्ट{% endblock %}
{% block reply %}जवाब{% endblock %}
{% block mention %}उल्लेख{% endblock %}
{% block likes %}को यह पसंद है{% endblock %}
{% block reposts %}रेपोस्ट{% endblock %}
{% block replies %}जवाब{% endblock %}
{% block mentions %}का उल्लेख है{% endblock %}
{% block likesAlt %}{% endblock %}
{% block repostsAlt %}{% endblock %}
{% block repliesAlt %}{% endblock %}
{% block mentionsAlt %}{% endblock %}

{% macro onTwitter(twitterHandle) %}@{{twitterHandle}} Twitter/X पर{% endmacro %}
{% macro onMastodon(mastodonHandle) %}{{mastodonHandle}}Mastodonपर{% endmacro %}
{% macro onBluesky(blueskyHandle) %}{{blueskyHandle}}Blueskyपर{% endmacro %}
{% macro onGitHub(gitHubHandle) %}{{gitHubHandle}} GitHub पर{% endmacro %}
{% macro onLinkedIn(authorName) %}{{authorName}} LinkedIn पर{% endmacro %}
{% macro website(authorName) %}{{authorName}} वेबसाइट{% endmacro %}

{% macro edition(year) %}{{ year }} संस्करण{% endmacro %}

{% block footer_title %}फुटर नेविगेशन{% endblock %}
{% block copyright %}© Web Almanac. <a hreflang="en" href="https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/LICENSE">Apache 2.0</a> के तहत लाइसेंस प्राप्त है।{% endblock %}
{% block accessibility_statement %}अभिगम्यता विवरण{% endblock %}
{% block rss_feed %}RSS Feed{% endblock %}

{% block featured_chapter %}विशेष अध्याय{% endblock %}
{% block featured_chapter_last_year %}विशेष अध्याय<br>{{ previous_year }} Web Almanac से {% endblock %}

{# Check if read_chapter already defined in child template as macros can't be overridden #}
{% if not read_chapter %}
{% macro read_chapter(chapter) %}अध्याय <span class="featured-chapter-name">{{ chapter }}</span> पढ़ें{% endmacro %}
{% endif %}
{% if not read_last_years_chapter %}
{% macro read_last_years_chapter(chapter) %}अध्याय {{ previous_year }} <span class="featured-chapter-name">{{ chapter }}</span> पढ़ें{% endmacro %}
{% endif %}

{% block contributors_description %}
Web Almanac वेब समुदाय की मेहनत से संभव हो पाया हैं। {{ year }} Web Almanac की योजना, अनुसंधान, लेखन और उत्पादन चरणों में {{ self.contributors() }} लोगों ने अनगिनत घंटे काम किए हैं।
{% endblock %}
{% block contributors_link %}योगदानकर्ताओं को देखें{% endblock %}

{% block methodology_stat_1_title %}वेबसाइटों का परीक्षण किया गया{% endblock %}
{% block methodology_stat_2_title %}डेटा संसाधित किया गया{% endblock %}
{% block methodology_link %}हमारी कार्यप्रणाली के बारे में जानें{% endblock %}
{% block methodology_description %}
जब तक अन्यथा नोट न किया जाए, {{ year }} Web Almanac के सभी {{ supported_chapters | length }} अध्यायों में मौजूद मेट्रिक्स HTTP Archive के स्रोतों से लिये जाते हैं। HTTP Archive एक समुदाय द्वारा संचालित परियोजना है, जो 2010 के बाद से वेब कैसे बनाया जा रहा है इस पर निगाह रखें हुए हैं। WebPageTest और Lighthouse का अति उत्कृष्ट उपयोग करते हुए, {{ self.total_websites() }} वेबसाइटों के बारे में मेटाडेटा को मासिक रूप से परीक्षण किया जाता है और विश्लेषण के लिए एक सार्वजनिक BigQuery डेटाबेस में शामिल किया जाता है। {{ self.dataset() }} डेटासेट का उपयोग {{ year }} Web Almanac के मैट्रिक्स के आधार के रूप में किया गया था। अधिक जानकारी के लिए, कार्यप्रणाली पृष्ठ देखें।
{% endblock %}

{% block introduction %}परिचय{% endblock %}

{% block foreword_title %}प्रस्तावना{% endblock %}

{% block coming_soon %}जल्द आ रहा है!{% endblock %}

{% block appendix %}शेषसंग्रह{% endblock %}
{% block appendices %}परिशिष्ट{% endblock %}

{% block ebook_title %}ईबुक{% endblock %}
{% block ebook_download_short %}ईबुक पीडीएफ ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download %}पीडीएफ प्रारूप में पूरे {{ year }} Web Almanac को डाउनलोड करें ({{ ebook_size_in_mb }}MB){% endblock %}
{% block ebook_download_note %}(generated with <a href="https://www.princexml.com/">www.princexml.com</a>){% endblock %}

{%
  set localizedPartTitles = {
    "I. Page Content": "I. पृष्ठ सामग्री",
    "II. User Experience": "II. यूजर एक्सपीरियंस",
    "III. Content Publishing": "III. सामग्री प्रकाशन",
    "IV. Content Distribution": "IV. सामग्री वितरण"
  }
%}

{%
  set localizedChapterTitles = {
    "javascript": "JavaScript",
    "css": "CSS",
    "markup": "मार्कअप",
    "media": "मीडिया",
    "third-parties": "तीसरे पक्ष",
    "fonts": "लिपि",
    "performance": "प्रदर्शन",
    "security": "सुरक्षा",
    "accessibility": "अभिगम्यता",
    "seo": "SEO",
    "pwa": "PWA",
    "mobile-web": "मोबाइल वेब",
    "ecommerce": "ई-कॉमर्स",
    "cms": "CMS",
    "compression": "कम्प्रेशन",
    "caching": "कैशिंग",
    "cdn": "CDN",
    "page-weight": "पेज वेट",
    "resource-hints": "संसाधन संकेत",
    "http": "HTTP",
    "privacy": "गोपनीयता",
    "capabilities": "क्षमता",
    "jamstack": "Jamstack",
    "webassembly": "WebAssembly",
    "structured-data": "Structured Data",
    "sustainability": "वहनीयता",
    "interoperability": "इंटरोऑपरेबिलिटी"
  }
%}
{% if (year == "2019" or year == "2020") %}
{% set _dummy = localizedChapterTitles.__setitem__("http", "HTTP/2") %}
{% endif %}

{% set localizedTeamNames = {
  "analysts": "विश्लेषक",
  "authors": "लेखक",
  "brainstormers": "ब्रैनस्टोमर ",
  "designers": "डिजाइनर",
  "developers": "डेवलपर",
  "editors": "संपादक",
  "leads": "प्रोजेक्ट लीड्स",
  "reviewers": "समीक्षक",
  "translators": "अनुवादक",
  }
%}

{% set localizedTeamRole = {
  "analysts": "विश्लेषक",
  "authors": "लेखक",
  "brainstormers": "ब्रैनस्टोमर ",
  "designers": "डिजाइनर",
  "developers": "डेवलपर",
  "editors": "संपादक",
  "leads": "प्रोजेक्ट लीड्स",
  "reviewers": "समीक्षक",
  "translators": "अनुवादक",
  }
%}
